<div class="content__header">
  <h1>
    <%= link_to "Campaigns", campaigns_path %> /
    <%= @campaign.title %>
  </h1>
  <%= link_to "New Question", new_campaign_question_path(@campaign), class: "btn btn--primary" unless @campaign.closed? %>
</div>

<div class="content__main">

  <div class="card">
    <div class="card__section">
      <h3>Questions</h3>
      <% if @questions.empty? %>
        
        <% if @campaign.closed? %>
          <p>There are no questions in this campaign yet. This campaign is closed.</p>
        <% else %>
          <p>There are no questions in this campaign yet. 
          <%= link_to "Create one", new_campaign_question_path(@campaign) %> and start leveraging your team's diverse opinions to solve problems.</p>  
        <% end %>  
      <% else %>
        <table class="table--has-border">
          <thead>
            <th>Title</th>
            <th># of answers</th>
            <th>Creation date</th>
            <th>Total ROI</th>
            <th>Closed?</th>
            <% if CampaignPolicy.new(current_user, @campaign).edit? %>
              <th>Options</th>
            <% end %>
          </thead>
          <tbody>
            <% @questions.each do |question| %>
              <tr>
                <td><%= link_to question.title, question_path(question) %></td>
                <td><%= question.answers.size %></td>
                <td><%= question.created_at.to_s :dateonly %></td>
                <td><%= number_to_currency(question.answers.where.not(value: nil).sum(:value), precision: 0) %></td>
                <td><%= question.solved_at.nil? ? "No" : "Yes" %></td>
                <td>
                  <% if CampaignPolicy.new(current_user, @campaign).edit? %>
                    <%= link_to "Edit", edit_question_path(question) %> - <%= link_to "Delete", question_path(question), method: :delete, class: "error", data: { confirm: "Are you sure?" } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>

  <div class="row row--equal-height">
    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h3>Contributions per <%= c_t(:erg) %></h3>
          <div class="card__action">
            <%= link_to "Export CSV", contributions_per_erg_campaign_path(@campaign, format: :csv), class: "hidden-xs" %>
          </div>
          <div id="contributions_group" class="graph" data-url="<%= contributions_per_erg_campaign_path(@campaign) %>">
            <svg></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h3>Total votes per user</h3>
          <div class="card__action">
            <%= link_to "Export CSV", top_performers_campaign_path(@campaign, format: :csv), class: "hidden-xs" %>
          </div>
          <div id="top_performers" class="graph" data-url="<%= top_performers_campaign_path(@campaign) %>">
            <svg></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
