<div class="content__header">
  <h1>
    <%= link_to "Campaigns", campaigns_path %> /
    <%= @campaign.title %>
  </h1>
  <%= link_to "New Question", new_campaign_question_path(@campaign), class: "btn btn--primary" if policy(@campaign).edit? %>
</div>

<div class="content__main">

  <div class="card">
    <div class="card__section">
      <h3>Questions</h3>
      <% if @questions.empty? %>
        <p>There are no questions in this campaign yet. <%= link_to "Create one", new_campaign_question_path(@campaign) %> and start leveraging your team's diverse opinions to solve problems.</p>
      <% else %>
        <table class="table--has-border">
          <thead>
            <th>Title</th>
            <th># of answers</th>
            <th>Creation date</th>
            <th>Total ROI</th>
            <th>Solved?</th>
            <% if policy(@campaign).edit? %>
              <th>Options</th>
            <% end %>
          </thead>
          <tbody>
            <% @questions.each do |question| %>
              <tr>
                <td><%= link_to question.title, question_path(question) %></td>
                <td><%= question.answers.count %></td>
                <td><%= question.created_at.to_s :dateonly %></td>
                <td><%= number_to_currency(question.answers.where.not(value: nil).sum(:value), precision: 0) %></td>
                <td><%= question.solved_at.nil? ? "No" : "Yes" %></td>
                <td>
                  <% if policy(@campaign).edit? %>
                    <%= link_to "Edit", edit_question_path(question) %> - <%= link_to "Delete", question_path(question), method: :delete, class: "error", data: { confirm: "Are you sure?" } %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>

  <div class="row row--equal-height">
    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h3>Contributions per ERG</h3>
          <div class="graph" data-graph-id="contributions_per_erg"></div>
        </div>
      </div>
    </div>
    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h3>Top performers</h3>
          <div class="graph" data-graph-id="top_performers"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row row--equal-height">
    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h3>Contribution value per ERG</h3>
          <div id="js-valuable-contributions"></div>
        </div>
      </div>
    </div>
    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h3>Most valuable questions</h3>
          <div id="js-valuable-questions"></div>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
  $(document).on('page:change', function() {
    $(document).off('page:change');

    var graphs = $('.graph').map(function() {
      return new Graph('/campaigns/<%= @campaign.id %>/' + $(this).data('graph-id'), $(this));
    });

    $('#js-valuable-contributions').highcharts({
      chart: {
        type: 'pie',
        style: {
          fontFamily: 'Helvetica Neue, sans-serif'
        }
      },
      plotOptions: {
        pie: {
          dataLabels: {
            enabled: true,
            format: "{point.name}",
            style: {
              width:'70px',
              textOverflow: 'ellipsis',
              overflow: 'hidden'
            }
          }
        }
      },
      title: {
        text: ''
      },
      series: [{
        name: "ERGs",
        data: [
        <% @campaign.groups.each do |group| %>
          {
            name: "<%= group.name %>",
            y: 45000 + Math.floor(Math.random() * 70000)
          },
        <% end %>
        ]
      }],
      tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="padding:0"><b>${point.y}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
      },
      credits: {
        enabled: false
      },
      colors: ['<%= current_user.enterprise.theme.try(:primary_color) || "#7B77C9" %>', '#F15E57', '#FE6D4B', '#9FD661', '#40D0AD', '#48C0EB', '#5A9AEF', '#EE85C1']
    });

    $('#js-valuable-questions').highcharts({
      chart: {
        type: 'bar',
        style: {
          fontFamily: 'Helvetica Neue, sans-serif'
        }
      },
      title: {
        text: ''
      },
      xAxis: {
        categories: [<%= @campaign.questions.map{|q| '"' + q.title + '"' }.join(', ').html_safe %>],
        title: {
          text: "ERG"
        }
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Total value of contributions'
        },
        allowDecimals: false
      },
      plotOptions: {
        series: {
          stacking: 'normal'
        }
      },
      tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
          '<td style="padding:0"><b>${point.y}</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
      },
      series: [{
        name: "Value of contributions",
        data: [<%= @campaign.questions.map{|q| "#{q.answers.sum(:value)}" }.join(', ').html_safe %>]
      }],
      credits: {
        enabled: false
      },
      colors: ['<%= current_user.enterprise.theme.try(:primary_color) || "#7B77C9" %>', '#F15E57', '#FE6D4B', '#9FD661', '#40D0AD', '#48C0EB', '#5A9AEF', '#EE85C1']
    });
  });
</script>