<div class="content__header">
  <h1>
    <%= link_to "Campaigns", campaigns_path %> /
    <%= link_to @question.campaign.title, campaign_questions_path(@question.campaign) %> /
    <%= @question.title.truncate(60) %>
  </h1>
</div>

<div class="content__main">

   <% if !@question.solved_at.nil? %>
    <div class="card">
      <div class="card__section card__section--border">
        <h3>This question was marked as solved <%= time_ago_in_words @question.solved_at %> ago</h3>
        <p><%= @question.conclusion %></p>
        <%= simple_form_for @question, url: reopen_question_path(@question) do |f| %>
          <%= f.button :submit, value: "Reopen" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="card">
    <div class="card__section card__section--border">
      <h3><span class="accent">Q:</span> <%= @question.title %></h3>
      <p><%= @question.description %></p>
      <div class="flex-row flex-row--middle">
        <small class="flex-row__cell">Submitted <%= time_ago_in_words(@question.created_at) %> ago</small>
        <small class="flex-row__cell highlight"><%= pluralize(@question.answers.count, 'answer') %> </small>
      </div>
    </div>

    <% @question.answers.order(created_at: :desc).each do |answer| %>
      <div class="card__section card__section--border">
        <div class="flex-row">
          <div class="flex-row__cell text-center">
            <div class="counter<%= answer.votes.include?(current_employee) ? " counter--active" : "" %>" data-answer-id="<%= answer.id %>" data-upvoted="<%= answer.votes.include? current_employee %>">
              <span class="counter__number"><%= answer.votes.count %></span>
            </div>
            <div class="chosen">
              <a href="#" class="star-button" data-answer-id="<%= answer.id %>" data-starred="<%= answer.chosen %>"><%= answer.chosen ? "Unstar" : "Star" %></a>
            </div>
          </div>

          <div class="flex-row__cell flex-row__cell--grow">
            <div class="flex-row flex-row--middle">
              <div class="flex-row__cell">
                <span class="highlight"><%= answer.author.name %></span>
                <span class="muted"><%= time_ago_in_words(answer.created_at) %> ago</span>
              </div>
            </div>
            <div class="flex-row answer__container">
              <div class="flex-row__cell">
                <p><%= answer.content %></p>

                <% answer.comments.each do |comment| %>
                  <div class="flex-row">
                    <div class="flex-row__cell">
                    </div>

                    <div class="flex-row__cell flex-row__cell--grow">
                      <div class="flex-row flex-row--middle">
                        <div class="flex-row__cell">
                          <span class="highlight"><%= comment.author.name %></span>
                          <span class="muted"><%= time_ago_in_words(comment.created_at) %> ago</span>
                        </div>
                      </div>
                      <div class="flex-row answer__container">
                        <div class="flex-row__cell">
                          <p><%= comment.content %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if @question.solved_at.nil? %>
    <%= simple_form_for @question do |f| %>
      <div class="card">
        <div class="card__section card__section--border">
          <h3>Mark this question as solved</h3>
          <p class="field__hint">Mark this question as solved by explaining what the outcome of the discsussions has been. This will block further communications on this question.</p>
          <%= f.input :conclusion, label: false, placeholder: "We have decided to do..." %>
          <%= f.button :submit, value: "Close question" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  $('.star-button').click(function(e) {
    var answerId = $(this).data('answer-id');
    var isStarred = !$(this).data('starred');

    $.ajax({
      url: '/answers/' + answerId + '.json',
      method: 'put',
      data: {
        answer: {
          chosen: isStarred
        }
      }
    });

    var newText = $(this).text() == "Star" ? "Unstar" : "Star";
    $(this).text(newText);
    $(this).data('starred', !$(this).data('starred'));

    e.preventDefault();
    return false;
  });
</script>