<div class="content__header">
  <h1>
    <%= link_to "Campaigns", campaigns_path %> /
    <%= link_to @question.campaign.title, campaign_questions_path(@question.campaign) %> /
    <%= @question.title.truncate(60) %>
  </h1>
</div>

<div class="content__main">

   <% if !@question.solved_at.nil? %>
    <div class="card">
      <div class="card__section card__section--border">
        <h3>This question was marked as solved <%= time_ago_in_words @question.solved_at %> ago</h3>
        <p><%= @question.conclusion %></p>
        <% if CampaignPolicy.new(current_user, @question.campaign).edit? %>
          <%= simple_form_for @question, url: reopen_question_path(@question) do |f| %>
            <div class="flex-row">
              <div class="flex-row__cell">
                <%= f.button :submit, value: "Reopen" %>
              </div>
              <div class="flex-row__cell">
                <%= link_to "Business case & ROI", edit_question_roi_path(@question), class: "btn btn--secondary" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="card">
    <div class="card__section card__section--border">
      <h3><span class="accent">Q:</span> <%= @question.title %></h3>
      <p><%= @question.description %></p>
      <div class="flex-row flex-row--middle">
        <small class="flex-row__cell">Submitted <%= time_ago_in_words(@question.created_at) %> ago</small>
        <small class="flex-row__cell highlight"><%= pluralize(@answers.size, 'answer') %> </small>
      </div>
    </div>

    <% @answers.each do |answer| %>
      <div class="card__section card__section--border">
        <div class="flex-row">
          <div class="flex-row__cell text-center">
            <div class="counter<%= answer.voters.exists?(id: current_user.id) ? " counter--active" : "" %>" data-answer-id="<%= answer.id %>" data-upvoted="<%= answer.voters.exists?(id: current_user.id) %>">
              <span class="counter__number"><%= answer.upvote_count %></span>
            </div>
            <div class="chosen">
              <a href="#" class="star-button" data-answer-id="<%= answer.id %>" data-starred="<%= answer.chosen %>" data-last-known-state="<%= answer.chosen %>" title="Star this answer"><%= inline_svg('icons/star-purple.svg', class: "icon-inline#{ answer.chosen ? ' icon-inline--yellow' : '' }") %></span></a>
            </div>
          </div>

          <div class="answer" style="width: 100%;">
            <div class="answer__metadata">
              <span class="highlight"><%= answer.author.name_with_status %></span>
              <span class="muted"><%= time_ago_in_words(answer.created_at) %> ago</span>
              <div class="fright">
                <span class="business-case<%= answer.chosen ? '': ' hidden' %>">
                  <% if answer.value || answer.expenses.count > 0 %>Estimated <%= number_to_currency(answer.total_value, precision: 0) %> in <%= answer.benefit_type == 0 ? "revenue" : "cost savings" %><% end %>
                </span>
              </div>
            </div>
            <div class="answer__content">
              <p>
              <h3><%= answer.title %></h3>
              <p><%= answer.content if answer.content.present? %></p>
              <p><%= video_tag(answer.video_upload.expiring_url(3600), controls: true, size: '200x200') if answer.video_upload.present? %></p>                
              <p><% if answer.supporting_document.exists? %> (<a href="<%= answer.supporting_document.expiring_url(3600) %>" class="icon icon--bg" style="background-image: url(<%= thumbnail_for_answer(answer) %>)"></a> <%= link_to "documentation", answer.supporting_document.expiring_url(3600) %>)<% end %></p>
              <p><% if answer.supporting_document_from_sponsor.exists? %> (<a href="<%= answer.supporting_document_from_sponsor.expiring_url(3600) %>" class="icon icon--bg" style="background-image: url(<%= thumbnail_for_answer(answer) %>)"></a> <%= link_to "supporting documentation", answer.supporting_document_from_sponsor.expiring_url(3600) %>)<% end %></p>
              <%= link_to "Delete", answer_path(answer), method: :delete, class: 'error', data: { confirm: "Are you sure?" } %>
              </p>
    
              <% answer.comments.each do |comment| %>
                <div class="comment">
                  <p>
                    <%= comment.content %> &mdash;
                    <span class="accent"><%= comment.author.name_with_status %></span>
                    <span class="muted"><%= time_ago_in_words(comment.created_at) %> ago</span> &mdash;
                    <%= link_to "Delete", answer_comment_path(comment), method: :delete, class: 'error', data: { confirm: "Are you sure?" } %>
                  </p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% if @question.solved_at.nil? %>
    <%= simple_form_for @question do |f| %>
      <div class="card">
        <div class="card__section card__section--border">
          <h3>Mark this question as solved</h3>
          <p class="field__hint">Mark this question as solved by explaining what the outcome of the discussion has been. This will block further communications on this question.</p>
          <%= f.input :conclusion, label: false, placeholder: "We have decided to do..." %>
          <%= f.button :submit, value: "Close question" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  $('.star-button').click(function(e) {
    e.preventDefault();

    var star = $(this);
    var businessCaseLink = star.closest('.card__section').find('.business-case');
    var answerId = star.data('answer-id');
    var isStarred = star.data('starred');

    $.ajax({
      url: '/answers/' + answerId + '.json',
      method: 'put',
      dataType: 'json',
      data: {
        answer: {
          chosen: !isStarred
        }
      },
      // error: function(data){
      //   setState(star.data('last-known-state'));
      // },
      success: function(data){
        setState(data.chosen);
        star.data('last-known-state', data.chosen);
      }
    });

    setState(!isStarred);


    function setState(state){
      if (state) {
        businessCaseLink.removeClass('hidden');
      } else {
        businessCaseLink.addClass('hidden');
      }
      star.data('starred', state);
      star.children('svg').attr('class', 'icon-inline' + (state ? ' icon-inline--yellow' : ''));
    }
  });
</script>
