<div class="content__header">
  <h1>
    <%= link_to "Campaigns", campaigns_path %> /
    <%= link_to @campaign.title, campaign_questions_path(@campaign) %> /
    <%= @question.title.truncate(80) %>
  </h1>
</div>

<div class="content__main">

   <% if !@question.solved_at.nil? %>
    <div class="card">
      <div class="card__section card__section--border">
        <h3>This question was marked as solved <%= time_ago_in_words @question.solved_at %> ago</h3>
        <p><%= @question.conclusion %></p>
        <%= simple_form_for [@campaign, @question], url: reopen_campaign_question_path(@campaign, @question) do |f| %>
          <%= f.button :submit, value: "Reopen" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="card">
    <div class="card__section card__section--border">
      <h3><span class="accent">Q:</span> <%= @question.title %></h3>
      <p><%= @question.description %></p>
      <div class="flex-row flex-row--middle">
        <small class="flex-row__cell">Submitted <%= time_ago_in_words(@question.created_at) %> ago</small>
        <small class="flex-row__cell highlight"><%= pluralize(@question.answers.count, 'answer') %> </small>
      </div>
    </div>

    <% @question.answers.each do |answer| %>
      <div class="card__section card__section--border">
        <div class="flex-row">
          <div class="flex-row__cell">
            <div class="counter<%= answer.votes.include?(current_employee) ? " counter--active" : "" %>" data-answer-id="<%= answer.id %>" data-upvoted="<%= answer.votes.include? current_employee %>">
              <span class="counter__number"><%= answer.votes.count %></span>
            </div>
          </div>

          <div class="flex-row__cell flex-row__cell--grow">
            <div class="flex-row flex-row--middle">
              <div class="flex-row__cell">
                <span class="highlight"><%= answer.author.name %></span>
                <span class="muted"><%= time_ago_in_words(answer.created_at) %> ago</span>
              </div>
            </div>
            <div class="flex-row answer__container">
              <div class="flex-row__cell">
                <p><%= answer.content %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if @question.solved_at.nil? %>
    <%= simple_form_for [@campaign, @question] do |f| %>
      <div class="card">
        <div class="card__section card__section--border">
          <h3>Mark this question as solved</h3>
          <p class="field__hint">Mark this question as solved by explaining what the outcome of the discsussions has been. This will block further communications on this question.</p>
          <%= f.input :conclusion, label: false, placeholder: "We have decided to do..." %>
          <%= f.button :submit, value: "Close question" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>