<div class="content__header">
  <h1> Archived Posts(<span id="archived_posts_count"><%= @posts.count %></span>)</h1>
  <% unless @posts.empty? %>
    <%# if ArchivedPostsPolicy.new(current_user, [@posts.first.group, @posts.first]).restore_all? %>
    <div class="flex-row flex-row--middle"  id="archive_buttons">
      <div class="flex-row__cell">
        <%= link_to "Restore All", restore_all_archived_posts_path, remote: true, method: :post, data: { confirm: "Are you sure?" }, class: 'btn btn--primary' %>
      </div>	
      <div class="flex-row__cell">
	    <%= link_to "Delete All", delete_all_archived_posts_path, remote: true, method: :post, data: { confirm: "Are you sure?" }, class: 'btn btn--danger' %>
      </div>
    </div>
    <%# end %>
  <% end %>
</div>
<br>
<div class="content__main">
  <div class="card">
    <% if @posts.empty? %>
      <div class="card__section" id="empty_archive">
        <p>No Archived Posts.</p>
      </div>
    <% else %>
      <% @posts.each do |news| %>
        <% if news.news_link && policy(NewsLink).index? %>
          <%= render "archived_news_link", news_link: NewsLink.find(news.link.id) %>
        <% elsif news.group_message && policy(NewsLink).index? %>
          <%= render "archived_group_message", message: GroupMessage.find(news.link.id) %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>