<div class="nested-fields card__section card__section--border">
  <div class="card__action">
    <%= link_to_remove_association "Remove", f, class: "error" %>x
  </div>

  <label class="field__label">
    <div class="sponsor-name-field">
      <%= f.input :sponsor_name, label: "Sponsor name", placeholder: "Jane Doe" %>
    </div>

    <div class="sponsor-title-field">
      <%= f.input :sponsor_title, label: "Sponsor title", placeholder: "VP Diversity & Inclusion" %>
    </div>

    <div class="sponsor-media-field">
      <%= f.input :sponsor_media, as: :attachment_preview, label: "Upload sponsor image or video" %>
    </div>

    <div class="sponsor-message-field">
      <%= f.input :sponsor_message, label: "Sponsor message", placeholder: "Welcome to this wonderful initiative. I am proud to be a sponsor." %>
    </div>

    <div class="disable-sponsor-field">
      <%= f.hidden_field :disable_sponsor_message, value: false %>
      <%= f.input :disable_sponsor_message, label: "disable sponsor message?", input_html: { autofocus: true } %>
    </div>

  </label>
</div>
