<div class="col-xs-8">
  <div class="card">
    <% if @mentorship_requests.count + @menteeship_requests.count > 0 %>
      <% if @mentorship_requests.count > 0 %>
        <div class="card__section card__section--border">
          <h3>The following users would like you to be their mentor:</h3>
          <%= render "user/mentorship/requests/requests_table", requests: @mentorship_requests %>
        </div>
      <% end %>

      <% if @menteeship_requests.count > 0 %>
        <div class="card__section card__section--border">
          <h3>The following users would like to be your mentor:</h3>
          <%= render "user/mentorship/requests/requests_table", requests: @menteeship_requests %>
        </div>
      <% end %>
    <% else %>
      <div class="card__section">
        <h4 class="text-center">You currently don't have pending mentorship requests</h4>
      </div>
    <% end %>
  </div>
  <div class="card">
    <div class="card__section">
      <% if @mentorship_proposals.count > 0 %>
        <table class="table--has-border">
          <thead>
            <th>User</th>
            <th>Status</th>
            <th>Cancel</th>
          </thead>
          <tbody>
            <% @mentorship_proposals.each do |mentorship_proposal| %>
              <tr>
                <td>
                  <%= active_link_to (mentorship_proposal.receiver.first_name + " " + mentorship_proposal.receiver.last_name), user_mentorship_path(:id => mentorship_proposal.receiver.id) %>
                </td>
                <td><%= mentorship_proposal.status %></td>
                <td>
                  <%= link_to "Cancel", mentoring_request_path(mentorship_proposal), method: :delete, class: "error" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>


      <% else %>
        <h4 class="text-center">You currently don't have pending mentorship proposals</h4>
      <% end %>
    </div>
  </div>
</div>
