<table class="table--has-border">
  <thead>
    <th>User</th>
    <th>Sent</th>
    <th>Status</th>
    <th>Notes</th>
    <th>Approve/Decline</th>
  </thead>
  <tbody>
    <% requests.each do |request| %>
      <tr>
        <td>
          <%= active_link_to (request.sender.first_name + " " + request.sender.last_name), user_mentorship_path(:id => request.sender.id) %>
        </td>
        <td><%= request.created_at.to_formatted_s(:short) %></td>
        <td><%= request.status %></td>
        <td><%= request.notes %></td>
        <td>
          <%= link_to "Approve", mentoring_request_path(request), method: :put %>
          <%= link_to "Decline", mentoring_request_path(request), method: :delete, class: "error" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
