<% if enterprise_sponsors.any? %>
<% random = SecureRandom.hex %>
<div class="card card--secondary">
  <% if enterprise_sponsors.count > 1 %>
  <span style="float: left;"><a href="#enterprise_sponsor_carousel_<%= random %>" role="button" data-slide="prev">
        <%= inline_svg('icons/left-arrow.svg', class: "icon") %>
        <span class="sr-only">Previous</span>
      </a>
  </span>

  <span style="float: right;">
    <a href="#enterprise_sponsor_carousel_<%= random %>" role="button" data-slide="next">
        <%= inline_svg('icons/right-arrow.svg', class: "icon") %>
        <span class="sr-only">Next</span>
      </a>
  </span>
  <% end %>

  <div class="card__section">
    <div id="enterprise_sponsor_carousel_<%= random %>" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">

        <% enterprise_sponsors.each_with_index do |enterprise_sponsor, index| %>
          <div class="item <%= 'active' if index == 0 %>">
            <% show_sponsor?(enterprise_sponsor) do %>
                <% if enterprise_sponsor.sponsor_media.present? %>
                  <% show_sponsor_media?(enterprise_sponsor, "sponsor_media_content_type") do %>
                    <%= image_tag(enterprise_sponsor.sponsor_media.expiring_url(3600), style: 'max-width: 100px; max-height:90px; border-radius: 80px;') %>
                  <% end %>
                <% else %>
                  <%= image_tag("missing_user.png", size: "70x70") %>
                <% end %>

                <p style="font-style: italic;"><%= enterprise_sponsor.sponsor_name %><br>
                <%= enterprise_sponsor.sponsor_title %></p>
                  <% if policy(enterprise_sponsor).sponsor_message_visibility? %>
                    <p style="font-style: italic;"><%= truncate(enterprise_sponsor.sponsor_message, length: 200) %></p>
                  <% end %>
                <% end %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<script>
  $('.carousel').carousel({
    interval: 5000
  })
</script>