<div class="content__main">
  <%= simple_form_for(@suggested_hire) do |f| %>
    <div class="card">
      <div class="card__section card__section--border">
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :group_id, value: @group.id %>
        <div class="custom-user-select">
          <%= f.input :candidate_name, label: "candidate's name", required: true %>
          <%= f.input :candidate_email, label: "candidate's email", required: true %> 
          <%= f.input :linkedin_profile_url, label: "candidate's linkedin profile" %>
        </div>
        <%= f.input :resume, as: :attachment_preview %>
        <div class="custom-user-select">
          <%= f.input :manager_email, label: "Manager's email", required: true %>
          <%= f.input :message_to_manager, label: 'Comments', required: true %>
        </div>
        <%= f.button :submit, 'Update suggested hire' %>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: 'shared/select2_ajax_search.js.erb' %>
