<div class="modal-header">
  <h4 class="modal-title text-center">
 Choose to join any <%= c_t(:sub_erg).pluralize %>
  </h4>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row text-center">
    <table style="width:100%; margin: auto;">
    <% @group.children.each do |sub_group| %>
      <tr>
        <th>
          <%= sub_group.name %>
        </th>
        <th>
          <%= link_to join_sub_group_group_group_member_path(sub_group, current_user), class: "click_join", id: sub_group.id,  method: :post, remote: true do %>
        <button class="btn btn--primary btn--extra--small">
           <span style="margin-right: 20px;">Join</span>
        </button>
        <% end %>
        <%= link_to leave_sub_group_group_group_member_path(sub_group, current_user), class: "click_leave", style: 'display:none;', id: sub_group.id,  method: :delete, remote: true do %>
        <button class="btn btn--primary btn--extra--small">
          <span style="margin-right: 20px;">Leave</span>
        </button>
        <% end %>
        </th>
      </tr>
    <% end %>
    </table>
    </div>
    <%= link_to "DONE", :back, class: "btn btn--primary btn--extra--small", style: "float: right;" %>
  </div>
</div>

<script>
  $('a.click_join').click(function(e){
    $(this).siblings('a.click_leave').show();
    $(this).hide();
  }); //endof click

  $('a.click_leave').click(function(e){
    $(this).siblings('a.click_join').show();
    $(this).hide();
  }); //endof click
</script>