<div class="content__header">
  <h1>Members</h1>
  <% if policy(@group).manage_members? %>
    <%= link_to "+ Add members", new_group_group_member_path(@group), class: "btn btn--primary" %>
  <% end %>
</div>

<div class="content__main">
  <div class="card">
    <% if @members.empty? %>
      <div class="card__section">
        <p>No members yet.</p>
      </div>
    <% else %>
      <% @members.each do |member| %>
        <div class="card__section card__section--border">
          <div class="flex-row flex-row--middle">
            <div class="flex-row__cell flex-row__cell--grow">
              <%= member.name %>
            </div>
            <div class="flex-row__cell link-group">
              <%= link_to 'Show user', user_path(member)%>
              <% if policy(@group).manage_members? %>
                <%= link_to 'Remove From Group', remove_member_group_group_member_path(@group, member), method: :delete, class: "error", data: { confirm: "Are you sure?" } %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <%= paginate @members %>
    <% end %>
  </div>
</div>