<div class="content__header">
  <h1>Members</h1>
  <% if policy(@group).manage_members? %>
    <%= link_to "+ Add members", new_group_group_member_path(@group), class: "btn btn--primary" %>
  <% end %>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <table class="table--has-border" id="resources-table">
        <thead>
          <th>Name</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr>
              <td>
                <%= member.name %>
              </td>
              <td>
                <%= link_to 'Show user', user_path(member)%>
                <% if policy(@group).manage_members? %>
                  <%= link_to 'Remove From Group', remove_member_group_group_member_path(@group, member), method: :delete %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @members %>
    </div>
  </div>
</div>