<div class="content__header">
  <h1>Add Members to <%= @group.name %></h1>
</div>

<div class="content__main">
  <%= simple_form_for @group, :url => add_members_group_group_members_path(@group), :method => :post do |f| %>
    <div class="card">
      <div class="card__section card__section--border">
        <%= f.association :members,
            as: :select, 
            input_html: { class: "select2-field", autofocus: true },
            selected: [],
            collection: [],
            label: 'Select new members'
        %>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>

<script>
$(document).on('ready page:load', function(){
    $('.select2-field').select2({
    ajax: {
      url: "<%= users_path(:limit => 10, format: :json) %>",
      theme: 'bootstrap',
      allowClear: true,
      type: "GET",
      dataType: "json",
      minimumInputLength: 3,
      multiple:true,
      delay: 1000,
      data: function (params) {
        var query = {
          search: {
            value: params.term
          }
        }
  
        // Query parameters will be ?search=[term]&type=public
        return query;
      },
      processResults: function (data) {
        var int = 1;
        
        // Tranforms the top-level key of the response object from 'items' to 'results'
        return {
          results: $.map(data.data, function(item){
            return {id: item[0], text: item[1] + " " + item[2] + " - " + item[3] } } )
        };
      },
      templateSelection: function(item) {
        return item[0]
      }
    }
  });
});
</script>