<div class="content__header">
  <h1>Members</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <table class="table--has-border" id="resources-table">
        <thead>
          <th>Name</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <% @pending_members.each do |member| %>
            <tr>
              <td>
                <%= link_to member.name_with_status, user_path(member) %>
              </td>
              <td>
               <div class="flex-row flex-row--middle hidden-xs">
                  <div class="flex-row__cell">
                    <%= link_to "Show #{ c_t(:member_preference) }", group_surveys_user_path(member, group_id: @group.id), class: "btn btn--secondary" %>
                  </div>
                  <% if GroupMemberPolicy.new(current_user, [@group]).update? %>
                    <div class="flex-row__cell">
                      <%= link_to 'Accept Member', accept_pending_group_group_member_path(@group, member), method: :post , class: "btn btn--primary" %>
                    </div>
                    <div class="flex-row__cell">
                      <%= link_to 'Remove From Group', remove_member_group_group_member_path(@group, member), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn--tertiary" %>
                    </div>
                  <% end %>
               </div>
                 <div class="container-fluid visible-xs">
                  <div class="row">
                    <div class="col-xs-12 text-center">
                      <div class="btn-group">
                        <%= link_to "Show", group_surveys_user_path(member, group_id: @group.id), class: "btn btn-secondary btn-sm" %>
                        <% if GroupMemberPolicy.new(current_user, [@group]).update? %>
                          <%= link_to 'Accept', accept_pending_group_group_member_path(@group, member), method: :post , class: "btn btn-primary btn-sm" %>
                          <%= link_to 'Remove', remove_member_group_group_member_path(@group, member), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-tertiary btn-sm" %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= paginate @pending_members %>
    </div>
  </div>
</div>
