<div class="content__main">
  <%= simple_form_for @initiative do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <p class="field__hint">Start off by choosing which <strong>pillar</strong> this initiative will live in</p>
        <%= f.association :pillar, label: false, include_blank: false %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">Give it a <strong>name</strong></p>
        <%= f.input :name, label: false %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">Define a <strong>start</strong> and <strong>end</strong> time</p>
        <%= f.input :start, label: false %>
        <%= f.input :end, label: false %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">Specify the initiative's <strong>estimated funding</strong></p>
        <%= f.input :estimated_funding, label: false %>
      </div>

    </div>

    <div class="card">
      <div class="card__section card__section--border">
        <p>Define the <strong>metrics</strong> you want to track for this initiative</p>
      </div>
      <div id="fields">
        <%= f.simple_fields_for :fields do |field| %>
          <%= render 'field_fields', f: field %>
        <% end %>
      </div>

      <div class="link">
        <div class="card__section card__section--border">
          <%= link_to_add_association "+Add metric", f, :fields, wrap_object: Proc.new { NumericField.new } %>
        </div>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>

<% content_for :page_scripts do %>
  <script>
    $('.select2').select2();
  </script>
<% end %>