<div class="content__main">
  <%= simple_form_for [@group, @initiative] do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <p class="field__hint">Start off by choosing which <strong>program</strong> this event will participate in</p>
        <%= f.association :pillar, collection: @group.pillars, label_method: :name_with_group_prefix, label: false, include_blank: false %>
      </div>

      <div id='budget_panel' class="card_section row">
        <div class="col sm-6">
          <div class="card__section card__section--border">
            <p class="field__hint">Attach a <strong>budget</strong> to the event.
            </p>
            <%= f.input :budget_item_id,
                  collection: Budget.pre_approved_events_for_select(@group),
                  include_blank: 'Create new free event ($0)',
                  label: false,
                  disabled: controller.action_name == "edit"
            %>
          </div>
        </div>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">You may also specify <strong>participating groups</strong></p>
        <%= f.association :participating_groups, label: false, collection: @group.possible_participating_groups, input_html: {class: 'select2', multiple: true} %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">Give your event a <strong>name</strong></p>
        <%= f.input :name, label: false %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">Give it a short (or long) <strong>description</strong></p>
        <%= f.input :description, label: false %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">Define a <strong>start</strong> and <strong>end</strong> time</p>
        <%= f.input :start, as: :date_time_picker %>
        <%= f.input :end, as: :date_time_picker %>
      </div>

      <div class="row">
        <div class="col sm-4">
          <div class="card__section card__section--border">
            <p class="field__hint">Specify maximum <strong>attendees</strong></p>
            <%= f.input :max_attendees, label: false %>
          </div>
        </div>
        <div class="col sm-4">
          <div class="card__section card__section--border">
            <p class="field__hint">Specify the <strong>location</strong></p>
            <%= f.input :location, label: false %>
          </div>
        </div>
        <div class="col sm-4">
          <div class="card__section card__section--border">
            <%= f.input :picture, as: :attachment_preview, label: false %>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card__section card__section--border">
        <p>Define the <strong>metrics</strong> you want to track for this event</p>
      </div>
      <div id="fields">
        <%= f.simple_fields_for :fields do |field| %>
          <%= render 'field_fields', f: field %>
        <% end %>
      </div>

      <div class="link">
        <div class="card__section card__section--border">
          <%= link_to_add_association "+Add metric", f, :fields, wrap_object: Proc.new { NumericField.new } %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card__section card__section--border">
        <p>Define the <strong>TODO</strong> items associated with event.</p>
      </div>
      <div id="fields">
        <%= f.simple_fields_for :checklist_items do |item_form| %>
          <%= render 'checklists/item', f: item_form %>
        <% end %>
      </div>

      <div class="link">
        <div class="card__section card__section--border">
          <%= link_to_add_association "+Add TODO item", f, :checklist_items, partial: 'checklists/item' %>
        </div>
      </div>
    </div>

    <%= f.button :submit, 'Submit' %>
  <% end %>
</div>

<% content_for :page_scripts do %>
  <script>
    $('.select2').select2();
  </script>
<% end %>
