<div class="content__main">
  <%= simple_form_for [@group, @initiative], html: { class: "disable-enter-submit" } do |f| %>
    
    <% if current_user.enterprise.virtual_events_enabled? %>
      <div class="pull-right" id="virtualToggle" >
        <%= f.hidden_field :virtual, value: 0 %>
        <%= f.input :virtual, label: 'enable virtual event' %>
      </div>
    <% end %>

    <div class="card">
      <div class="card__section card__section--border">
        <%= f.association :pillar,
              collection: @group.pillars,
              label_method: :name_with_group_prefix,
              label: "Start off by choosing which <strong>#{ c_t(:program) }</strong> this event will participate in".html_safe,
              include_blank: false,
              input_html: { autofocus: true } %>
      </div>

      <div id='budget_panel' class="card_section row">
        <% if @initiative.finished_expenses? %>
        <div class="col sm-6">
          <div class="card__section card__section--border">
            <%= f.input :budget_item_id,
                  collection: Budget.pre_approved_events_for_select(@group, current_user),
                  include_blank: "#{@initiative.budget_item&.title} ($#{@initiative.budget_item&.estimated_amount.to_f})",
                  label: "<strong>budget</strong> for this event is closed".html_safe,
                  # disable field if there are no budget_items for approved budgets
                  disabled: true
            %>
          </div>
        </div>
        <% else %>
        <div class="col sm-6">
          <div class="card__section card__section--border">
            <%= f.input :budget_item_id,
                  collection: Budget.pre_approved_events_for_select(@group, current_user, @initiative),
                  include_blank: 'Create new free event ($0)', 
                  label: "Attach a <strong>budget</strong> to the event.".html_safe,

                  # disable field if there are no budget_items for approved budgets
                  disabled: @group.budgets.approved.all? { |approved_budget| approved_budget.budget_items.empty? }
            %>
          </div>
        </div>
        <div class="col sm-6">
          <div class="card__section card__section--border">

            <% if @group.budgets.approved.any? { |approved_budget| approved_budget.budget_items.any? } %> <!-- show it only when you have approved budget items for group-->
              <%= f.input :estimated_funding, label: "Specify amount to deduct from budget" %>
              <script>
                $(document).ready(function(){
                  $('#initiative_budget_item_id').change(function(){
                    var $selected_option = $(this).find('option:selected');
                    var text = $selected_option.text();

                    // Try to parse it and determine available amount of money
                    var regExp = /\(([^)]+)\)/;
                    var dollar_value = regExp.exec(text)[1];

                    var value = parseInt( dollar_value.substr(1));

                    $('#initiative_estimated_funding').val(value);
                  });
                })
              </script>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>

      <div class="card__section card__section--border">
        <%= f.association :participating_groups,
          label: "You may also invite other groups".html_safe,
          collection: @group.possible_participating_groups,
          input_html: {class: 'select2-field-groups', multiple: true} %>
      </div>

      <div class="card__section card__section--border">
        <%= f.input :name, label: "Give your event a <strong>name</strong>".html_safe %>
      </div>

      <div class="card__section card__section--border">
        <%= f.input :description,
            label: "Give it a short (or long) <strong>description</strong>".html_safe,
            as: :ckeditor
        %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">
          Define a <strong>start</strong> and <strong>end</strong> time.
          <%= "(#{current_user.default_time_zone} timezone)" %>
        </p>
        <div class="row">
          <div class="col sm-6">
            <%= f.input :start, as: :date_time_picker, label: "Start time", input_html: { autocomplete: 'off' } %>
          </div>
          <div class="col sm-6">
            <%= f.input :end, as: :date_time_picker, label: "End time", input_html: { autocomplete: 'off' } %>
          </div>
        </div>
      </div>

      <div class="card__section card__section--border">
        <%= f.association :segments,
              collection: @segments,
              input_html: { class: "select2-field-segments" },
              label: "Choose the <strong>#{ c_t(:segment).pluralize }</strong> you want to target".html_safe %>
      </div>

      <div class="row">
        <div class="col sm-3">
          <div class="card__section card__section--border">
            <%= f.input :max_attendees, label: "Specify maximum <strong>attendees</strong>".html_safe %>
          </div>
        </div>
        <div class="col sm-3">
          <div class="card__section card__section--border">
            <%= f.input :location, label: "Specify the <strong>location</strong>".html_safe %>
          </div>
        </div>
        <div class="col sm-3">
          <div class="card__section card__section--border">
            <%= f.input :picture, as: :attachment_preview, label: "Specify the <strong>picture</strong>".html_safe %>
          </div>
        </div>
        <div class="col sm-3">
          <div class="card__section card__section--border">
            <%= f.input :video, label: "Upload the<strong> video</strong>".html_safe %>
          </div>
        </div>


      </div>
    </div>

    <div class="card">
      <div class="card__section card__section--border">
        <p>Define the <strong>metrics</strong> you want to track for this event</p>
      </div>
      <div id="fields">
        <%= f.simple_fields_for :fields do |field| %>
          <%= render 'field_fields', f: field %>
        <% end %>
      </div>

      <div class="link">
        <div class="card__section card__section--border">
          <%= link_to_add_association "+Add metric", f, :fields, wrap_object: Proc.new { NumericField.new } %>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card__section card__section--border">
        <p>Define the <strong>To Do</strong> items associated with event.</p>
      </div>
      <div id="fields">
        <%= f.simple_fields_for :checklist_items do |item_form| %>
          <%= render 'checklists/item', f: item_form %>
        <% end %>
      </div>

      <div class="link">
        <div class="card__section card__section--border">
          <%= link_to_add_association "+Add To Do item", f, :checklist_items, partial: 'checklists/item' %>
        </div>
      </div>
    </div>

    <%= f.button :submit, 'Submit' %>
  <% end %>
</div>

<%= render partial: 'shared/select2_ajax_search.js.erb' %>