<div class="content__header">
  <h1>Initiatives</h1>
  <%= link_to "New Initiative", new_initiative_path, class: "btn btn--primary" if policy(Initiative).new? %>
</div>

<div class="content__main">
  <div class="card">
      <% if @initiatives.empty? %>
        <div class="card__section">
          <p>There are no initiatives yet. <%= link_to "Create one", new_initiative_path %> and start solving problems with your team's diverse opinions.</p>
        </div>
      <% else %>
        <% @initiatives.each do |initiative| %>
          <div class="card__section card__section--border">
            <h2><%= initiative.name %></h2>

            <% initiative.fields.each do |field| %>
              <h4><%= field.title %></h4>
              <div class="flex-row">
                <div class="flex-row__cell">
                  <div class="sparkline"></div>
                </div>
                <div class="flex-row__cell">
                  <span><%= initiative.updates.last.info[field] %></span>
                </div>
              </div>
            <% end %>

            <%= link_to "Publish an update", new_initiative_update_path(initiative) %> -
            <%= link_to "Edit", edit_initiative_path(initiative) %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).on('page:change', function() {
    $(document).off('page:change');

    $('.sparkline').each(function() {
      $(this).highcharts('SparkLine', {
        series: [{
          data: [1,5,3,6],
          pointStart: 1
        }],
        tooltip: {
          headerFormat: '',
          pointFormat: '<b>{point.y}</b>'
        }
      });
    });
  });
</script>