<div class="content__header">
  <h1><%= @initiative.name %></h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <h3>Metrics</h3>
      <table class="table--has-border" id="updates-table">
        <thead>
          <th>Metric</th>
          <% @updates.each_with_index do |update, index| %>
            <th>
              <% if index == @updates.size - 1 %>
                Last update
              <% else %>
                <%= pluralize(@updates.size - index - 1, 'update') %> ago
              <% end %>
              (<%= update.created_at.to_s :reversed_slashes %>)
            </th>
          <% end %>
        </thead>
        <tbody>
          <% @initiative.fields.each do |field| %>
            <tr>
              <td><%= field.title %></td>
              <% @updates.each do |update| %>
                <td><%= number_with_delimiter(field.string_value(update.info[field]), :delimiter => ',') %> <%= InitiativeUpdateDecorator.decorate(update).variance_from_previous(field) %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card__section">
      <div class="flex-row">
        <div class="flex-row__cell flex-row__cell--grow">
          <h3>Graphs</h3>
        </div>
        <div class="flex-row__cell">
          <div class="form--inline">
            <div class="field">
              <div class="field__input-wrapper">
                <input type="text" class="field__input datepicker" value="2015-03-01">
              </div>
            </div>
            <label>to </label>
            <div class="field">
              <div class="field__input-wrapper">
                <input type="text" class="field__input datepicker" value="2015-03-31">
              </div>
            </div>
          </div>
        </div>
        <div class="flex-row__cell">
          <a class="btn btn--primary btn--small" href="#">Filter</a>
        </div>
      </div>

      <% @initiative.fields.each do |field| %>
        <div class="graph" style="width: 49%; display: inline-block;" data-title="<%= field.title %>"></div>
      <% end %>
    </div>
  </div>
</div>

<script>
  // Line graphs

  $('.graph').each(function() {
    var lastValue = 100;
    $(this).highcharts({
      title: {
        text: $(this).data('title')
      },
      xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
      },
      yAxis: {
        title: {
          text: 'Nb of participants'
        }
      },
      tooltip: {
        valueSuffix: ' employees'
      },
      series: [{
        name: 'Employee count',
        data: Array.apply(null, Array(12)).map(function() {
          var nextValue = lastValue + Math.random() * 100
          lastValue = nextValue;
          return Math.round(nextValue);
        })
      }],
      credits: {
        enabled: false
      }
    });
  });


  // Date filters datepickers

  $('.datepicker').each(function() {
    new Pikaday({
      field: this,
      yearRange: [1900, new Date().getFullYear()]
    });
  });
</script>