<!DOCTYPE html>
<html>
  <head>
    <title>Diverst</title>
    <%= stylesheet_link_tag default_enterprise_asset_url, media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'twilio_video' %>
    <link rel="icon" type="image/png" href="/favicon.png">
    <style>
      video {
        width: 100%;
        position: relative;
        top: 75px;
        display: inline-block;
      }

      #video-grid {
        display: grid;
        grid-template-columns: 35% 35% 35%;
        grid-template-rows: auto auto auto;
        max-height: 300px;
        margin: auto;
      }

      .content__inner { 
        padding: 0px;
        margin-left: 0px;
        max-width: initial;
      }

      #main-participant {
        position: absolute;
        z-index: 999;
        max-height: 100%;
        min-width: 100%;
      }

      #control-panel {
        float: right;
        margin-left: 70px;
      }

      #mute-mic, #mute-video {
        fill: white;
        height: 35px;
        width: 60px;
      }

      #mute-video {
        margin-right: 50px;
      }

      #leave-call {
        fill: red;
        height: 35px;
        width: 60px;
      }
    </style>
  </head>
  <body onload="init()" data-env="<%= Rails.env %>">
    <%= render 'partials/js_branding_color_variables' %>

    <header class="primary-header" style="height: 40px; position: fixed; top: 130px;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center"><%= @initiative.name %><span id="control-panel">
              <%= inline_svg('icons/microphone.svg', size: '55px*25px', id: 'mute-mic', title: 'mute mic') %>
              <%= inline_svg('icons/no-video1.svg', size: '55px*25px', id: 'mute-video', title: 'turn off video') %>
              <%= inline_svg('icons/phone.svg', size: '55px*25px', id: 'leave-call', title: 'end video call') %>
              <%= inline_svg('icons/plus.svg', size: '55px*25px', id: 'screen-share', title: 'screen share') %>
            </span></h2>
          </div>
        </div>
      </div>
    </header>
    
    <div class="row" style="overflow-x: scroll; margin-top: -35px;">
      <div class="col-xs-3" style="background-color: white; height: 550px; margin-top: 75px;">
        <h1>White Board Here</h1>
      </div>
      <div class="col-xs-6" style="padding-left: auto;">
        <div class="row">
          <div class="col-xs-12" style="padding: 0px;">
            <div id="main-participant"></div>
            <div id="video-grid"></div>
          </div>
        </div>
        <div class="row" style="position: relative; top: 75px;">
          <div class="col-xs-12">
            <div id="firepad"></div>
          </div>
        </div>
      </div>
      <div class="col-xs-3" style="background-color: white; height: 550px; margin-top: 75px;">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="text-center">Chat</h3>
          </div>
        </div>
        <div class="row" style="height: 475px;">
          <div class="col-xs-12" id="chat" style="overflow: scroll; height: inherit;">

          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Send a message..." id="message">
                <span class="input-group-btn">
                  <button class="btn" style="background-color: <%= current_user.enterprise.theme&.primary_color ||  "#7B77C9" %>;" type="button" id="send">Send!</button>
                </span>
              </div><!-- /input-group -->
            </div>
        </div>
      </div>
    </div>
  </body>
  <script>
  $(document).ready(function(){
    var token= '<%= @token %>';
    var twilio = Twilio.Video;
    var dataTrack = new twilio.LocalDataTrack();
    var chatElement = document.getElementById('chat');
    var color = getRandomColor();
    var localParticipant;
    var activeRoom;
    var previewTracks;
    var identity = '<%= current_user.email %>';

    // enlarge video trackmain participant
    function enlargeParticipantVideoTrack() {
      var x = document.getElementById('main-participant');
      var y = document.getElementById('video-grid');

      if (x.childElementCount==0) {
        x.appendChild(this);
      }else if (x.childElementCount == 1) {
        var oldChildElement = x.firstElementChild;

        x.replaceChild(this, oldChildElement);
        y.appendChild(oldChildElement);
      }
    }

    function attachEventListenersToTracks(track) {    
        track.addEventListener('click', enlargeParticipantVideoTrack);
    }

    function muteAudioOfLocalParticipant() {
      var localParticipant = window.room.localParticipant;
      var svgElement = document.getElementById('mute-mic');
      localParticipant.audioTracks.forEach(function(track){
        if (track.mediaStreamTrack.enabled==true){
          track.disable();
          track.mediaStreamTrack.muted = true;
          svgElement.style.fill = 'red';
        }else{
          track.enable();
          track.mediaStreamTrack.muted = false;
          svgElement.style.fill = 'white';
        }
      });
    }

    function muteVideoOfLocalParticipant() {
      var localParticipant = window.room.localParticipant;
      var svgElement = document.getElementById('mute-video');
      localParticipant.videoTracks.forEach(function(track){
        if (track.mediaStreamTrack.enabled==true){
          track.disable();
          track.mediaStreamTrack.muted = true;
          svgElement.style.fill = 'red';
        }else{
          track.enable();
          track.mediaStreamTrack.muted = false;
          svgElement.style.fill = 'white';
        }
      });
    }

    function screenShareOFLocalParticipant() {
      var localParticipant = window.room.localParticipant;
      const stream = navigator.mediaDevices.getDisplayMedia();
      const screenTrack = dataTrack(stream.getTracks()[0]);
      window.room.localParticipant.publishTrack(screenTrack);
    }


    function disconnectLocalParticipant() {
      var localParticipant = window.room.localParticipant;
      var svgElement = document.getElementById('leave-call');
      localParticipant.tracks.forEach(function(publication){
        const attachedElements = publication.track.detach();
        attachedElements.forEach(function(element) {
          element.remove();
        })
      })
    }

    $('#mute-mic').on('click', function(){
      muteAudioOfLocalParticipant();
    });

    $('#mute-video').on('click', function(){
      muteVideoOfLocalParticipant();
    });

    $('#leave-call').on('click', function(){
      leaveRoomIfJoined();
      window.location.href = "<%= group_event_path(@group, @initiative) %>";
    });

    $('#screen-share').on('click', function(){
      screenShareOFLocalParticipant();
    });



    // Attach the Tracks to the DOM.
    function attachTracks(tracks, container) {
      tracks.forEach(function(track) {
          if (track.kind === 'audio' || track.kind === 'video') {
            attachEventListenersToTracks(container.appendChild(track.attach()));
          }else if (track.kind === 'data') {
            track.on('message', function(data) {
                var response = JSON.parse(data);
                chat(response.message, response.user, response.chatColor);
              });
          }
      });
    }

    // Attach the Participant's Tracks to the DOM.
    function attachParticipantTracks(participant, container) {
      var tracks = Array.from(participant.tracks.values());
      attachTracks(tracks, container);
    }

    // Detach the Tracks from the DOM.
    function detachTracks(tracks) {
      tracks.forEach(function(track) {
          if (track.kind === 'audio' || track.kind === 'video') {
            track.detach().forEach(function(detachedElement) {
              detachedElement.remove();
            });
          }
      });
    }

    // Detach the Participant's Tracks from the DOM.
    function detachParticipantTracks(participant) {
      var tracks = Array.from(participant.tracks.values());
      detachTracks(tracks);
    }

    // When we are about to transition away from this page, disconnect
    // from the room, if joined.
    window.addEventListener('beforeunload', leaveRoomIfJoined);

    twilio.createLocalTracks({
      audio: true,
      video: { width: 640, height: 480 }
      }).then(localTracks => {
      localTracks.push(dataTrack)
        return twilio.connect(token, {
          name: '<% @video_room_name %>',
          tracks: localTracks
      });
      }).then(roomJoined, function(error) {
          console.error('Unable to connect to Room: ' +  error.message);
      });

    // Successfully connected!
    function roomJoined(room) {
      window.room = activeRoom = room;

      localParticipant = room.localParticipant;

      log("Joined as '" + identity + "'");

      // Attach LocalParticipant's Tracks, if not already attached.
      var previewContainer = document.getElementById('video-grid');
      if (!previewContainer.querySelector('video')) {
        attachParticipantTracks(room.localParticipant, previewContainer);
      }

      // Attach the Tracks of the Room's Participants.
      room.participants.forEach(function(participant) {
        log("Already in Room: '" + participant.identity + "'");
        var previewContainer = document.getElementById('video-grid');
        attachParticipantTracks(participant, previewContainer);
      });

      // When a Participant joins the Room, log the event.
      room.on('participantConnected', function(participant) {
        log("Joining: '" + participant.identity + "'");

        var previewContainer = document.getElementById('video-grid');
        attachParticipantTracks(participant, previewContainer);
      });

      // When a Participant adds a Track, attach it to the DOM.
      room.on('trackAdded', function(track, participant) {
        //log(participant.identity + " added track: " + track.kind);
        var previewContainer = document.getElementById('video-grid');
        attachTracks([track], previewContainer);
      });

      // When a Participant removes a Track, detach it from the DOM.
      room.on('trackRemoved', function(track, participant) {
        log(participant.identity + " removed track: " + track.kind);
        detachTracks([track]);
      });

      // When a Participant leaves the Room, detach its Tracks.
      room.on('participantDisconnected', function(participant) {
        log("Participant '" + participant.identity + "' left the room");
        detachParticipantTracks(participant);
      });

      // Once the LocalParticipant leaves the room, detach the Tracks
      // of all Participants, including that of the LocalParticipant.
      room.on('disconnected', function() {
        log('Left');
        if (previewTracks) {
          previewTracks.forEach(function(track) {
            track.stop();
          });
        }
        detachParticipantTracks(room.localParticipant);
        room.participants.forEach(detachParticipantTracks);
        activeRoom = null;
      });
    }

    // Activity log.
    function log(message) {
      chatElement.innerHTML += '<p style="text-transform: uppercase;"><strong>' + message + '</strong></p>';
    }

    function getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }

    function chat(message, email, chatColor){
        chatElement.innerHTML += "<p>" + "<span style='color:" + chatColor + ";'>" + email + "</span>" + "<br>" + message + "</p>";
    }

    // Leave Room.
    function leaveRoomIfJoined() {
      if (activeRoom) {
        activeRoom.disconnect();
      }
    }

    function sendMessage(eventObj) {
        // get the chat message value
        var message = document.getElementById('message').value
        // send the message to other users
        var object = JSON.stringify({message: message, user: "<%= current_user.email %>", chatColor: color});

        dataTrack.send(object);
        // display the message for the current user
        chat(message, "<%= current_user.email %>", color)

        // remove the message from the input
        document.getElementById("message").value = "";
    }

    var chatInput = document.getElementById('send');
    chatInput.addEventListener('click', sendMessage);

    $('input').on('keydown', function(e){
      if(e.keyCode===13) {
        sendMessage();
      }
    });


    function init() {
      // Initialize Firebase.
      var firebase_key = "<%= ENV["FIREBASE_API_KEY"] %>";
      var auth_domain = "<%= ENV["FIREBASE_AUTH_DOMAIN"] %>";
      var domain_url = "<%= ENV["FIREBASE_DATABASE_URL"] %>";
      var firebase_project_id = "<%= ENV["FIREBASE_PROJECT_ID"] %>";
      var firebase_storage_bucket = "<%= ENV["FIREBASE_STORAGE_BUCKET"] %>";
      var firebase_sender_id = "<%= ENV["FIREBASE_SENDER_ID"] %>";

      var config = {
        apiKey: firebase_key,
        authDomain: auth_domain,
        databaseURL: domain_url,
        projectId: firebase_project_id,
        storageBucket: firebase_storage_bucket,
        messagingSenderId: firebase_sender_id
      };
      firebase.initializeApp(config);

      // Get Firebase Database reference - set reference to an ID pointing to the session
      var path = '<%= @enterprise.name %>/initiatives/<%= Time.now.to_i %>/<%= @initiative.id %>';
      var firepadRef = firebase.database().ref(path);

      // Create CodeMirror (with lineWrapping on).
      var codeMirror = CodeMirror(document.getElementById('firepad'), { lineWrapping: true });

      // Create Firepad (with rich text toolbar and shortcuts enabled).
      var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror, {
        richTextShortcuts: true,
        richTextToolbar: true,
        defaultText: 'Hello, World!',
        userId: '<%= current_user.id%>'
      });
    }
  });
    </script>
</html>
