<div class="card__section card__section--border" id="restored_message_<%= message.id %>">
  <% if EnterprisePolicy.new(current_user, current_user.enterprise).manage_posts? && message.news_feed_link.approved? %>
    <%= link_to archive_group_group_message_path(message.group, message), method: :patch, remote: true do %>
      <%= inline_svg('icons/archive.svg', class: "icon card__icon", title: 'Archive') %>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-xs-2">
      <% if message.owner.present? %>
        <%= image_tag message.owner.avatar.expiring_url(3600, :thumb), width: '100%' %>
      <% else %>
        <%= image_tag '/assets/missing_user.png', width: '100%' %>
      <% end %>
    </div>
    <div class="col-xs-10">
      <div class="flex-row flex-row--middle">
        <div class="flex-row__cell flex-row__cell--grow">
          <h3><%= message.subject %> - <span class="muted" title="<%= message.created_at.to_s :datetime %>"><%= time_ago_in_words(message.created_at) %> ago (<%= message.created_at.to_formatted_s(:short) %>) - <%= message.total_views %> views </span></h3>
          <p class="postContent">
            <%= sanitize message.content %>
            <% if message.owner.present? %>
              <br>
              <i>by <%= message.owner.name_with_status %></i>
            <% end %>
            <p>
              <% unless message.news_tags.size == 0 %>
                <strong>Tags: </strong>
                <% message.news_tags.limit(5).each do |tag| %>
                  <%= link_to "##{tag.name}", group_posts_path(message.group, search: tag.name) %>
                <% end %>
                <%= '...' if message.news_tags.size > 5 %>
              <% end %>
            </p>
            <div class="row">
              <div class="col commentsLink">
                <%= link_to "Comments(#{message.comments_count})", group_group_message_path(message.group, message) %>
              </div>
              <div class="col">
                <%= render partial: "groups/shared/like_feature", locals: {news_feed_link: message.news_feed_link } %>
              </div>
            </div>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <div class="hidden-xs pull-right">
        <%= link_to "Approve", approve_group_posts_path(:group_id => message.group_id, :link_id => message.news_feed_link.id), method: :post, class: "btn btn--primary" if GroupPostsPolicy.new(current_user, [message.group]).update? && !message.news_feed_link.approved? %>
        <%= link_to "Edit", edit_group_group_message_path(message.group, message), class: "btn btn--secondary" if GroupMessagePolicy.new(current_user, [message.group, message]).edit? %>
        <%= link_to "Delete", group_group_message_path(message.group, message), method: :delete, class: "btn btn--danger", data: { confirm: "Are you sure?" } if GroupMessagePolicy.new(current_user, [message.group, message]).destroy? %>
      </div>
      <div class="btn-group visible-xs pull-right group-capybara">
          <%= link_to "Approve", approve_group_posts_path(:group_id => message.group_id, :link_id => message.news_feed_link.id), method: :post, class: "btn btn-primary" if GroupPostsPolicy.new(current_user, [message.group]).update? && !message.news_feed_link.approved? %>
          <%= link_to "Edit", edit_group_group_message_path(message.group, message), class: "btn btn-secondary" if GroupMessagePolicy.new(current_user, [message.group, message]).edit? %>
          <%= link_to "Delete", group_group_message_path(message.group, message), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } if GroupMessagePolicy.new(current_user, [message.group, message]).destroy? %>
      </div>
    </div>
  </div>
</div>
