<div class="card__section card__section--border" id="restored_social_link_<%= social_link.id %>">
  <div class="row">
    <div class="col-xs-12">
      <% if EnterprisePolicy.new(current_user, current_user.enterprise).manage_posts? && social_link.news_feed_link.approved? %>
        <%= link_to archive_group_social_link_path(social_link.group, social_link), method: :patch, remote: true do %>
          <%= inline_svg('icons/archive.svg', class: "icon card__icon", title: 'Archive') %>
        <% end %>
      <% end %>
      <div class="flex-row flex-row--middle">
        <div class="flex-row__cell flex-row__cell--grow">
          <div class="__embeded_post" >
            <% if social_link.url.include?("facebook") %>
              <iframe src="https://www.facebook.com/plugins/post.php?href=<%= social_link.url_safe %>&width=<%= small ? '320' : '1100' %>&show_text=true&appId"
                      width="<%= small ? '320' : '1100' %>"
                      height="<%= if social_link.url_safe.include?('video')
                                    small ? '320' : '700'
                                  else
                                    '260'
                                  end %>"
                      style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true">
              </iframe>
            <% else %>
                <%= raw small ? social_link.small_embed_code : social_link.embed_code %>
            <% end %>
          </div>
          <%= render partial: "groups/shared/like_feature", locals: {news_feed_link: social_link.news_feed_link } %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8">
      <span class="hidden-xs pull-right">
        <%= link_to "Approve", approve_group_posts_path(:group_id => social_link.group_id, :link_id => social_link.news_feed_link.id), method: :post, class: "btn btn--primary" if GroupPostsPolicy.new(current_user, [social_link.group]).update? && !social_link.news_feed_link.approved? %>
        <%= link_to 'Delete', group_social_link_path(social_link.group, social_link.id), method: :delete, class: "btn btn--danger", data: { confirm: "Are you sure?" } if GroupSocialLinkPolicy.new(current_user, [social_link.group, social_link]).destroy? %>
      </span>
      <div class="btn-group visible-xs pull-right">
        <%= link_to "Approve", approve_group_posts_path(:group_id => social_link.group_id, :link_id => social_link.news_feed_link.id), method: :post, class: "btn btn-primary" if GroupPostsPolicy.new(current_user, [social_link.group]).update? && !social_link.news_feed_link.approved? %>
        <%= link_to 'Delete', group_social_link_path(social_link.group, social_link.id), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } if GroupSocialLinkPolicy.new(current_user, [social_link.group, social_link]).destroy? %>
      </div>
    </div>
  </div>
</div>
