<h1>Employees</h1>

<%= link_to "Add an employee", new_employee_invitation_path %>

<h2>Invitation sent</h2>

<table>
  <thead>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Options</th>
  </thead>
  <tbody>
    <% @employees.invitation_not_accepted.each do |employee| %>
      <tr>
        <td><%= employee.first_name || "-" %></td>
        <td><%= employee.last_name || "-" %></td>
        <td><%= employee.email %></td>
        <td><%= link_to "Details", employee_path(employee) %> -<%= link_to "Revoke", employee_path(employee), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Active</h2>

<table>
  <thead>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Options</th>
  </thead>
  <tbody>
    <% @employees.invitation_accepted.each do |employee| %>
      <tr>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.email %></td>
        <td><%= link_to "Details", employee_path(employee) %> - <%= link_to "Delete", employee_path(employee), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>