<h1>Employees</h1>

<%= link_to "Add an employee", new_employee_invitation_path %>

<h2>Invitation sent</h2>

<table>
  <thead>
    <th>Email</th>
    <% current_admin.enterprise.fields.each do |field| %>
      <th><%= field.title %></th>
    <% end %>
    <th>Options</th>
  </thead>
  <tbody>
    <% @employees.invitation_not_accepted.each do |employee| %>
      <tr>
        <td><%= employee.email %></td>
        <% current_admin.enterprise.fields.each do |field| %>
          <td><%= employee.string_for_field(field) %></td>
        <% end %>
        <td><%= link_to "Details", employee_path(employee) %> - <%= link_to "Revoke invitation", employee_path(employee), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Manually added</h2>

<table>
  <thead>
    <th>Email</th>
    <% current_admin.enterprise.fields.each do |field| %>
      <th><%= field.title %></th>
    <% end %>
    <th>Options</th>
  </thead>
  <tbody>
    <% @employees.invitation_accepted.each do |employee| %>
      <tr>
        <td><%= employee.email %></td>
        <% current_admin.enterprise.fields.each do |field| %>
          <td><%= employee.string_for_field(field) %></td>
        <% end %>
        <td><%= link_to "Details", employee_path(employee) %> - <%= link_to "Delete", employee_path(employee), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>SAML</h2>

<table>
  <thead>
    <th>Email</th>
    <% current_admin.enterprise.fields.each do |field| %>
      <th><%= field.title %></th>
    <% end %>
    <th>Options</th>
  </thead>
  <tbody>
    <% @employees.where(auth_source: "saml").each do |employee| %>
      <tr>
        <td><%= employee.email %></td>
        <% current_admin.enterprise.fields.each do |field| %>
          <td><%= employee.string_for_field(field) %></td>
        <% end %>
        <td><%= link_to "Details", employee_path(employee) %> - <%= link_to "Delete", employee_path(employee), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>