Hello, <%= @leader.name %>
<br/>
<% if @pending_members_count > 0 %>
    Your <%= @group.name %> has <%= @pending_members_count %> pending member(s). Click below to view them and accept/deny group membership.
<% end %>
<br/>

<% if @pending_comments_count > 0 %>
    Your <%= @group.name %> has <%= @pending_comments_count %> pending comments(s). Click below to view them and accept/deny.
<% end %>
<br/>

<p><%= link_to "View #{@subject_line}", group_url(@group) %></p>