<div class="content__main">
  <div class="card">
    <div class="card__section row">
      <div class="col xs-10" style="padding-top: 15px;">
        <b><%= @answers_count %></b> members have already provided their preferences.
      </div>
      <div class="col sm-2 hidden-xs">
        <%= link_to "Export CSV", export_csv_group_questions_path(@group, format: :csv), class: "btn btn--secondary hidden-xs" %>
      </div>
    </div>
  </div>

  <%= simple_form_for @group, :url => update_questions_group_path(@group)  do |f| %>
    <div class="card">
      <div id="fields">
        <%= f.simple_fields_for :survey_fields do |field| %>
          <%= render 'survey_field_fields', f: field %>
        <% end %>
      </div>

      <div class="link">
        <div class="card__section card__section--border">
          <%= link_to_add_association "Add text field", f, :survey_fields, wrap_object: Proc.new { TextField.new } %> |
          <%= link_to_add_association "Add select field", f, :survey_fields, wrap_object: Proc.new { SelectField.new } %> |
          <%= link_to_add_association "Add checkbox field", f, :survey_fields, wrap_object: Proc.new { CheckboxField.new } %> |
          <%= link_to_add_association "Add numeric field", f, :survey_fields, wrap_object: Proc.new { NumericField.new } %> |
          <%= link_to_add_association "Add date field", f, :survey_fields, wrap_object: Proc.new { DateField.new } %>
        </div>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>
