<div class="content__header">
  <h1>Messages</h1>
</div>

<div class="content__main">
  <div class="card">
    <% @messages.each do |message| %>
      <div class="card__section card__section--border">
        <h3><%= message.subject %> - <span class="muted" title="<%= message.created_at.to_s :datetime %>"><%= time_ago_in_words(message.created_at) %> ago - <%= message.group.name %></span></h3>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
</div>