<div class="content__header">
  <h1>Specify this question's ROI</h1>
</div>

<div class="content__main">
  <% if @answers.empty? %>
    <div class="card">
      <div class="card__section">
        <p>There are no starred answers in this question. <%= link_to "Start starring", question_path(@question) %> the best ideas to track their ROI.</p>
      </div>
    </div>
  <% else %>
    <%= simple_form_for @question do |f| %>
      <%= f.simple_fields_for :answers, @answers do |a| %>
        <div class="card">
          <div class="card__section card__section--border">
            <h3>Idea #<%= a.index + 1 %> (<%= a.object.title %>)</h3>
            <p><%= a.object.content %> - <em><%= a.object.author.name_with_status %></em></p>
          </div>
          <div class="card__section card__section--border">
            <h4>Planning</h4>
            <%= a.input :outcome, input_html: { autofocus: true } %>
            <p><% if a.object.supporting_document.exists? %> (<a href="<%= a.object.supporting_document.expiring_url(3600) %>" class="icon icon--bg" style="background-image: url(<%= thumbnail_for_answer(a.object) %>)"></a> <%= link_to "documentation", a.object.supporting_document.expiring_url(3600) %>)<% end %></p>
            <% if a.object.supporting_document_from_sponsor.exists? %>
              (<a href="<%= a.object.supporting_document_from_sponsor.expiring_url(3600) %>" class="icon icon--bg" style="background-image: url(<%= thumbnail_for_answer(a.object) %>)"></a> <%= link_to " supporting documentation", a.object.supporting_document_from_sponsor.expiring_url(3600) %>)              
            <% else %>
              <%= a.input :supporting_document_from_sponsor, label: 'supporting document', as: :attachment_preview %>
            <% end %>
          </div>
          <div class="card__section card__section--border">
            <h4>Financials</h4>
            <label class="field__label">Benefit type</label>
            <div class="segmented-control">
              <a class="segmented-control__item<%= " segmented-control__item--is-selected" if a.object.benefit_type == 0 %>" data-value="0">Revenue</a>
              <a class="segmented-control__item<%= " segmented-control__item--is-selected" if a.object.benefit_type == 1 %>" data-value="1">Cost saving</a>
              <%= a.input :benefit_type, as: :hidden %>
            </div>
            <%= a.input :value, wrapper: :currency, label: "Base amount" %>
          </div>
          <div class="card__section card__section--border">
            <div id="expenses">
              <%= a.simple_fields_for :expenses, a.object.expenses.includes(expense: :category) do |e| %>
                <%= render 'expense_fields', f: e %>
              <% end %>
              <div class="link">
                <%= link_to_add_association "Add an expense", a, :expenses %>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <%= f.button :submit %>
    <% end %>
  <% end %>
</div>

<script>
  $('.segmented-control__item').click(function() {
    $(this).parent().find('.segmented-control__item').removeClass('segmented-control__item--is-selected');
    $(this).addClass('segmented-control__item--is-selected');
    $(this).parent().find('input').val($(this).data('value'));
  });

  var addIcon = function(o) {
    if (!o.id)
      return o.text; // optgroup
    else
      return '<img src="' + $(o.element).data('icon-url') + '" class="icon icon--large"> ' + o.text;
  };

  var initExpenseSelect = function($el) {
    $el.select2({
      templateSelection: addIcon,
      templateResult: addIcon,
      escapeMarkup: function(m) {
        return m;
      }
    });
  };

  initExpenseSelect($('.js-expense-select'));

  $('#expenses').on('cocoon:after-insert', function(e, insertedItem) {
    initExpenseSelect(insertedItem.find('.js-expense-select'));
  });
</script>
