<%= link_to group_event_path(event.group, event), class: "block block-section" do %>
  <div class="<%= "flippable" if event.picture.present? %>">
    <div class="front">
      <%= image_tag event.picture.expiring_url(3600), width: '100%' if event.picture.present? %>
    </div>
    <div class="back">
      <div class="flex-row flex-row--middle">
        <div class="flex-row__cell flex-row__cell--grow">
          <span class="highlight"><%= event.title %></span><br>
          <small><%= truncate(strip_tags(event.description), length: 90) %></small><br>
          <small class="muted"><%= event.start.to_s :slashes %></small>
        </div>
        <div class="flex-row__cell">
          <span class="icon icon--chevron-right"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="card__section--description"><%= event.title if event.picture.present? %></div>
<% end %>
