<div>
    <% messages.each do |message| %>
      <%= link_to group_group_message_path(message.group, message), class: "block block-section" do %>
            <div class="flex-row flex-row--middle">
              <div class="flex-row__cell flex-row__cell--grow">
                <span class="highlight"><%= message.subject %></span><br>
                <small><%= truncate(message.content, length: 90) %></small><br>
                <small class="muted"><%= message.created_at.to_s :slashes %>
                  <% if message.owner.present? %>
                    by <%= message.owner.name %>
                  <% end %>
                </small>
              </div>
              <div class="flex-row__cell">
                <span class="icon icon--chevron-right"></span>
              </div>
            </div>
      <% end %>
    <% end %>
</div>
