<% if news.news_link %>
  <% news_link = NewsLink.find(news.link.id) %>
  <div class="row block-section-news">
      <div class="col-xs-4">
        <% if news_link.photos.count > 0 %>
          <%= render partial: "shared/carousel/template", locals: {news_link: news_link } %>
        <% else %>
          <%= news_link_picture(news_link) %>
        <% end %>
      </div>
      <%= link_to news_link.url, target: "_blank" do %>
        <div class="col-xs-8">
        <div class="flex-row flex-row--middle">
          <div class="flex-row__cell flex-row__cell--grow">
            <span class="highlight"><%= news_link.title %></span><br>
            <small><%= truncate(news_link.description, length: 90) %></small><br>
            <small class="muted"><%= news_link.created_at.to_s :slashes %></small>
          </div>
        </div>
      </div>
      <% end %>
      <%= render "groups/news_links/modal/form" %>
    </div>
<% elsif news.group_message %>
  <% message = GroupMessage.includes(:owner, :group).find(news.link.id) %>
  <%= link_to group_group_message_path(message.group, message), class: "block block-section" do %>
        <div class="flex-row flex-row--middle">
          <div class="flex-row__cell flex-row__cell--grow">
            <span class="highlight"><%= message.subject %></span><br>
            <small><%= truncate(message.content, length: 90) %></small><br>
            <small class="muted"><%= message.created_at.to_s :slashes %>
              <% if message.owner.present? %>
                by <%= message.owner.name_with_status %>
              <% end %>
            </small>
          </div>
          <div class="flex-row__cell">
            <span class="icon icon--chevron-right"></span>
          </div>
        </div>
  <% end %>
<% elsif news.social_link %>

  <% if news.link.url.include?("facebook") %>
      <iframe src="https://www.facebook.com/plugins/post.php?href=<%= news.link.url_safe %>&width=500&show_text=true&height=290&appId" width="500" height="290" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  <% elsif news.link.url.include?("instagram") %>
      <iframe width="320" height="440" src="<%= news.link.url %>embed" frameborder="0"></iframe>
  <% else %>
      <%= raw news.link.embed_code %>
  <% end %>

<% end %>
