<% if news.link_type == "NewsLink" %>
    <%= link_to news.link.url, class: "block block-section", target: "_blank" do %>
      <div class="<%= "flippable" if news.link.picture.present? %>">
        <div class="front">
          <%= image_tag news.link.picture.expiring_url(3600), width: '100%' if news.link.picture.present? %>
        </div>
        <div class="back">
          <div class="flex-row flex-row--middle">
            <div class="flex-row__cell flex-row__cell--grow">
              <span class="highlight"><%= news.link.title %></span><br>
              <small><%= truncate(news.link.description, length: 90) %></small><br>
              <small class="muted"><%= news.link.created_at.to_s :slashes %></small>
            </div>
            <div class="flex-row__cell">
              <span class="icon icon--chevron-right"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="card__section--description"><%= news.link.title if news.link.picture.present? %></div>
  <% end %>
<% elsif news.link_type === "GroupMessage"%>
  <% message = GroupMessage.includes(:owner, :group).find(news.link.id) %>
  <%= link_to group_group_message_path(message.group, message), class: "block block-section" do %>
        <div class="flex-row flex-row--middle">
          <div class="flex-row__cell flex-row__cell--grow">
            <span class="highlight"><%= message.subject %></span><br>
            <small><%= truncate(message.content, length: 90) %></small><br>
            <small class="muted"><%= message.created_at.to_s :slashes %>
              <% if message.owner.present? %>
                by <%= message.owner.name_with_status %>
              <% end %>
            </small>
          </div>
          <div class="flex-row__cell">
            <span class="icon icon--chevron-right"></span>
          </div>
        </div>
  <% end %>
<% elsif news.link_type === "SocialLink"%>

  <% if news.link.url.include?("facebook") %>
      <iframe src="https://www.facebook.com/plugins/post.php?href=<%= news.link.url_safe %>&width=500&show_text=true&height=290&appId" width="500" height="290" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
  <% elsif news.link.url.include?("instagram") %>
      <iframe width="320" height="440" src="<%= news.link.url %>embed" frameborder="0"></iframe>
  <% else %>
      <%= raw news.link.embed_code %>
  <% end %>

<% end %>
