<div class="content__main">
  <%= simple_form_for @metrics_dashboard do |f| %>

    <%= render partial: 'components/group_selector', locals: { id: "multiGroupSelectModal", multiselect: true } %>
    <%= render partial: 'components/group_selector', locals: { id: "singleGroupSelectModal", multiselect: false } %>

    <div class="card">
      <div class="card__section card__section--border">
        <%= f.association :groups,
              label: "Choose what <strong>#{ c_t(:erg).pluralize }</strong> should be included in this dashboard".html_safe,
              input_html: { class: "select2-field-groups", id: "select2-field-groups", autofocus: true } %>
        <a href="#" class="select2-select-all" data-select-id="select2-field-groups" data-select-all-path="<%= get_all_groups_groups_path %>">Select All</a> |
        <a href="#" class="select2-clear-all" data-select-id="select2-field-groups">Clear Selection</a>
        <br>
        <br>
        <button type="button" class="btn btn--primary btn--small" data-toggle="modal" data-target="#multiGroupSelectModal">
          Choose Groups (Multiple)
        </button>

        <button type="button" class="btn btn--primary btn--small" data-toggle="modal" data-target="#singleGroupSelectModal">
          Choose Groups (Single)
        </button>
      </div>

      <div class="card__section card__section--border">
        <%= f.association :segments,
              label: "Drill down further by selecting the <strong>#{ c_t(:segment).pluralize }</strong> that should be included".html_safe,
              input_html: { class: "select2-field-segments", id: "select2-field-segments" } %>
        <a href="#" class="select2-select-all" data-select-id="select2-field-segments" data-select-all-path="<%= get_all_segments_segments_path %>">Select All</a> |
        <a href="#" class="select2-clear-all" data-select-id="select2-field-segments">Clear Selection</a>
      </div>

      <div class="card__section card__section--border">
        <%= f.input :name, label: "<strong>Name</strong> your dashboard".html_safe %>
      </div>

      <div class="card__section card__section--border">
        <%= f.association :shared_users,
              label: 'Share with other <strong>Users</strong>'.html_safe,
              input_html: { class: "select2-field-users", multiple: true } %>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>

<%= render partial: 'shared/select2_ajax_search.js.erb' %>

<script>
    $(".group-selector").on('saveGroups', function(e, selectedGroupIDs) {
      console.log(selectedGroupIDs);

      var selectField = $("#select2-field-groups");

      $(selectField).val([]);

      $.each(selectedGroupIDs, function(index, item) {
        // Find the option if it already exists
        if ($(selectField).find("option[value='" + item.id + "']").length)
        {
          // If the list of selected items is an array, select it with the other options
          if ($.isArray($(selectField).val()))
            $(selectField).val($(selectField).val().concat(item.id));
          // If the list of the selected items is a single item, create an array with the old item and new item
          else if ($(selectField).val() != undefined && $(selectField).val() != null)
            $(selectField).val([$(selectField).val(), item.id]);
          // If the list of selected items is empty, create an array with the new item
          else
            $(selectField).val([item.id]);
        }
        // If the option doesn't exist, create it and start selected
        else
          $(selectField).append(new Option(item.text, item.id, false, true));
      });

      $(selectField).trigger("change");
    });
</script>