<div class="content__main">
  <%= simple_form_for @metrics_dashboard do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <%= f.association :groups,
              collection: @metrics_dashboard.enterprise.groups,
              label: "Choose what <strong>groups</strong> should be included in this dashboard".html_safe,
              input_html: { class: "select2", autofocus: true } %>
      </div>

      <div class="card__section card__section--border">
        <%= f.association :segments,
              collection: @metrics_dashboard.enterprise.segments,
              label: "Drill down further by selecting the <strong>segments</strong> that should be included".html_safe,
              input_html: { class: "select2" } %>
      </div>

      <div class="card__section card__section--border">
        <%= f.input :name, label: "Define a <strong>name</strong> that explains its purpose".html_safe %>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>
