<div class="content__main">
  <%= simple_form_for @metrics_dashboard do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <p class="field__hint">Choose what <strong>groups</strong> should be included in this dashboard</p>
        <%= f.association :groups, label: false, input_html: { class: "select2" } %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">Drill down further by selecting the <strong>segments</strong> that should be included</p>
        <%= f.association :segments, label: false, input_html: { class: "select2" } %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">Define a <strong>name</strong> that explains its purpose</p>
        <%= f.input :name, label: false %>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>

<% content_for :page_scripts do %>
  <script>
    $('.select2').select2();
  </script>
<% end %>