<div class="row row--equal-height">
  <% @graphs.each do |graph| %>
    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <div class="card__action">
            <%= link_to "Edit", [:edit, @metrics_dashboard, graph] %> -
            <%= link_to "Export CSV", [:export_csv, @metrics_dashboard, graph] %> -
            <%= link_to "Remove", graph_path(graph), method: :delete, class: "error", data: { confirm: "Are you sure?" } %>
          </div>
          <h4 class="no-margin"><%= graph.title %></h4>
          <% if !graph.aggregation.nil? %><small><%= aggregation_text(graph) %></small><% end %>
          <div
            class="graph"
            data-method="GET"
            data-url="<%= data_metrics_dashboard_graph_path(@metrics_dashboard, graph) %>"
            data-time-series="<%= graph.time_series %>">
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>