<div class="row row--equal-height">
  <% @graphs.each do |graph| %>
    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <div class="card__action">
            <%= link_to "Edit", [:edit, @metrics_dashboard, graph] if policy(@metrics_dashboard).update? %> -
            <a href="#" class="hidden-xs" onclick="csv_export_onclick(<%=graph.id%>, '<%=export_csv_metrics_dashboard_graph_url(@metrics_dashboard.id, graph.id)%>')">Export CSV</a>
            <%= link_to "Remove", graph_path(graph.id), method: :delete, class: "error", data: { confirm: "Are you sure?" } if policy(@metrics_dashboard).update? %>
          </div>
          <h4 class="no-margin"><%= graph.title %></h4>
          <% if !graph.aggregation.nil? %><small><%= aggregation_text(graph) %></small><% end %>
          <%= render 'components/range_selector' %>
          <div id="graph_<%= graph.id %>" class="graph" data-method="GET" data-url="<%= data_metrics_dashboard_graph_path(@metrics_dashboard, graph) %>">
            <svg></svg>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<script>
 function csv_export_onclick(id, url) {
     unset_series = []

     $('#graph_' + id + ' .nv-legendWrap').find('.nv-series').each(function() {
         selected_series_bool = $(this).find('circle').css('fill-opacity');
         series_name = $(this).find('text').text();
         if (selected_series_bool == 0)
             unset_series.push(series_name);
     });

     $.get(url, { unset_series: unset_series });
 }
</script>
