<div class="content__header">
  <h1>General metrics</h1>
</div>

<div class="content__main">

  <div class="card">
    <div class="card__section">
      <div class="flex-row">
        <div class="flex-row__cell">
          <small>Users</small><br>
          <strong><%= @general_metrics[:nb_users] %></strong>
        </div>
        <div class="flex-row__cell">
          <small><%= c_t(:erg).pluralize %></small><br>
          <strong><%= @general_metrics[:nb_ergs] %></strong>
        </div>
        <div class="flex-row__cell">
          <small><%= c_t(:segment).pluralize %></small><br>
          <strong><%= @general_metrics[:nb_segments] %></strong>
        </div>
        <div class="flex-row__cell">
          <small>Resources</small><br>
          <strong><%= @general_metrics[:nb_resources] %></strong>
        </div>
        <div class="flex-row__cell">
          <small>Surveys</small><br>
          <strong><%= @general_metrics[:nb_polls] %></strong>
        </div>
        <div class="flex-row__cell">
          <small>Ongoing campaigns</small><br>
          <strong><%= @general_metrics[:nb_ongoing_campaigns] %></strong>
        </div>
        <div class="flex-row__cell">
          <small>Average # of members per <%= c_t(:erg) %></small><br>
          <strong><%= @general_metrics[:average_nb_members_per_group] %></strong>
        </div>
      </div>
    </div>
  </div>

  <div class="row row--equal-height">

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4><%= c_t(:erg) %> population</h4>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <a href="#" class="csv-export-link hidden-xs" data-url="<%= group_population_generic_graphs_path(format: :csv) %>">Export CSV</a>
          </div>
          <div id="group_population_graph" class="graph" data-url="<%= group_population_generic_graphs_path %>">
            <svg></svg>
          </div>
          <input type="button" hidden class="drillout_button" value="Back"></input>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4><%= c_t(:segment) %> population</h4>
          <div class="card__action">
            <%= link_to "Export CSV", segment_population_generic_graphs_path(format: :csv), class: "hidden-xs" %>
          </div>
          <div id="segment_population_graph" class="graph" data-url="<%= segment_population_generic_graphs_path %>">
            <svg></svg>
          </div>
          <input type="button" hidden class="drillout_button" value="Back"></input>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4>Events created</h4>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <a href="#" class="csv-export-link hidden-xs" data-url="<%= events_created_generic_graphs_path(format: :csv) %>">Export CSV</a>
          </div>
          <div id="events_created_graph" class="graph" data-url="<%= events_created_generic_graphs_path %>">
            <svg></svg>
          </div>
          <input type="button" hidden  class="drillout_button" value="Back"></input>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4>Messages sent</h4>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <a href="#" class="csv-export-link hidden-xs" data-url="<%= messages_sent_generic_graphs_path(format: :csv) %>">Export CSV</a>
          </div>
          <div id="messages_sent_graph" class="graph" data-url="<%= messages_sent_generic_graphs_path %>">
            <svg></svg>
          </div>
          <input type="button" hidden class="drillout_button" value="Back"></input>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4># of employees over time</h4>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <%= link_to "Export CSV", growth_of_employees_generic_graphs_path(format: :csv), class: "hidden-xs" %>
          </div>
          <div id="growth_employees" class="graph" data-url="<%= growth_of_employees_generic_graphs_path %>">
            <svg></svg>
          </div>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4># of views per <%= c_t(:erg) %></h4>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <a href="#" class="csv-export-link hidden-xs" data-url="<%= top_groups_by_views_generic_graphs_path(format: :csv) %>">Export CSV</a>
          </div>
          <div id="top_groups_graph" class="graph" data-url="<%= top_groups_by_views_generic_graphs_path %>">
            <svg></svg>
          </div>
          <input type="button" hidden  class="drillout_button" value="Back"></input>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4># of views per Folder</h4>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <a href="#" class="csv-export-link hidden-xs" data-url="<%= top_folders_by_views_generic_graphs_path(format: :csv) %>">Export CSV</a>
          </div>
          <div id="top_folders_graph" class="graph" data-url="<%= top_folders_by_views_generic_graphs_path %>">
            <svg></svg>
          </div>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4># of views per Resource</h4>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <a href="#" class="csv-export-link hidden-xs" data-url="<%= top_resources_by_views_generic_graphs_path(format: :csv) %>">Export CSV</a>
          </div>
          <div id="top_resources_graph" class="graph" data-url="<%= top_resources_by_views_generic_graphs_path %>">
            <svg></svg>
          </div>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4>Top News Links by # of views</h4>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <a href="#" class="csv-export-link hidden-xs" data-url="<%= top_news_by_views_generic_graphs_path(format: :csv) %>">Export CSV</a>
          </div>
          <div id="top_news_graph" class="graph" data-url="<%= top_news_by_views_generic_graphs_path %>">
            <svg></svg>
          </div>
        </div>
      </div>
    </div>

    <% if current_user.enterprise.mentorship_module_enabled %>
      <div class="col sm-12 md-6">
        <div class="card">
          <div class="card__section">
            <h4># of users interested in mentorship</h4>
            <div class="card__action">
              <%= link_to "Export CSV", mentorship_generic_graphs_path(format: :csv) %>
            </div>
            <div id="mentorship_population" class="graph" data-url="<%= mentorship_generic_graphs_path %>">
              <svg></svg>
            </div>
            <input type="button" hidden  class="drillout_button" value="Back"></input>
          </div>
        </div>
      </div>

      <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4>Mentoring Sessions created</h4>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <a href="#" class="csv-export-link hidden-xs" data-url="<%= mentoring_sessions_generic_graphs_path(format: :csv) %>">Export CSV</a>
          </div>
          <div id="mentorship_sessions" class="graph" data-url="<%= mentoring_sessions_generic_graphs_path %>">
            <svg></svg>
          </div>
        </div>
      </div>
    </div>

      <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4>Most Popular Mentoring Interests</h4>
          <div class="card__action">
            <%= link_to "Export CSV", mentoring_interests_generic_graphs_path(format: :csv) %>
          </div>
          <div id="mentoring-interests" class="graph" data-url="<%= mentoring_interests_generic_graphs_path %>">
            <svg></svg>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="row row--equal-height">
    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4>Growth of groups over time</h4>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <a href="#" class="csv-export-link hidden-xs" data-url="<%= growth_of_groups_generic_graphs_path(format: :csv) %>">Export CSV</a>
          </div>
          <div id="growth_groups_graph" class="graph" data-url="<%= growth_of_groups_generic_graphs_path %>">
            <svg></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row--equal-height">
    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4>Growth of resources over time</h4>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <a href="#" class="hidden-xs" onclick="#">Export CSV</a>
          </div>
          <div id="growth_resources_graph" class="graph" data-url="<%= growth_of_resources_generic_graphs_path %>">
            <svg></svg>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="content__header">
  <h1>Specific metrics dashboards</h1>
  <%= link_to "New dashboard", new_metrics_dashboard_path, class: "btn btn--primary" if MetricsDashboardPolicy.new(current_user, MetricsDashboard).new? %>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <% if @dashboards.empty? %>
        <p>There are no dashboards yet.
          <% if MetricsDashboardPolicy.new(current_user, MetricsDashboard).new? %>
            <span><%= link_to "Create one", new_metrics_dashboard_path %> to start getting valuable insight on your team's diversity.
            </span>
          <% end %>
        </p>
      <% else %>
        <table class="table--has-border" id="users-table">
          <thead>
            <th>Title</th>
            <th># of graphs</th>
            <th># of targeted users</th>
            <th>Creation date</th>
            <th>Options</th>
          </thead>
          <tbody>
            <% @dashboards.each do |dashboard| %>
              <tr>
                <td><%= link_to dashboard.name, metrics_metrics_dashboard_path(dashboard) %></td>
                <td><%= dashboard.graphs.count %></td>
                <td><%= dashboard.target.count %></td>
                <td><%= dashboard.created_at.to_s :dateonly %></td>
                <td>
                  <%= link_to "Edit", edit_metrics_dashboard_path(dashboard) if MetricsDashboardPolicy.new(current_user, dashboard).update? %>
                  <% if MetricsDashboardPolicy.new(current_user, dashboard).update? && MetricsDashboardPolicy.new(current_user, dashboard).destroy? %>
                     -
                  <% end %>
                  <%= link_to "Delete", metrics_metrics_dashboard_path(dashboard), method: :delete, class: "error", data: { confirm: "Are you sure?" } if MetricsDashboardPolicy.new(current_user, dashboard).destroy? %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
