<div class="content__header">
  <h1>General metrics</h1>
</div>

<div class="content__main">

  <div class="card">
    <div class="card__section">
      <div class="flex-row">
        <div class="flex-row__cell">
          <small>Users</small><br>
          <strong><%= @general_metrics[:nb_users] %></strong>
        </div>
        <div class="flex-row__cell">
          <small><%= c_t(:erg).pluralize %></small><br>
          <strong><%= @general_metrics[:nb_ergs] %></strong>
        </div>
        <div class="flex-row__cell">
          <small><%= c_t(:segment).pluralize %></small><br>
          <strong><%= @general_metrics[:nb_segments] %></strong>
        </div>
        <div class="flex-row__cell">
          <small>Resources</small><br>
          <strong><%= @general_metrics[:nb_resources] %></strong>
        </div>
        <div class="flex-row__cell">
          <small>Surveys</small><br>
          <strong><%= @general_metrics[:nb_polls] %></strong>
        </div>
        <div class="flex-row__cell">
          <small>Ongoing campaigns</small><br>
          <strong><%= @general_metrics[:nb_ongoing_campaigns] %></strong>
        </div>
        <div class="flex-row__cell">
          <small>Average # of members per <%= c_t(:erg) %></small><br>
          <strong><%= @general_metrics[:average_nb_members_per_group] %></strong>
        </div>
      </div>
    </div>
  </div>

  <div class="row row--equal-height">

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4><%= c_t(:erg) %> population</h4>
          <div class="card__action">
            <%= link_to "Export CSV", group_population_generic_graphs_path(format: :csv) %>
          </div>
          <div class="graph" data-url="<%= group_population_generic_graphs_path %>"></div>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4><%= c_t(:segment) %> population</h4>
          <div class="card__action">
            <%= link_to "Export CSV", segment_population_generic_graphs_path(format: :csv) %>
          </div>
          <div class="graph" data-url="<%= segment_population_generic_graphs_path %>"></div>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4>Events created in the last 30 days</h4>
          <div class="card__action">
            <%= link_to "Export CSV", events_created_generic_graphs_path(format: :csv) %>
          </div>
          <div class="graph" data-url="<%= events_created_generic_graphs_path %>"></div>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4>Messages sent in the last 30 days</h4>
          <div class="card__action">
            <%= link_to "Export CSV", messages_sent_generic_graphs_path(format: :csv) %>
          </div>
          <div class="graph" data-url="<%= messages_sent_generic_graphs_path %>"></div>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4># of employees over time</h4>
          <div class="card__action">
            <%= link_to "Export CSV", date_histogram_users_path(format: :csv) %>
          </div>
          <div class="graph" data-url="<%= date_histogram_users_path %>" data-date-histogram="true"></div>
        </div>
      </div>
    </div>

  </div>

</div>

<div class="content__header">
  <h1>Specific metrics dashboards</h1>
  <%= link_to "New dashboard", new_metrics_dashboard_path, class: "btn btn--primary" if policy(MetricsDashboard).new? %>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <% if @dashboards.empty? %>
        <p>You have not created any dashboards yet. <%= link_to "Create one", new_metrics_dashboard_path %> to start getting valuable insight on your team's diversity.</p>
      <% else %>
        <table class="table--has-border" id="users-table">
          <thead>
            <th>Title</th>
            <th># of graphs</th>
            <th># of targeted users</th>
            <th>Creation date</th>
            <th>Options</th>
          </thead>
          <tbody>
            <% @dashboards.each do |dashboard| %>
              <tr>
                <td><%= link_to dashboard.name, metrics_dashboard_path(dashboard) %></td>
                <td><%= dashboard.graphs.count %></td>
                <td><%= dashboard.target.count %></td>
                <td><%= dashboard.created_at.to_s :dateonly %></td>
                <td><%= link_to "Edit", edit_metrics_dashboard_path(dashboard) %> - <%= link_to "Delete", metrics_dashboard_path(dashboard), method: :delete, class: "error", data: { confirm: "Are you sure?" } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
