<div class="content__header">
  <h1>General</h1>
  <div class="flex-row flex-row--middle">
    <p class="no-margin flex-row__cell"><%= @metrics_dashboard.target.count %> users (<%= @metrics_dashboard.percentage_of_total %>% of total)</p>
    <div class="flex-row__cell">
      <div class="field__input-wrapper" style="width: 250px;">
        <span class="field__add-on field__add-on--right"><span class="icon icon--chevron-down"></span></span>
        <select class="field__input field__input--right-add-on" id="dashboard-select">
          <% current_user.enterprise.metrics_dashboards.each do |metrics_dashboard| %>
            <option value="<%= metrics_dashboard.id %>"<%= " selected disabled" if metrics_dashboard == @metrics_dashboard %>><%= metrics_dashboard.name %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="flex-row__cell">
      <%= link_to "New Dashboard", new_metrics_dashboard_path, class: "btn btn--secondary" %>
    </div>
    <div class="flex-row__cell">
      <%= link_to "New Graph", new_metrics_dashboard_graph_path(@metrics_dashboard), class: "btn btn--primary" %>
    </div>
  </div>
</div>

<div class="content__main">
  <div class="row row--equal-height">
    <% @graphs.each do |graph| %>
      <div class="col sm-12 md-6">
        <div class="card">
          <div class="card__section">
            <div class="card__action">
              <%= link_to "Edit", edit_graph_path(graph) %> -
              <%= link_to "Export CSV", export_csv_graph_path(graph) %> -
              <%= link_to "Remove", graph_path(graph), method: :delete, class: "error" %>
            </div>
            <h4 class="no-margin"><%= graph.title %></h4>
            <% if !graph.aggregation.nil? %><small><%= aggregation_text(graph) %></small><% end %>
            <div
              class="graph"
              data-url="<%= data_graph_path(graph) %>"
              data-time-series="<%= graph.time_series %>">
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('#dashboard-select').change(function() {
    location = "/metrics_dashboards/" + $(this).find(":selected").val();
  });
</script>
