<div class="col-xs-8">
  <div class="card">
    <div class="card__section">
      <h4>My Mentors</h4>
      <% if @mentorings.size > 0 %>
        <table
          class="table--has-border" id="mentors-table">
          <thead>
            <th>Name</th>
            <th>Email</th>
            <th></th>
          </thead>
          <tbody>
              <% @mentorings.each do |mentoring| %>
                <% mentor = mentoring.mentor %>
                <tr>
                    <td>
                      <%= active_link_to mentor.name, user_mentorship_path(:id => mentor.id) %>
                    </td>
                    <td><%= mentor.email %></td>
                    <td><%= link_to('Schedule Session', new_mentoring_session_path(:user_id => mentor.id)) %></td>
                    <td><%= link_to "End Menteeship", mentoring_path(mentoring.id), method: :delete, class: "error", data: { confirm: "Are you sure?" } %></td>
                </tr>
              <% end %>
          </tbody>
        </table>
      <% else %>
        <h4 class="text-center">You currently don't have any mentors. Find one below!</h4>
      <% end %>
    </div>
    
    <div class="card__section">
      <% if current_user.enterprise.users.enterprise_mentors(current_user.id).count > 0 %>
        <h4>Available Mentors</h4>
        <div class="card">
          <div class="card__section">
            <table
              class="table--has-border data-table"
              data-source="<%= mentorings_path(mentor: true, format: :json) %>">
              <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Mentoring Interests</th>
                <th>Request</th>
              </thead>
              <tbody></tbody>
            </table>
          
          </div>
        </div>

      <% else %>
        <h4 class="text-center">There are currently no mentors available for <%= current_user.enterprise.name %></h4>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).on('page:change', function() {
    $(document).off('page:change');

    $('#mentors-table').dataTable(Utility.mergeWithDTDefaults({
        order: [[2, "asc"]]
    }));
  });
</script>
