<div class="content__main">
  <div class="card">
    <div class="card__section">
      <h3 class="hidden-xs h2-styling">Aggregate Usage
        Stats <%= link_to('View Graph', users_usage_metric_metrics_users_path, target: '_blank') %></h3>
      <h2 class="visible-xs">Aggregate Usage
        Stats <br><%= link_to('View Graph', users_usage_metric_metrics_users_path, target: '_blank') %></h2>  
      <div class="card__action">
        <a href="#" id="usage_csv" data-url="<%= users_usage_metric_metrics_users_path(format: :csv) %>">Export CSV</a>
      </div>
      <% @fields.each do |fld| %>
        <div class="row">
          <div class="col md-12 sm-12">
            <br>
            <h3 class="h3-styling"><%= @aggregate_metrics[fld.to_sym][:name] %></h3>
          </div>
        </div>
        <div class="row">
          <div class="col md-3 sm-6 xs-12">
            <div class="panel panel--primary text-center margin-bottom-0">
              <div class="panel-headline"><p><strong>Total Number</strong></p></div>
              <div class="panel-data"><h4 class="h1-styling"><b class="accent"><%= @aggregate_metrics[fld.to_sym][:sum] %></b></h4></div>
            </div>
          </div>
          <div class="col md-3 sm-6 xs-12">
            <div class="panel panel--primary text-center margin-bottom-0">
              <div class="panel-headline"><p><strong>Maximum by User</strong></p></div>
              <div class="panel-data">
                <h4 class="h1-styling">
                  <b class="accent">
                    <%= link_to @aggregate_metrics[fld.to_sym][:max], show_usage_user_path(@aggregate_metrics[fld.to_sym][:max_user]) %>
                  </b>
                </h4>
              </div>
            </div>
          </div>
          <div class="col md-3 sm-6 xs-12">
            <div class="panel panel--primary text-center margin-bottom-0">
              <div class="panel-headline"><p><strong>Average per User</strong></p></div>
              <div class="panel-data"><h4 class="h1-styling"><b class="accent"><%= @aggregate_metrics[fld.to_sym][:mean] %></b></h4></div>
            </div>
          </div>
          <div class="col md-3 sm-6 xs-12">
            <div class="panel panel--primary text-center margin-bottom-0">
              <div class="panel-headline"><p><strong>Standard Deviation</strong></p></div>
              <div class="panel-data"><h4 class="h1-styling"><b class="accent"><%= @aggregate_metrics[fld.to_sym][:sd] %></b></h4></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="card">
  <div class="card__section">
    <div class="card__action">
      <a href="#" id="page_visitation_csv" data-url="<%= url_usage_data_metrics_users_path(format: :csv) %>">Export CSV</a>
    </div>

    <h3 class="h2-styling">Most Visited Pages</h3>
    <%= render 'url_table', source: url_usage_data_metrics_users_path(format: :json) %>
  </div>
</div>

<script>

    $(document).on('ready page:load', function () {
        $('#page_visitation_data').dataTable({
            "retrieve": true,
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": $('#page_visitation_data').data('source')
            },
            "pagingType": "full_numbers",
            "order": [[ 4, "desc" ]]
            // pagingType is optional, if you want full pagination controls.
            // Check dataTables documentation to learn more about
            // available options.
        });
    });

    $('#page_visitation_csv').click(function () {
        $.get($('#page_visitation_csv').data('url'), function(data) {
            Utility.displayFlash(data);
        }, "JSON");
    });

    $('#usage_csv').click(function () {
        $.get($('#usage_csv').data('url'), function(data) {
            Utility.displayFlash(data);
        }, "JSON");
    });

</script>
