<div class="content__main">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for [@group, @news_link] do |f| %>
        <%= f.input :url, label: "URL", input_html: { autofocus: true } %>
        <%= f.input :title %>
        <%= f.input :description, as: :ckeditor %>

        <%= f.simple_fields_for :photos do |p| %>
          <%= render "photo_fields", f: p %>
        <% end %>

        <span><%= link_to_add_association "Add a photo", f, :photos %></span>
        </br>
        </br>

        <%= f.simple_fields_for :news_feed_link, @news_link.news_feed_link do |nfl| %>
          <%= nfl.hidden_field :news_feed_id, :value => @group.news_feed.id %>
          <%= nfl.association :news_tags, input_html: { class: 'multiple-input', multiple: "multiple" }, collection: @news_link.news_feed_link.news_tags, label: "Tags" %>
          <%= nfl.association :segments, label: "#{c_t(:segment).pluralize}", collection: @group.enterprise.segments, input_html: { class: "select2-field-segments" } %>
          <% if @news_link.new_record? %> 
            <%= nfl.association :shared_news_feeds, label: 'Share with other ' + "#{c_t(:erg).pluralize}", label_method: lambda { |n| "#{n.group.name}" }, collection: NewsFeed.where(:group_id => @group.enterprise.groups.ids).where.not(:group_id => @group.id), input_html: { class: "select2" }, :value_method => :id %>
          <% elsif @news_link.persisted? && !@news_link.news_feed_link.pending? %>
            <%= nfl.association :shared_news_feeds, label: 'Share with other ' + "#{c_t(:erg).pluralize}", label_method: lambda { |n| "#{n.group.name}" }, collection: NewsFeed.where(:group_id => @group.enterprise.groups.ids).where.not(:group_id => @group.id), input_html: { class: "select2" }, :value_method => :id %>
          <% end %>
        <% end %>

        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>

<%= render partial: 'shared/select2_ajax_search.js.erb' %>

<script>
  var $url = $('#news_link_url'),
      $title = $('#news_link_title'),
      $description = $('#news_link_description'),
      timeoutHandle,
      hasTouchedTitleOrDescription = false;

  var autoFillInfo = function() {
    if (!hasTouchedTitleOrDescription) {
      $.get('/groups/news_links/url_info?url=' + $url.val(), function(data) {
        $title.val(data.title);
        $description.val(data.description);
      });
    }
  };

  $($title, $description).focus(function() {
    hasTouchedTitleOrDescription = true;
  });

  $url.keyup(function() {
    timeoutHandle = setTimeout(autoFillInfo, 200);
  });
</script>
