<div class="content__header">
  <h1>News</h1>
  <%= link_to "+ Create news link", new_group_news_link_path, class: "btn btn--primary" if policy(NewsLink).new? %>
</div>

<div class="content__main">
  <div class="card">
    <% if @news_links.empty? %>
      <div class="card__section">
        <p>No news have been published yet.</p>
      </div>
    <% else %>
      <% @news_links.each do |news_link| %>
        <div class="card__section card__section--border">
          <div class="row">
            <div class="col sm-1">
              <% if news_link.picture.exists? %>
                <%= image_tag news_link.picture.expiring_url(3600, :thumb), width: '100%' %>
              <% elsif news_link.author.present? %>
                <%= image_tag news_link.author.avatar.expiring_url(3600, :thumb), width: '100%' %>
              <% else %>
                <%= image_tag '/assets/missing_user.png', width: '100%' %>
              <% end %>
            </div>
            <div class="col sm-11">
              <div class="flex-row flex-row--middle">
                <div class="flex-row__cell flex-row__cell--grow">
                  <h4><%= news_link.title %></h4>
                  <p>
                    <%= news_link.description %>
                    <br>
                    <%= link_to news_link.url, news_link.url %>
                    <br>
                    <% if news_link.author.present? %>
                      <span class="muted">Posted by <%=  news_link.author.name %></span>
                    <% end %>
                    <br>
                    <%= link_to "Comments(#{news_link.comments.count})", comments_group_news_link_path(news_link.group,news_link)
                     %>
                  </p>
                </div>
                <% if policy(news_link).edit? %>
                  <div class="flex-row__cell link-group">
                    <%= link_to "Edit", edit_group_news_link_path(@group, news_link) %>
                    <%= link_to "Delete", group_news_link_path(@group, news_link), method: :delete, class: "error" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
