<h1>News</h1>

<% @news_links.each do |news_link| %>
  <div>
    <h3><%= news_link.title %> - <%= link_to "Remove", group_news_link_path(@group, news_link), method: :delete %></h3>
    <p><%= news_link.description %></p>
    <span><%= link_to news_link.url %></span>
  </div>
<% end %>

<%= link_to "+Create new", new_group_news_link_path %>