<div class="content__header">
  <h1><%= link_to @poll.title, @poll, class: "muted" %> / <%= @field.title %></h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <table class="table--has-border textfield-datatable">
        <thead style="display: none;">
          <th>Response</th>
        </thead>
        <tbody>
          <% @responses.order(created_at: :desc).each do |response| %>
            <tr>
              <% if response.user.present? %>
                <td><%= response.info[@field] %> - <em><%= response.user.name_with_status %>, <%= time_ago_in_words(response.created_at) %> ago</em></td>
              <% else %>
                <td>Deleted User</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $('.textfield-datatable').dataTable(Utility.mergeWithDTDefaults({
    lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    aaSorting: []
  }));
</script>
