<div class="content__main">
  <%= simple_form_for [@collection, @graph] do |f| %>
    <div class="card">
      <div class="card__section card__section--border">
        <%= f.association :field,
              label: "Choose the <strong>field</strong> that the graph will represent".html_safe,
              collection: f.object.collection.graphable_fields(current_user).map{ |field| [field.title, field.id, { class: "numeric-field-#{ field.numeric? }" }] },
              include_blank: false,
              input_html: { class: "graph-field", autofocus: true }
        %>
      </div>

      <div class="card__section card__section--border graph-aggregation-field">
        <%= f.association :aggregation,
              label: "Choose a field to <strong>aggregate</strong> the data on (optional)".html_safe,
              collection: f.object.collection.graphable_fields(current_user).reject{ |f| f.numeric? } %>
      </div>

      <div class="card__section card__section--border">
        <div class="segmented-control">
          <%= f.label :time_series,
                label: "Choose the <strong>type</strong> of graph you want to display".html_safe,
                class: "field__label" %>
          <a class="js-graph-type-button js-graph-type-stats segmented-control__item<%= " segmented-control__item--is-selected" if !f.object.time_series %>" data-value="false">Current values</a>
          <a class="js-graph-type-button js-graph-type-timeseries segmented-control__item<%= " segmented-control__item--is-selected" if f.object.time_series %>" data-value="true">Values over time</a>
          <%= f.input_field :time_series, as: :hidden %>
        </div>
      </div>

      <div class="card__section card__section--border js-date-range<%= " hidden" unless f.object.time_series %>">
        <p class="field__hint">Specify the graph's <strong>date range</strong></p>
        <%= f.input :range_from, label: "From" %>
        <%= f.input :range_to, label: "To" %>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>

<% content_for :page_scripts do %>
  <script>
    $('.segmented-control__item').click(function() {
      $(this).parent().find('.segmented-control__item').removeClass('segmented-control__item--is-selected');
      $(this).addClass('segmented-control__item--is-selected');
      $(this).parent().find('input').val($(this).data('value'));
    });

    $('.js-graph-type-button').click(function() {
      if ($(this).data('value')) {
        $('.js-date-range').removeClass('hidden');
      } else {
        $('.js-date-range').addClass('hidden');
      }
    });
  </script>
<% end %>
