<div class="content__header">
  <h1>Metrics</h1>
  <%= link_to "New Graph", new_graph_path, class: "btn btn--primary" %>
</div>

<div class="content__main">
  <div class="row row--equal-height">
      <% @graphs.each do |graph| %>
        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section card__section--border">
              <div class="card__action">
                <%= link_to "Edit", edit_graph_path(graph) %> -
                <%= link_to "Remove", graph_path(graph), method: :delete, class: "error" %>
              </div>
              <h4><%= graph.title %></h4>
              <div class="graph" data-graph-id="<%= graph.id %>"></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  var graphs = $('.graph').map(function() {
    return new Graph($(this).data('graph-id'), $(this));
  });
</script>