<div class="content__header">
  <h1><%= @topic.statement %></h1>
  Expires on <%= @topic.expiration.to_s :slashes %>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <h4>Starred Feedback</h4>
      <% @topic.feedbacks.where(featured: true).order(created_at: :desc).each do |feedback| %>
        <div class="flex-row">
          <div class="flex-row__cell flex-row__cell--grow">
            <%= feedback.content %><br>
            <small>Submitted by <%= feedback.employee.first_name %> <%= feedback.employee.last_name %> on <%= feedback.created_at.to_s :slashes %> at <%= feedback.created_at.to_s :time %></small>
          </div>
          <div class="flex-row__cell">
            <a href="#" data-topic-id="<%= @topic.id %>" data-feedback-id="<%= feedback.id %>" data-starred="<%= feedback.featured %>" class="star-button"><%= feedback.featured ? "Unstar" : "Star" %></a> <%= link_to "Delete", topic_topic_feedback_path(@topic, feedback), method: :delete, class: "error", data: { confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="card__section">
      <h4>Other Feedback</h4>
      <% @topic.feedbacks.where(featured: false).order(created_at: :desc).each do |feedback| %>
        <div class="flex-row">
          <div class="flex-row__cell flex-row__cell--grow">
            <%= feedback.content %><br>
            <small>Submitted by <%= feedback.employee.first_name %> <%= feedback.employee.last_name %> on <%= feedback.created_at.to_s :slashes %> at <%= feedback.created_at.to_s :time %></small>
          </div>
          <div class="flex-row__cell">
            <a href="#" data-topic-id="<%= @topic.id %>" data-feedback-id="<%= feedback.id %>" data-starred="<%= feedback.featured %>" class="star-button"><%= feedback.featured ? "Unstar" : "Star" %></a> <%= link_to "Delete", topic_topic_feedback_path(@topic, feedback), method: :delete, class: "error", data: { confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script>
  $('.star-button').click(function(e) {
    var feedbackId = $(this).data('feedback-id');
    var topicId = $(this).data('topic-id');
    var isStarred = !$(this).data('starred');
    $.ajax({
      url: '/topics/' + topicId + '/feedbacks/' + feedbackId,
      method: 'put',
      data: {
        topic_feedback: {
          featured: isStarred
        }
      }
    });
    var newText = $(this).text() == "Star" ? "Unstar" : "Star";
    $(this).text(newText);
    e.preventDefault();
    return false;
  });
</script>