<h1><%= @topic.statement %></h1>

<strong>Expires on <%= @topic.expiration.to_s :slashes %></strong>

<h2>Feedback</h2>

<h3>Starred</h3>

<% @topic.feedbacks.where(featured: true).order(created_at: :desc).each do |feedback| %>
  <div style="margin-bottom: 10px;">
    <%= feedback.content %><br>
    <strong>Submitted by <%= feedback.employee.first_name %> <%= feedback.employee.last_name %> on <%= feedback.created_at.to_s :slashes %> at <%= feedback.created_at.to_s :time %></strong><br>
    <a href="#" data-topic-id="<%= @topic.id %>" data-feedback-id="<%= feedback.id %>" data-starred="<%= feedback.featured %>" class="star-button"><%= feedback.featured ? "Unstar" : "Star" %></a> - <%= link_to "Delete", topic_topic_feedback_path(@topic, feedback), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>

<h3>Other</h3>

<% @topic.feedbacks.where(featured: false).order(created_at: :desc).each do |feedback| %>
  <div style="margin-bottom: 10px;">
    <%= feedback.content %><br>
    <strong>Submitted by <%= feedback.employee.first_name %> <%= feedback.employee.last_name %> on <%= feedback.created_at.to_s :slashes %> at <%= feedback.created_at.to_s :time %></strong><br>
    <a href="#" data-topic-id="<%= @topic.id %>" data-feedback-id="<%= feedback.id %>" data-starred="<%= feedback.featured %>" class="star-button"><%= feedback.featured ? "Unstar" : "Star" %></a> - <%= link_to "Delete", topic_topic_feedback_path(@topic, feedback), method: :delete, data: { confirm: "Are you sure?" } %>
  </div>
<% end %>

<script>
  $('.star-button').click(function(e) {
    var feedbackId = $(this).data('feedback-id');
    var topicId = $(this).data('topic-id');
    var isStarred = !$(this).data('starred');
    $.ajax({
      url: '/topics/' + topicId + '/feedbacks/' + feedbackId,
      method: 'put',
      data: {
        topic_feedback: {
          featured: isStarred
        }
      }
    });
    var newText = $(this).text() == "Star" ? "Unstar" : "Star";
    $(this).text(newText);
    e.preventDefault();
    return false;
  });
</script>