<div class="content__header">
  <h1>Segments</h1>
</div>

<div class="content__main">
  <div class="flex-row">
    <div class="flex-row__cell">
      <div class="card">
        <div class="card__section">
          <h1>Total <%= c_t(:segment).capitalize.pluralize %>: <%= @data[:segment_count] %></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__section">
      <div class="flex-row flex-row--middle">
        <div class="flex-row__cell flex-row__cell--grow">
          <h4><%= c_t(:segment).capitalize %> Population</h4>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <%= link_to "Export CSV", growth_of_employees_generic_graphs_path(format: :csv), class: "hidden-xs" %>
          </div>
          <div id="users_per_group" class="graph" data-url="<%= segment_population_metrics_segments_path %>">
            <svg></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
