<div class="content__main">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for [@group, @account] do |f| %>
        <% if @account.errors.any? %>
          <% @account.errors.full_messages.find_all do |msg| %>
            <div class='alert alert-danger'><%= msg %></div>
          <% end %>
        <% end %>
        <%= f.input :name, input_html: { autofocus: true } %>
        <%= f.input :account %>
        <%= f.button :submit, 'Follow User' %>
        <%= link_to "Cancel", group_twitter_accounts_path, {:class=>"btn btn-secondary"} %>
      <% end %>
    </div>
  </div>
</div>
