<h1>Twitter Accounts Following</h1>

<div class="flex-row flex-row--middle">
  <div class="flex-row__cell">
    <%= link_to "+ Add Account",
                new_group_twitter_account_path,
                class: "btn btn-primary"
    %>
    <%= link_to "Un-follow All", delete_all_group_twitter_accounts_path,
                :method => :get,
                data: {confirm: 'Are you sure'},
                class: "btn btn-danger" %>
    <%= link_to "Back To News Feed", group_posts_path,
                class: "btn btn-secondary" %>
  </div>
</div>

<div class="container">
  <% account_lists = @accounts.in_groups_of(2) %>
  <% account_lists.find_all do |account_list| %>
    <div class="row">
      <% account_list.find_all do |account| %>
        <div class="col-lg-6 col-sm-12">
          <div class="content__main">
            <% if account %>
              <div class='well'>

                <h2><%= account.name %></h2>
                <h3>@<%= account.account %></h3>

                <% twt = TwitterClient.get_tweets(account.account).first %>

                <% if twt %>
                  <% twt_embedded = TwitterClient.get_html(twt.id) %>
                  <%= raw(twt_embedded) %>
                <% end %>

                <%= link_to "See More Tweets From #{account.name}",
                            group_twitter_account_path(@group, account),
                            class: "btn btn-sm btn-primary btn-block"
                %>

                <%= link_to "Edit #{account.name}'s Information",
                            edit_group_twitter_account_path(@group, account),
                            class: "btn btn-sm btn-primary btn-block"
                %>

                <%= link_to "Un-follow #{account.name}",
                            group_twitter_account_path(@group, account),
                            method: :delete,
                            data: {confirm: 'Are you sure'},
                            class: "btn btn-sm btn-danger btn-block"
                %>
                </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

