<%= link_to "Edit #{@account.name}'s Information",
            edit_group_twitter_account_path(@group, @account),
            class: "btn btn-sm btn-primary"
%>
<%= link_to 'Back To Account List',
            group_twitter_accounts_path(@group),
            class: "btn btn-sm btn-secondary"
%>
<%= link_to "Un-follow #{@account.name}",
            group_twitter_account_path(@group, @account),
            method: :delete,
            data: {confirm: 'Are you sure'},
            class: "btn btn-sm btn-danger"
%>


<h1><%= @account.name %>'s Tweets</h1>
<h3>@<%= @account.account %></h3>
<% tweet_lists = TwitterClient.get_tweets(@account.account).in_groups_of(2) %>
<div class="container">
  <% tweet_lists.find_all do |tweet_list| %>
    <div class="row">
      <% tweet_list.find_all do |twt| %>
        <div class="col-lg-6 col-sm-12">
          <div class="content__main">
            <% if twt %>
              <div class='well'>
                <% twt_embedded = TwitterClient.get_html(twt.id) %>
                <%= twt_embedded.html_safe %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>