<div class="content__header">
  <h1>
    <%= link_to "My Scrums", employee_campaigns_path %> /
    <%= @campaign.title %>
  </h1>
</div>

<div class="content__main">
  <p class="block"><%= @campaign.description %></p>
  <div class="card">
    <% @questions.each do |question| %>
      <%= link_to employee_question_path(question), class: "block block-section" do %>
        <div class="card__section card__section--border">
          <div class="flex-row flex-row--middle">
            <div class="flex-row__cell flex-row__cell--grow">
              <h2><%= question.title %></h2>
              <p><%= question.description %></p>
            </div>
            <div class="flex-row__cell">
              <span class="icon icon--chevron-right"></span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>