<div class="content__main">
  <%= simple_form_for @badge do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <%= f.input :label,
              input_html: { autofocus: true },
              label: "Choose a <strong>title</strong> for #{ c_t(:badge) }.".html_safe %>
      </div>

      <div class="card__section card__section--border">
        <%= f.input :points,
              label: "How many <strong>points</strong> are necessary to receive this #{ c_t(:badge) }?".html_safe %>
      </div>

      <div class="card__section card__section--border">
        <%= f.input :image,
              as: :attachment_preview,
              label: "Choose a <strong>picture</strong> for #{ c_t(:badge) }.".html_safe %>
      </div>
    </div>

    <%= f.button :submit, "Save #{ c_t(:badge) }" %>
  <% end %>
</div>
