<div class="content__header">
  <h1><%= @group.name%> budgets</h1>
  <div class="flex-row">
    <div class="flex-row__cell">
      <%= link_to "Export CSV", export_csv_group_budgets_path, class: "btn btn--secondary hidden-xs", role: "button", 'aria-label': "Export CSV"  if GroupBudgetPolicy.new(current_user, [@group]).create? %>
    </div>
    <% @annual_budget = current_user.enterprise.annual_budgets.find_by(id: params[:annual_budget_id]) %>
    <% unless @annual_budget.closed? %>
      <div class="flex-row__cell">
        <%= link_to "New Budget Request", new_group_budget_path(@group, annual_budget_id: params[:annual_budget_id]), class: "btn btn--primary" if GroupBudgetPolicy.new(current_user, [@group]).create? %>
      </div>
    <% end %>  
  </div>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <% if @budgets.any? %>
        <table class="table--has-border">
          <thead>
            <th>Requested amount</th>
            <th>Available amount</th>
            <th>Status</th>
            <th>Requested at</th>
            <th># of events</th>
            <th>Description</th>
            <th></th>
          </thead>
          <tbody>
            <% @budgets.each do |budget| %>
              <tr>
                <td>
                  <%= number_to_currency budget.requested_amount %>
                </td>
                <td>
                  <%= number_to_currency(budget.available_amount) %>
                </td>
                <td><%= budget.status_title + " by " + approver_name(budget) %></td>
                <td><%= budget.created_at.to_s :reversed_slashes %></td>
                <td><%= budget.budget_items.size %></td>
                <td><%= budget.description %></td>
                <th><%= link_to 'Details', group_budget_path(@group, budget, annual_budget_id: params[:annual_budget_id]) %></th>
                <th><%= link_to "Delete", group_budget_path(@group, budget, annual_budget_id: params[:annual_budget_id]), method: :delete, class: 'error', data: { confirm: "Are you sure?" } if GroupBudgetPolicy.new(current_user, [@group, budget]).destroy? %></th>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No budgets have been created yet.</p>
      <% end %>
    </div>
  </div>
</div>
