<div class="content__header">
  <h1>Budget details</h1>
</div>

<div class="content__main">
    <div class="card">
      <div class="card__section card__section--border">
        Edit and approve budget
      </div>
    </div>
  <%= simple_form_for @budget, url: group_budget_approve_path(@group, @budget), method: :post do |f| %>
    <div class="card">
      <div class="card__section">
        <%= f.input :description, input_html: { autofocus: true } %>
      </div>
    </div>
    <div class="card">
      <div class="card__section card__section--border">
        <p>You can specify list of <strong>events</strong> you plan to organize with this budget (optional).</p>
      </div>
      <div id="fields">
        <%= f.simple_fields_for :budget_items do |item_form| %>
          <%= render 'budgets/item', f: item_form %>
        <% end %>
      </div>

      <div class="link">
        <div class="card__section card__section--border">
          <%= link_to_add_association "+Add Event", f, :budget_items, partial: 'budgets/item' %>
        </div>
      </div>
    </div>
    <% if @budget.is_approved == false %>
    <div class="card">
      <div class="card__section card__section--border">
        <b>This request was declined by <%= approver_name(@budget) %> for the following reason: </b>
        <% if @budget.decline_reason.blank? %>
        No Reason Provided
        <% else %>
        <i><%= @budget.decline_reason %></i>
        <% end %>
      </div>
    </div>
    <% end %>
    <% if @budget.is_approved.nil? %>
    <div class="row">
      <% if policy(@budget).approve? %>
        <div class="col">
          <%= f.button :submit, 'Approve Budget' %>
        </div>
        <% #bTODO check if vulnerabilities %>
      <% end %>
      <% if policy(@budget).decline? %>
        <div class="col pull-right">
          <button type="button" class="btn btn--secondary" onclick='declineBudget()'>Decline Budget</button>
        </div>
        <div class="col pull-right form-inline">
          <div class="form-group">
            <%= f.input :decline_reason, label: false, placeholder: 'Reason (optional)', class: 'form-control', input_html: { id: 'decline_reason_input' } %>
          </div>
        </div>
      <% end %>
    </div>
    <% end %>
    </div>
  <% end %>
</div>

<script>
function declineBudget()
{
  $.ajax({
    type: 'POST',
    url: "<%= group_budget_decline_path(@group.id, @budget.id) %>",
    data: { decline_reason: $('#decline_reason_input').val() }
  }).done(function() {
    window.location.href = "<%= group_budget_path(@group.id, @budget.id) %>";
  });
}
</script>
