<div class="content__header">
  <h1>Budget details</h1>
</div>

<div class="content__main">
    <div class="card">
      <div class="card__section card__section--border">
        Edit and approve budget
      </div>
    </div>
  <%= simple_form_for @budget, url: group_budget_approve_path(@group, @budget), method: :post do |f| %>
    <div class="card">
      <div class="card__section">
        <%= f.input :description, input_html: { autofocus: true } %>
      </div>
    </div>
    <div class="card">
      <div class="card__section card__section--border">
        <p>You can specify list of <strong>events</strong> you plan to organize with this budget (optional).</p>
      </div>
      <div id="fields">
        <%= f.simple_fields_for :budget_items do |item_form| %>
          <%= render 'budgets/item', f: item_form %>
        <% end %>
      </div>

      <div class="link">
        <div class="card__section card__section--border">
          <%= link_to_add_association "+Add Event", f, :budget_items, partial: 'budgets/item' %>
        </div>
      </div>
      <% if policy(@budget).approve? && policy(@budget).decline? %>
        <div class="card">
          <div class="card__section">
            <%= f.input :comments %>
          </div>
        </div>
      <% else %>
        <div class="card">
          <div class="card__section card__section--border">
            Comments
          </div>
          <div class="card__section">
            <% if @budget.comments.present? && @budget.comments.length > 0 %>
              <%= @budget.comments %>  
            <% else %>
              No comments left
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <% if @budget.is_approved.nil? %>
      <% if policy(@budget).approve? %>
        <%= f.button :submit, 'Approve Budget' %>
        <% #bTODO check if vulnerabilities %>
      <% end %>
      <% if policy(@budget).decline? %>
        <%= f.button :submit, 'Decline Budget', formaction: group_budget_decline_path(@group, @budget) %>
      <% end %>
    <% end %>
    </div>
  <% end %>
</div>
