<div class="content__header">
  <h1>Budget details</h1>
</div>

<div class="content__main">
  <% if (GroupBudgetPolicy.new(current_user, [@group, @budget]).approve? || GroupBudgetPolicy.new(current_user, [@group, @budget]).decline?) && @budget.is_approved.nil? %>
  <div class="card">
    <div class="card__section card__section--border">
      Manage Budget Request
    </div>
  </div>
  <% end %>
  <div class="card">
    <div class="card__section card__section--border">
      <strong>Description</strong><br />
      <div class="border-accent" style="margin-top: 8px;">
        <p>
          <%= @budget.description %>
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__section padding-bottom-0">
      <strong>Events</strong>
    </div>
    <% if @budget.budget_items.empty? %>
      <div class="card__section">
        <br />
        <p>This budget request has no events.</p>
      </div>
    <% else %>
      <div class="card__section card__section--border padding-top-0">
        <table class="table--has-border">
          <thead>
            <th></th>
            <th>Title</th>
            <th>Requested Amount</th>
            <th>Date</th>
            <th>Private</th>
          </thead>
          <tbody>
            <% @budget.budget_items.each do |budget_item| %>
              <tr>
                <td>
                  <% if budget_item.is_done %>
                    <span class="error">Used</span>
                  <% else %>
                    <span class="positive">Available</span>
                  <% end %>
                </td>
                <td>
                  <%= budget_item.title %>
                </Td>
                <td>
                  <%= number_to_currency budget_item.estimated_amount %>
                </td>
                <td>
                  <%= budget_item.estimated_date %>
                </td>
                <td>
                  <%= boolean_to_yes_no budget_item.is_private %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>

  <%= simple_form_for @budget, url: group_budget_approve_path(@group, @budget), method: :post do |f| %>
    <% if @budget.is_approved.nil? %>
      <div class="card">
        <div class="hidden card__section" id="decline_reason_input_wrapper" style="position: relative">
          <%= f.input :decline_reason, label: 'Reason for declining budget request (Optional)', input_html: { id: 'decline_reason_input', class: 'form-control', width: '250px' } %>
          <button type="button" class="close" aria-label="Close" onclick="closeReason()" style="position: absolute; right: 16px; top: 8px;">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="row">
        <% if GroupBudgetPolicy.new(current_user, [@group, @budget]).approve? %>
          <div class="col">
            <%= f.hidden_field :annual_budget_id, value: @annual_budget_id %>
            <%= f.button :submit, 'Approve Budget' %>
          </div>
          <% #bTODO check if vulnerabilities %>
        <% end %>
        <% if GroupBudgetPolicy.new(current_user, [@group, @budget]).decline? %>
          <div class="col btn-padding" id="decline_wrapper">
            <button type="button" class="accent" id="decline_button" onclick='declineClicked()'>Decline Budget</button>
          </div>
        <% end %>
      </div>
    <% end %>
    <% if @budget.is_approved == false %>
      <div class="card">
        <div class="card__section card__section--border">
          <strong>Reason why this request was declined</strong><br />
          <div class="border-accent" style="margin-top: 8px;">
            <% if @budget.decline_reason.blank? %>
              No Reason Provided
            <% else %>
              <i><%= @budget.decline_reason %></i>
            <% end %>
          </div>
        </div>
        <% if GroupBudgetPolicy.new(current_user, [@group, @budget]).approve? && GroupBudgetPolicy.new(current_user, [@group, @budget]).decline? %>
          <div class="card">
            <div class="card__section">
              <%= f.input :comments %>
            </div>
            <div class="col">
              <%= f.button :submit, 'Add Comment' %>
            </div>
          </div>
        <% else %>
          <div class="card">
            <div class="card__section card__section--border">
              Comments
            </div>
            <div class="card__section">
              <% if @budget.comments.present? && @budget.comments.length > 0 %>
                <%= @budget.comments %>  
              <% else %>
                No comments left
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<script>
var verify = false;

function declineClicked()
{
  if (!verify) {
    verify = true;
    $('#decline_reason_input_wrapper').removeClass('hidden');
    $('#decline_button').addClass('btn btn--primary');
    $('#decline_wrapper').removeClass('btn-padding');
    $('#decline_reason_input').focus();
  } else {
    declineBudget();
  }
}

function closeReason()
{
  if (verify) {
    verify = false;
    $('#decline_reason_input_wrapper').addClass('hidden');
    $('#decline_button').removeClass('btn btn--primary');
    $('#decline_wrapper').addClass('btn-padding');
  }
}

function declineBudget()
{
  $.ajax({
    type: 'POST',
    url: "<%= group_budget_decline_path(@group.id, @budget.id) %>",
    data: { decline_reason: $('#decline_reason_input').val() }
  }).done(function() {
    window.location.href = "<%= group_budget_path(@group.id, @budget.id) %>";
  });
}
</script>