<div class="content__header">
  <h1>
    <span class="muted">
      <%= @group.name %> /
      <%= @initiative.name %> /
    </span>
    Updates
  </h1>
  <%= link_to "New Update", new_group_initiative_update_path(@group, @initiative), class: "btn btn--primary" if InitiativeUpdatePolicy.new(current_user, InitiativeUpdate).new? %>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <% if @updates.empty? %>
        <p>There are no updates yet. <%= link_to "Create one", new_group_initiative_update_path(@group, @initiative) %> to track your initiative's progress.</p>
      <% else %>
        <table class="table--has-border" id="updates-table">
          <thead>
            <th>Date</th>
            <th>Options</th>
          </thead>
          <tbody>
            <% @updates.each do |update| %>
              <tr>
                <td><%= link_to update.reported_for_date.to_s(:reversed_slashes), group_initiative_update_path(@group, @initiative, update) %></td>
                <td><%= link_to "Edit", edit_group_initiative_update_path(@group, @initiative, update) if InitiativeUpdatePolicy.new(current_user, update).edit? %> - <%= link_to "Delete", group_initiative_update_path(@group, @initiative, update), method: :delete, class: "error", data: { confirm: "Are you sure?" } if InitiativeUpdatePolicy.new(current_user, update).destroy? %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>