<div class="content__header">
  <h1>Mentorship</h1>
</div>

<div class="content__main">
  <div class="flex-row">
    <div class="flex-row__cell">
      <div class="card">
        <div class="card__section">
          <h1>Mentoring sessions in the past month: <%= @data[:past_mentoring_sessions] %></h1>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__section">
      <div class="flex-row flex-row--middle">
        <div class="flex-row__cell flex-row__cell--grow">
          <h4>User mentorship interest per <%= c_t(:erg) %></h4>
          <div class="card__action">
            <%= link_to "Export CSV", growth_of_employees_generic_graphs_path(format: :csv), class: "hidden-xs" %>
          </div>
          <div id="user_mentorship_interest" class="graph" data-url="<%= user_mentorship_interest_per_group_metrics_mentorship_path %>">
            <svg></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__section">
      <div class="flex-row flex-row--middle">
        <div class="flex-row__cell flex-row__cell--grow">
          <h4>Mentoring Sessions per creator</h4>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <%= link_to "Export CSV", growth_of_employees_generic_graphs_path(format: :csv), class: "hidden-xs" %>
          </div>
          <div id="mentoring_sessions_per_creator" class="graph" data-url="<%= mentoring_sessions_per_creator_metrics_mentorship_path %>">
            <svg></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__section">
      <div class="flex-row flex-row--middle">
        <div class="flex-row__cell flex-row__cell--grow">
          <h4>Mentoring Sessions per creator</h4>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <%= link_to "Export CSV", growth_of_employees_generic_graphs_path(format: :csv), class: "hidden-xs" %>
          </div>
          <div id="mentoring_interests" class="graph" data-url="<%= mentoring_interests_metrics_mentorship_path %>">
            <svg></svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
