<div class="content__header">
  <img class="logo logo--large" src="<%= (current_user.enterprise.theme.nil? ? image_path('diverst-logo.svg') : current_user.enterprise.theme.logo.url) %>">
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <h2><%= @poll.title %></h2>
      <p><%= @poll.description %></p>
    </div>
  </div>
  <div class="card">
    <div class="card__section">
      <%= simple_form_for [@poll, @response] do |f| %>
        <% @poll.fields.each do |cf| %>
          <%= render "shared/fields/display/custom_field", cf: cf, f: f, resource: current_user %>
        <% end %>

        <%= f.button :submit, class: 'btn--secondary btn--large btn--full', value: "Submit response" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('.select2').select2();
</script>