<div class="content__header">
  <img class="logo logo--large" src="<%=
    ((current_user.enterprise.theme.nil? || current_user.enterprise.theme.logo_file_name.nil?) ?
       image_path('diverst-logo.svg') : current_user.enterprise.theme.logo.expiring_url(3600))
  %>">
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <h2><%= @poll.title %></h2>
      <p><%= @poll.description %></p>
    </div>
  </div>
  <div class="card">
    <div class="card__section">
      <%= simple_form_for [@poll, @response] do |f| %>
        <% @poll.fields.each do |cf| %>
          <%= render "shared/fields/display/custom_field", cf: cf, f: f, resource: current_user %>
        <% end %>

        <%= f.hidden_field :anonymous, value: 0 %>
        <%= f.input :anonymous, label: "I want to remain anonymous" %>

        <%= f.button :submit, class: 'btn--secondary btn--large btn--full', value: "Submit response" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('input[type=checkbox]').change(function(e){
    if ($('input[type=checkbox]:checked').length > 1) {
      
      var first = $('input[type=checkbox][id=' + $(this).attr('id') + ']:checked')[0];
      
      $('input[type=checkbox][id=' + first.id + ']:checked').prop('checked', false);
      
      $(this).prop('checked', true);
    }
  })
</script>