<div class="content__main">
  <div class="content__header">
    <h1>Actions</h1>
  </div>
  You need to specify how much <strong>points</strong> users will receive on each action

  <%= simple_form_for @enterprise, :url => reward_actions_path, method: :patch do |f| %>
    <div class="card">
      <div class="card__section">
        <%= f.simple_fields_for :reward_actions do |r| %>
          <%= r.input :points, label: r.object.label, input_html: { placeholder: "100 points" } %>
        <% end %>

        <%= f.button :submit, "Save actions" %>
      </div>
    </div>
  <% end %>
</div>

<div class="content__main">
  <div class="content__header">
    <h1>Prizes</h1>
    <%= link_to "New prize", new_reward_path, class: "btn btn--primary" %>
  </div>
  <div class="card">
    <div class="card__section">
      <% if @rewards.empty? %>
        <p>There are no prizes yet. <%= link_to "Create one", new_reward_path %>.</p>
      <% else %>
        <table class="table--has-border">
          <thead>
            <th></th>
            <th>Label</th>
            <th>Points</th>
            <th>Responsible</th>
            <th>Options</th>
          </thead>
          <tbody>
            <% @rewards.each do |reward| %>
              <tr>
                <td class="icon-column">
                  <a href="<%= reward.picture.expiring_url(3600) %>" class="icon icon--bg icon--large" style="background-image: url(<%= reward.picture.expiring_url(3600) %>)"></a>
                </td>
                <td><%= reward.label %></td>
                <td><%= reward.points %></td>
                <td><%= reward.responsible.name %></td>
                <td>
                  <%= link_to "Edit", edit_reward_path(reward) %> -
                  <%= link_to "Delete", reward_path(reward), method: :delete, class: "error", data: { confirm: "Are you sure?" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
