<div class="nested-fields card__section card__section--border">
  <div class="card__action">
    <%= link_to_remove_association "Remove", f, class: "error" %>
    x
  </div>

  <label class="field__label">
    <%= label = "#{ inline_svg('icons/move.svg', class: 'icon') }".html_safe %>
    <%= f.label :user, label: 'Select user', required: true %>
  </label>
  <div class="custom-user-select">
    <%= f.association :user,
          as: :select,
          input_html: { class: "select2", autofocus: true },
          selected: [],
          label: false
    %>
  </div>
  
  <div class="custom-position-field">
    <%= f.input :position_name, input_html: { class: "sortable-focus" } %>
  </div>
  <%= f.input :user_role_id, :collection => current_user.enterprise.user_roles.group_type, :label_method => :role_name, :value_method => :id, :label => "Group Role" ,:include_blank => false %>

  <%= f.hidden_field :visible, value: 0 %>

  <div class="show-leader-field">
    <%= f.input :visible, label: "Show as leader" %>
  </div>
  <%= f.hidden_field :pending_member_notifications_enabled, value: 0 %>

  <div class="daily-notification-pending-members">
    <%= f.input :pending_member_notifications_enabled, label: "Receive daily notifications about pending members" %>
  </div>
  <%= f.hidden_field :pending_comments_notifications_enabled, value: 0 %>

  <div class="daily-notification-pending-comments">
    <%= f.input :pending_comments_notifications_enabled, label: "Receive daily notifications about pending comments" %>
  </div>

  <%= f.hidden_field :pending_posts_notifications_enabled, value: 0 %>

  <div class="daily-notification-pending-posts">
    <%= f.input :pending_posts_notifications_enabled, label: "Receive daily notifications about pending posts" %>
  </div>
  <%= f.hidden_field :default_group_contact, value: 0 %>

  <div class="group-contact-field">
    <%= f.input :default_group_contact, label: "set email as contact of group" %>
  </div>
</div>


<script>
$(document).ready(function(){
    $('.select2').select2(
    {
    ajax: {
      url: "<%= users_path(user_groups: {accepted_member: 1}, :limit => 10, format: :json) %>",
      theme: 'bootstrap',
      allowClear: true,
      type: "GET",
      dataType: "json",
      minimumInputLength: 3,
      multiple:true,
      delay: 1000,
      data: function (params) {
        var query = {
          search: {
            value: params.term
          }
        }
  
        // Query parameters will be ?search=[term]&type=public
        return query;
      },
      processResults: function (data) {
        var int = 1;
        
        // Tranforms the top-level key of the response object from 'items' to 'results'
        return {
          results: $.map(data.data, function(item){
            return {id: item[0], text: item[1] + " " + item[2] + " - " + item[3] } } )
        };
      },
      templateSelection: function(item) {
        return item[0]
      }
    }
  });
});
</script>
