<div class="content__header">
  <h1>Group Leaders</h1>
  <% if GroupLeaderPolicy.new(current_user, [@group]).create? %>
    <%= link_to "Manage leaders", new_group_leader_path(@group), class: "btn btn--primary" %>
  <% end %>
</div>

<div class="content__main">
  <div class="card">
    <% if @group_leaders.empty? %>
      <div class="card__section">
        <p>No leaders yet.</p>
      </div>
    <% else %>
      <div class="card__section">
        <% if @group_leaders.any? %>
          <table class="table--has-border" id="group-leaders">
            <thead>
              <th></th>
              <th>Name</th>
              <th>Position</th>
              <th>Receive daily notifications about pending members</th>
              <th>Receive daily notifications about pending comments</th>
              <th>Receive daily notifications about pending posts</th>
            </thead>
            <tbody>
              <% @group_leaders.each do |group_leader| %>
                <tr>
                  <td><%= link_to image_tag(group_leader.user.avatar.expiring_url(3600), class: "avatar avatar--round", style: "float: left; margin-right: 1em;"), user_path(group_leader.user), remote: true %></td>
                  <td><%= link_to group_leader.user.name_with_status, user_path(group_leader.user) %></td>
                  <td><%= group_leader.position_name %></td>
                  <td><%= GroupLeaderDecorator.decorate(group_leader).enabled_status(group_leader.pending_member_notifications_enabled) %></td>
                  <td><%= GroupLeaderDecorator.decorate(group_leader).enabled_status(group_leader.pending_comments_notifications_enabled) %></td>
                  <td><%= GroupLeaderDecorator.decorate(group_leader).enabled_status(group_leader.pending_posts_notifications_enabled) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p>No leaders yet.</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<%= render "shared/modal/form" %>