<div class="content__main">
  <div class="card">
    <%= simple_form_for @group do |f| %>
      <div class="card__section card__section--border">
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :logo, as: :file %>
        <%= f.association :members, input_html: { class: "select2" } %>
        <%= f.input :send_invitations %>
        <%= f.association :invitation_segments, input_html: { class: "select2" }, wrapper_html: { style: "display: none;" } %>
      </div>
      <div class="card__section card__section--border">
        <%= f.input :yammer_create_group %>
        <%= f.button :submit %>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('.select2').select2();


  $sendInvitations = $('#group_send_invitations');
  $invitationSegments = $('.group_invitation_segments');

  $sendInvitations.change(function() {
    if ($(this).is(":checked")) {
      $invitationSegments.css('display', 'block');
      $('.select2').select2();
    }
    else {
      $invitationSegments.css('display', 'none');
    }
  });
</script>