<div class="content__main">
  <%= simple_form_for @group do |f| %>
    <div class="card">
      <div class="card__section card__section--border">
        <%= f.input :name, input_html: { autofocus: true } %>
        <%= f.input :short_description %>
        <%= f.input :description %>
        <%= f.hidden_field :private, value: 0 %>
        <%= f.input :private, label: 'Set as private' %>
        <%= f.input :logo, as: :attachment_preview %>
        <%= f.association :invitation_segments, collection: @group.enterprise.segments, input_html: { class: "select2-field-segments"}, wrapper_html: { style: "display: none;" } %>
      </div>

      <div class="card__section card__section--border">
        <%= f.input :home_message,
            label: "Additional message board for home page",
            as: :ckeditor
        %>
      </div>

      <div class="card__section card__section--border">
        <%= f.association :parent,
              collection: @available_groups,
              input_html: { class: "select2-field-groups" },
              :include_blank => "None",
              label: "#{c_t(:parent).titleize}-#{ c_t(:erg).titleize}" %>
      </div>

      <div class="card__section card__section--border">
        <%= f.association :group_category,
             collection: @categories,
             :include_blank => "None" %>
      </div>
      <div class="card__section card__section--border">
        <%= f.association :children,
              collection: @available_groups,
              input_html: { class: "select2-field-groups" },
              label: "Sub-#{ c_t(:erg).titleize.pluralize}" %>
      </div>

      <% if !@group.enterprise.yammer_token.nil? %>
        <div class="card__section card__section--border">
          <h3>Yammer</h3>

          <div class="flex-row flex-row--middle mb10">
            <div class="flex-row__cell">
              <%= f.hidden_field :yammer_create_group, value: 0 %>
              <%= f.input :yammer_create_group, label: false %>
            </div>
            <%= f.label :yammer_create_group do %>
              <div class="flex-row__cell">
                <strong>Create Yammer group</strong>
                <p>Creates a matching group for this <%= c_t(:erg) %> in Yammer.</p>
              </div>
            <% end %>
          </div>

          <div class="flex-row flex-row--middle">
            <div class="flex-row__cell">
              <%= f.hidden_field :yammer_sync_users, value: 0 %>
              <%= f.input :yammer_sync_users, label: false %>
            </div>
            <%= f.label :yammer_sync_users do %>
              <div class="flex-row__cell">
                <strong>User sync</strong>
                <p>Automatically adds users to this <%= c_t(:erg) %>'s Yammer group as they join it in Diverst.</p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <%= f.button :submit %>

  <% end %>
</div>

<%= render partial: 'shared/select2_ajax_search.js.erb' %>

<script>
  $sendInvitations = $('#group_send_invitations');
  $invitationSegments = $('.group_invitation_segments');

  $sendInvitations.change(function() {
    if ($(this).is(":checked")) {
      $invitationSegments.css('display', 'block');
      $('#group_invitation_segment_ids').select2();
    }
    else {
      $invitationSegments.css('display', 'none');
    }
  });
</script>
