<div class="content__header">
  <h1><%= @group.name%> budgets</h1>
  <%= link_to "New Budget Request", request_budget_group_path(@group), class: "btn btn--primary" if policy(@group).request_budget? %>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <% if @group.budgets.any? %>
        <table class="table--has-border">
          <thead>
            <th>Requested amount</th>
            <th>Available amount</th>
            <th>Status</th>
            <th>Requested at</th>
            <th># of events</th>
            <th>Description</th>
            <th></th>
          </thead>
          <tbody>
            <% @group.budgets.each do |budget| %>
              <tr>
                <td>
                  <%= number_to_currency budget.requested_amount %>
                </td>
                <td>
                  <%= number_to_currency(budget.available_amount) %>
                </td>
                <td><%= budget.status_title %></td>
                <td><%= budget.created_at.to_s :reversed_slashes %></td>
                <td><%= budget.budget_items.count %></td>
                <td><%= budget.description %></td>
                <th><%= link_to 'Details', view_budget_group_path(budget_id: budget.id) %></th>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No budgets have been created yet.</p>
      <% end %>
    </div>
  </div>
</div>