<div class="content__main">
  <%= search_form_for @q, url: calendar_groups_path, builder: SimpleForm::FormBuilder do |f| %>
    <div class="card">
      <div class="card__section">
        <div class="row">
          <div class="card__action">
            <a
              href="#"
              class="calendar-filters-visibility"
              data-show-text="Show filters"
              data-hide-text="Hide filters"
            >
                Hide filters
            </a>
          </div>
        </div>
      </div>
      <div class="card__section card__section--border calendar-filters">
        <div class="row">
          <div class="col sm-6">
            <%= f.label "Start date", required: false %>
            <%= f.input :start_gteq, as: :date_picker, label: false %>
          </div>
          <div class="col sm-6">
            <%= f.label "End date", required: false %>
            <%= f.input :end_lteq, as: :date_picker, label: false %>
          </div>
        </div>
      </div>

      <div class="card__section card__section--border calendar-filters">
        <div class="row">
          <div class="col sm-6">
            <%= f.label "Participating groups", required: false %>
            <%= f.input :initiative_participating_groups_group_id_in,
                  as: :select,
                  collection: @groups,
                  input_html: { class: "select2", multiple: true },
                  label: false
            %>
          </div>
          <div class="col sm-6">
            <%= f.label "Segments to filter", required: false %>
            <%= f.input :initiative_segments_segment_id_in,
                  as: :select,
                  collection: @segments,
                  input_html: { class: "select2", multiple: true },
                  label: false
            %>
          </div>
        </div>
      </div>
    </div>

    <div class="calendar-filters">
      <%= f.button :submit, value: "Filter" %>
    </div>
  <% end %>
</div>

<br/>

<div id="calendar" data-calendar-data-url="<%= calendar_data_groups_path(params) %>"></div>
