<div class="content__header">
  <h1>Close Budgets</h1>
</div>

<div class="content__main">
  <div class="card">
    <% @groups.each do |group| %>
      <%= simple_form_for group, url: update_annual_budget_group_budgets_path(group_id: group.id), method: 'post', wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
        <div class="card">
          <div class="card__section card__section--border">
            <div class="row">
              
              <div class="col-xs-1">
                <% if group.children.count > 0 %>
                  <a href="#" class="nested_plus" id="<%= group.id%>">
                    <%= inline_svg('icons/plus.svg', size: '25px*25px') %>
                  </a>
                  <a href="#" class="nested_minus" id="<%= group.id%>" style="display:none;">
                    <%= inline_svg('icons/minus.svg', size: '25px*25px') %>
                  </a>
                <% end %>
              </div>
              <div class="col-xs-1">
                <span><small><%= f.label :name %></small></span></br>
                  <span><%= group.name %></span>
              </div>
              <div class="col-xs-1">
                <span><small><%= f.label :annual_budget %></small></span></br>
                <span><%= GroupDecorator.decorate(group).annual_budget %></span>
              </div>
              <div class="col-xs-2">
                <span><small><%= f.label "Leftover Money" %></small></span></br>
                <%= f.input :annual_budget, :label => "Leftover Money", :input_html => { :value => group.leftover_money }%>
              </div>
              <div class="col-xs-1"><%= f.input :leftover_money, :as => :hidden, :input_html => { :value => 0 } %></div>
              <div class="col-xs-3"><%= f.button :submit, "Carry Over", class: "btn btn--primary"%></div>
              <div class="col-xs-3"><%= f.submit "Reset Budget", formaction: update_annual_budget_group_budgets_path(group_id: group.id, group: {annual_budget: 0, leftover_money: 0}), class: "btn btn--primary" %></div>
              
            </div>
          </div>
        </div>
       <% end %>
       
       <% group.children.each do |child| %>
        <%= simple_form_for child, url: update_annual_budget_group_budgets_path(group_id: child.id), method: 'post', wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
          <div class="card children_<%= group.id %>" style="display:none;">
            <div class="card__section card__section--border">
              <div class="row">
                
                <div class="col-xs-1">
                  <%= "Sub-#{ c_t(:erg).titleize}" %> for <%= group.name %>
                </div>
                <div class="col-xs-1">
                  <span><small><%= f.label :name %></small></span></br>
                    <span><%= child.name %></span>
                </div>
                <div class="col-xs-1">
                  <span><small><%= f.label :annual_budget %></small></span></br>
                  <span><%= GroupDecorator.decorate(child).annual_budget %></span>
                </div>
                <div class="col-xs-2">
                  <span><small><%= f.label "Leftover Money" %></small></span></br>
                  <%= f.input :annual_budget, :label => "Leftover Money", :input_html => { :value => child.leftover_money }%>
                </div>
                <div class="col-xs-1"><%= f.input :leftover_money, :as => :hidden, :input_html => { :value => 0 } %></div>
                <div class="col-xs-3"><%= f.button :submit, "Carry Over", class: "btn btn--primary"%></div>
                <div class="col-xs-3"><%= f.submit "Reset Budget", formaction: update_annual_budget_group_budgets_path(group_id: child.id, child: {annual_budget: 0, leftover_money: 0}), class: "btn btn--primary" %></div>
                
              </div>
            </div>
          </div>
         <% end %>
       <% end %>
    <% end %>
  </div>
</div>

<script>
$(document).ready(function() {
  $('a.nested_plus').click(function(e){
    var id = $(this).attr('id');
    $('div.children_' + id).show();
    $(this).siblings('a.nested_minus').show();
    $(this).hide();
  }); //endof click
  
  $('a.nested_minus').click(function(e){
    var id = $(this).attr('id');
    $('div.children_' + id).hide();
    $(this).siblings('a.nested_plus').show();
    $(this).hide();
  }); //endof click
});
</script>