<div class="content__main">
  <%= simple_form_for @group do |f| %>
    <div class="card">

      <div class="card__section card__section--border">
        <p>Define the <strong>metrics</strong> you want to track for this event</p>
      </div>

      <div id="fields">
        <%= f.simple_fields_for :fields do |field| %>
          <%= render 'field_fields', f: field %>
        <% end %>
      </div>

      <div class="link">
        <div class="card__section card__section--border">
          <%= link_to_add_association "+Add metric", f, :fields, wrap_object: Proc.new { NumericField.new } %>
        </div>
      </div>

    </div>

    <%= f.button :submit %>

  <% end %>
</div>