<div class="content__header">
  <h1><%= c_t(:erg).pluralize %></h1>
  <%= link_to "New #{ c_t(:erg) }", new_group_path, class: "btn btn--primary" if policy(Group).new? %>
</div>

<div class="content__main">
  <div class="card">
    <% @groups.each do |group| %>
      <div class="card__section card__section--border">
        <div class="flex-row flex-row--middle">
          <div class="flex-row__cell">
            <%= link_to group_path(group) do %><%= image_tag group.logo.expiring_url(3600, :thumb), class: "avatar" %><% end %>
          </div>
          <div class="flex-row__cell flex-row__cell--grow"><%= link_to "#{group.name}", group_path(group), class: "accent" %> - <%= pluralize group.members.count, "member" %></div>
          <div class="flex-row__cell link-group">
            <%= link_to "Export", export_csv_group_path(group), class: "muted" if policy(group).show? %>
            <%= link_to "Import", import_csv_group_path(group), class: "muted" if policy(group).edit? %>
            <%= link_to "Edit", edit_group_path(group), class: "muted" if policy(group).edit? %>
            <%= link_to "Delete", group_path(group), method: :delete, class: "error" if policy(group).destroy? %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
