<div class="content__header">
  <h1>New Budget Request</h1>
</div>

<div class="content__main">
  <%= simple_form_for @budget, url: submit_budget_group_path(@group), method: :post do |f| %>
    <div class="card">
      <div class="card__section">
        Your request will be sent to <b><%= @group.name %></b> financal manager for approval
      </div>
      <div class="card__section">
        <%= f.input :requested_amount %>
        <%= f.input :description %>
      </div>
    </div>
    <div class="card">
      <div class="card__section card__section--border">
        <p>You can specify list of <strong>events</strong> you plan to organize with this budget (optional).</p>
      </div>
      <div id="fields">
        <%= f.simple_fields_for :checklist_items do |item_form| %>
          <%= render 'checklists/item', f: item_form %>
        <% end %>
      </div>

      <div class="link">
        <div class="card__section card__section--border">
          <%= link_to_add_association "+Add Event", f, :checklist_items, partial: 'checklists/item' %>
        </div>
      </div>
    </div>
        <%= f.button :submit, 'Send Budget Request' %>
    </div>
  <% end %>
</div>