<div class="content__main">
  <%= simple_form_for @group do |f| %>
    <div class="card">
      <div class="card__section card__section--border">
        <%= f.input :pending_users, input_html: { autofocus: true } %>
        <%= f.input :members_visibility %>
        <%= f.input :messages_visibility %>
        <%= f.input :banner, as: :attachment_preview %>
        <%= f.input :calendar_color, input_html: { class: 'jscolor', autofocus: true } %>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>
