<div class="content__header">
  <h1><%= @group.name %></h1>
</div>

<p><%= @group.description %></p>

<ul>
  <li><%= link_to "Events", group_events_path(@group) %></li>
</ul>

<div class="content__main">

  <div class="row">
    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4>Newest Members</h4>
          <%= link_to "View all", group_group_members_path(@group), class: "card__link" %>
          <ol>
          <% @group.members.limit(5).each do |member| %>
            <li><%= link_to member.name, member %></li>
          <% end %>
          </ol>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h4>Latest Events</h4>
          <%= link_to "View all", group_events_path(@group), class: "card__link" %>
          <ol>
          <% @group.events.limit(5).each do |event| %>
            <li><%= link_to event.name, event %></li>
          <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>

</div>