<div class="content__header">
  <p><%= @group.description %></p>
</div>

<div class="content__main">

  <div class="row row--equal-height">

    <div class="col sm-12 md-9">

      <div class="row row--equal-height">

        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">
              <h4>Newest Members</h4>
              <%= link_to "View all", group_group_members_path(@group), class: "card__action" %>
              <div class="row">
                <div class="col sm-12 md-6">
                  <a href="#TODO">Name</a><br>
                  Date
                </div>
                <div class="col sm-12 md-6">
                  <a href="#TODO">Name</a><br>
                  Date
                </div>
              </div>
              <ol>
              <% @employee_groups.each do |employee_group| %>
                <li><%= link_to employee_group.employee.name, employee_group.employee %><br><%= employee_group.created_at.to_s(:datetime) %></li>
              <% end %>
              </ol>
            </div>
          </div>
        </div>

        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4>Latest Events</h4>
              <%= link_to "View all", group_events_path(@group), class: "card__action" %>

              <% @events.each do |event| %>
                <%= link_to [@group, event], class: "block block-section" do %>
                  <div class="flex-row flex-row--middle">
                    <div class="flex-row__cell flex-row__cell--grow">
                      <span class="highlight"><%= event.title %></span><br>
                      <small><%= event.description %></small><br>
                      <small class="muted"><%= event.start.to_s :slashes %></small>
                    </div>
                    <div class="flex-row__cell">
                      <span class="icon icon--chevron-right"></span>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4>Latest News</h4>
              <%= link_to "View all", group_news_links_path(@group), class: "card__action" %>

              <% @news_links.each do |news_link| %>
                <%= link_to news_link.url, class: "block", target: "_blank" do %>
                  <div class="flex-row flex-row--middle">
                    <div class="flex-row__cell flex-row__cell--grow">
                      <span class="highlight"><%= news_link.title %></span><br>
                      <small><%= news_link.description %></small><br>
                      <small class="muted"><%= news_link.created_at.to_s :slashes %></small>
                    </div>
                    <div class="flex-row__cell">
                      <span class="icon icon--chevron-right"></span>
                    </div>
                  </div>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>

        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4>Latest Messages</h4>
              <%= link_to "View all", group_group_messages_path(@group), class: "card__action" %>

              <% @messages.each do |message| %>
                <%= link_to [@group, message], class: "block", target: "_blank" do %>
                  <div class="flex-row flex-row--middle">
                    <div class="flex-row__cell flex-row__cell--grow">
                      <span class="highlight"><%= message.subject %></span><br>
                      <small><%= message.content %></small><br>
                      <small class="muted"><%= message.created_at.to_s :slashes %></small>
                    </div>
                    <div class="flex-row__cell">
                      <span class="icon icon--chevron-right"></span>
                    </div>
                  </div>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-3">
      <div class="card card--secondary">
        <div class="card__section">
          <h4>Top Performers</h4>
          <ol>
          <% @group.members.limit(5).each do |member| %>
            <li><%= link_to member.name, member %></li>
          <% end %>
          </ol>
        </div>
      </div>
    </div>

  </div>
</div>