<div class="content__main">
  <% if @group.banner.present? %>
    <div class="row">
      <div class="col sm-12">
        <%= image_tag @group.banner.url, style: 'min-width: 100%;' %>
      </div>
    </div>
  <% end %>
  <% if @group.description.present? %>
    <div class="content__header mtmedium">
      <p style="flex: 1 1 0;"><%= @group.description %></p>
      <div class="flex-row flex-row--middle">
        <div class="flex-row__cell">
        </div>
      </div>
    </div>
  <% end %>
  <div class="row row--equal-height">
    <div class="col sm-12 md-9">
      <div class="row row--equal-height">
        <% if policy(@group).view_members? %>
        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">
              <h4 class="card__title"><%= inline_svg('icons/manage.svg', class: "icon card__icon") %></span>Newest Members</h4>
              <%= link_to "View all", group_group_members_path(@group), class: "card__action" %>

              <% @user_groups.limit(5).each do |user_group| %>
                <div class="row mb10">
                    <div class="col sm-3 md-2">
                      <%= image_tag(user_group.user.avatar.expiring_url(3600), size: "40") %>
                    </div>
                    <div class="col sm-9 md-10">
                      <%= link_to user_group.user.name_with_status, user_group.user %><br>
                      <%= time_ago_in_words(user_group.created_at) %> ago
                    </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>

        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4 class="card__title"><%= inline_svg('icons/calendar.svg', class: "icon card__icon") %>Upcoming Events</h4>
              <%= link_to "View all", group_events_path(@group), class: "card__action" %>

              <% if @upcoming_events.empty? %>
                <div class="mtlarge text-center">
                  You have not joined any events yet.
                </div>
              <% else %>
                <% @upcoming_events.each do |event| %>
                  <%= render "shared/flippable/event", event: event %>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>

        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4 class="card__title"><%= inline_svg('icons/news.svg', class: "icon card__icon") %>Latest News</h4>
              <%= link_to "View all", group_news_links_path(@group), class: "card__action" %>

              <% @news_links.each do |news_link| %>
                <%= render "shared/flippable/news_link", news_link: news_link %>
              <% end %>

            </div>
          </div>
        </div>

        <% if policy(@group).view_messages? %>
        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4 class="card__title"><%= inline_svg('icons/chat.svg', class: "icon card__icon") %>Latest Messages</h4>
              <%= link_to "View all", group_group_messages_path(@group), class: "card__action" %>

              <%= render "shared/boxes/messages", messages: @messages %>

            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="col col--stacked sm-12 md-3">
      <% if @current_user.pending_group_member?(@group.id) %>
        Please wait for group administrators to process your membership request.
      <% end %>

      <% if !@group.members.include? current_user %>
        <%= simple_form_for :user, url: group_group_members_path(@group), method: :post do |f| %>
          <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
          <%= f.submit "Join this #{ c_t(:erg) }", class: "btn btn--primary", style: 'margin-bottom: 20px;' %>
        <% end %>
      <% end %>

      <div class="card card--secondary">
        <%= render('leader', leader: @group.lead_manager, position: "#{ c_t(:erg) } Leader") if @group.lead_manager %>

        <% @group.group_leaders.visible.each do |group_leader| %>
          <%= render('leader', leader: group_leader.user, position: group_leader.position_name ) %>
        <% end %>
      </div>

      <div class="card card--secondary">
        <div class="card__section">
          <h4 class="card__title"><%= inline_svg('icons/trophy.svg', class: "icon card__icon") %>Leaderboards</h4>
          <h5>Top Performers this week</h5>
          <ol>
            <% @group.members.top_participants(10).each do |member| %>
              <li><%= user_performance_label(member) %></li>
            <% end %>
          </ol>
        </div>
        <div class="card__section">
          <h5>Top <%= c_t(:erg).pluralize %> this week</h5>
          <ol>
            <% @group.enterprise.groups.top_participants(10).each do |group| %>
              <li><%= group_performance_label(group) %></li>
            <% end %>
          </ol>
        </div>
      </div>

      <% if @group.members.include? current_user %>
        <div class="card card--secondary">
          <div class="card__section">
            <%= simple_form_for @user_group, method: :post do |f| %>
              <%= f.input :notifications_frequency,
                collection: UserGroup.notifications_frequencies.keys.map{ |f| [t("user_group.#{ f }"), f] },
                label: "Frequency of notifications",
                include_blank: false,
                input_html:
                  {
                    class: 'ajax-toggle',
                    'data-url': group_user_group_path(@group, @user_group)
                  }
              %>
            <% end %>
          </div>
        </div>
        <%= link_to "Leave this #{ c_t(:erg) }", group_group_member_path(@group, current_user), method: :delete, class: 'btn btn--tertiary error' %>
      <% end %>
    </div>
  </div>
</div>
