<div class="content__header">
  <p><%= @group.description %></p>
</div>

<div class="content__main">

  <div class="row row--equal-height">

    <div class="col sm-12 md-9">

      <div class="row row--equal-height">

        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">
              <h4>Newest Members</h4>
              <%= link_to "View all", group_group_members_path(@group), class: "card__action" %>

              <% @employee_groups.each_slice(2) do |employee_group_slice| %>
                <div class="row mb10">
                  <% employee_group_slice.each do |employee_group| %>
                    <div class="col sm-12 md-6">
                      <%= link_to employee_group.employee.name, employee_group.employee %><br>
                      <%= time_ago_in_words(employee_group.created_at) %> ago
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4>Upcoming Events</h4>
              <%= link_to "View all", group_events_path(@group), class: "card__action" %>

              <% @events.each do |event| %>
                <%= link_to group_events_path(@group), class: "block block-section" do %>
                  <div class="flex-row flex-row--middle">
                    <div class="flex-row__cell flex-row__cell--grow">
                      <span class="highlight"><%= event.title %></span><br>
                      <small><%= truncate(event.description, length: 90) %></small><br>
                      <small class="muted"><%= event.start.to_s :slashes %></small>
                    </div>
                    <div class="flex-row__cell">
                      <span class="icon icon--chevron-right"></span>
                    </div>
                  </div>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>

        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4>Latest News</h4>
              <%= link_to "View all", group_news_links_path(@group), class: "card__action" %>

              <% @news_links.each do |news_link| %>
                <%= link_to news_link.url, class: "block block-section", target: "_blank" do %>
                  <div class="flex-row flex-row--middle">
                    <div class="flex-row__cell flex-row__cell--grow">
                      <span class="highlight"><%= news_link.title %></span><br>
                      <small><%= truncate(news_link.description, length: 90) %></small><br>
                      <small class="muted"><%= news_link.created_at.to_s :slashes %></small>
                    </div>
                    <div class="flex-row__cell">
                      <span class="icon icon--chevron-right"></span>
                    </div>
                  </div>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>

        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4>Latest Messages</h4>
              <%= link_to "View all", group_group_messages_path(@group), class: "card__action" %>

              <% @messages.each do |message| %>
                <%= link_to group_group_messages_path(@group), class: "block block-section" do %>
                  <div class="flex-row flex-row--middle">
                    <div class="flex-row__cell flex-row__cell--grow">
                      <span class="highlight"><%= message.subject %></span><br>
                      <small><%= truncate(message.content, length: 90) %></small><br>
                      <small class="muted"><%= message.created_at.to_s :slashes %></small>
                    </div>
                    <div class="flex-row__cell">
                      <span class="icon icon--chevron-right"></span>
                    </div>
                  </div>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-3">
      <div class="card card--secondary">
        <div class="card__section">
          <h4>Top Performers this week</h4>
          <ol>
            <% @group.members.top_participants(10).each do |member| %>
              <% if member == current_user %>
                <li><strong><%= member.name %> (<%= member.participation_score_7days %>)</strong></li>
              <% else %>
                <li><%= link_to member.name, member %> (<%= member.participation_score_7days %>)</li>
              <% end %>
            <% end %>
          </ol>
        </div>
        <div class="card__section">
          <h4>Top BRGs this week</h4>
          <ol>
            <% @group.enterprise.groups.top_participants(10).each do |group| %>
              <% if group == @group %>
                <li><strong><%= group.name %> (<%= group.participation_score_7days %>)</strong></li>
              <% else %>
                <li><%= link_to group.name, group %> (<%= group.participation_score_7days %>)</li>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>
    </div>

  </div>
</div>