<div class="content__header">
  <h1><%= @group.name %></h1>
</div>

<p><%= @group.description %></p>

<div class="content__main">

  <div class="row row--equal-height">

    <div class="col sm-12 md-4">
      <div class="card">
        <div class="card__section">
          <h4>Newest Members</h4>
          <%= link_to "View all", group_group_members_path(@group), class: "card__action" %>
          <ol>
          <% @group.members.limit(5).each do |member| %>
            <li><%= link_to member.name, member %></li>
          <% end %>
          </ol>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-4">
      <div class="card">
        <div class="card__section">

          <h4>Latest Events</h4>
          <%= link_to "View all", group_events_path(@group), class: "card__action" %>

          <div class="flex-row flex-row--middle">
            <div class="flex-row__cell flex-row__cell--grow">
              <span class="highlight">News title</span><br>
              <small>News description</small><br>
              <small class="muted">Oct 12, 2015</small>
              </p>
            </div>
            <div class="flex-row__cell">
              <span class="icon icon--chevron-right"></span>
            </div>
          </div>

          <div class="flex-row flex-row--middle">
            <div class="flex-row__cell flex-row__cell--grow">
              <span class="highlight">News title</span><br>
              <small>News description</small><br>
              <small class="muted">Oct 12, 2015</small>
              </p>
            </div>
            <div class="flex-row__cell">
              <span class="icon icon--chevron-right"></span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col sm-12 md-4">
      <div class="card card--secondary">
        <div class="card__section">
          <h4>Top Performers</h4>
          <ol>
          <% @group.members.limit(5).each do |member| %>
            <li><%= link_to member.name, member %></li>
          <% end %>
          </ol>
        </div>
      </div>
    </div>

  </div>
</div>