<div class="content__header">
  <p style="flex: 1 1 0;"><%= @group.description %></p>

  <div class="flex-row flex-row--middle">
    <div class="flex-row__cell">
    </div>
  </div>
</div>

<div class="content__main">

  <div class="row row--equal-height">

    <div class="col sm-12 md-9">

      <div class="row row--equal-height">

        <% if policy(@group).view_members? %>
        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">
              <h4 class="card__title"><%= inline_svg('icons/manage.svg', class: "icon card__icon") %></span>Newest Members</h4>
              <%= link_to "View all", group_group_members_path(@group), class: "card__action" %>

              <% @user_groups.each_slice(2) do |user_group_slice| %>
                <div class="row mb10">
                  <% user_group_slice.each do |user_group| %>
                    <div class="col sm-12 md-6">
                      <%= link_to user_group.user.name, user_group.user %><br>
                      <%= time_ago_in_words(user_group.created_at) %> ago
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>

        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4 class="card__title"><%= inline_svg('icons/calendar.svg', class: "icon card__icon") %>Upcoming Events</h4>
              <%= link_to "View all", group_events_path(@group), class: "card__action" %>

              <% @upcoming_events.each do |event| %>
                <%= render "shared/flippable/event", event: event %>
              <% end %>

            </div>
          </div>
        </div>

        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4 class="card__title"><%= inline_svg('icons/news.svg', class: "icon card__icon") %>Latest News</h4>
              <%= link_to "View all", group_news_links_path(@group), class: "card__action" %>

              <% @news_links.each do |news_link| %>
                <%= render "shared/flippable/news_link", news_link: news_link %>
              <% end %>

            </div>
          </div>
        </div>

        <% if policy(@group).view_messages? %>
        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4 class="card__title"><%= inline_svg('icons/chat.svg', class: "icon card__icon") %>Latest Messages</h4>
              <%= link_to "View all", group_group_messages_path(@group), class: "card__action" %>

              <%= render "shared/flippable/messages", messages: @messages %>

            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="col col--stacked sm-12 md-3">
        <% if @current_user.pending_group_member?(@group.id) %>
          Please wait for group administrators to process your membership request.
        <% end %>

        <% if @group.members.where(id: current_user.id).count > 0 %>
          <%= link_to 'Leave this ERG', group_group_member_path(@group, current_user), method: :delete, class: 'error', style: 'margin: 10px;' %>
          <div class="col row--spacing-bottom">
            <%= simple_form_for @user_group, method: :post do |f| %>
              <%= f.input :enable_notification, label: "Enable notifications?", input_html:
                {
                  class: 'ajax-toggle',
                  'data-url': group_user_group_path(@group, @user_group)
                }
              %>
            <% end %>
          </div>
        <% else %>
          <%= simple_form_for :user, url: group_group_members_path(@group), method: :post do |f| %>
            <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
            <%= f.submit 'Join this ERG', class: "btn btn--primary", style: 'margin-bottom: 20px;' %>
          <% end %>
        <% end %>

      <% if manager = @group.lead_manager %>
        <div class="card card--secondary">
          <div class="card__section">
            <h4 style="overflow: auto;">
              <span class="inline-block fleft">Your ERG manager</span>
              <%= link_to image_tag('linkedin.png'), manager.linkedin_profile_url, target: '_blank', class: 'inline-block fright' if manager.linkedin_profile_url %>
            </h4>
            <div style="overflow: auto; clear: both;">
              <%= image_tag(manager.avatar.expiring_url(3600), class: "avatar avatar--round", style: "float: left; margin-right: 1em;") %>
              <div style="float: left;">
                <strong><%= manager.name %></strong><br>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="card card--secondary">
        <div class="card__section">
          <h4 class="card__title"><%= inline_svg('icons/trophy.svg', class: "icon card__icon") %>Leaderboards</h4>
          <h5>Top Performers this week</h5>
          <ol>
            <% @group.members.top_participants(10).each do |member| %>
              <% if member == current_user %>
                <li><strong><%= member.name %> (<%= member.participation_score_7days %>)</strong></li>
              <% else %>
                <li><%= link_to member.name, member %> (<%= member.participation_score_7days %>)</li>
              <% end %>
            <% end %>
          </ol>
        </div>
        <div class="card__section">
          <h5>Top ERGs this week</h5>
          <ol>
            <% @group.enterprise.groups.top_participants(10).each do |group| %>
              <% if group == @group %>
                <li><strong><%= group.name %> (<%= group.participation_score_7days %>)</strong></li>
              <% else %>
                <li><%= link_to group.name, group %> (<%= group.participation_score_7days %>)</li>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
