<div class="content__main">
  <% if @group.banner.present? %>
    <div class="row">
      <div class="col sm-12">
        <%= image_tag @group.banner.url, style: 'width: 100%; max-width: 100%;' %>
      </div>
    </div>
  <% end %>
  <% if @group.description.present? %>
    <div class="content__header mtmedium">
      <p style="flex: 1 1 0;"><%= allow_newlines @group.description %></p>
      <div class="flex-row flex-row--middle">
        <div class="flex-row__cell">
        </div>
      </div>
    </div>
  <% end %>

  <div class="row row--equal-height">
    <div class="col sm-12 md-9">
      <div class="row row--equal-height">
        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4 class="card__title"><%= inline_svg('icons/news.svg', class: "icon card__icon") %>Latest News</h4>
              <%= link_to "View all", group_posts_path(@group), class: "card__action" unless @posts.count < 1 %>
              <% if policy(@group).view_latest_news? %>
                <% if @posts.empty? %>
                  <p>No posts have been published yet.</p>
                <% else %>
                  <% @posts.each do |news| %>
                    <%= render "shared/flippable/news_link", news: news %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4 class="card__title"><%= inline_svg('icons/calendar.svg', class: "icon card__icon") %>Upcoming Events</h4>
              <%= link_to "View all", group_events_path(@group), class: "card__action" %>

              <% if @upcoming_events.empty? %>
                <div class="mtlarge text-center">
                <% if policy(@group).is_a_member? %>
                  You have not joined any events yet.
                <% else %>
                  You are not a member of <%= @group.capitalize_name %>
                <% end %>
                </div>
              <% else %>
                <% if policy(@group).view_upcoming_events? %>
                  <% @upcoming_events.each do |event| %>
                    <%= render "shared/flippable/event", event: event %>
                  <% end %>
                <% else %>
                <div class="mtlarge text-center">
                  You are not a member of <%= @group.capitalize_name %>.
                </div>
                <% end %>
              <% end %>

            </div>
            <% if @group.yammer_group_id.present? %>
              <div class="card__section">
                <%= render 'yammer' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col col--stacked sm-12 md-3">
    <% show_sponsor_card?(@group, "sponsor_name") do %>
      <div class="card card--secondary">
        <div class="card__section">
        <% if @group.sponsor_media.present? %>
          <% show_sponsor_image?(@group, "sponsor_media_content_type") do %>
          <%= image_tag(@group.sponsor_media.expiring_url(3600), style: 'max-width: 100px; max-height:90px; border-radius: 80px; cursor: pointer;') %>
          <% end %>
        <% else %>
          <%= image_tag("missing_user.png", size: "70x70") %>
        <% end %>


          <% show_sponsor_video?(@group, "sponsor_media_content_type") do %>
             <%= video_tag(@group.sponsor_media.expiring_url(36000), controls: true, size: "200x200") %>
          <% end %>
          <p style="font-style: italic;"><%= @group.sponsor_name %>
        <br>
        <%= @group.sponsor_title.present? ? @group.sponsor_title : nil %></p>
        <% if @group.sponsor_message.present? %>
          <p style="font-style: italic; padding-top: 10px; padding-left: 10px;"><%= truncate(@group.sponsor_message, length: 200) %></p>
        <% end %>
        </div>
      </div>
      <% end %>
      <% if @current_user.pending_group_member?(@group.id) %>
        * Please wait for group administrators to process your membership request.
        <% if !current_user.has_answered_group_survey? @group %>
          Take a survey below in order to speed up approval process.
        <% else %>
          You can always
          <%= link_to 'edit', survey_group_questions_path(@group) %>
          your <% c_t(:member_preference) %>
        <% end %>
      <% end %>

      <% if !@group.members.include? current_user %>
        <% if @group.active? %>
          <%= simple_form_for :user, url: group_group_members_path(@group), method: :post do |f| %>
            <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
            <%= f.submit "Join this #{ c_t(:erg) }", class: "btn btn--primary", style: 'margin-bottom: 20px;' %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to c_t(:member_preference), survey_group_questions_path(@group), class: "btn btn--primary" unless current_user.has_answered_group_survey? @group %>
      <% end %>

      <div class="card card--secondary">
        <%= render('leader', leader: @group.lead_manager, position: "#{ c_t(:erg) } Leader") if @group.lead_manager %>

        <% @leaders.each do |group_leader| %>
          <%= render('leader', leader: group_leader.user, position: group_leader.position_name ) %>
        <% end %>
      </div>

      <% if current_user.enterprise.enable_rewards? %>
        <div class="card card--secondary">
            <div class="card__section">
            <h4 class="card__title"><%= inline_svg('icons/trophy.svg', class: "icon card__icon") %>Leaderboards</h4>
            <h5>Most Active this week</h5>
            <ol>
              <% @top_user_group_participants.each do |user_group| %>
                <li><%= user_group_performance_label(user_group) %></li>
              <% end %>
            </ol>
          </div>
          <div class="card__section">
            <h5>Top <%= c_t(:erg).pluralize %> this week</h5>
            <ol>
              <% @top_group_participants.each do |group| %>
                <li><%= group_performance_label(group) %></li>
              <% end %>
            </ol>
          </div>
        </div>
      <% end %>


      <% if @group.contact_email %>
        <%= mail_to @group.contact_email do %>
          <button class="btn btn--primary" style="margin-bottom: 24px; width: 100%;">
            Contact Group Leader
          </button>
        <% end %>
      <% end %>

      <% if @group.parent.present? %>
        <div class="card card--secondary">
          <div class="card__section">
            Parent-<%= c_t(:erg).titleize %><br>
            <%= link_to @group.parent.name, @group.parent %><br>
          </div>
        </div>
      <% end %>

      <% if @group.children.count <= 5 %>
        <div class="card card--secondary">
          <div class="card__section">
            Sub-<%= c_t(:erg).titleize.pluralize %>(<%= @group.children.count %>)<br>
            <% @group.children.each do |child| %>
              <%= link_to child.name, child %><br>
            <% end %>
          </div>
        </div>
      <% else %>
      <% if @group.group_category_type.nil? %>
        <div class="card card--secondary">
          <div class="card__section">
            Sub-<%= c_t(:erg).titleize.pluralize %>(<%= @group.children.count %>)

            <% if policy(@group).erg_leader_permissions? %>
            <div class="dropdown">
              <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              <div class="dropdown-content">
                <p>Create Categories for Sub-<%= c_t(:erg).titleize.pluralize %> <%= link_to "Here", group_categories_url(parent_id: @group.id) %></p>
              </div>
            </div>
            <% end %>
            <br>
            <% @group.children.limit(5).each do |child| %>
              <%= link_to child.name, child %><br>
            <% end %>
            <%= link_to "View #{@group.children.count - 5} More", "#", class: "sub_ergs", id: @group.id %>
            <%= link_to "View #{@group.children.count - 5} More", "#", class: " hide_sub_ergs", id: @group.id, style: "display:none;" %>

            <% @group.children.last(@group.children.count - 5).each do |sub_erg| %>
            <div class="remaining_children_<%= @group.id %>" style="display:none; position: relative; top: 10px;">
              <ol><%= link_to sub_erg.capitalize_name, group_url(sub_erg) %></ol>
            </div>
            <% end %>
          </div>
        </div>
      <% else %>
       <div class="card card--secondary">
          <div class="card__section">
            Sub-<%= c_t(:erg).titleize.pluralize %>(<%= @group.children.count %>)<br>
            <ol>
            <% @group.group_category_type.group_categories.each do |category| %>
            <li>
              <%= link_to category, "#", class: "nested_show", id: category.id %>
              <%= link_to category, "#", class: "nested_hide", id: category.id, style: "display:none;" %>(<%= category.groups.where(parent_id: @group).count %>)

                <% category.groups.where(parent_id: @group).each do |sub_erg| %>
                <div class="children_<%= category.id %>" style="display:none; position: relative; top: 10px;">
                  <ol><%= link_to sub_erg.capitalize_name, group_url(sub_erg) %></ol>
                  <br>
                </div>
                <% end %>
            </li>
            <% end %>
            </ol>
          </div>
        </div>
      <% end %>
      <% end %>

      <% if @group.active_members.include? current_user %>
        <div class="card card--secondary">
          <div class="card__section">
            <%= simple_form_for @user_group, method: :post, html: {id: "user_group" } do |f| %>
              <%= f.input :notifications_frequency,
                collection: UserGroup.notifications_frequencies.keys.map{ |f| [t("user_group.#{ f }"), f] },
                label: "Frequency of notifications",
                include_blank: false,
                input_html:
                  {
                    class: 'ajax-toggle-1',
                    'data-url': group_user_group_path(@group, @user_group)
                  }
              %>
              </br>
              <div class="notifications_date">
                <%= f.input :notifications_date,
                  collection: UserGroup.notifications_dates.keys.map{ |f| [t("user_group.#{ f }"), f] },
                  label: "Day of notifications",
                  include_blank: false,
                  input_html:
                    {
                      class: 'ajax-toggle-2',
                      'data-url': group_user_group_path(@group, @user_group)
                    }
                %>
              </div>
             <% end %>
          </div>
        </div>

        <%= link_to "Leave this #{ c_t(:erg) }", group_group_member_path(@group, current_user), method: :delete, class: 'btn btn--tertiary error', style: 'font-size: 12px;' %>
      <% end %>
    </div>
  </div>
</div>

<script>
$('a.sub_ergs').click(function(e){
    var id = $(this).attr('id');
    $('div.remaining_children_' + id).show();

    $(this).siblings('a.hide_sub_ergs').show();
    $(this).hide();
  }); //endof click

  $('a.hide_sub_ergs').click(function(e){
    var id = $(this).attr('id');
    $('div.remaining_children_' + id).hide();
    $(this).siblings('a.sub_ergs').show();
    $(this).hide();
  }); //endof click

$('a.nested_show').click(function(e){
    var id = $(this).attr('id');
    $('div.children_' + id).show();

    $(this).siblings('a.nested_hide').show();
    $(this).hide();
  }); //endof click

  $('a.nested_hide').click(function(e){
    var id = $(this).attr('id');
    $('div.children_' + id).hide();
    $(this).siblings('a.nested_show').show();
    $(this).hide();
  }); //endof click

  $('img.info').click(function(e){
    e.preventDefault();
    var id = $(this).attr('id');
    $('div.biography_' + id).show();
  }); //endof click

  $('a.remove').click(function(e){
    e.preventDefault();
    var id = $(this).attr('id');
    $('div.biography_' + id).hide();
  }); //endof click

  //force facebook embed to have correct width
  $(document).ready(function(){
    var width = <%= SocialMedia::Importer::MEDIA_MAX_WIDTH %>

    $('iframe[src*=facebook]').width(width)
  });
</script>