<div class="content__header">
  <h1><%= @group.name %></h1>
</div>

<p><%= @group.description %></p>

<ul>
  <li><%= link_to "Events", group_events_path(@group) %></li>
</ul>

<div class="content__main">
  <h2>Latest members</h2>
  <div class="card">
    <% @group.members.limit(5).each do |member| %>
      <div class="card__section card__section--border">
        <div class="flex-row">
          <div class="flex-row__cell"><%= link_to member.name, member %></div>
        </div>
      </div>
    <% end %>
  </div>

  <h2>Events</h2>
  <div class="card">
    <% @group.members.limit(5).each do |member| %>
      <div class="card__section card__section--border">
        <div class="flex-row">
          <div class="flex-row__cell"><%= link_to member.name, member %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>