<%= f.input :avatar,
      as: :attachment_preview,
      label: 'Profile Picture',
      input_html: { autofocus: true } %>
<%= f.input :email %>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :biography %>

<% if policy(@user).access_hidden_info? %>
  <h2>Hidden info</h2>
  <h4>Only
    <%= 'you and' if @user == current_user %>
  superadmins can see it</h4>
  <% @user.enterprise.fields.each do |cf| %>
    <%= render "shared/fields/display/custom_field", cf: cf, f: f, resource: @user %>
  <% end %>
<% end %>