<div class="content__header">
  <h1>Import users via CSV</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <h3>Import instructions</h3>
      <p>To batch import users, upload a CSV file using the form below. The file needs to follow the following structure:</p>

      <h4>Columns</h4>
      <p>The file must contain the following columns in the specified order. Leave a cell blank if you don't have the necessary information for the user. Columns marked with an asterisk are required.</p>
      <ol class="no-spacing">
        <li>First Name*</li>
        <li>Last Name*</li>
        <li>Email*</li>
        <li>Biography</li>
        <li>Active</li>

        <% current_user.enterprise.fields.each do |field| %>
          <li>
            <%= field.title %><%= "*" if field.required %>
          </li>
        <% end %>
      </ol>

      <h4>Rows</h4>
      <p>The first row is reserved for headers and will not be imported. Every subsequent row will be imported as a user.</p>

      <h4>Sample file</h4>
      <p>Download a <%= link_to "sample CSV", sample_csv_users_path %> to see what the required structure looks like. For convenience, your last 5 users will be included in the file.</p>
    </div>
  </div>

  <div class="card">
    <div class="card__section">
      <%= form_tag({controller: "users", action: "parse_csv"}, {method: "post", multipart: true}) do %>
        <div class="field">
          <div class="field__input-wrapper">
            <%= label_tag :file, "<h3>Import your file</h3>".html_safe %>
            <%= file_field_tag "file" %>
          </div>
        </div>
        <button class="btn btn--primary" role="button" aria-label="Import">Import</button>
      <% end %>
    </div>
  </div>
</div>
