<div class="content__header">
  <h1>Users</h1>
  <div class="flex-row flex-row--middle">
    <div class="flex-row__cell">
      <%= link_to "Export CSV", export_csv_users_path, class: "btn btn--secondary" %>
    </div>
    <div class="flex-row__cell">
      <%= link_to "Import CSV", import_csv_users_path, class: "btn btn--secondary" %>
    </div>
    <div class="flex-row__cell">
      <%= link_to "Add a user", new_user_invitation_path, class: "btn btn--primary" %>
    </div>
  </div>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <h2>Permission group for new users</h2>
      New users will be assigned to <strong><%= current_user.enterprise.default_policy_group.name %></strong> permission group. You can change this in <%= link_to 'permission groups settings', policy_groups_path %>.
    </div>
  </div>
  <h3>Invitations sent</h3>
  <div class="card">
    <div class="card__section">
      <% if @users.invitation_not_accepted.any? %>
        <table class="table--has-border" id="invited-users-table">
          <thead>
            <th>Email</th>
            <th></th>
          </thead>
          <tbody>
            <% @users.invitation_not_accepted.each do |user| %>
              <tr>
                <td><%= link_to user.email, user_path(user) %></td>
                <td class="text-right"><%= link_to "Revoke invitation", user_path(user), method: :delete, class: "error", data: { confirm: "Are you sure?" } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No invitation is currently awaiting response. Users you <%= link_to "manually invite", new_user_invitation_path %> will be shown here until they accept their invitation.</p>
      <% end %>
    </div>
  </div>

  <h3>Manually added</h3>
  <%= render "table", source: users_path(format: :json) %>

  <h3>Inactive users</h3>
  <%= render "table", source: users_path(active: false, format: :json) %>

  <h3>SAML</h3>
  <div class="card">
    <div class="card__section">
      <% if @users.where(auth_source: "saml").any? %>
        <table class="table--has-border">
          <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Options</th>
          </thead>
          <tbody>
            <% @users.where(auth_source: "saml").each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td>
                  <%= link_to "Details", user_path(user) %>
                  <%= link_to "Delete", user_path(user), method: :delete, class: "error", data: { confirm: "Are you sure?" } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No user has signed in through SAML yet. When they do, they will show up here. If you can't sign in through SAML, try <%= link_to "setting it up", edit_auth_enterprise_path(current_user.enterprise) %> from the global settings.</p>
      <% end %>
    </div>
  </div>
</div>
