<div class="content__header">
  <h1>Users</h1>
  <div class="flex-row flex-row--middle">
    <div class="flex-row__cell">
      <%= link_to "Export CSV", export_csv_users_path, class: "btn btn--secondary" %>
    </div>
    <div class="flex-row__cell">
      <%= link_to "Import CSV", import_csv_users_path, class: "btn btn--secondary" %>
    </div>
    <div class="flex-row__cell">
      <%= link_to "Add a user", new_user_invitation_path, class: "btn btn--primary" %>
    </div>
  </div>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <h2>Permission group for new users</h2>
      New users will be assigned to <strong><%= current_user.enterprise.default_policy_group.name %></strong> permission group. You can change this in <%= link_to 'permission groups settings', policy_groups_path %>.
    </div>
  </div>
  <h3>Invitations sent</h3>
  <%= render "invitations_table", source: sent_invitations_users_path(format: :json) %>

  <h3>Manually added</h3>
  <%= render "table", source: users_path(format: :json) %>

  <h3>Inactive users</h3>
  <%= render "table", source: users_path(active: false, format: :json) %>

  <h3>SAML</h3>
  <%= render "table", source: saml_logins_users_path(format: :json) %>
</div>
