<div class="content__header">
  <h1>Users</h1>
  <div class="flex-row flex-row--middle">
    <div class="flex-row__cell">
      <%= link_to "Export CSV", export_csv_users_path, class: "btn btn--secondary hidden-xs", role: "button", 'aria-label': "Export CSV" %>
    </div>
    <div class="flex-row__cell">
      <%= link_to "Import CSV", import_csv_users_path, class: "btn btn--secondary hidden-xs", role: "button", 'aria-label': "Import CSV" %>
    </div>
    <% if policy(User).create? %>
      <div class="flex-row__cell">
        <%= link_to "Add a user", new_user_invitation_path, class: "btn btn--primary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <h2>Permission group for new users</h2>
      New users will be assigned to a policy group corresponding to their user role.
    </div>
  </div>
  
  <div class="row row--spacing-bottom">
    <div class="col-xs-6">
      <h3 class="text-left">User Roles</h3>
    </div>
    <div class="col-xs-6 text-right">
      <%= link_to "New User Role", new_user_role_path, class: "btn btn--primary pull-right" if policy(UserRole).new? %>
    </div>
    </div>
  </div>
  <%= render "roles" %>
  
  <h3>Invitations sent</h3>
  <%= render "invitations_table", source: sent_invitations_users_path(format: :json) %>

  <h3>Manually added</h3>
  <%= render "table", source: users_path(format: :json) %>

  <h3>Inactive users</h3>
  <%= render "table", source: users_path(active: false, format: :json) %>

  <h3>SAML</h3>
  <%= render "table", source: saml_logins_users_path(format: :json) %>
</div>
