<div class="content__header">
  <h1>Users</h1>
  <div class="flex-row flex-row--middle">
    <% if UserPolicy.new(current_user, User).create? %>
      <div class="flex-row__cell">
        <%= active_link_to 'Export Settings&nbsp;<span class="caret"></span>'.html_safe, "", "aria-label":"ExportSettings", "aria-control": "navigation", "data-jq-dropdown": "#export_settings", class: "btn btn--secondary hidden-xs", class_active: "secondary-header__tab--is-selected", active: :exclusive %>
          <nav id="export_settings" class="jq-dropdown jq-dropdown-tip">
            <ul class="jq-dropdown-menu">
              <li><%= link_to "Export All Users", export_csv_users_path(export_csv_params: "all_users") %></li>
              <li><%= link_to 'Export Active Users', export_csv_users_path(export_csv_params: "active_users") %></li>
              <li><%= link_to 'Export Inactive Users', export_csv_users_path(export_csv_params: "inactive_users") %></li>

              <li class="dropdown-submenu">
                <a class="user_roles" tabindex="-1" href="#">Export Users By Roles <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% current_user.enterprise.user_roles.each do  |user_role| %>
                    <% role_name =  user_role.role_name %>
                    <li><%= link_to role_name, export_csv_users_path(export_csv_params: role_name) %></li>
                  <% end %>
                </ul>
              </li>              
            </ul>
          </nav>
      </div>
    <% end %>
     <% if UserPolicy.new(current_user, User).create? %>
      <div class="flex-row__cell">
        <%= link_to "Import CSV", import_csv_users_path, class: "btn btn--secondary hidden-xs", role: "button", 'aria-label': "Import CSV" %>
      </div>
    <% end %>
    <% if UserPolicy.new(current_user, User).create? %>
      <div class="flex-row__cell">
        <%= link_to "Add a user", new_user_invitation_path, class: "btn btn--primary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <h2>Permission group for new users</h2>
      New users will be assigned to a policy group corresponding to their user role.
    </div>
  </div>
  
  <div class="row row--spacing-bottom">
    <div class="col-xs-6">
      <h3 class="text-left">User Roles</h3>
    </div>
    <div class="col-xs-6 text-right">
      <%= link_to "New User Role", new_user_role_path, class: "btn btn--primary pull-right" if UserRolePolicy.new(current_user, UserRole).new? %>
    </div>
    </div>
  </div>
  <%= render "roles" %>
  
  <h3>Invitations sent</h3>
  <%= render "invitations_table", source: sent_invitations_users_path(format: :json) %>

  <h3>Manually added</h3>
  <%= render "table", source: users_path(format: :json) %>

  <h3>Inactive users</h3>
  <%= render "table", source: users_path(active: false, format: :json) %>

  <h3>SAML</h3>
  <%= render "table", source: saml_logins_users_path(format: :json) %>
</div>

<script>
  $(document).ready(function(){
  $('.dropdown-submenu a.user_roles').on("click", function(e){
    $(this).next('ul').toggle();
    e.stopPropagation();
    e.preventDefault();
  });
});


</script>