<div class="content__header">
  <h1>User details</h1>
  <div class="flex-row flex-row--middle">
    <% if policy(@user).update? %>
      <div class="flex-row__cell">
        <%= link_to "Edit User", edit_user_path(@user), class: "btn btn--primary" %>
      </div>
    <% end %>
    <% if  @user.has_answered_group_surveys? %>
      <div class="flex-row__cell">
        <%= link_to c_t(:member_preference).pluralize, group_surveys_user_path(@user), class: "btn btn--secondary" %>
      </div>
    <% end %>
  </div>
</div>

<div class="content__main">

  <div class="card">
    <div class="card__section card__section--border">
      <label><strong>Name</strong></label>
      <p><%= @user.name %></p>
    </div>
    <div class="card__section card__section--border">
      <label><strong>Status</strong></label>
      <p><%= UserDecorator.decorate(@user).active_status %></p>
    </div>
    <div class="card__section card__section--border">
      <label><strong>Email</strong></label>
      <p><%= @user.email %></p>
    </div>
    <div class="card__section card__section--border">
      <label><strong>Biography</strong></label>
      <p><%= @user.biography %></p>
    </div>
  </div>


  <% if policy(@user).access_hidden_info? %>
    <div class="card">
      <div class="card__section card__section--border">
        <h2>Hidden info</h2>
        <h4>Only D&I Management can see hidden fields</h4>
      </div>
      <% @user.enterprise.fields.where(private: false).each do |field| %>
        <div class="card__section card__section--border">
          <label><strong><%= field.title %></strong></label>
          <p><%= @user.string_for_field(field) %></p>
        </div>
      <% end %>
    </div>
  <% end %>

</div>