<div class="content__header">
  <h1>User details</h1>
  <% if policy(@user).update? %>
    <%= link_to "Edit User", edit_user_path(@user), class: "btn btn--primary" %>
  <% end %>
</div>

<div class="content__main">

  <div class="card">
    <div class="card__section card__section--border">
      <label><strong>Name</strong></label>
      <p><%= @user.name %></p>
    </div>
    <div class="card__section card__section--border">
      <label><strong>Status</strong></label>
      <p><%= UserDecorator.decorate(@user).active_status %></p>
    </div>
    <div class="card__section card__section--border">
      <label><strong>Email</strong></label>
      <p><%= @user.email %></p>
    </div>
    <div class="card__section card__section--border">
      <label><strong>Biography</strong></label>
      <p><%= @user.biography %></p>
    </div>
  </div>

  <div class="card">
    <% @user.enterprise.fields.where(private: false).each do |field| %>
      <div class="card__section card__section--border">
        <label><strong><%= field.title %></strong></label>
        <p><%= @user.string_for_field(field) %></p>
      </div>
    <% end %>
  </div>

</div>
