<% if cf.is_a? TextField %>
  <%= f.input cf.title.downcase.to_sym, label: cf.title, as: :fake, input_html: { name: "custom-fields[#{cf.id}]", value: resource.info[cf] } %>
<% elsif cf.is_a? NumericField %>
  <%= f.input cf.title.downcase.to_sym, label: cf.title, as: :fake, input_html: { name: "custom-fields[#{cf.id}]", value: resource.info[cf], type: "number", min: cf.min, max: cf.max } %>
<% elsif cf.is_a? DateField %>
  <%= f.input cf.title.downcase.to_sym, label: cf.title, as: :fake, input_html: { name: "custom-fields[#{cf.id}]", value: resource.info[cf], type: "text", placeholder: "MM/DD/YYYY" } %>
<% elsif cf.is_a? SelectField %>
  <label><%= cf.title %></label>
  <div class="input select">
    <select name="custom-fields[<%= cf.id %>]">
      <% cf.options.each do |fo| %>
        <option value="<%= fo %>" <%= "selected=selected" if resource.info[cf] == fo %>><%= fo %></option>
      <% end %>
    </select>
  </div>
<% elsif cf.is_a? CheckboxField %>
  <div class="input checkbox">
    <label><%= cf.title %></label>
    <% cf.options.each do |fo| %>
      <%= check_box_tag "custom-fields[#{cf.id}][]", fo, resource.info[cf] && resource.info[cf].include?(fo) %>
      <%= fo %>
    <% end %>
  </div>
<% end %>