<% if cf.is_a? TextField %>
  <% unless cf.alternative_layout %>
    <%= f.input cf.title.downcase.to_sym, label: cf.title, as: :fake, input_html: { name: "custom-fields[#{cf.id}]", value: resource.info[cf] } %>
  <% else # Textarea %>
    <div class="input text">
      <label class="label"><%= cf.title %></label><br>
      <textarea name="custom-fields[<%= cf.id %>]" cols="30" rows="10"><%= resource.info[cf] %></textarea>
    </div>
  <% end %>
<% elsif cf.is_a? NumericField %>
  <%= f.input cf.title.downcase.to_sym, label: cf.title, as: :fake, input_html: { name: "custom-fields[#{cf.id}]", value: resource.info[cf], type: "number", min: cf.min, max: cf.max } %>
<% elsif cf.is_a? DateField %>
  <%= f.input cf.title.downcase.to_sym, label: cf.title, as: :fake, input_html: { name: "custom-fields[#{cf.id}]", value: resource.info[cf], type: "text", placeholder: "MM/DD/YYYY" } %>
<% elsif cf.is_a? SelectField %>
  <div class="input select">
    <label><%= cf.title %></label>
    <select name="custom-fields[<%= cf.id %>]">
      <% cf.options.each do |option| %>
        <option value="<%= option %>"<%= " selected=selected" if resource.info[cf] == option %>><%= option %></option>
      <% end %>
    </select>
  </div>
<% elsif cf.is_a? CheckboxField %>
  <% unless cf.alternative_layout %>
    <div class="input checkbox">
      <label><%= cf.title %></label>
      <% cf.options.each do |option| %>
        <%= check_box_tag "custom-fields[#{cf.id}][]", option, resource.info[cf] && resource.info[cf].include?(option) %>
        <%= option %>
      <% end %>
    </div>
  <% else # Select2 %>
    <div class="input select">
      <label><%= cf.title %></label>
      <select name="custom-fields[<%= cf.id %>][]" class="select2" multiple="multiple">
        <% cf.options.each do |option| %>
          <option value="<%= option %>"<%= " selected=selected" if resource.info[cf].include? option %>><%= option %></option>
        <% end %>
      </select>
    </div>
  <% end %>
<% end %>