<div class="content__main">
  <%= simple_form_for @user_role do |f| %>
    <div class="card">
      <div class="card__section card__section--border">
        <p class="field__hint">
          <%= f.input :role_name, input_html: { autofocus: true, value: @user_role.role_name.titleize } %>
        </p>
        <%= f.input :role_type, :collection => UserRole.role_types, :value => @user_role.role_type, :include_blank => false %>
        <%= f.input :priority, :collection => UserRole.available_priorities(current_user.enterprise.user_roles.priorities - [@user_role.priority]), :value => @user_role.priority, :include_blank => false %>
      </div>
      <div class="card__section card__section--border">
        <%= f.button :submit %>        
      </div>
    </div>
  <% end %>
</div>