<% unless answer.question.campaign.enterprise.disable_likes %>
<div style="text-align: center; font-size: 0.7em;">
  <%= button_tag data: { answer_id: answer.id, is_liked: is_answer_liked?(answer.id) }, class: "likeBtn" do %>
    <img class="svg <%= is_answer_liked?(answer.id) ? "likeImgFill" : "likeImg" %>" width="32px" height="32px" src="<%= image_path('icons/like.svg') %>" />
  <% end %>
  <br />
  <span class="likeCount" id="likeCount<%= answer.id %>" style="font-size: 0.8em;"><%= answer.likes.size %></span>
</div>
<% end %>
