<div class="content__main">
  <div class="card">
    <div class="card__section card__section--cover" style="background-image: url(<%= @campaign.banner.expiring_url(3600) %>)">
      <h1 class="card__section--cover__title"><%= @campaign.title %></h1>
    </div>
    <div class="card__section card__section--border">
      <div class="flex-row flex-row--spaced flex-row--middle">
        <div class="flex-row__cell flex-row__cell--spaced flex-4">
          <p class="emphasis"><%= @campaign.description %></p>
        </div>
        <div class="flex-row__cell flex-row__cell--spaced flex-2">
          <div class="flex-row flex-row--middle">
            <div class="flex-row__cell">
              <h3 class="inline-block">Participating <%= c_t(:erg) %></h3>
            </div>
            <div class="flex-row__cell">
              <% @campaign.groups.each do |group| %>
                <div class="avatar avatar--small avatar--round inline-block tooltipster" style="background-image: url(<%= image_url group.logo.expiring_url(3600, :thumb) %>)" title="<%= group.name %>"></div>
              <% end %>
            </div>
          </div>
          <hr>
          <h3><%= @campaign.users.count %> participants</h3>
          <hr>
          <h3><%= @campaign.progression %>% solved</h3>
        </div>
        <% if @sponsors.any? %>
          <div class="flex-row__cell flex-row__cell--spaced flex-2">
            <%= render partial: 'shared/carousel/sponsor_card', locals: { sponsors: @sponsors } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <h1 style="margin-top: 50px;">Questions</h1>
  <div class="card">
    <% @questions.each do |question| %>
      <%= link_to user_question_path(question), class: "block block-section" do %>
        <div class="card__section card__section--border">
          <div class="flex-row flex-row--middle">
            <div class="flex-row__cell flex-row__cell--grow">
              <h2><%= question.title %></h2>
              <p><%= question.description %></p>
            </div>
            <div class="flex-row__cell">
              <span class="icon icon--chevron-right"></span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
