<div class="content__header">
  <h1>
    <%= link_to "My Campaigns", user_user_campaign_path %> /
    <%= link_to @question.campaign.title, user_user_campaign_questions_path(@question.campaign) %> /
    <%= @question.title.truncate(60) %>
  </h1>
</div>

<div class="content__main">

  <% if !@question.solved_at.nil? %>
    <div class="card">
      <div class="card__section card__section--border">
        <h3>This question was marked as solved <%= time_ago_in_words @question.solved_at %> ago</h3>
        <p><%= @question.conclusion %></p>
      </div>
    </div>
  <% end %>

  <div class="card">
    <div class="card__section card__section--border">
      <h3><span class="accent">Q:</span> <%= @question.title %></h3>
      <p><%= @question.description %></p>
      <div class="flex-row flex-row--middle">
        <small class="flex-row__cell">Submitted <%= time_ago_in_words(@question.created_at) %> ago</small>
        <small class="flex-row__cell highlight"><%= pluralize(@answers.size, 'answer') %> </small>
      </div>
    </div>
    <% @answers.each do |answer| %>
      <div class="card__section card__section--border">
        <div class="flex-row">
          <div class="flex-row__cell text-center">
            <%= render partial: "like_feature", locals: { answer: answer } %>

            <% if answer.chosen %>
              <div class="chosen">
                <%= inline_svg('icons/star-purple.svg', class: "icon-inline#{ answer.chosen ? ' icon-inline--yellow' : '' }", title: "This answer was starred by an admin.") %>
              </div>
            <% end %>
          </div>

          <div class="answer">
            <div class="answer__metadata">
              <span class="highlight"><%= answer.author.name_with_status %></span>
              <span class="muted"><%= time_ago_in_words(answer.created_at) %> ago</span>
            </div>
            <div class="answer__content">
              <p><%= answer.content %></p>

              <% answer.comments.each do |comment| %>
                <%# only show comment if its been approved OR pending comments are not enabled OR if user is an erg leader %>
                <% if (comment.approved or !current_user.enterprise.enable_pending_comments) or (CampaignPolicy.new(current_user, Campaign).manage?) %>
                  <div class="comment">
                    <p>
                      <%= comment.content %> &mdash;
                      <span class="accent"><%= comment.author.name_with_status %></span>
                      <span class="muted"><%= time_ago_in_words(comment.created_at) %> ago</span>
                      <span class="pull-right"><%= link_to "Approve", answer_comment_path(comment, answer_comment: {approved: true}), method: :put if !comment.approved? and current_user.enterprise.enable_pending_comments? and CampaignPolicy.new(current_user, Campaign).manage? %></span>
                    </p>
                  </div>
                <% end %>
              <% end %>

              <%= simple_form_for [:user, :user, answer, :user, answer.comments.new] do |f| %>
                <%= f.input :content,
                      label: false,
                      placeholder: "Enter a comment...",
                      input_html: { rows: 2, class: "comment__input submit-on-return" } %>
                <%= f.button :submit, value: "Submit" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="card">
    <div class="card__section">
    <% if @question.solved_at.nil? %>
      <%= simple_form_for [:user, @question, :user, @answer] do |f| %>
        <%= f.input :content, label: "<h3>Write an answer</h3>".html_safe, placeholder: "Type an answer here..." %>
        <%= f.association :contributing_group, collection: (@question.campaign.groups & current_user.groups).map { |g| [ g.name, g.id ] } %>
        <%= f.button :submit, value: "Submit" %>
      <% end %>
    <% else %>
      <p>This question is closed and doesn't take additional answers.</p>
    <% end %>
    </div>
  </div>
</div>

<script>
  $('.js-counter--votable').click(function() {
    $.ajax({
      method: 'put',
      url: '/user/answers/' + $(this).data('answer-id') + '/vote',
      data: {
        answer: {
          upvoted: !$(this).data('upvoted')
        }
      }
    });

    var voteChange = ($(this).data('upvoted') ? -1 : 1);
    $(this).find('.counter__number').text(parseInt($(this).find('.counter__number').text()) + voteChange);

    $(this).data('upvoted', !$(this).data('upvoted'));
    $(this).toggleClass('counter--active');
  });

  // Preload arrow images
  var image = new Image(); image.src = "<%= image_path('icons/upvote.svg') %>";
  var image2 = new Image(); image2.src = "<%= image_path('icons/upvote-active.svg') %>";

  // Submit comments using the return key
  Utility.submitOnReturn($('.submit-on-return'));
</script>
