<div class="content__main">
  <div class="card">
    <div class="card__section">
      <table class="table--has-border" id='<%= name %>'>
        <thead>
          <th></th>
          <th>Title</th>
          <th>URL</th>
          <th>Creation date</th>
          <th>Options</th>
        </thead>
        <tbody>
          <% resources.each do |resource| %>
            <tr>
              <% if resource.url.nil? %>
                <td class="icon-column">
                  <a href="<%= resource.file.expiring_url(3600) %>" class="icon icon--bg icon--large" style="background-image: url(<%= thumbnail_for_resource(resource) %>)"></a>
                </td>
                <td><%= link_to resource.title, resource.file.expiring_url(3600), target: '_blank' %></td>
                <td>N/A></td>
              <% else %>
                <td></td>
                <td><%= link_to resource.title, resource.url, target: '_blank' %></td>
                <td><%= link_to 'Link', resource.url, target: '_blank' %></td>
              <% end %>
              <td><%= resource.created_at.to_s :reversed_slashes %></td>
              <td>
                <%= link_to "Edit", polymorphic_path(@container_path + [resource], action: "edit") if EnterpriseFolderPolicy.new(current_user, nil).edit? %> -
                <%= link_to "Delete", @container_path + [resource], method: :delete, class: "error", data: { confirm: "Are you sure?" } if EnterpriseFolderPolicy.new(current_user, nil).destroy? %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


<script>
  $(document).on('page:change', function() {
    $(document).off('page:change');

    $('#<%= name %>').dataTable(Utility.mergeWithDTDefaults({
      order: [[2  , "desc"]]
    }));
  });
</script>