<div class="nested-fields space-bottom segment-rule">
  <div class="flex-row flex-row--baseline">
    <div class="flex-row__cell">
      <%= link_to_remove_association f do %>
        <%= inline_svg('icons/remove.svg', class: "icon") %>
      <% end %>
    </div>
    <div class="flex-row__cell">
      <div class="input-group">
        <span class="input-group-btn">
        <button type="button" class="btn btn--primary btn--small" data-toggle="modal"
                data-target="#group-scope-selector">Select <%= c_t(:erg).pluralize.capitalize %></button>
        </span>
        <%= f.association :groups, label: false, collection: [], input_html: { class: "form-control select2-groups", id: "select2-groups", style: "width: 500px;" } %>
      </div>
    </div>
    <div class="flex-row__cell">
      <%= f.input :operator, collection: SegmentGroupScopeRule.operators, label: false %>
    </div>
  </div>
</div>
