<div class="content__main">
  <div class="card">
    <div class="card__section">
      <% if @sub_segments&.any? %>
        <table class="table--has-border" id="segments-table">
          <thead>
            <th>ID</th>
            <th>Name</th>
            <th># of rules</th>
            <th>Date created</th>
            <th>Options</th>
          </thead>
          <tbody>
            <% @sub_segments.each do |segment| %>
              <tr>
                <td><%= segment.id %></td>
                <td><%= link_to segment.name, segment_path(segment), class: "accent" %></td>
                <td><%= segment.rules.count %></td>
                <td><%= segment.created_at.to_s :reversed_slashes %></td>
                <td><%= link_to "Edit", edit_segment_path(segment) if SegmentPolicy.new(current_user, segment).edit? %> - <%= link_to "Delete", segment_path(segment), method: :delete, class: "error", data: { confirm: "Are you sure?" } if SegmentPolicy.new(current_user, segment).destroy? %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No sub-<%= c_t(:segment).downcase.pluralize %> have been created yet. <%= link_to "Create one", new_segment_path %> to start tracking logical groups that automatically update to changes in your workforce.</p>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#segments-table').dataTable(Utility.mergeWithDTDefaults({
      order: [[3, "desc"]]
    }));
  });
</script>
