<h1><%= @segment.name %></h1>
<div class="content__header">
  <div class="flex-row flex-row--middle full-width">
    <div class="flex-row__cell flex-row__cell--grow">
      <div class="field__input-wrapper" style="width: 450px;">
        <span class="field__add-on field__add-on--right"><span class="icon icon--chevron-down"></span></span>
        <select class="field__input field__input--right-add-on" id="js-group-select">
          <option <%= " selected disabled" if @group.nil? %>></option>
          <% current_user.manageable_groups.each do |group| %>
            <option value="<%= group.id %>"<%= " selected disabled" if group == @group %>><%= group.name %></option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="flex-row__cell">
      <%= link_to "Export targeted members", export_csv_segment_path(@segment, group_id: @group&.id), class: "btn btn--secondary" %>
    </div>
  </div>
</div>


<div class="content__main">
  <ul>
    <% @segment.rules.each do |rule| %>
      <li><%= rule.field&.title || 'Associated field no longer exists!' %> <%= SegmentRule.operator_text(rule.operator) %> <%= JSON.parse(rule.values).join(', ') %></li>
    <% end %>
  </ul>

  <div class="card">
    <div class="card__section">
      <% if @members.any? %>
        <table class="table--has-border">
          <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Options</th>
          </thead>
          <tbody>
            <% @members.each do |user| %>
              <tr>
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td>
                  <%= link_to "Details", user_path(user) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>No user match search criteria.</p>
      <% end %>
    </div>
  </div>
</div>


<script>
  $(document).on('page:change', function() {
    $(document).off('page:change');

    $('#js-group-select').change(function() {
      var url = location.protocol + '//' + location.host + location.pathname;
      var group_id = $(this).find(":selected").val();

      if(group_id){
        url+= '?group_id=' + group_id;
      }

      location = url
    });
  });
</script>
