<div class="content__header">
  <h1><%= @segment.name %></h1>
  <%= link_to "Export members", export_csv_segment_path(@segment), class: "btn btn--secondary" %>
</div>

<div class="content__main">
  <ul>
    <% @segment.rules.each do |rule| %>
      <li><%= rule.field.title %> <%= SegmentRule.operator_text(rule.operator) %> <%= JSON.parse(rule.values).join(', ') %></li>
    <% end %>
  </ul>

  <div class="row">
    <% @segment.members.each do |member| %>
      <div class="col sm-12 md-4 lg-3">
      <div class="card">
        <div class="card__section">
          <div class="flex-row">
            <div class="flex-row__cell flex-row__cell--ellipsis">
              <%= link_to member.name_with_status, member %>
            </div>
          </div>
        </div>
      </div>
      </div>
    <% end %>
  </div>
</div>
