<%= render partial: 'components/group_selector', locals: { id: "group-scope-selector", classes: "group-selector-graphs", multiselect: true } %>

<div class="content__header">
  <h1>Events</h1>

  <button type="button" class="btn btn--primary btn--small" style="margin-right: 8px;" data-toggle="modal" data-target="#group-scope-selector">Filter <%= c_t(:erg).pluralize %></button>
  <button type="button" class="btn btn--secondary btn--small" data-toggle="collapse" data-target="#groups-list-container" aria-expanded="false" aria-controls="groups-list-container">Show Filter</button>
</div>

<div class="content__main">
  <div id="groups-list-container" class="collapse">
    <div class="card">
      <div class="card__section">
        <h4><b>Filtered <%= c_t(:erg).pluralize %></b></h4>
        <div class="groups-list"><h4>No filter</h4></div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__section">
      <div class="flex-row flex-row--middle">
        <div class="flex-row__cell flex-row__cell--grow">
          <h4>Initiatives per <%= c_t(:erg) %></h4>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <a href="#" class="csv-export-link hidden-xs" data-url="<%= initiatives_per_group_metrics_groups_path(format: :csv) %>">Export CSV</a>
          </div>
          <div id="initiatives_per_group" class="graph" data-url="<%= initiatives_per_group_metrics_groups_path %>">
            <svg></svg>
          </div>
          <input type="button" hidden class="drillout_button" value="Back"></input>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/select2_ajax_search.js.erb' %>
