<%= render partial: 'components/group_selector', locals: { id: "group-scope-selector", multiselect: true } %>

<div class="content__header">
  <h1>Overview</h1>
  <button type="button" class="btn btn--secondary btn--small" data-toggle="modal" data-target="#group-scope-selector">Filter Groups</button>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <div class="row">
        <div class="col md-6 sm-12">
          <div class="panel panel--primary text-center">
            <div class="panel-headline"><p><strong>Total <%= c_t(:erg).capitalize.pluralize %></strong></p></div>
            <div class="panel-data"><p><b class="accent"></b></p></div>
          </div>
        </div>

        <div class="col md-6 sm-12">
          <div class="panel panel--primary text-center">
            <div class="panel-headline"><p><strong>Average # of Members</strong></p></div>
            <div class="panel-data"><p><b class="accent"></b></p></div>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>

  <div class="card">
    <div class="card__section">
      <div class="flex-row flex-row--middle">
        <div class="flex-row__cell flex-row__cell--grow">
          <h4><%= c_t(:erg) %> Population</h4>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <a href="#" class="csv-export-link hidden-xs" data-url="<%= group_population_metrics_groups_path(format: :csv) %>">Export CSV</a>
          </div>
          <div id="group_population" class="graph" data-url="<%= group_population_metrics_groups_path %>">
            <svg></svg>
          </div>
          <input type="button" hidden class="drillout_button" value="Back"></input>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__section">
      <div class="flex-row flex-row--middle">
        <div class="flex-row__cell flex-row__cell--grow">
          <h4>Views per <%= c_t(:erg) %></h4>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <a href="#" class="csv-export-link hidden-xs" data-url="<%= views_per_group_metrics_groups_path(format: :csv) %>">Export CSV</a>
          </div>
          <div id="views_per_group" class="graph" data-url="<%= views_per_group_metrics_groups_path %>">
            <svg></svg>
          </div>
          <input type="button" hidden class="drillout_button" value="Back"></input>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__section">
      <div class="flex-row flex-row--middle">
        <div class="flex-row__cell flex-row__cell--grow">
          <h4>Growth of <%= c_t(:erg).pluralize %></h4>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <a href="#" class="csv-export-link hidden-xs" data-url="<%= growth_of_groups_metrics_groups_path(format: :csv) %>">Export CSV</a>
          </div>
          <div id="growth_of_groups" class="graph" data-url="<%= growth_of_groups_metrics_groups_path %>">
            <svg></svg>
          </div>
          <input type="button" hidden class="drillout_button" value="Back"></input>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/select2_ajax_search.js.erb' %>

<script>
  $("#group-scope-selector").on('saveGroups', function(e, selectedGroups) {
    let groupTexts = $.map(selectedGroups, function(group, key) {
        return "<span class='group-selected-text'>" + group.text + "</span>";
    });
    $("#group-list").html(groupTexts.join(" "));
  });
</script>