<%= render partial: 'components/group_selector', locals: { id: "group-scope-selector", classes: "group-selector-graphs", multiselect: true } %>

<div class="content__header">
  <h2 class="h1-styling">Resources</h2>

  <button type="button" class="btn btn--primary btn--small hidden-xs" style="margin-right: 8px;" data-toggle="modal" data-target="#group-scope-selector">Filter <%= c_t(:erg).pluralize %></button>
  <button type="button" class="btn btn--secondary btn--small hidden-xs" data-toggle="collapse" data-target="#groups-list-container" aria-expanded="false" aria-controls="groups-list-container">Show Filter</button>

  <button type="button" class="btn btn-primary visible-xs" style="margin-right: 8px; margin-bottom: 4px;" data-toggle="modal" data-target="#group-scope-selector">Filter <%= c_t(:erg).pluralize %></button>
  <button type="button" class="btn btn-secondary visible-xs" data-toggle="collapse" data-target="#groups-list-container" aria-expanded="false" aria-controls="groups-list-container">Show Filter</button>
</div>

<div class="content__main">
  <div id="groups-list-container" class="collapse">
    <div class="card">
      <div class="card__section">
        <h3 class="h4-styling"><b>Filtered <%= c_t(:erg).pluralize %></b></h3>
        <div class="groups-list"><h4>No filter</h4></div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__section">
      <div class="flex-row flex-row--middle">
        <div class="flex-row__cell flex-row__cell--grow">
          <h3 class="h4-styling">Views per folder</h3>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <a href="#" class="csv-export-link hidden-xs" data-url="<%= views_per_folder_metrics_groups_path(format: :csv) %>">Export CSV</a>
          </div>
          <div id="views_per_folder" class="graph" data-url="<%= views_per_folder_metrics_groups_path %>">
            <svg></svg>
          </div>
          <input type="button" hidden class="drillout_button" value="Back"></input>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__section">
      <div class="flex-row flex-row--middle">
        <div class="flex-row__cell flex-row__cell--grow">
          <h3 class="h4-styling">Views per resource</h3>
          <%= render 'components/range_selector' %>
          <div class="card__action">
            <a href="#" class="csv-export-link hidden-xs" data-url="<%= views_per_resource_metrics_groups_path(format: :csv) %>">Export CSV</a>
          </div>
          <div id="views_per_resource" class="graph" data-url="<%= views_per_resource_metrics_groups_path %>">
            <svg></svg>
          </div>
          <input type="button" hidden class="drillout_button" value="Back"></input>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__section">
      <div class="flex-row flex-row--middle">
        <div class="flex-row__cell flex-row__cell--grow">
          <h3 class="h4-styling">Growth of resources</h3>
          <%= render 'components/range_selector' %>
          <div id="growth_of_resources" class="graph" data-url="<%= growth_of_resources_metrics_groups_path %>">
            <svg></svg>
          </div>
          <input type="button" hidden class="drillout_button" value="Back"></input>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/select2_ajax_search.js.erb' %>
