<div class="content__main">
  <%= simple_form_for @container_path + [@resource] do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <%= f.input :title,
              label: "Start off by giving your resource a representative <strong>title</strong>".html_safe,
              input_html: { autofocus: true } %>
        <%= f.association :container, label: "Move to another Folder", include_blank: false, input_html: { class: "select2" }, collection: @resource.container.container.folders if @resource.container_type === "Folder"%>
        <%= f.input :file, as: :attachment_preview, label: "Upload the <strong>file</strong> you want to share".html_safe %>
        <%= f.input :url, label: "URL", input_html: { autofocus: true } %>
        <%= f.association :tags, input_html: { class: 'multiple-input', multiple: "multiple" }, collection: @resource.tags, label: "Tags" %>
      </div>
    </div>
    <%= f.hidden_field :resource_type %>
    <%= f.button :submit %>
  <% end %>
</div>
