<div class="content__header">
    <%= link_to group_posts_path(@group) do %>
      <button class="btn btn--primary">Posts(<%= @posts_count %>)</button>
    <% end %>
  <h1>/Pending(<%= @pending_posts.size %>)</h1>
</div>

<div class="content__main">
  <div class="card">
    <% if @pending_posts.empty? %>
      <div class="card__section">
        <p>No pending posts.</p>
      </div>
    <% else %>
      <% @pending_posts.each do |news| %>
        <% if news.news_link && GroupNewsLinkPolicy.new(current_user, [@group]).index? %>
          <%= render partial: "groups/shared/news_links", locals: {news_link: news.link } %>
        <% elsif news.group_message && GroupMessagePolicy.new(current_user, [@group]).index?%>
          <%= render partial: "groups/shared/messages", locals: {message: news.link } %>
        <% elsif news.social_link  && GroupSocialLinkPolicy.new(current_user, [@group]).index? && ENV['ENABLE_SOCIAL_MEDIA'] %>
            <div class="flex-row__cell link-group">

              <% if news.link.url.include?("facebook") %>
                <iframe src="https://www.facebook.com/plugins/post.php?href=<%= news.link.url_safe %>&width=500&show_text=true&height=290&appId" width="500" height="290" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
              <% elsif news.link.url.include?("instagram") %>
                <iframe width="320" height="440" src="<%= news.link.url %>embed" frameborder="0"></iframe>
              <% else %>
                  <%= raw news.link.embed_code %>
              <% end %>

              <%= link_to 'Delete', group_social_link_path(@group, news.link.id),method: :delete, class: "error", data: { confirm: "Are you sure?" } if GroupSocialLinkPolicy.new(current_user, [@group, news.link]).destroy? %>
              <%= link_to "Approve", approve_group_posts_path(:group_id => @group.id, :link_id => news.id), method: :post if GroupPostsPolicy.new(current_user, [@group]).update? and !news.approved? %>
            </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
