<div class="content__header">
    <%= link_to group_posts_path(@group) do %>
      <button class="btn btn--primary">Posts(<%= NewsFeedLink.approved(@group).count  %>)</button>
    <% end %>
    <h1>/Pending(<%= NewsFeedLink.unapproved(@group).count  %>)</h1>
</div>

<div class="content__main">
  <div class="card">
    <% if @posts.empty? %>
      <div class="card__section">
        <p>No pending posts.</p>
      </div>
    <% else %>
      <% @posts.each do |news| %>
        <% share_message = shared_message news %>
        <% if news.link_type == "NewsLink" %>
          <%= render partial: "groups/shared/news_links", locals: {news_link: news.link, share_message: share_message } %>
        <% elsif news.link_type === "GroupMessage"%>
          <%= render partial: "groups/shared/messages", locals: {message: news.link, share_message: share_message  } %>
        <% elsif news.link_type === "SocialLink"%>
          <%= render partial: "groups/shared/social_links", locals: {social_link: news.link, share_message: share_message  } %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
