<div class="content__main">
<h1><%= @group.parent.capitalize_name %> has <%= pluralize(@group.parent.children.count, "sub-erg") %> that need to be to be categorized</h1>
  <%= simple_form_for group_category_type, url: group_categories_url, method: :post do |f| %>
  <div class="card">
    <div class="card__section">
    <label>Type of Category</label>
    <%= f.input :name, label: false, placeholder: 'Region' %>
    <label>Input categories(please input your categories with comma separting them)</label>
    <%= f.input :category_names, label: false, placeholder: 'eg. Norther Region,Southern Region,Eastern Region' %>
    <%= f.hidden_field :group_id, value: @group.id %>
  <%= f.button :submit, 'create categories' %>
  </div>
</div>
<% end %>
</div>