<div class="content__header">
	<h1>Create A Category</h1>
	<%= link_to "View All Categories", view_all_group_categories_url, class: "btn btn--primary" %>
</div>

<div class="content__main">
	<%= simple_form_for group_category_type, url: group_categories_url, method: :post do |f| %>
	<div class="card">
		<div class="card__section">
			<label>Category Name</label>
			<%= f.input :name, label: false %>
			<label>Enter category labels separated by a comma</label>
			<%= f.input :category_names, label: false, placeholder: 'eg. North, South, East, West' %>
			<%= f.button :submit, 'Save' %>
		</div>
	</div>
	<% end %>
</div>