<div class="content__header">
	<h1>Create A Category</h1>
	<%= link_to "View All Categories", view_all_group_categories_url, class: "btn btn--primary" %>
</div>

<div class="content__main">
<div class="flex-row__cell flex-row__cell--grow">
	<div class="field__input-wrapper" style="width: 450px;">
		<span class="field__add-on field__add-on--right"><span class="icon icon--chevron-down"></span></span>
		<select class="field__input field__input--right-add-on" id="js-group-select">
			<% current_user.enterprise.groups.where(parent_id: nil).each do |parent| %>
			<%= link_to group_categories_url(parent_id: parent.id) do %>
			<option value="<%= parent.id %>"<%= " selected disabled" if parent == @parent %>><%= parent.name %></option>
			<% end %>
			<% end %>
		</select>
	</div>
</div>
<br>
<br>
	<%= simple_form_for group_category_type, url: group_categories_url, method: :post do |f| %>
	<div class="card">
		<div class="card__section">
			<label>Category Name</label>
			<%= f.input :name, label: false %>
			<label>Enter category labels separated by a comma</label>
			<%= f.input :category_names, label: false, placeholder: 'eg. North, South, East, West' %>
			<%= f.hidden_field :parent_id, value: @parent.id  if @parent%>
			<%= f.button :submit, 'Save' %>
		</div>
	</div>
	<% end %>
</div>

<script>
  $(document).on('page:change', function() {
    $(document).off('page:change');

    $('#js-group-select').change(function() {
      location = "/group_categories?parent_id=" + $(this).find(":selected").val();
    });
  });
</script>