<div class="content__main">
<h1>Label Sub-<%= "#{ c_t(:erg).pluralize }" %> of <%= @parent.name %></h1>
<% if @categories.empty? %>
<p><%= link_to "Create Sub-#{c_t(:erg).titleize} Categories", new_group_category_url, class: "btn btn--primary" %></p>
<% else %>
    <%= form_tag update_all_sub_groups_url, method: :post do %>
	<div class="card">
	  <div class="card__section row">
	  <% @parent.children.each do |child| %>
	  <%= simple_fields_for 'children[]', child do |c| %>
		  <div class="col md-6 mb10">
            <%= c.association :group_category, collection: @categories, :include_blank => "None",label: "#{child.name}" %>
		  </div>
		  <% end %>
		  <% end %>
	  </div>
	</div>
	<%= submit_tag "Create Categories", class: "btn btn--primary" %> <%= link_to "View All Categories", view_all_group_categories_url, class: "btn btn--primary" %>
	<% end %>
	<br>
<% end %>
</div>

