<div class="content__header">
  <h1>Label <%= c_t(:sub_erg) %></h1>
  <%= link_to "View All Categories", view_all_group_categories_url, class: "btn btn--primary" %>
</div>


<div class="content__main">
<div class="flex-row__cell flex-row__cell--grow">
	<div class="field__input-wrapper" style="width: 450px;">
		<span class="field__add-on field__add-on--right"><span class="icon icon--chevron-down"></span></span>
		<select class="field__input field__input--right-add-on" id="js-group-select">
			<% current_user.enterprise.groups.where(parent_id: nil).each do |parent| %>
			<%= link_to group_categories_url(parent_id: parent.id) do %>
			<option value="<%= parent.id %>"<%= " selected disabled" if parent == @parent %>><%= parent.name %></option>
			<% end %>
			<% end %>
		</select>
	</div>
</div>
<br>
<br>


<% if @parent.children.empty? %>
<h2>No <%= c_t(:sub_erg) %> available.</h2>
<% else %>
    <%= form_tag update_all_sub_groups_url, method: :post do %>
	<div class="card">
	  <div class="card__section row">
	  <% @parent.children.each do |child| %>
	  <%= simple_fields_for 'children[]', child do |c| %>
		  <div class="col md-6 mb10">
            <%= c.association :group_category, collection: @categories, :include_blank => "None",label: "#{child.name}" %>
		  </div>
		  <% end %>
		  <% end %>
	  </div>
	</div>
	<%= submit_tag "Save", class: "btn btn--primary" %>
	<% end %>
	<br>
<% end %>
</div>

<script>
  $(document).on('page:change', function() {
    $(document).off('page:change');

    $('#js-group-select').change(function() {
      location = "/group_categories?parent_id=" + $(this).find(":selected").val();
    });
  });
</script>