<div class="content__main">
<h1>Categories of Sub-<%= c_t(:erg).titleize.pluralize %> of <%= @parent.name %></h1>
    <%= form_tag update_all_groups_url, method: :post do %>
	<div class="card">
	  <div class="card__section row">
	  <% @parent.children.each do |child| %>
	  <%= simple_fields_for 'children[]', child do |c| %>
		  <div class="col md-6 mb10">
            <%= c.association :group_category, collection: @categories, :include_blank => "None",label: "#{child.name}" %>
		  </div>
		  <% end %>
		  <% end %>
	  </div>
	</div>
	<%= submit_tag "Save Categories", class: "btn btn--primary" %>
	<% end %>
	<br>
	<%= link_to "Go Here To Create a New Category", new_group_category_url(group_id: @group), class: "btn btn--primary" %>
</div>

