<div class="content__header">
	<h1>View All Categories</h1>
	<%= link_to "New Category", new_group_category_url, class: "btn btn--primary" %>
</div>

<div class="content__main">
  <% if @category_types.empty? %>
  No Categories Available.
  <% else %>
	<div class="card">
		<% @category_types.each do |category_type| %>
		<div class="card__section card__section--border">
			<div class="flex-row flex-row--middle">
				<div class="flex-row__cell flex-row__cell--grow">
					<h1><span style="font-weight: bold;"><%= category_type %></span>
					<%= link_to "+", add_category_group_category_type_url(category_type) %></h1>
				</div>
				<div class="flex-row__cell flex-row__cell--grow">
				  <div class="flex-row__cell link-group">
				    <%= link_to "Edit", [:edit, category_type] %>
				    <%= link_to "Delete", [category_type], method: :delete, data: {confirm: "NOTE that all associated categories will also be deleted!!!"}, class: "error" %>
				  </div>
				</div>
			</div>
		</div>
		<% category_type.group_categories.each do |category| %>
		<div class="card__section card__section--border">
			<div class="flex-row flex-row--middle">
				<div class="flex-row__cell flex-row__cell--grow">
					<%= link_to "#{category}" + "(#{category.groups.size})", "#", class: "nested_show", id: category.id %>
					<%= link_to "#{category}" + "(#{category.groups.size})", "#", class: "nested_hide", id: category.id, style: "display:none;" %>
				</div>
				<div class="flex-row__cell flex-row__cell--grow">
				  <div class="flex-row__cell link-group">
				    <%= link_to "Edit", [:edit, category] %>
				    <%= link_to "Delete", [category], method: :delete, data: {confirm: "Are you sure you want to delete #{category} category?"}, class: "error" %>
				  </div>
				</div>
			</div>
			<% category.groups.each do |group| %>
			<div class="groups_<%= category.id%>" style="display:none; position: relative; top: 10px;">
				<div class="flex-row flex-row--middle" style="margin-bottom: 10px;">
					<div class="flex-row__cell"></div>
					<div class="flex-row__cell">
						<p><%= image_tag group.logo.expiring_url(3600, :thumb), class: "avatar" %> <%= group.capitalize_name %></p>
					</div>
				</div>
			</div>
			<% end %>

		</div>
		<% end %>
		<% end %>
	</div>
	<% end %>
</div>


<script>
	$('a.nested_show').click(function(e){
		var id = $(this).attr('id');
		$('div.groups_' + id).show();

		$(this).siblings('a.nested_hide').show();
		$(this).hide();
  }); //endof click

	$('a.nested_hide').click(function(e){
		var id = $(this).attr('id');
		$('div.groups_' + id).hide();
		$(this).siblings('a.nested_show').show();
		$(this).hide();
  }); //endof click
</script>