<div class="content__main">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for [@group, @message] do |f| %>
        <%= f.input :subject, input_html: { autofocus: true } %>
        <%= f.input :content %>

        <%= render partial: "groups/shared/post_sharing", locals: { form: f, group: @group } %>

        <%= f.button :submit %>
      <% end %>
    </div>
  </div>
</div>
