<div class="content__header">
  <h1>Messages</h1>
  <%= link_to "+ Create new message", new_group_group_message_path, class: "btn btn--primary" if policy(GroupMessage).new? %>
</div>

<div class="content__main">
  <div class="card">
    <% if @messages.empty? %>
      <div class="card__section">
        <p>There are no messages in this group.</p>
      </div>
    <% else %>
      <% @messages.each do |message| %>
        <div class="card__section card__section--border">
          <div class="row">
            <div class="col sm-1">
              <% if message.owner.present? %>
                <%= image_tag message.owner.avatar.expiring_url(3600, :thumb), size: '100x100' %>
              <% else %>
                <%= image_tag '/assets/missing_user.png', size: '100x100' %>
              <% end %>
            </div>
            <div class="col sm-11">
              <div style="padding-left: 20px;">
                <h3><%= message.subject %> - <span class="muted" title="<%= message.created_at.to_s :datetime %>"><%= time_ago_in_words(message.created_at) %> ago (<%= message.created_at.to_formatted_s(:short) %>)</span></h3>
                <p>
                <%= message.content %>
                <% if message.owner.present? %>
                  <br>
                  <i>by <%= message.owner.name %></i>
                <% end %>
                <br>
                <%= link_to "Comments(#{message.comments.count})", group_group_message_path(message.group, message)
                %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>