<div class="content__header">
  <h1><%= @message.subject %></h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section card__section--border">
      <div class="row">
        <div class="col sm-1">
          <% if @message.owner.present? %>
            <%= image_tag @message.owner.avatar.expiring_url(3600, :thumb), width: '100%' %>
          <% else %>
            <%= image_tag '/assets/missing_user.png', width: '100%' %>
          <% end %>
        </div>
        <div class="col sm-11">
          <p><%= raw @message.content %>
            <% if @message.owner.present? %>
              <br>
              <br>
              <i>by <%= @message.owner.name_with_status %></i>
            <% end %>
          </p>
        </div>
        <div class="col">
            <%= render partial: "groups/shared/like_feature", locals: {news_feed_link: @message.news_feed_link } %>
          </div>
      </div>
      <% if @tags.present? %>
        <row>
          <div class="col">
            <p>
              <% @tags.each do |tag| %>
                <%= link_to "##{tag.name}", group_posts_path(@group, search: tag.name) %>
              <% end %>
            </p>
          </div>
        </row>
      <% end %>
    </div>
  </div>
</div>

<div class="content__header">
  <h2>Comments</h2>
</div>

<div class="content__main">
  <div class="card">
    <% if @comments.empty? %>
      <div class="card__section">
        <p>No comments have been left yet.</p>
      </div>
    <% else %>
      <% @comments.each do |comment| %>
        <%# only show comment if its been approved OR pending comments are not enabled OR if user is an erg leader %>
        <% if (comment.approved or !current_user.enterprise.enable_pending_comments) or (GroupPostsPolicy.new(current_user, [@group, @message]).update?) %>
            <div class="card__section card__section--border">
          <div class="row">
            <div class="col sm-1">
              <% if comment.author.present? %>
                <%= image_tag comment.author.avatar.expiring_url(3600, :thumb), width: '100%' %>
              <% else %>
                <%= image_tag '/assets/missing_user.png', width: '100%' %>
              <% end %>
            </div>
            <div class="col sm-11">
              <div class="flex-row flex-row--middle">
                <div class="flex-row__cell flex-row__cell--grow">
                  <h4><%= comment.author.name_with_status %> said:</h4>
                  <p>
                    <%= comment.content %>
                    <br>
                    <small class="muted">
                      <%= time_ago_in_words comment.created_at %> ago
                    </small>
                  </p>
                </div>
                <div class="flex-row__cell link-group">
                  <%= link_to "Approve", group_group_message_group_message_comment_path(:group_id => @group.id, :group_message_id => @message.id, :id => comment.id, group_message_comment: {approved: true}), method: :put, class: "btn btn--primary" if !comment.approved? and current_user.enterprise.enable_pending_comments? and GroupPostsPolicy.new(current_user, [@group, @message]).update? %>
                  <%= link_to "Edit", edit_group_group_message_group_message_comment_path(:group_id => @group.id, :group_message_id => @message.id, :id => comment.id), method: :get, class: "btn btn--secondary" if current_user === comment.author %>
                  <%= link_to "Delete", group_group_message_group_message_comment_path(:group_id => @group.id, :group_message_id => @message.id, :id => comment.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn--danger" if current_user === comment.author %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <%= render 'comments_form' %>
</div>
