<div class="content__main">
  <%= simple_form_for @poll do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <p class="field__hint">Start off by giving your poll a name</p>
        <%= f.input :title, label: false %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">Describe what the goal of the poll is. The respondents will see this</p>
        <%= f.input :description, label: false %>
      </div>

      <div class="card__section card__section--border">
        <div class="row">
          <div class="col sm-6 poll_initiative_box">
            <p class="field__hint">Choose the <strong>event</strong> you want to target within these ERGs</p>
            <%= f.association :initiative,
                  collection: @poll.enterprise.initiatives.recent,
                  include_blank: true,
                  selected: @poll.initiative.try(:id) || params[:initiative_id],
                  input_html: { class: "select2" },
                  label: false,
                  disabled: disabled_input?
            %>
          </div>

          <div class="col sm-6 poll_group_segment_box <%= visibility_class %>">
            <p class="field__hint">Choose the <strong>ERGs</strong> you want to target</p>
            <%= f.association :groups,
                  collection: @poll.enterprise.groups,
                  input_html: { class: "select2" },
                  label: false
            %>

            <p class="field__hint">Choose the <strong>segments</strong> you want to target within these ERGs</p>
            <%= f.association :segments,
                  collection: @poll.enterprise.segments,
                  input_html: { class: "select2" },
                  label: false
            %>
          </div>
        </div>
      </div>
    </div>

    <h2>Fields</h2>

    <div class="card">
      <div id="sortable">
        <%= f.simple_fields_for :fields do |field| %>
          <%= render 'field_fields', f: field %>
        <% end %>

        <div class="card__section card__section--border">
          <%= link_to_add_association "Add text field", f, :fields, wrap_object: Proc.new { TextField.new } %> |
          <%= link_to_add_association "Add select field", f, :fields, wrap_object: Proc.new { SelectField.new } %> |
          <%= link_to_add_association "Add checkbox field", f, :fields, wrap_object: Proc.new { CheckboxField.new } %> |
          <%= link_to_add_association "Add numeric field", f, :fields, wrap_object: Proc.new { NumericField.new } %> |
          <%= link_to_add_association "Add date field", f, :fields, wrap_object: Proc.new { DateField.new } %>
        </div>
      </div>
    </div>

    <%= button_tag "Save and publish", value: "published", name: "poll[status]", class: "btn btn--primary" %>
    <%= button_tag "Save as draft", value: "draft", name: "poll[status]", class: "btn btn--secondary" %>
  <% end %>
</div>

<% content_for :page_scripts do %>
  <script>
    $('.select2').select2();
  </script>
<% end %>
