<div class="content__main">
  <%= simple_form_for @poll, html: { class: "disable-enter-submit" } do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <%= f.input :title,
              label: "Start off by giving your survey a name",
              input_html: { autofocus: true } %>
      </div>

      <div class="card__section card__section--border">
        <%= f.input :description, label: "Describe what the goal of the survey is. The respondents will see this" %>
      </div>

      <div class="card__section card__section--border">
        <div class="row">
          <div class="col sm-12 poll_initiative_box <%= poll_initiative_visibility_class(@poll, params) %>">
            <%= f.association :initiative,
                  collection: @poll.enterprise.initiatives,
                  include_blank: true,
                  selected: @poll.initiative.try(:id) || params[:initiative_id],
                  input_html: { class: "select2" },
                  label: "Event Targeted".html_safe,
                  disabled: disabled_input?
            %>
            <%= f.input :initiative_id,
                  as: :hidden,
                  input_html: { value: @poll.initiative.try(:id) || params[:initiative_id] } if disabled_input? %>
          </div>

          <div class="col sm-12 poll_group_segment_box <%= poll_others_visibility_class(@poll, params) %>">
            <%= f.association :groups,
                  collection: @poll.enterprise.groups,
                  input_html: { class: "select2-field-groups" },
                  label: "Choose the <strong>#{ c_t(:erg).pluralize }</strong> you want to target".html_safe
            %>

            <%= f.association :segments,
                  collection: @poll.enterprise.segments,
                  input_html: { class: "select2-field-segments" },
                  label: "Choose the <strong>#{ c_t(:segment).pluralize }</strong> you want to target within these #{ c_t(:erg).pluralize }".html_safe
            %>
          </div>
        </div>
      </div>
    </div>

    <h2>Fields</h2>

    <div class="card">
      <div id="sortable">
        <%= f.simple_fields_for :fields do |field| %>
          <%= render 'field_fields', f: field %>
        <% end %>

        <div class="card__section card__section--border">
          <%= link_to_add_association "Add text field", f, :fields, wrap_object: Proc.new { TextField.new } %> |
          <%= link_to_add_association "Add select field", f, :fields, wrap_object: Proc.new { SelectField.new } %> |
          <%= link_to_add_association "Add checkbox field", f, :fields, wrap_object: Proc.new { CheckboxField.new } %> |
          <%= link_to_add_association "Add numeric field", f, :fields, wrap_object: Proc.new { NumericField.new } %> |
          <%= link_to_add_association "Add date field", f, :fields, wrap_object: Proc.new { DateField.new } %>
        </div>
      </div>
    </div>

    <%= button_tag "Save and publish", value: "published", name: "poll[status]", class: "btn btn--primary" %>
    <%= button_tag "Save as draft", value: "draft", name: "poll[status]", class: "btn btn--secondary" if f.object.can_be_saved_as_draft? %>
  <% end %>
</div>

<%= render partial: 'shared/select2_ajax_search.js.erb' %> 
