<div class="content__header">
  <h1>Surveys</h1>
  <%= link_to "New Survey", new_poll_path, class: "btn btn--primary" if PollPolicy.new(current_user, Poll).new? %>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <% if @polls.empty? %>
        <p>There are no polls yet. <%= link_to "Create one", new_poll_path %> and start solving problems with your team's diverse opinions.</p>
      <% else %>
        <table class="table--has-border" id="polls-table">
          <thead>
            <th>Title</th>
            <th># of questions</th>
            <th># of responses</th>
            <th>Creation date</th>
            <th>Options</th>
            <th>Status</th>
          </thead>
          <tbody>
            <% @polls.each do |poll| %>
              <tr>
                <td><%= link_to poll.title, poll_path(poll) %></td>
                <td><%= poll.fields.count %></td>
                <td><%= poll.responses.count %></td>
                <td><%= poll.created_at.to_s :reversed_slashes %></td>
                <td>
                  <% if poll.published? %>
                    <%= link_to "Link", new_poll_poll_response_path(poll), target: '_blank' %>
                    -
                  <% end %>
                  <%= link_to "Edit", edit_poll_path(poll) if PollPolicy.new(current_user, poll).edit? %>
                  -
                  <%= link_to "Delete", poll_path(poll), method: :delete, class: "error", data: { confirm: "Are you sure?" }  if PollPolicy.new(current_user, poll).destroy? %></td>
                <td><%= poll.decorate.status %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).on('page:change', function() {
    $(document).off('page:change');

    $('#polls-table').dataTable(Utility.mergeWithDTDefaults({
      order: [[3, "desc"]]
    }));
  });
</script>
