<div class="content__header">
  <h1><%= @poll.title %></h1>
</div>

<div class="content__main">
  <p><%= @poll.description %></p>

  <% @poll.fields.each do |field| %>
    <div class="card">
      <div class="card__section">
        <h3><%= field.title %></h3>
        <% if field.type == "TextField" %>
          <ul>
            <% @poll.responses.each do |response| %>
              <li><%= response.info[field] %></li>
            <% end %>
            <% if @poll.responses.empty? %>
              <p>No response yet.</p>
            <% end %>
          </ul>
        <% elsif field.type == "CheckboxField" || field.type == "SelectField" %>
          <div class="field-chart" data-source="<%= answer_popularities_poll_poll_field_path(@poll, field) %>"></div>
        <% elsif field.type == "NumericField" %>
          <% @stats = field.stats_in(@poll.responses) %>
          Mean: <%= @stats[:mean] %><br>
          Min: <%= @stats[:min] %><br>
          Max: <%= @stats[:max] %><br>
          Median: <%= @stats[:median] %>
        <% end %>
      </div>
    </div>
  <% end %>

  <h2>Responses</h2>

  <table>
    <thead>
      <th>Respondent</th>
      <% @poll.fields.each do |field| %>
        <th><%= field.title %></th>
      <% end %>
    </thead>
    <tbody>
      <% @poll.responses.each do |response| %>
        <tr>
          <td><%= response.employee.name %></td>
          <% @poll.fields.each do |field| %>
            <td><%= field.string_value response.info[field] %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>General stats</h2>

  <ul>
    <li># of invitations: <%= @poll.employees.count %></li>
    <li># of responses: <%= @poll.responses.count %></li>
    <li>Response rate: <%= @poll.employees.count > 0 ? "#{(@poll.responses.count.to_f / @poll.employees.count * 100).to_i}%" : "N/A" %></li>
  </ul>

</div>

<script>
  $(document).on('page:change', function() {
    $(document).off('page:change');

    $('.field-chart').each(function() {
      var $chart = $(this);
      var dataUrl = $(this).data('source');

      $.get(dataUrl, function(data) {
        var pollOptions = data.map(function(entry) { return entry.answer; });
        var pollAnswerCounts = data.map(function(entry) { return entry.count; });

        $chart.highcharts({
          chart: {
            type: 'column'
          },
          title: {
            text: 'Number of answers per choice'
          },
          xAxis: {
            categories: pollOptions,
            crosshair: true
          },
          yAxis: {
            min: 0,
            title: {
              text: 'Nb of answers'
            },
            allowDecimals: false
          },
          tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>{point.y} respondents</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
          },
          plotOptions: {
            column: {
              pointPadding: 0.2,
              borderWidth: 0
            }
          },
          series: [{
            name: 'All respondents',
            data: pollAnswerCounts
          }],
          colors: ['#7B77C9']
        });
      });
    });
  });
</script>