<div class="content__header">
  <h1><%= @poll.title %></h1>
  <%= link_to "New Graph", new_poll_graph_path(@poll), class: "btn btn--primary" %>
</div>

<div class="content__main">
  <p></p>

  <div class="card">
    <div class="card__section">
      <div class="row row--spacing-bottom">
        <div class="col sm-12">
          <p style="font-style: italic;"><%= @poll.description %></p>
        </div>
      </div>
      <div class="row">
        <div class="col sm-6 md-3 lg-2">
          <small>Invitations</small>
          <h2><%= @poll.targeted_employees.count %></h2>
        </div>
        <div class="col sm-6 md-3 lg-2">
          <small>Responses</small>
          <h2><%= @poll.responses.count %></h2>
        </div>
        <div class="col sm-6 md-3 lg-2">
          <small>Response rate</small>
          <h2><%= @poll.targeted_employees.count > 0 ? "#{(@poll.responses.count.to_f / @poll.targeted_employees.count * 100).to_i}%" : "N/A" %></h2>
        </div>
      </div>
    </div>
  </div>

  <h3>Field graphs</h3>

  <% if @poll.graphs.empty? %>
    <div class="card">
      <div class="card__section">
        <p>There are no graphs yet. <%= link_to "Create one", new_poll_graph_path(@poll) %> to start analyzing your employees' responses.</p>
      </div>
    </div>
  <% else %>
     <div class="row row--equal-height">
      <% @poll.graphs.each do |graph| %>
        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">
              <div class="card__action">
                <%= link_to "Edit", edit_graph_path(graph) %> -
                <%= link_to "Remove", graph_path(graph), method: :delete, class: "error" %>
              </div>
              <h4><%= graph.title %></h4>
              <div class="graph" data-graph-id="<%= graph.id %>"></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @poll.responses.any? %>

    <h3>Responses</h3>

    <div class="card">
      <div class="card__section">

      <table class="table--has-border responses-datatable">
        <thead>
          <th>Respondant</th>
          <th>Date</th>
          <th>Response</th>
        </thead>
        <tbody>
          <% @responses.each do |response| %>
            <tr data-response-id="<%= response.id %>">
              <td><%= response.employee.name %></td>
              <td><%= response.created_at.to_s :reversed_slashes %></td>
              <td><a href="#" class="row-expand">Show</a></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div style="display: none;">
        <% @responses.each do |response| %>
          <div class="poll-response_details" id="response-details-<%= response.id %>">
            <ul class="unstyled">
              <% @poll.fields.each do |field| %>
                <li><small><%= field.title %></small> <span class="block highlight"><%= field.string_value response.info[field] %></span></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>

</div>

<script>
  $(document).on('page:change', function() {
    $(document).off('page:change');

    // Graphs
    var graphs = $('.graph').map(function() {
      return new Graph('/graphs/' + $(this).data('graph-id') + '/data', $(this));
    });

    // TODO: This doesnt exist anymore. We should have a way to reincorporate it.
    $('.textfield-datatable').dataTable(Utility.mergeWithDTDefaults({
      lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
      aaSorting: []
    }));

    // Responses table
    var responsesTable = $('.responses-datatable').DataTable(Utility.mergeWithDTDefaults({
      order: [[1, "desc"]]
    }));

    responsesTable.rows().every(function () {
      this.child($('#response-details-' + $(this.node()).data('response-id'))).hide();
    });

    $('.responses-datatable tbody').on('click', 'a.row-expand', function(e) {
      var tr = $(this).closest('tr');
      var row = responsesTable.row(tr);

      if (row.child.isShown()) {
        row.child.hide();
        $(this).text("Show");
      }
      else {
        row.child.show();
        $(this).text("Hide");
      }

      e.preventDefault();
      return false;
    });
  });
</script>