<div class="content__header">
  <h1><%= @poll.title %></h1>
</div>

<div class="content__main">
  <p><%= @poll.description %></p>

  <h3>Stats</h3>

  <div class="card">
    <div class="card__section">
      <div class="row">
        <div class="col sm-6 md-3 lg-2">
          <small>Invitations</small>
          <h2><%= @poll.employees.count %></h2>
        </div>
        <div class="col sm-6 md-3 lg-2">
          <small>Responses</small>
          <h2><%= @poll.responses.count %></h2>
        </div>
        <div class="col sm-6 md-3 lg-2">
          <small>Response rate</small>
          <h2><%= @poll.employees.count > 0 ? "#{(@poll.responses.count.to_f / @poll.employees.count * 100).to_i}%" : "N/A" %></h2>
        </div>
      </div>
    </div>
  </div>

  <h3>Fields</h3>

  <% @poll.fields.each do |field| %>
    <div class="card">
      <div class="card__section">
        <h4><%= field.title %></h4>
        <% if @poll.responses.any? %>
          <% if field.type == "TextField" %>
            <table class="table--has-border textfield-datatable">
              <thead style="display: none;">
                <th>Response</th>
              </thead>
              <tbody>
                <% @poll.responses.each do |response| %>
                  <tr>
                    <td><%= response.info[field] %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% elsif field.type == "CheckboxField" || field.type == "SelectField" %>
            <div class="field-chart" data-source="<%= answer_popularities_poll_poll_field_path(@poll, field) %>"></div>
          <% elsif field.type == "NumericField" %>
            <% @stats = field.stats_in(@poll.responses) %>
            Mean: <%= @stats[:mean] %><br>
            Min: <%= @stats[:min] %><br>
            Max: <%= @stats[:max] %><br>
            Median: <%= @stats[:median] %>
          <% end %>
        <% else %>
          <p>No response yet.</p>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if @poll.responses.any? %>

    <h3>Responses</h3>

    <div class="card">
      <div class="card__section">

      <table class="table--has-border responses-datatable">
        <thead>
          <th>Respondant</th>
          <th>Date</th>
          <th>Response</th>
        </thead>
        <tbody>
          <% @responses.each do |response| %>
            <tr data-response-id="<%= response.id %>">
              <td><%= response.employee.name %></td>
              <td><%= response.created_at.to_s :reversed_slashes %></td>
              <td><a href="#" class="row-expand">Show</a></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div style="display: none;">
        <% @responses.each do |response| %>
          <div class="poll-response_details" id="response-details-<%= response.id %>">
            <ul class="unstyled">
              <% @poll.fields.each do |field| %>
                <li><small><%= field.title %></small> <span class="block highlight"><%= field.string_value response.info[field] %></span></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>

  <% end %>

</div>

<script>
  $(document).on('page:change', function() {
    $(document).off('page:change');

    // Render field charts
    $('.field-chart').each(function() {
      var $chart = $(this);
      var dataUrl = $(this).data('source');

      $.get(dataUrl, function(data) {
        var pollOptions = data.map(function(entry) { return entry.answer; });
        var pollAnswerCounts = data.map(function(entry) { return entry.count; });

        $chart.highcharts({
          chart: {
            type: 'column',
            style: {
              fontFamily: 'Helvetica Neue, sans-serif'
            }
          },
          title: {
            text: ''
          },
          xAxis: {
            categories: pollOptions,
            crosshair: true
          },
          yAxis: {
            min: 0,
            title: {
              text: 'Nb of answers'
            },
            allowDecimals: false
          },
          tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>{point.y} respondents</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
          },
          plotOptions: {
            column: {
              pointPadding: 0.2,
              borderWidth: 0
            }
          },
          series: [{
            name: 'All respondents',
            data: pollAnswerCounts
          }],
          colors: ['#7B77C9']
        });
      });
    });
  });

  $('.textfield-datatable').dataTable(Utility.mergeWithDTDefaults({
    lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
    aaSorting: []
  }));

  var responsesTable = $('.responses-datatable').DataTable(Utility.mergeWithDTDefaults({
    order: [[1, "desc"]]
  }));

  responsesTable.rows().every(function () {
    this.child($('#response-details-' + $(this.node()).data('response-id'))).hide();
  });

  $('.responses-datatable tbody').on('click', 'a.row-expand', function(e) {
    var tr = $(this).closest('tr');
    var row = responsesTable.row(tr);

    if (row.child.isShown()) {
      row.child.hide();
      $(this).text("Show");
    }
    else {
      row.child.show();
      $(this).text("Hide");
    }

    e.preventDefault();
    return false;
  });
</script>