<div class="content__main">
  <%= simple_form_for @container_path + [@folder] do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <%= f.input :name,
              label: "Give this folder a name!".html_safe,
              input_html: { autofocus: true } %>

        <%= f.association :parent,
            include_blank: true,
            as: :select,
            input_html: { class: 'select2-field', autofocus: true, data: { id: @folder.id } },
            label: 'Move to Folder'
        %>

        <%= f.hidden_field :password_protected, id: "password_protected_1", value: 0 %>
        <%= f.input :password_protected, name: "password_protected", id: "password_protected_2", label: "Password Protected?" %>

          <%= f.input :password,
                name: "password",
                type: "password",
                label: "Password",
                input_html: {value: f.object.password} %>

      <% if @folder.enterprise %>
          <%= f.association :groups, collection: current_user.enterprise.groups, label: "Share this folder with your #{c_t(:erg).pluralize}", input_html: { class: "select2-field-groups" } %>
      <% end %>

      <%= f.button :submit %>
    </div>
  </div>
  <% end %>

</div>

<%= render partial: 'shared/select2_ajax_search.js.erb' %>

<script>
 $(document).on('ready page:load', function() {
   $('.select2-field').select2(
     async_select(
       '<%= get_folders_url(@folder, limit: 10, format: :json) %>',
       async_select_objects.FOLDERS,
       { current_folder_id: $('.select2-field').data('id' ) }
     ));
 });
</script>
<script>

  $(document).ready(function(){
    var value = $('#folder_password_protected').val();
    if ($('.simple_form :checkbox').is(':checked')) {
      $('.folder_password').show();
    }

    $('.simple_form :checkbox').on('change', function(){
      if(this.checked){
        $('.folder_password').show();
      }else{
        $('.folder_password').val(null);
        $('.folder_password').hide();
      }
    });
  }); //endof document.ready
</script>
