<div class="content__main">
  <%= simple_form_for @container_path + [@folder] do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <%= f.input :name,
              label: "Give this folder a name!".html_safe,
              input_html: { autofocus: true } %>
        <%= f.association :parent, label: "Move to Folder", include_blank: true, input_html: { class: "select2" }, collection: @container.folders - [@folder] %>
        <%= f.hidden_field :password_protected, id: "password_protected_1", value: 0 %>
        <%= f.input :password_protected, name: "password_protected", id: "password_protected_2", label: "Password Protected?" %>

          <%= f.input :password,
                name: "password",
                type: "password",
                label: "Password",
                input_html: {value: f.object.password} %>
              
      <% if @folder.enterprise %>
          <%= f.association :groups, collection: current_user.enterprise.groups, label: "Share this folder with your #{c_t(:erg).pluralize}", input_html: { class: "select2" } %>
      <% end %>

      <%= f.button :submit %>
    </div>
  </div>
  <% end %>

</div>

<script>

  $(document).ready(function(){
    var value = $('#folder_password_protected').val();
    if ($('.simple_form :checkbox').is(':checked')) {
      $('.folder_password').show();
    }

    $('.simple_form :checkbox').on('change', function(){
      if(this.checked){
        $('.folder_password').show();
      }else{
        $('.folder_password').val(null);
        $('.folder_password').hide();
      }
    });
  }); //endof document.ready

</script>