<div class="content__main">
  <%= simple_form_for @container_path + [@folder] do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <%= f.input :name,
              label: "Give this folder a name!".html_safe,
              input_html: { autofocus: true } %>

        <%= f.hidden_field :password_protected, id: "password_protected_1", value: 0 %>
        <%= f.input :password_protected, name: "password_protected", id: "password_protected_2", label: "Password Protected?" %>
        
        <div id="password" style="display: none;">
        <%= f.input :password,
              name: "password",
              type: "password",
              label: "Password",
              input_html: {value: f.object.password} %>
              </div>
      <% if @folder.container_type === "Enterprise" %>
          <%= f.association :groups, collection: current_user.enterprise.groups, label: "Share this folder with your #{c_t(:erg).pluralize}", input_html: { class: "select2" } %>
      <% end %>
    <%= f.button :submit %>
    </div>
  </div>
  <% end %>
  
</div>

<script>
  
  $(document).ready(function(){
    var value = $('#folder_password_protected').val();
    if ($('.simple_form :checkbox').is(':checked')) {
      $('#password').show();
    }
    
    $('.simple_form :checkbox').on('change', function(){
      if(this.checked){
        $('#password').show();
      }else{
        $('#password').val(null);
        $('#password').hide();
      }
    });
  }); //endof document.ready
      
</script>