<div class="content__main">
  <%= simple_form_for @policy_group_template do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <label><strong>Name</strong></label>
        <p><%= @policy_group_template.name %></p>
      </div>
      
      <div class="card__section card__section--border">
        <h2>Enterprise</h2>
        <div class="row row--spacing-bottom">
          <div class="col md-3">
            <h4>Logs</h4>
            <%= f.hidden_field :logs_view, value: 0 %>
            <%= f.input :logs_view, wrapper: :boolean_checkbox, label: "View" %>
          </div>
          <div class="col md-3">
            <h4>Permissions</h4>
            <%= f.hidden_field :permissions_manage, value: 0 %>
            <%= f.input :permissions_manage, wrapper: :boolean_checkbox, label: "Manage" %>
          </div>
          <div class="col md-3">
            <h4>SSO</h4>
            <%= f.hidden_field :sso_manage, value: 0 %>
            <%= f.input :sso_manage, wrapper: :boolean_checkbox, label: "Manage" %>
          </div>
          <div class="col md-3">
            <h4>Global Calendar</h4>
            <%= f.hidden_field :global_calendar, value: 0 %>
            <%= f.input :global_calendar, wrapper: :boolean_checkbox, label: "View" %>
          </div>
        </div>
        <div class="row row--spacing-bottom">
          <div class="col md-3">
            <h4>Enterprise resources</h4>
            <%= f.hidden_field :enterprise_resources_index, value: 0 %>
            <%= f.input :enterprise_resources_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.hidden_field :enterprise_resources_create, value: 0 %>
            <%= f.input :enterprise_resources_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.hidden_field :enterprise_resources_manage, value: 0 %>
            <%= f.input :enterprise_resources_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>
          <div class="col md-3">
            <h4>Diversity and Culture Index</h4>
            <%= f.hidden_field :diversity_manage, value: 0 %>
            <%= f.input :diversity_manage, wrapper: :boolean_checkbox, label: "Manage" %>
          </div>
          <div class="col md-3">
            <h4>Branding</h4>
            <%= f.hidden_field :branding_manage, value: 0 %>
            <%= f.input :branding_manage, wrapper: :boolean_checkbox, label: "Manage" %>
          </div>
          <div class="col md-3">
            <h4>Metrics dashboards</h4>
            <%= f.hidden_field :metrics_dashboards_index, value: 0 %>
            <%= f.input :metrics_dashboards_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.hidden_field :metrics_dashboards_create, value: 0 %>
            <%= f.input :metrics_dashboards_create, wrapper: :boolean_checkbox, label: "Create" %>
          </div>
        </div>
        <div class="row row--spacing-bottom">
          <div class="col md-3">
            <h4>Users</h4>
            <%= f.hidden_field :users_index, value: 0 %>
            <%= f.input :users_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.hidden_field :users_manage, value: 0 %>
            <%= f.input :users_manage, wrapper: :boolean_checkbox, label: "Manage" %>
          </div>
          <div class="col md-3">
            <h4><%= c_t(:segment).pluralize %></h4>
            <%= f.hidden_field :segments_index, value: 0 %>
            <%= f.input :segments_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.hidden_field :segments_create, value: 0 %>
            <%= f.input :segments_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.hidden_field :segments_manage, value: 0 %>
            <%= f.input :segments_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>
          <div class="col md-3">
            <h4>Mentorship</h4>
            <%= f.hidden_field :mentorship_manage, value: 0 %>
            <%= f.input :mentorship_manage, wrapper: :boolean_checkbox, label: "Manage" %>
          </div>

          <div class="col md-3">
            <h4>Settings</h4>
            <%= f.hidden_field :auto_archive_manage, value: 0 %>
            <%= f.input :auto_archive_manage, wrapper: :boolean_checkbox, label: 'Manage Auto Archive Settings' %>

            <%= f.hidden_field :enterprise_manage, value: 0 %>
            <%= f.input :enterprise_manage, wrapper: :boolean_checkbox, label: 'Manage Enterprise' %>
          </div>
        </div>
      </div>
      
      <div class="card__section card__section--border">
        <h2>General</h2>
        <div class="row row--spacing-bottom">
          <div class="col md-3">
            <h4>Campaigns</h4>
            <%= f.hidden_field :campaigns_index, value: 0 %>
            <%= f.input :campaigns_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.hidden_field :campaigns_create, value: 0 %>
            <%= f.input :campaigns_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.hidden_field :campaigns_manage, value: 0 %>
            <%= f.input :campaigns_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>
          <div class="col md-3">
            <h4>Surveys</h4>
            <%= f.hidden_field :polls_index, value: 0 %>
            <%= f.input :polls_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.hidden_field :polls_create, value: 0 %>
            <%= f.input :polls_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.hidden_field :polls_manage, value: 0 %>
            <%= f.input :polls_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>
          <div class="col md-3">
            <h4><%= c_t(:erg).pluralize %></h4>
            <%= f.hidden_field :groups_index, value: 0 %>
            <%= f.input :groups_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.hidden_field :groups_create, value: 0 %>
            <%= f.input :groups_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.hidden_field :groups_manage, value: 0 %>
            <%= f.input :groups_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>
        </div>
      </div>

      <div class="card__section card__section--border">
        <h2><%= c_t(:erg) %> management</h2>
        <div class="row row--spacing-bottom">
          <div class="col md-3">
            <h4>Events</h4>
            <%= f.hidden_field :initiatives_index, value: 0 %>
            <%= f.input :initiatives_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.hidden_field :initiatives_create, value: 0 %>
            <%= f.input :initiatives_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.hidden_field :initiatives_manage, value: 0 %>
            <%= f.input :initiatives_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>
          <div class="col md-3">
            <h4>Messages</h4>
            <%= f.hidden_field :group_messages_index, value: 0 %>
            <%= f.input :group_messages_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.hidden_field :group_messages_create, value: 0 %>
            <%= f.input :group_messages_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.hidden_field :group_messages_manage, value: 0 %>
            <%= f.input :group_messages_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>
          <div class="col md-3">
            <h4>Members</h4>
            <%= f.hidden_field :groups_members_index, value: 0 %>
            <%= f.input :groups_members_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.hidden_field :groups_members_manage, value: 0 %>
            <%= f.input :groups_members_manage, wrapper: :boolean_checkbox, label: "Manage" %>
          </div>
          <div class="col md-3">
            <h4>Budgets</h4>
            <%= f.hidden_field :groups_budgets_index, value: 0 %>
            <%= f.input :groups_budgets_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.hidden_field :groups_budgets_request, value: 0 %>
            <%= f.input :groups_budgets_request, wrapper: :boolean_checkbox, label: "Request" %>
            <%= f.hidden_field :budget_approval, value: 0 %>
            <%= f.input :budget_approval, wrapper: :boolean_checkbox, label: "Approval" %>
            <%= f.hidden_field :groups_budgets_manage, value: 0 %>
            <%= f.input :groups_budgets_manage, wrapper: :boolean_checkbox, label: "Manage" %>
          </div>
        </div>
        <div class="row row--spacing-bottom">
          <div class="col md-3">
            <h4>News</h4>
            <%= f.hidden_field :news_links_index, value: 0 %>
            <%= f.input :news_links_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.hidden_field :news_links_create, value: 0 %>
            <%= f.input :news_links_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.hidden_field :news_links_manage, value: 0 %>
            <%= f.input :news_links_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>

          <div class="col md-3">
            <h4>Leaders</h4>
            <%= f.hidden_field :group_leader_index, value: 0 %>
            <%= f.input :group_leader_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.hidden_field :group_leader_manage, value: 0 %>
            <%= f.input :group_leader_manage, wrapper: :boolean_checkbox, label: "Manage" %>
          </div>

        <div class="col md-3">
          <h4>Posts</h4>
          <%= f.hidden_field :group_posts_index, value: 0 %>
          <%= f.input :group_posts_index, wrapper: :boolean_checkbox, label: "View" %>
          <%= f.hidden_field :manage_posts, value: 0 %>
          <%= f.input :manage_posts, wrapper: :boolean_checkbox, label: "Manage" %>
        </div>
        <div class="col md-3">
            <h4>Layouts</h4>
            <%= f.hidden_field :groups_layouts_manage, value: 0 %>
            <%= f.input :groups_layouts_manage, wrapper: :boolean_checkbox, label: "Manage" %>
          </div>
        </div>
        <div class="row row--spacing-bottom">
          <div class="col md-3">
            <h4>Settings</h4>
            <%= f.hidden_field :group_settings_manage, value: 0 %>
            <%= f.input :group_settings_manage, wrapper: :boolean_checkbox, label: 'Manage Group Settings' %>
          </div>
          <div class="col md-3">
            <h4>Insights</h4>
            <%= f.hidden_field :groups_insights_manage, value: 0 %>
            <%= f.input :groups_insights_manage, wrapper: :boolean_checkbox, label: 'Manage Group Insights' %>
          </div>
          <div class="col md-3">
            <h4>Social Links</h4>
            <%= f.hidden_field :social_links_index, value: 0 %>
            <%= f.input :social_links_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.hidden_field :social_links_create, value: 0 %>
            <%= f.input :social_links_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.hidden_field :social_links_manage, value: 0 %>
            <%= f.input :social_links_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>
          <div class="col md-3">
            <h4>Resources</h4>
            <%= f.hidden_field :group_resources_index, value: 0 %>
            <%= f.input :group_resources_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.hidden_field :group_resources_create, value: 0 %>
            <%= f.input :group_resources_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.hidden_field :group_resources_manage, value: 0 %>
            <%= f.input :group_resources_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>
        </div>
      </div>

      <div class="card__section card__section--border">
        <%= f.button :submit %>
      </div>
    </div>
  <% end %>
</div>
