<div class="content__main">
  <div class="row">
    <div class="col sm-12">
    <% if @enterprise.banner.present? %>
      <div class="row enterprise-banner">
        <div class="col sm-12">
          <%= image_tag @enterprise.banner.expiring_url(3600), style: 'width: 100%; max-width: 100%;' %>
        </div>
      </div>
    <% end %>
    <% if @enterprise.home_message.present? %>
        <%= raw @enterprise.home_message %>
    <% end %>
    </div>
  </div>

  <div class="row row--equal-height">
    <div class="col sm-12 md-9">
      <div class="row row--equal-height">
        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4>Events You've Joined</h4>
              <% if InitiativePolicy.new(current_user, nil).index? %>
                <%= link_to calendar_user_events_path, class: "card__action" do %>
                  <%= inline_svg('icons/calendar.svg', class: "icon card__icon") %>Events Calendar
                <% end %>
              <% end %>

              <% if @upcoming_events.empty? || !InitiativePolicy.new(current_user, nil).index? %>
                <div class="mtlarge text-center">
                  You have not joined any events yet.
                </div>
              <% else %>
                <% @upcoming_events.each do |event| %>
                  <%= render "shared/flippable/event", event: event %>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>

        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4>Latest News</h4>
              <%= link_to "View all", user_news_links_path, class: "card__action" unless @posts.size < 1 || !NewsLinkPolicy.new(current_user, nil).index? %>

              <% if @posts.empty? || !NewsLinkPolicy.new(current_user, nil).index? %>
                <div class="mtlarge text-center">
                  No posts have been published yet.
                </div>
              <% else %>
                <% @posts.each do |news| %>
                  <%= render "shared/flippable/news_link", news: news, small: true %>
                <% end %>
              <% end %>
            </div>
            <script>
              //force facebook embed to have correct width
              $(document).ready(function(){
                var width = <%= SocialMedia::Importer::MEDIA_MAX_WIDTH %>

                $('iframe[src*=facebook]').width(width)
              });
            </script>
          </div>
        </div>
      </div>
    </div>

    <div class="col col--stacked sm-12 md-3">
    <%= render partial: 'shared/carousel/sponsor_card', locals: { sponsors: @enterprise_sponsors } %>

    <% if current_user.enterprise.enable_rewards? %>
        <div class="card card--secondary">
          <div class="card__section">
            <h4>Most Active this week</h4>
            <ol>
              <% current_user.enterprise.users.active.top_participants(10).each do |member| %>
                <li><%= user_performance_label(member) %></li>
              <% end %>
            </ol>
          </div>
          <div class="card__section">
            <h4>Top <%= c_t(:erg).pluralize %> this week</h4>
            <ol>
              <% current_user.enterprise.groups.non_private.top_participants(10).each do |group| %>
                <li><%= group_performance_label(group) %></li>
              <% end %>
            </ol>
          </div>
        </div>
    <% end %>
  </div>
  </div>



  <div class="row">
     <div class="col sm-12 md-9">
        <%= link_to "#{c_t(:privacy_statement)}", user_privacy_statement_path %>
     </div>
  </div>
</div>
