<div class="content__header">
  <h1>Home</h1>
</div>

<div class="content__main">
  <div class="row">
    <div class="col sm-12">
      <% if @enterprise.banner.present? %>
        <div class="row enterprise-banner">
          <div class="col sm-12">
            <%= image_tag @enterprise.banner.url, style: 'min-width: 100%;' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row row--equal-height">
    <div class="col sm-12 md-9">
      <div class="row row--equal-height">
        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4>Your Events</h4>
              <%= link_to "Calendar", calendar_user_events_path, class: "  card__action" %>

              <% @upcoming_events.each do |event| %>
                <%= render "shared/flippable/event", event: event %>
              <% end %>

            </div>
          </div>
        </div>

        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4>Latest News</h4>
              <%= link_to "View all", user_news_links_path, class: "card__action" %>

              <% @news_links.each do |news_link| %>
                <%= render "shared/flippable/news_link", news_link: news_link %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4>Latest Messages</h4>
              <%= link_to "View all", user_messages_path, class: "card__action" %>

              <% @messages.each do |message| %>
                <%= link_to group_group_message_path(message.group, message), class: "block block-section" do %>
                  <div class="flex-row flex-row--middle">
                    <div class="flex-row__cell flex-row__cell--grow">
                      <span class="highlight"><%= message.subject %></span><br>
                      <small><%= truncate(message.content, length: 90) %></small><br>
                      <small class="muted"><%= message.created_at.to_s :slashes %>
                        <% if message.owner.present? %>
                          by <%= message.owner.name %>
                        <% end %>
                      </small>
                    </div>
                    <div class="flex-row__cell">
                      <span class="icon icon--chevron-right"></span>
                    </div>
                  </div>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-3">
      <div class="card card--secondary">
        <div class="card__section">
          <h4>Top Performers this week</h4>
          <ol>
            <% current_user.enterprise.users.top_participants(10).each do |member| %>
              <% if member == current_user %>
                <li><strong><%= member.name %> (<%= member.participation_score_7days %>)</strong></li>
              <% else %>
                <li><%= link_to member.name, member %> (<%= member.participation_score_7days %>)</li>
              <% end %>
            <% end %>
          </ol>
        </div>
        <div class="card__section">
          <h4>Top ERGs this week</h4>
          <ol>
            <% current_user.enterprise.groups.top_participants(10).each do |group| %>
              <% if group == @group %>
                <li><strong><%= group.name %> (<%= group.participation_score_7days %>)</strong></li>
              <% else %>
                <li><%= link_to group.name, group %> (<%= group.participation_score_7days %>)</li>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>
    </div>

  </div>
</div>
