<div class="content__header">
  <h1>Home</h1>
</div>

<div class="content__main">
  <div class="row">
    <div class="col sm-12">
      <% if @enterprise.banner.present? %>
        <div class="row enterprise-banner">
          <div class="col sm-12">
            <%= image_tag @enterprise.banner.url, style: 'min-width: 100%;' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row row--equal-height">
    <div class="col sm-12 md-9">
      <div class="row row--equal-height">
        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4>Upcoming Events</h4>
              <%= link_to "View all", user_events_path, class: "  card__action" %>

              <% @upcoming_events.each do |event| %>
                <%= link_to group_event_path(event.group, event), class: "block block-section" do %>
                  <div class="flippable">
                    <div class="front">
                      <%= image_tag event.picture.url, width: '100%' if event.picture.present? %>
                    </div>
                    <div class="back">
                      <div class="flex-row flex-row--middle">
                        <div class="flex-row__cell flex-row__cell--grow">
                          <span class="highlight"><%= event.title %></span><br>
                          <small><%= truncate(event.description, length: 90) %></small><br>
                          <small class="muted"><%= event.start.to_s :slashes %></small>
                        </div>
                        <div class="flex-row__cell">
                          <span class="icon icon--chevron-right"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>

        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4>Latest News</h4>
              <%= link_to "View all", user_news_links_path, class: "card__action" %>

              <% @news_links.each do |news_link| %>
                <%= link_to news_link.url, class: "block block-section", target: "_blank" do %>
                  <div class="flippable">
                    <div class="front">
                      <%= image_tag news_link.picture.url, width: '100%' if news_link.picture.present? %>
                    </div>
                    <div class="back">
                      <div class="flex-row flex-row--middle">
                        <div class="flex-row__cell flex-row__cell--grow">
                          <span class="highlight"><%= news_link.title %></span><br>
                          <small><%= truncate(news_link.description, length: 90) %></small><br>
                          <small class="muted"><%= news_link.created_at.to_s :slashes %></small>
                        </div>
                        <div class="flex-row__cell">
                          <span class="icon icon--chevron-right"></span>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col sm-12 md-6">
          <div class="card">
            <div class="card__section">

              <h4>Latest Messages</h4>
              <%= link_to "View all", user_messages_path, class: "card__action" %>

              <% @messages.each do |message| %>
                <%= link_to user_message_path(message), class: "block block-section" do %>
                  <div class="flex-row flex-row--middle">
                    <div class="flex-row__cell flex-row__cell--grow">
                      <span class="highlight"><%= message.subject %></span><br>
                      <small><%= truncate(message.content, length: 90) %></small><br>
                      <small class="muted"><%= message.created_at.to_s :slashes %></small>
                    </div>
                    <div class="flex-row__cell">
                      <span class="icon icon--chevron-right"></span>
                    </div>
                  </div>
                <% end %>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-3">
      <div class="card card--secondary">
        <div class="card__section">
          <h4>Top Performers this week</h4>
          <ol>
            <% current_user.enterprise.users.top_participants(10).each do |member| %>
              <% if member == current_user %>
                <li><strong><%= member.name %> (<%= member.participation_score_7days %>)</strong></li>
              <% else %>
                <li><%= link_to member.name, member %> (<%= member.participation_score_7days %>)</li>
              <% end %>
            <% end %>
          </ol>
        </div>
        <div class="card__section">
          <h4>Top ERGs this week</h4>
          <ol>
            <% current_user.enterprise.groups.top_participants(10).each do |group| %>
              <% if group == @group %>
                <li><strong><%= group.name %> (<%= group.participation_score_7days %>)</strong></li>
              <% else %>
                <li><%= link_to group.name, group %> (<%= group.participation_score_7days %>)</li>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  $(document).ready(function() {
    applyFlip();

    function applyFlip() {
      var flippableOptions = {
        trigger: 'hover'
      };
      // Before applying flip, we need to manually set height of each element.
      // More could be found here:
      // http://stackoverflow.com/questions/39552827/jquery-flip-elements-overlapping-subsequent-elements
      $('.flippable').each(function(index){
       // var height =  $(this).parents('a').outerHeight();
        var $front = $(this).find('.front');
        var frontHeight = $front.height();
        var backHeight = $(this).find('.back').height();
        var biggerHeight = frontHeight > backHeight ? frontHeight : backHeight;

        // Only apply flip if fron element contains anything
        if($front.html().trim() ) {
          $(this).flip(flippableOptions).height(biggerHeight);
        }
      });//endof each
    }
  }); //endof document.ready
</script>