<div class="content__header">
  <h1><%= c_t(:dci_full_title) %> (<%= c_t(:dci_abbreviation) %>)</h1>
</div>

<div class="content__main">

  <div class="row row--equal-height">

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">

          <h3>My points: <%= current_user.credits %>
            <% if current_user.user_rewards.where(status: 0).any? %>
              <span title='Reward request(s) pending'>**</span>
            <% end %>
          </h3>

          <table class="table--has-border" id="campaigns-table">
            <thead>
              <th>Achievement</th>
              <th>Points</th>
            </thead>
            <tbody>
              <% @reward_actions.each do |reward_action| %>
                <tr><td><%= reward_action.label %></td><td><%= reward_action.points.to_i %></td></tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">

          <h3>List of <%= c_t(:badge).pluralize %></h3>

          <table class="table--has-border" id="campaigns-table">
            <thead>
              <th></th>
              <th><%= c_t(:badge) %></th>
              <th>Points</th>
            </thead>
            <tbody>
              <% @badges.each do |badge| %>
              <tr>
                <td><%= image_tag badge.image.url, style: "height: 24px; display: inline-block;" %></td>
                <td><%= badge.label %></td>
                <td><%= badge.points %></td>
              </tr>
              <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>

  <div class="card">
    <div class="card__section">
      <h3>Rewards</h3>

      <% @rewards.each_slice(3) do |rewards_batch| %>
        <div class="row row--spacing-bottom">
          <% rewards_batch.each do |reward| %>
            <div class="col sm-4">
              <div class="flex-row">
                <div class="flex-row__cell">
                  <%= image_tag reward.picture.url, style: "width: 120px;" %>
                </div>
                <div class="flex-row__cell">
                  <h4><%= reward.label %></h4>
                  <p>
                    <%= reward.points %> points
                  </p>
                  <% if reward.points <= current_user.credits %>
                    <%= link_to "Redeem", user_reward_user_rewards_path(reward), method: :post, class: "btn btn--small btn--primary" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
