<div class="content__header">
  <h1><span class="icon icon--large"><%= image_tag('linkedin.png') %></span> Rewards</h1>
</div>

<div class="content__main">

  <div class="row row--equal-height">

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">

          <h4>Total points: 1,275</h4>

          <table class="table--has-border" id="campaigns-table">
            <thead>
              <th>Achievement</th>
              <th>Reward</th>
            </thead>
            <tbody>
              <tr><td>Attend event</td><td>200</td></tr>
              <tr><td>Feedback on event</td><td>100</td></tr>
              <tr><td>Collaborate answer</td><td>550</td></tr>
              <tr><td>Collaborate comment</td><td>125</td></tr>
              <tr><td>Collaborate vote</td><td>50</td></tr>
              <tr><td>Survey response</td><td>50</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">

          <h4>Redeem</h4>

          <table class="table--has-border" id="campaigns-table">
            <thead>
              <th>Reward</th>
              <th>Cost</th>
              <th>Redeem?</th>
            </thead>
            <tbody>
              <tr><td><%= image_tag 'linkedin-full.png', style: "height: 24px; display: inline-block;" %> recommendation</td><td>500</td><td><label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span></label></td></tr>
              <tr><td><%= image_tag 'linkedin-full.png', style: "height: 24px; display: inline-block;" %> fast track</td><td>2,000</td><td><label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span></label></td></tr>
              <tr><td><%= image_tag 'linkedin-full.png', style: "height: 24px; display: inline-block;" %> advancement</td><td>2,000</td><td><label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span></label></td></tr>
              <tr><td><%= image_tag 'linkedin-full.png', style: "height: 24px; display: inline-block;" %> travel (Hawaii)</td><td>1,000</td><td><label class="control"><input type="checkbox" class="control__input"><span class="control__indicator control__indicator--checkbox"></span></label></td></tr>
            </tbody>
          </table>

          <a href="#" class="btn btn--primary" style="margin-top: 30px;">Redeem</a>

        </div>
      </div>
    </div>

  </div>
</div>