<div class="content__main">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for @user, url: linkedin_user_user_path(@user) do |f| %>
        <% if @user.errors.any? %>
          <% @user.errors.full_messages.find_all do |msg| %>
            <div class='alert alert-danger'><%= msg %></div>
          <% end %>
        <% end %>
        <%= f.input :linkedin_profile_url %>
        <p>
          Due to new privacy policies by LinkedIn, we are unable to automatically get your profile URL at the moment.
          <br>
          We are working to fix this issue as soon as possible.
          <br>
          In the meantime, please input your profile link manually.
        </p>
        <%= f.button :submit, 'Set LinkedIn URL' %>
        <%= link_to "Cancel", user_user_path, {:class=>"btn btn-secondary"} %>
      <% end %>
    </div>
  </div>
</div>
