<div class="flex-row flex-row--middle">
  <div class="flex-row__cell">
    <%= image_tag(@user.avatar.expiring_url(3600), height: '100') %>
  </div>

  <div class="flex-row__cell">
    <h1 style="margin-bottom: 5px;"><%= @user.name %></h1>
    <%= link_to 'Connect with LinkedIn', '/omniauth/linkedin', class: "btn btn--secondary" unless @user.linkedin_profile_url %>
    <%= link_to "Edit profile", edit_profile_users_path, class: "btn btn--primary" %>
  </div>
</div>

<div class="card" style="margin-top: 30px;">
  <div class="card__section card__section--border">
    <label><strong>Email</strong></label>
    <p><%= @user.email %></p>
  </div>
  <div class="card__section card__section--border">
    <label><strong>Name</strong></label>
    <p><%= @user.first_name %> <%= @user.last_name %></p>
  </div>
  <div class="card__section card__section--border">
    <label><strong>Biography</strong></label>
    <p><%= @user.biography %></p>
  </div>
  <% @user.enterprise.fields.where(private: false).each do |field| %>
    <div class="card__section card__section--border">
      <label><strong><%= field.title %></strong></label>
      <p><%= @user.string_for_field(field) %></p>
    </div>
  <% end %>
</div>
