<div class="flex-row flex-row--middle">
  <div class="flex-row__cell">
    <%= image_tag(@user.avatar.expiring_url(3600), height: '100') %>
  </div>

  <div class="flex-row__cell">
    <h1 style="margin-bottom: 5px;">
      <%= @user.name %>
      <% @user.badges.each do |badge| %>
        <%= image_tag badge.image.expiring_url(3600), class: "icon icon--bg icon--large" %>
      <% end %>
    </h1>
    <%= link_to "Edit profile", edit_user_user_path, class: "btn btn--primary" %>
    <%= link_to c_t(:member_preference).pluralize, group_surveys_user_path(@user), class: "btn btn--primary" if @user.has_answered_group_surveys? %>
    <% if @user.linkedin_profile_url.present? %>
      <%= link_to leader.linkedin_profile_url do %>
          <img src="/assets/linkedin-full.png" alt="LinkedIn profile link" style="height: 30px; margin-top: 12px;">
        <% end %>
    <% else %>
      <%= link_to 'Connect with LinkedIn', '/omniauth/linkedin', class: "btn btn--secondary" unless @user.linkedin_profile_url %>
    <% end %>
  </div>
</div>

<div class="card" style="margin-top: 30px;">
  <div class="card__section card__section--border">
    <label><strong>Email</strong></label>
    <p><%= @user.email %></p>
  </div>
  <div class="card__section card__section--border">
    <label><strong>Name</strong></label>
    <p><%= @user.first_name %> <%= @user.last_name %></p>
  </div>
  <div class="card__section card__section--border">
    <label><strong>Biography</strong></label>
    <p><%= @user.biography %></p>
  </div>
  <div class="card__section card__section--border">
    <label><strong>Time zone</strong></label>
    <p><%= @user.default_time_zone %></p>
  </div>
  <% if policy(@user).access_hidden_info? %>
  <div class="card__section card__section--border">
    <label><h2>Hidden info</h2></label>
    <label><h4>Only D&I Management can see hidden fields</h4></label>
  </div>  
    <% @user.enterprise.fields.where(private: false).each do |field| %>
    <div class="card__section card__section--border">
      <label><strong><%= field.title %></strong></label>
      <p><%= @user.string_for_field(field) %></p>
    </div>
    <% end %>
  <% end %>
</div>
