<div class="content__main">
  <%= simple_form_for @policy_group do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <p class="field__hint">Start off by giving your <strong>permission group</strong> a name</p>
        <%= f.input :name, label: false %>
      </div>
      <div class="card__section card__section--border">
        <p class="field__hint">Should this <strong>permission group</strong> be default for new users in the <strong><%= @policy_group.enterprise.name %></strong>?</p>
        <%= f.input :default_for_enterprise, label: 'Use as default' %>
      </div>
      <div class="card__section card__section--border">
        <p class="field__hint">Should members of this group be able to access admin dashboard?</p>
        <%= f.input :admin_pages_view, label: 'Admin Dashboard' %>
      </div>
      <div class="card__section section--border">
        <div class="row row--spacing-bottom">
          <div class="col md-6">
            <p class="field__hint">Should members of this group be able to approve budgets?</p>
            <%= f.input :budget_approval, label: 'Budget Approval' %>
          </div>
          <div class="col md-6">
            <p class="field__hint">Should members of this group be able to view activity logs?</p>
            <%= f.input :logs_view, label: 'View Logs' %>
          </div>
        </div>
      </div>
      <div class="card__section card__section--border">
        <h2>General</h2>
        <div class="row row--spacing-bottom">
          <div class="col md-3">
            <h4>Campaigns</h4>
            <%= f.input :campaigns_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.input :campaigns_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.input :campaigns_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>
          <div class="col md-3">
            <h4>Surveys</h4>
            <%= f.input :polls_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.input :polls_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.input :polls_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>
          <div class="col md-3">
            <h4>ERGs</h4>
            <%= f.input :groups_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.input :groups_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.input :groups_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>
          <div class="col md-3">
            <h4>Enterprise resources</h4>
            <%= f.input :enterprise_resources_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.input :enterprise_resources_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.input :enterprise_resources_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>
        </div>
        <div class="row">
          <div class="col md-3">
            <h4>Metrics dashboards</h4>
            <%= f.input :metrics_dashboards_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.input :metrics_dashboards_create, wrapper: :boolean_checkbox, label: "Create" %>
          </div>
          <div class="col md-3">
            <h4>Segments</h4>
            <%= f.input :segments_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.input :segments_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.input :segments_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>
          <div class="col md-3">
            <h4>Global settings</h4>
            <%= f.input :global_settings_manage, wrapper: :boolean_checkbox, label: "Manage" %>
          </div>
        </div>
      </div>
      <div class="card__section card__section--border">
        <h2>ERG management</h2>
        <div class="row">
          <div class="col md-3">
            <h4>Events</h4>
            <%= f.input :events_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.input :events_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.input :events_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>
          <div class="col md-3">
            <h4>Messages</h4>
            <%= f.input :group_messages_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.input :group_messages_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.input :group_messages_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>
          <div class="col md-3">
            <h4>Members</h4>
            <%= f.input :groups_members_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.input :groups_members_manage, wrapper: :boolean_checkbox, label: "Manage" %>
          </div>
          <div class="col md-3">
            <h4>News</h4>
            <%= f.input :news_links_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.input :news_links_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.input :news_links_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>
        </div>
      </div>
      <div class="card__section card__section--border">
        <h2>Planning</h2>
        <div class="row">
          <div class="col md-3">
            <h4>Events</h4>
            <%= f.input :initiatives_index, wrapper: :boolean_checkbox, label: "View" %>
            <%= f.input :initiatives_create, wrapper: :boolean_checkbox, label: "Create" %>
            <%= f.input :initiatives_manage, wrapper: :boolean_checkbox, label: "Manage all" %>
          </div>
        </div>
      </div>
      <div class="card__section card__section--border">
        <% if @policy_group.new_record? %>
          <p>Choose the <strong>users</strong> that will initially be part of this group</p>
        <% else %>
          <p>You can edit <strong>users</strong> that are part of this group</p>
        <% end %>

        <%= f.association :users, collection: @policy_group.enterprise.users, label: false, input_html: { class: "select2" } %>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>

<% content_for :page_scripts do %>
  <script>
    $('.select2').select2();
  </script>
<% end %>