/**
 *
 * {{ properCase name }}
 *
 */

{{#if memo}}
import React, { memo } from 'react';
{{else}}
import React from 'react';
{{/if}}
// import PropTypes from 'prop-types';

{{#if wantMessages}}
import DiverstFormattedMessage from 'components/Shared/DiverstFormattedMessage';
import messages from './messages';
{{/if}}

function {{ properCase name }}() {
  return (
    <div>
    {{#if wantMessages}}
      <DiverstFormattedMessage {...messages.default} />
    {{/if}}
    </div>
  );
}

{{ properCase name }}.propTypes = {};

{{#if memo}}
export default memo({{ properCase name }});
{{else}}
export default {{ properCase name }};
{{/if}}
