<div class="site-wrap site-wrap--small site-wrap--form">
  <img class="logo" src="<%= image_path "diverst-logo-purple.svg" %>">
  <div class="card">
    <div class="card__section">
      <h2>Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "field__label" %>
        <div class="field-input-wrapper">
          <%= f.email_field :email, autofocus: true, class: "field__input" %>
        </div>
      </div>
      <div class="field">
        <div class="field-input-wrapper">
          <%= f.label :password, class: "field__label" %>
          <%= f.password_field :password, autocomplete: "off", class: "field__input" %>
        </div>
      </div>

        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        <% end -%>

        <%= f.submit "Log in", class: "btn btn--primary" %>
      <% end %>
    </div>
  </div>
  <div class="text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>