<h2><%= t('login.title') %> Manually</h2>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<%= f.input :email, label: t('login.email'), autofocus: true %>
<%= f.input :password, label: t('login.password'), autocomplete: "off" %>

<% if devise_mapping.rememberable? -%>
<%= f.input :remember_me, label: t('login.remember_me'), as: :boolean, wrapper: :boolean_checkbox %>
<% end -%>

<%= f.button :submit, value: t('login.title') %>
<% end %>
<br>
<%= render "devise/shared/links" %>
<%= render 'activate_account' %> 

<% content_for :links do %>
<div class="text-center">
  <% if ENV['SSO_LOGIN_DEFAULT_ENTERPRISE_ID'] %>
    <% if Enterprise.find_by(id: ENV['SSO_LOGIN_DEFAULT_ENTERPRISE_ID'])&.has_enabled_saml? %>
      <hr>
      OR
      <hr>
      <br>
      <%= link_to "Login with #{@sso_button_text}", 
        sso_enterprise_saml_index_path(ENV['SSO_LOGIN_DEFAULT_ENTERPRISE_ID']),
        class: 'btn btn--tertiary tooltipster',
        style: 'margin-top: 5px;', title: @sso_button_text %>
    <% end %>
  <% end %>
  
</div>
<% end %>

<script>
  $(document).ready(function () {
    var primary_color = $('body').data('primary-color');
    if (primary_color) {
      $('body').css('background', primary_color);
    }
  });
</script>