<div class="site-wrap site-wrap--small site-wrap--center site-wrap--form">
  <img class="logo" src="<%= image_path "diverst-logo-purple.svg" %>">
  <div class="card">
    <div class="card__section">
      <h2>Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>

        <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        <% end -%>

        <%= f.submit "Log in", class: "btn btn--primary" %>
      <% end %>
    </div>
  </div>
  <%= render "devise/shared/links" %>
</div>