<div class="content__header">
  <img class="logo logo--large" src="<%= image_path "diverst-logo.svg" %>">
  <p>Connect with someone within Anycorp based on your common interest but diverse background to explore new ideas or think outside the box to solve problems.</p>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :invitation_token %>

        <% resource.class.invite_key_fields.each do |field| -%>

        <% end -%>

        <h2>Choose your ERG</h2>
        <% resource.enterprise.groups.each do |group| %>
        <div class="media-object">
          <div class="flex-row">
            <div class="flex-row__cell">
              <img class="media-object__image" src="http://placehold.it/300x300">
            </div>
            <div class="flex-row__cell flex-row__cell--grow">
              <h4><%= group.name %></h4>
              <p><%= group.description %></p>
            </div>
          </div>
        </div>

        <% end %>

        <%= f.input :password %>
        <%= f.input :password_confirmation %>

        <%= f.button :submit, "Create my account", class: "btn--secondary btn--large btn--full" %>
      <% end %>
    </div>
  </div>
</div>