<div class="content__header">
  <img class="logo logo--large" src="<%= image_path "diverst-logo.svg" %>">
  <p>Connect with someone within Anycorp based on your common interest but diverse background to explore new ideas or think outside the box to solve problems.</p>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">

      <div class="row">
        <div class="col sm-6 md-3 lg-5">
          <%= image_tag "cdo.png", class: "block", style: "width: 100%" %>
        </div>
        <div class="col sm-6 md-3 lg-7">
          <h3>Lorna Powell, CDO</h3>
          <p>Hi! This is Lorna, Chief Diversity Officer at Anycorp. Employee diversity is an element of our culture we take to heart. Not only do we think that it’s important for everyone to be fairly represented, but diverse teams produce better results. That’s why I’m inviting you to join Diverst, a platform where you can meet new colleagues with unique perspectives, collaborate on interesting problems and develop new ideas together. Join us by selecting the ERGs that best represent your interests or that you are already part of.</p>
          <%= link_to "Here's a link to my vCard", '#' %>
        </div>
      </div>

    </div>
  </div>

  <div class="card">
    <div class="card__section">
      <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :invitation_token %>

        <h2>Choose your ERG</h2>

        <% resource.enterprise.groups.each do |group| %>
          <div class="media-object" data-group-id="<%= group.id %>">
            <div class="flex-row">
              <div class="flex-row__cell">
                <%= image_tag group.logo.url(:medium) %>
              </div>
              <div class="flex-row__cell flex-row__cell--grow">
                <h4><%= group.name %></h4>
                <p><%= group.description %></p>
              </div>
            </div>
          </div>
        <% end %>

        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>

        <%= f.button :submit, "Create my account", class: "btn--secondary btn--large btn--full" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('.media-object').click(function() {
    $(this).toggleClass('media-object--selected');

    $('.group-id-field').remove();

    $('.media-object--selected').each(function() {
      var $hiddenField = $('<input type="hidden" name="employee[group_ids][]" class="group-id-field"/>')
      $hiddenField.val($(this).data('group-id'));
      $('#edit_employee').append($hiddenField);
    });
  });
</script>