<h2>vCard</h2>

<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>

  <% resource.enterprise.fields.select(&:show_on_vcard).sort_by(&:gamification_value).each do |field| %>
    <% if field.is_a? TextField %>
      <%= f.input field.title.downcase.to_sym, label: field.title, as: :fake %>
    <% elsif field.is_a? SelectField %>
      <label><%= field.title %></label>
      <select>
        <% field.field_options.each do |fo| %>
          <option value="<%= fo.id %>"><%= fo.title %></option>
        <% end %>
      </select>
    <% end %>
  <% end %>



  <br>

  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <%= f.submit "Create my account" %>
<% end %>
