<!DOCTYPE html>
<html>
<head>
  <title>Diverst</title>
  <%= stylesheet_link_tag (resource.enterprise.theme.nil? ? "application" : resource.enterprise.theme.asset_url), media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="guest">
  <% if notice.present? %><p class="notice"><%= notice %></p><% end %>
  <% if alert.present? %><p class="alert"><%= alert %></p><% end %>

  <div class="site-wrap site-wrap--medium">
    <div class="content__header">
      <img class="logo logo--large" src="<%= logo_url %>">
    </div>

    <div class="content__main">
      <div class="card">
        <div class="card__section">

          <div class="row">
            <div class="col sm-6 md-3 lg-5">
              <%= image_tag resource.enterprise.cdo_picture.expiring_url(3600), class: "block", style: "width: 100%; background-size: cover; background-position: bottom center;" %>
            </div>
            <div class="col sm-6 md-3 lg-7">
              <h3><%= resource.enterprise.cdo_name %>, <%= resource.enterprise.cdo_title %></h3>

              <% if resource.enterprise.cdo_message.present? %>
                <p> <%= resource.enterprise.cdo_message %> </p>
              <% else %>
                <p>Hi! This is <%= resource.enterprise.cdo_name %>. We know that diverse teams produce better results, but our diversity mission is important for another reason: we want everyone to be fairly represented and have the same opportunities.  Our new diversity platform provides just that – a place where you can collaborate on interesting problems and develop new insights together. Join us by selecting the ERGs that best represent your interests.</p>
              <% end %>
            </div>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="card__section">
          <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :invitation_token %>

            <h2>Choose your ERG</h2>

            <% resource.enterprise.groups.each do |group| %>
              <div class="media-object" data-group-id="<%= group.id %>">
                <div class="flex-row">
                  <div class="flex-row__cell">
                    <%= image_tag group.logo.expiring_url(3600, :medium) %>
                  </div>
                  <div class="flex-row__cell flex-row__cell--grow">
                    <h4><%= group.name %></h4>
                    <p><%= group.description %></p>
                  </div>
                </div>
              </div>
            <% end %>

            <%= f.input :first_name %>
            <%= f.input :last_name %>

            <% if !resource.enterprise.has_enabled_saml? %>
              <%= f.input :password %>
              <%= f.input :password_confirmation %>
            <% end %>

            <% resource.enterprise.fields.where(private: false).each do |cf| %>
              <%= render "shared/fields/display/custom_field", cf: cf, f: f, resource: resource %>
            <% end %>

            <%= f.button :submit, "Create my account", class: "btn--secondary btn--large btn--full" %>
          <% end %>
        </div>
      </div>
    </div>

    <script>
      $('.media-object').click(function() {
        $(this).toggleClass('media-object--selected');

        $('.group-id-field').remove();

        $('.media-object--selected').each(function() {
          var $hiddenField = $('<input type="hidden" name="user[group_ids][]" class="group-id-field"/>')
          $hiddenField.val($(this).data('group-id'));
          $('#edit_user').append($hiddenField);
        });
      });

      $('.select2').select2();

      $('form#edit_user').on('submit', function(e) {
        var $form = $(this);

        if( !(validate_empty_fields($form) && validate_password($form) )) {
          e.preventDefault();
        }
      });

      function validate_empty_fields($form) {
        var $incorrect_fields = $form.find('input.required').filter(function() { return this.value == ""; });

        if( $incorrect_fields.length > 0 ) {
          var message = 'Please provide values for the following fields:';

          $.each($incorrect_fields, function(index, field){
            var field_label_text = $(field).parent().siblings('label').text();

            message += '\n ' + field_label_text;
          }); //endof each

          alert(message);

          return false;
        }

        return true;
      }

      function validate_password($form) {
        var $password  = $form.find('input#user_password');
        var $confirmation = $form.find('input#user_password_confirmation');

        // We don't want to try password validation if passwords are disabled
        if( !($password.length && $confirmation.length )) {
          return true;
        }

        if( $password.val() == $confirmation.val() ) {
          return true;
        } else {
          var message = 'Passwords do not match!';
          alert(message);

          return false;
        }
      }
    </script>
  </div>

</body>
</html>