<h2>Add an employee</h2>

<%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
  <%= devise_error_messages! %>

  <% resource.class.invite_key_fields.each do |field| -%>
    <%= f.input :email %>

    <% current_admin.enterprise.fields.each do |cf| %>
      <% if cf.is_a? TextField %>
        <%= f.input cf.title.downcase.to_sym, label: cf.title, as: :fake, input_html: { name: "custom-field[#{cf.id}]" } %>
      <% elsif cf.is_a? SelectField %>
        <label><%= cf.title %></label>
        <select name="custom-field[<%= cf.id %>]">
          <% cf.field_options.each do |fo| %>
            <option value="<%= fo.id %>"><%= fo.title %></option>
          <% end %>
        </select>
      <% end %>
    <% end %>

    <p><%= f.submit t("devise.invitations.new.submit_button") %></p>
  <% end -%>
<% end %>