<div class="content__header">
  <h1>Add a user</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
        <%= devise_error_messages! %>

        <% resource.class.invite_key_fields.each do |field| -%>
          <%= f.input :email %>
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :user_role_id, :collection => current_user.enterprise.user_roles.user_type, :label_method => :role_name, :value_method => :id, :label => "Role" ,:include_blank => false %>

          <div id="all-custom-fields">
            <% current_user.enterprise.fields.each do |cf| %>
              <% if !cf.private %>
                <%= render "shared/fields/display/custom_field", cf: cf, f: f, resource: resource %>
              <% end %>
            <% end %>
          </div>

          <p><%= f.button :submit, t("devise.invitations.new.submit_button") %></p>
        <% end -%>
      <% end %>
    </div>
  </div>
</div>
