<div class="content__main">
      <% @groups.each do |group| %>
      <div class="card">
      <div class="card__section">
        <div class="media-object<%= " media-object--selected" if UserGroup.where(:group_id => group.id, :user_id => current_user.id).size > 0 %>">
          <%= link_to group_path(group), 'data-trackable-id': group.id, 'data-trackable-type': "group", class: "trackable-views", "data-trackable-enterprise-id": current_user.enterprise_id, "data-trackable-user-id": current_user.id do %>
            <div class="flex-row">
              <div class="flex-row__cell">
                <%= image_tag group.logo.expiring_url(3600, :thumb) %>
              </div>
              <div class="flex-row__cell flex-row__cell--grow">
                <h4><%= group.name %></h4>
                <% if group.short_description.present? %>
                <p><%= group.short_description %></p>
                <% else %>
                <p><%= group.description if group.description %></p>
                <% end %>
              </div>
            </div>
          <% end %>

          <% if group.children.any? %>
          <div style="float: right;">
            <p>
              <%= link_to "Show #{c_t(:sub_erg).pluralize}", "#", class: "nested_show", id: group.id %>
              <%= link_to "Hide #{c_t(:sub_erg).pluralize}", "#", class: "nested_hide", id: group.id, style: 'display:none;' %>
            </p>
          </div>
          <% end %>
        </div>

            <% group.children.each do |sub_group| %>
            <div class="children_<%= group.id %>" style="display:none; position: relative; top: 10px;">
              <div class="media-object<%= " media-object--selected" if UserGroup.where(:group_id => sub_group.id, :user_id => current_user.id).size > 0 %>" style="margin-bottom: 10px;">
                <%= link_to group_path(sub_group), 'data-trackable-id': sub_group.id, 'data-trackable-type': "group", class: "trackable-views", "data-trackable-enterprise-id": current_user.enterprise_id, "data-trackable-user-id": current_user.id do %>
                  <div class="flex-row">
                    <div class="flex-row__cell">
                      <%= image_tag sub_group.logo.expiring_url(3600, :thumb) %>
                    </div>
                    <div class="flex-row__cell flex-row__cell--grow">
                      <h4><%= sub_group.name %></h4>
                      <% if sub_group.short_description.present? %>
                      <p><%= sub_group.short_description %></p>
                      <% else %>
                      <p><%= sub_group.description if sub_group.description %></p>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <% end %>
      </div>
      </div>
      <% end %>
</div>

<script>
  $('a.nested_show').click(function(e){
    var id = $(this).attr('id');
    $('div.children_' + id).show();
    $('span.children_' + id).show();
    $(this).siblings('a.nested_hide').show();
    $(this).hide();
  }); //endof click

  $('a.nested_hide').click(function(e){
    var id = $(this).attr('id');
    $('div.children_' + id).hide();
    $('span.children_' + id).hide();
    $(this).siblings('a.nested_show').show();
    $(this).hide();
  }); //endof click
</script>
