<div class="content__header">
  <h1><%= "#{c_t(:erg).upcase.pluralize}" %></h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <p>Here are the user <%= "#{c_t(:erg).upcase.pluralize}" %> we have at <%= current_user.enterprise.name %>. Click on any of them to explore their dashboard.</p>
    </div>
    <div class="card__section">
      <% @groups.each do |group| %>
        <div class="media-object<%= " media-object--selected" if current_user.groups.include? group %>">
          <%= link_to group_path(group) do %>
            <div class="flex-row">
              <div class="flex-row__cell">
                <%= image_tag group.logo.expiring_url(3600, :thumb) %>
              </div>
              <div class="flex-row__cell flex-row__cell--grow">
                <h4><%= group.name %></h4>
                <% if group.short_description.present? %>
                <p><%= group.short_description %></p>
                <% else %>
                <p><%= group.description if group.description %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
