<div class="content__header">
  <h1>Groups</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <p>Here are the user groups we have at <%= current_user.enterprise.name %>. Click on any of them to explore their dashboard.</p>
    </div>
    <div class="card__section">
      <% @groups.each do |group| %>
        <div class="media-object<%= " media-object--selected" if current_user.groups.include? group %>" data-group-id="<%= group.id %>">
          <div class="flex-row">
            <div class="flex-row__cell">
              <%= image_tag group.logo.expiring_url(3600, :medium) %>
            </div>
            <div class="flex-row__cell flex-row__cell--grow">
              <h4><%= group.name %></h4>
              <p><%= group.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('.media-object').click(function() {
    location.href = '/groups/' + $(this).data('group-id');
  });
</script>