<div class="content__header">
  <h1>Auto Archive Settings For Enterprise</h1>
</div>

<div class="content__main">
  <%= simple_form_for @enterprise, :url => update_auto_archive_settings_enterprise_path(@enterprise), method: :patch do |f| %>
    <div class="card">
      <div class="card__section">
        <div class="row">
          <div class="col sm-6" id="auto_archive_switch">
            <%= f.hidden_field :auto_archive, value: 0 %>
            <%= f.input :auto_archive, label: 'Auto Archive Switch' %>
          </div>
        </div>
          <div id="auto_archive_settings" style='<%= @enterprise.auto_archive? ? "display: block" : "display: none" %>'>
            <p>Set your expiry age for resources</p>
            <%= f.input :unit_of_expiry_age %>
            <%= f.input :expiry_age_for_resources %>
          </div>
      </div>
    </div>
    <%= f.button :submit, 'Update Auto Archive Settings' %>
  <% end %>
</div>

<script>
  $(document).on('ready page:load', function(){
    $("#auto_archive_switch").on("change", function(e){
      $("#auto_archive_settings").toggle();
      $.ajax({url: '<%= auto_archive_switch_enterprise_path(@enterprise) %>', type: 'PATCH'});
    });
  });
</script>
