<div class="content__header">
  <h1>Bias</h1>
</div>

<div class="content__main">
  <div class="card">
    <% 10.times do %>
      <div class="card__section card__section--border">
        <a href="#" class="block block-section">
          <div class="flex-row flex-row--middle">
            <div class="flex-row__cell flex-row__cell--grow">
              <span class="highlight"><%= current_user.enterprise.users.sample.name %></span><br>
              <small>Reported a bias from <%= current_user.enterprise.groups.sample.name %> to <%= current_user.enterprise.groups.sample.name %> of severity level <%= (1..10).to_a.sample %></small><br>
              <small class="muted"><%= time_ago_in_words (1..5).to_a.sample.months.ago %> ago</small>
            </div>
            <div class="flex-row__cell">
              <span class="icon icon--chevron-right"></span>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>