<div class="content__header">
  <h1>Branding</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for @enterprise, url: update_branding_enterprise_path(@enterprise, source: 'edit_branding'), html: {id: 'edit_enterprise_branding'} do |f| %>
        <%= f.simple_fields_for @theme do |t| %>
          <div id="colors_row" class="row">
            <div id='primary_color_column' class="col sm-6">
              <%= t.input :primary_color, id: 'primary_color',input_html: { class: 'jscolor', autofocus: true } %>
            </div>
            <div class="col sm-6">
              <%= f.hidden_field :use_secondary_color, value: 0 %>
              <%= t.input :use_secondary_color, id: 'use_secondary_color', label: 'Use different color for charts' %>
              <%= t.input :secondary_color, id: 'secondary_color', input_html: { class: 'jscolor' }, label: 'Charts color' %>
            </div>
          </div>
          <%= t.input :logo, as: :attachment_preview %>

          <%= t.input :logo_redirect_url %>

          <%= t.button :submit, "Save branding" %>
          <%= link_to "Restore to default", restore_default_branding_enterprise_path(@enterprise), class: "btn btn--secondary", method: :patch %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="content__header">
  <h1>User Home view</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for @enterprise, :url => enterprise_path(@enterprise, source: 'edit_branding') do |f| %>
        <%= f.label :banner, label: "User Home banner", input_html: { class: "field__label" } %>
        <% if @enterprise.banner? %>
          <div class="flex-row__cell fright">
            <%= link_to "Remove", delete_attachment_enterprise_path(@enterprise, attachment: :banner), method: :patch, class: "error", data: { confirm: "Are you sure?" } %>
          </div>
        <% end %>
        <%= f.input :banner, as: :attachment_preview, label: false %>

        <%= f.button :submit, "Save user settings" %>
      <% end %>
    </div>
  </div>
</div>

<div class="content__header">
  <h1>Edit Program Sponsor details</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for @enterprise, :url => enterprise_path(@enterprise, source: 'edit_branding') do |f| %>
        <%= f.input :cdo_name, label: "Sponsor name", placeholder: "Jane Doe" %>
        <%= f.input :cdo_title, label: "Sponsor title", placeholder: "VP Diversity & Inclusion" %>
        <%= f.input :cdo_message_email, label: "Email sponsor message" %>
        <%= f.input :cdo_message, label: "Onboarding sponsor message" %>
        <%= f.input :cdo_picture, label: "Sponsor picture" %>

        <%= f.input :privacy_statement %>

        <%= f.button :submit, "Save sponsor info" %>
      <% end %>
    </div>
  </div>
</div>
