<div class="content__header">
  <h1>Authentication</h1>
</div>

<div class="content__main">
  <%= simple_form_for @enterprise, :url => update_auth_enterprise_path(@enterprise) do |f| %>
    <div class="card">
      <div class="card__section">
        <div class="row">
          <div class="col sm-6">
            <%= f.hidden_field :has_enabled_saml, value: 0 %>
            <%= f.input :has_enabled_saml,
                label: "Enable SAML?",
                input_html: { autofocus: true } %>
          </div>
        </div>
      </div>
      <div class="card__section">
        You may provide XML file with Identity Provider metadata.
        <div class="card__section">
            <div class="flex-row">
              <div class="flex-row__cell">
                <%= f.input :xml_sso_config,
                as: :attachment_preview,
                label: 'XML config'
                %>
              </div>
            <% if @enterprise.xml_sso_config? %>
              <div class="flex-row__cell" style="padding-top: 40px;">
                <%= link_to "Remove", delete_attachment_enterprise_path(@enterprise, attachment: :xml_sso_config), method: :patch, class: "error", data: { confirm: "Are you sure?" } %>
              </div>
            <% end %>
            </div>
        </div>
      </div>
      <div class="card__section">
        <p> Note that settings from XML will <strong>be overwritten</strong> by any setting provided in the form below.</p>

        <%= f.input :idp_entity_id, label: "IdP Metadata URL" %>
        <%= f.input :idp_sso_target_url, label: "Login URL" %>
        <%= f.input :idp_slo_target_url, label: "Logout URL" %>
        <%= f.input :idp_cert, label: "Certificate" %>

        <%= f.button :submit, "Save auth settings" %>
      </div>
      <div class="card__section">
        <p>
          You can check current saml metadata
          <%=  link_to 'here', metadata_enterprise_saml_index_path(@enterprise) %>
        </p>
      </div>
    </div>
  <% end %>
</div>
