<div class="content__header">
  <h1>Authentication</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for @enterprise, :url => enterprise_path(@enterprise, source: 'edit_auth') do |f| %>
        <%= f.input :has_enabled_onboarding_email, label: "Enable onboarding emails?" %>
        <%= f.input :has_enabled_saml, label: "Enable SAML?", placeholder: "https://example.com/saml/metadata/123456" %>
        <%= f.input :idp_entity_id, label: "IdP Metadata URL" %>
        <%= f.input :idp_sso_target_url, label: "Login URL" %>
        <%= f.input :idp_slo_target_url, label: "Logout URL" %>
        <%= f.input :idp_cert, label: "Certificate" %>

        <p>
          You can check current saml metadata
          <%=  link_to 'here', metadata_enterprise_saml_index_path(@enterprise) %>
        </p>

        <%= f.button :submit, "Save auth settings" %>
      <% end %>
    </div>
  </div>
</div>