<div class="content__header">
  <h1>Algorithm</h1>
</div>

<div class="content__main">
  <%= simple_form_for @enterprise, :url => enterprise_path(@enterprise, source: 'edit_algo') do |f| %>
    <div class="card">
      <%= f.simple_fields_for :fields, @enterprise.match_fields(include_disabled: true) do |field| %>
        <div class="card__section card__section--border">
          <div class="flex-row flex-row--baseline">
            <%= f.hidden_field :match_exclude, value: 0 %>
            <div class="flex-row__cell"><%= field.input :match_exclude, label: false %></div>
            <div class="flex-row__cell"><strong><%= field.object.title %></strong></div>
            <div class="flex-row__cell">
              <div class="segmented-control">
                <a class="segmented-control__item<%= " segmented-control__item--is-selected" if field.object.match_polarity %>">Different</a>
                <a class="segmented-control__item<%= " segmented-control__item--is-selected" unless field.object.match_polarity %>">Same</a>
                <%= field.input_field :match_polarity, as: :hidden %>
              </div>
            </div>
            <div class="flex-row__cell flex-row__cell--grow">
              <%= field.input_field :match_weight, as: :range, max: 1, step: 0.01 %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  $('input[type="range"]').rangeslider({
    polyfill: false,
    rangeClass: 'range-slider',
    fillClass: 'range-slider__line',
    handleClass: 'range-slider__handle',
  });

  // Update inputs on segmented control change
  $('.segmented-control__item').click(function() {
    $(this).parent().find('.segmented-control__item').removeClass('segmented-control__item--is-selected');
    $(this).addClass('segmented-control__item--is-selected');
    $(this).parent().find('input').val($(this).data('value'));
  });
</script>
