<div class="content__header">
  <h1>Branding</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for @enterprise, url: update_branding_enterprise_path(@enterprise, source: 'edit_branding') do |f| %>
        <%= f.simple_fields_for @theme do |t| %>
          <%= t.input :primary_color %>
          <%= t.input :logo, as: :file %>

          <%= t.button :submit, "Save branding" %>
          <%= link_to "Restore to default", restore_default_branding_enterprise_path(@enterprise), class: "btn btn--secondary", method: :patch %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="content__header">
  <h1>Edit Program Sponsor details</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for @enterprise, :url => enterprise_path(@enterprise, source: 'edit_branding') do |f| %>
        <%= f.input :cdo_name, label: "Sponsor name", placeholder: "Jane Doe" %>
        <%= f.input :cdo_title, label: "Sponsor title", placeholder: "VP Diversity & Inclusion" %>
        <%= f.input :cdo_message, label: "Sponsor message" %>
        <%= f.input :cdo_picture, label: "Sponsor picture" %>

        <%= f.button :submit, "Save sponsor info" %>
      <% end %>
    </div>
  </div>
</div>