<h1>Employee fields</h1>
<%= simple_form_for @enterprise do |f| %>
  <div id="fields">
    <%= f.simple_fields_for :fields do |field| %>
      <%= render 'field_fields', f: field %>
    <% end %>
    <div class="link">
      <%= link_to_add_association "Add text field", f, :fields, wrap_object: Proc.new { TextField.new } %>
      <%= link_to_add_association "Add select field", f, :fields, wrap_object: Proc.new { SelectField.new } %>
      <%= link_to_add_association "Add checkbox field", f, :fields, wrap_object: Proc.new { CheckboxField.new } %>
      <%= link_to_add_association "Add numeric field", f, :fields, wrap_object: Proc.new { NumericField.new } %>
      <%= link_to_add_association "Add date field", f, :fields, wrap_object: Proc.new { DateField.new } %>
    </div>
  </div>

  <br><br>

  <%= f.submit "Save employee fields" %>
<% end %>

<h1>SSO Settings</h1>

<%= simple_form_for @enterprise do |f| %>
  <%= f.input :has_enabled_saml, label: "Enable SAML?" %>
  <%= f.input :idp_entity_id, label: "IdP Metadata URL" %>
  <%= f.input :idp_sso_target_url, label: "Login URL" %>
  <%= f.input :idp_slo_target_url, label: "Logout URL" %>
  <%= f.input :idp_cert, label: "Certificate" %>

  <%= f.submit "Save SSO settings" %>
<% end %>

<h1>Algo settings</h1>

<%= simple_form_for @enterprise do |f| %>
  <%= f.simple_fields_for :fields do |field| %>
    <strong><%= field.object.title %></strong>
    <%= field.input :match_exclude %>
    <%= field.input :match_weight %>
    <%= field.input :match_polarity %>
    <br>
  <% end %>

  <%= f.submit "Save algo settings" %>
<% end %>

<h1>ERGs</h1>

<%= link_to "Manage ERGs", groups_path %>