<div class="content__header">
  <h1>Branding</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for @enterprise do |f| %>
        <%= f.input :use_custom_branding %>
        <%= f.input :primary_color %>
        <%= f.input :logo, as: :file %>

        <%= f.button :submit, "Save branding" %>
      <% end %>
    </div>
  </div>
</div>