<div class="content__header">
  <h1>Edit CDO image</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for @enterprise, :url => enterprise_path(@enterprise, source: 'edit_cdo') do |f| %>
        <%= f.input :cdo_name, label: "CDO name", placeholder: "Jane Doe" %>
        <%= f.input :cdo_title, label: "CDO title", placeholder: "VP Diversity & Inclusion" %>
        <%= f.input :cdo_picture, label: "CDO picture" %>

        <%= f.button :submit, "Save CDO info" %>
      <% end %>
    </div>
  </div>
</div>