<div class="content__header">
  <h1>Branding</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for @enterprise do |f| %>
        <%= f.simple_fields_for :theme do |t| %>
          <%= t.input :primary_color %>
          <%= t.input :logo, as: :file %>

          <%= t.button :submit, "Save branding" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>