<div class="content__header">
  <h1>Integrations</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <div class="media-object">
        <div class="flex-row flex-row--middle">
          <div class="flex-row__cell">
            <%= image_tag "integrations/yammer.png", class: "media-object__image" %>
          </div>
          <div class="flex-row__cell flex-row__cell--grow">
            <h4>Yammer</h4>
            <p>Sync employees and groups, notify your employees through Yammer messages and post Diverst content directly to Yammer communities.</p>
          </div>
          <div class="flex-row__cell">
            <%= link_to "Configure", integrations_yammer_configure_path, class: "btn btn--primary" if current_admin.enterprise.yammer_import? %>
            <%= link_to "Activate", integrations_yammer_configure_path, class: "btn btn--secondary" if !current_admin.enterprise.yammer_import? %>
          </div>
        </div>
      </div>
      <div class="media-object<%= " media-object--selected" if false %>">
        <div class="flex-row flex-row--middle">
          <div class="flex-row__cell">
            <%= image_tag "integrations/chatter.png", class: "media-object__image" %>
          </div>
          <div class="flex-row__cell flex-row__cell--grow">
            <h4>Chatter</h4>
            <p>Syncs your Chatter employees with Diverst. Every new employee created in Chatter will be added to Diverst and their information will be updated when necessary.</p>
          </div>
          <div class="flex-row__cell">
            <%= link_to "Configure", integrations_yammer_configure_path, class: "btn btn--primary" if false %>
            <%= link_to "Activate", integrations_yammer_configure_path, class: "btn btn--secondary" if !false %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>