<p>Hello <%= @user.name %>!</p>

<p>Your mentoring session has been updated by <%= @mentoring_session.creator.name %> and is now scheduled from <%= @mentoring_session.start.in_time_zone(@user.default_time_zone).strftime("%m/%d/%Y %I:%M %p") %> to <%= @mentoring_session.end.in_time_zone(@user.default_time_zone).strftime("%m/%d/%Y %I:%M %p") %>. Click the link below to add the session to your calendar.</p>

<p><%= link_to "Session Details", ReactRoutesHelper.routes.user.mentorship.sessions.show(@mentoring_session) %></p>
