<div class="card nested-fields">
  <div class="card__section card__section--border">
    <div class="card__action">
      <%= link_to_remove_association "Remove outcome", f, class: "error" %>
    </div>
    <h2>Outcome</h2>
    <%= f.input :name, label: "Outcome name", input_html: { autofocus: true } %>
  </div>
  <div class="card__section card__section--border">
    <p>You can create as many <strong>programs</strong> as you want for this outcome.</p>
  </div>
  <div id="pillars">
    <%= f.simple_fields_for :pillars do |pillar| %>
      <%= render 'pillar_fields', f: pillar %>
    <% end %>
  </div>
  <div class="links">
    <div class="card__section card__section--border">
      <%= link_to_add_association "+Add program", f, :pillars %>
    </div>
  </div>
</div>
