<div class="content__main">

  <div class="card">
    <div class="card__section">
      <p>This section allows you to edit the structrure of this ERG's plan. Add pillars and initiatives within each outcome to plan your diversity approach.</p>
    </div>
  </div>

  <%= simple_form_for @group do |f| %>

    <div id="outcomes">
      <%= f.simple_fields_for :outcomes do |o| %>
        <%= render "outcome_fields", f: o %>
      <% end %>
        <%= link_to_add_association "+Add outcome", f, :outcomes, class: "btn btn--secondary" %>
        <%= f.button :submit, value: "Update plan", class: "fright" %>
    </div>
  <% end %>
</div>