<div class="content__main">

  <div class="card">
    <div class="card__section">
      <p>This section allows you to edit the structure of this <%= c_t(:erg) %>'s plan. Add <%= c_t(:program).pluralize %> and events within each <%= c_t(:outcome) %> to plan your diversity approach.</p>
    </div>
  </div>

  <%= simple_form_for @group do |f| %>

    <div id="outcomes">
      <%= f.simple_fields_for :outcomes do |o| %>
        <%= render "outcome_fields", f: o %>
      <% end %>
        <%= link_to_add_association "+Add #{ c_t(:outcome) }", f, :outcomes, class: "btn btn--secondary" %>
        <%= f.button :submit, value: "Update plan", class: "fright" %>
    </div>
  <% end %>
</div>