<div class="content__main">
  <%= simple_form_for @campaign, html: { class: "disable-enter-submit" } do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <%= f.input :title,
              label: "Start off by giving your campaign a <strong>name</strong>".html_safe,
              input_html: { autofocus: true } %>
      </div>

      <div class="card__section card__section--border">
        <%= f.input :description,
              label: "Describe what the <strong>goal</strong> of the campaign is. The respondents will see this.".html_safe %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">Choose the campaign's start and end <strong>time</strong></p>
        <%= f.input :start, as: :date_time_picker, label: "Start time" %>
        <%= f.input :end, as: :date_time_picker, label: "End time" %>
      </div>

      <div class="card__section card__section--border">
        <%= f.association :groups,
              collection: @campaign.enterprise.groups,
              input_html: { class: "select2-field-groups" },
              label: "Choose the <strong>#{ c_t(:erg).pluralize }</strong> you want to target".html_safe %>
      </div>

      <div class="card__section card__section--border">
        <%= f.association :segments,
              collection: @campaign.enterprise.segments,
              input_html: { class: "select2-field-segments" },
              label: "Choose the <strong>#{ c_t(:segment).pluralize }</strong> you want to target within these #{ c_t(:erg) .pluralize }".html_safe %>
      </div>

      <div class="card__section card__section--border">
        <%= f.association :managers,
            as: :select,
            input_html: { class: "select2-field", autofocus: true },
            selected: [],
            label: "Assign <strong>managers</strong> to the group. They will be allowed access to administrative features related to this group only.".html_safe
        %>
      </div>

      <div class="card__section card__section--border">
        <%= f.input :image,
              as: :attachment_preview,
              label: "Optionally upload an <strong>image</strong> that represents the campaign's purpose".html_safe %>
      </div>

      <div class="card__section card__section--border">
        <%= f.input :banner,
              as: :attachment_preview,
              label: "Optionally upload a <strong>banner</strong> that represents the campaign's purpose".html_safe %>
      </div>

      <div class="card__section card__section--border">
        <%= f.simple_fields_for :sponsors do |s| %>
          <%= render 'shared/sponsors/sponsor_fields', f: s %>
        <% end %>


        <div class="campaign_sponsor_link">
          <%= link_to_add_association "Add a sponsor", f, :sponsors, partial: 'shared/sponsors/sponsor_fields' %>
        </div>
      </div>
    </div>

    <% if @campaign.new_record? %>
      <h2>Questions</h2>
      <p>Define the questions you want to ask your audience.</p>
      <div class="card">
        <div id="questions">
          <%= f.simple_fields_for :questions do |question| %>
            <%= render 'question_fields', f: question %>
          <% end %>
        </div>
        <div class="link">
          <div class="card__section">
            <%= link_to_add_association "Add question", f, :questions %>
          </div>
        </div>
      </div>
    <% end %>

    <%= button_tag "Save and publish", value: "published", name: "campaign[status]", class: "btn btn--primary" if @campaign.draft? || @campaign.published? || @campaign.reopened? %>
    <%= button_tag "Save as draft", value: "draft", name: "campaign[status]", class: "btn btn--secondary" unless @campaign.published? || @campaign.closed? || @campaign.reopened? %>
    <%= button_tag "Close Campaign", value: "closed", name: "campaign[status]", class: "btn btn--tertiary" if (@campaign.published? || @campaign.reopened?) && @campaign.persisted? %>    
    <%= button_tag "Reopen Campaign", value: "reopened", name: "campaign[status]", class: "btn btn--secondary" if @campaign.closed? %>
  <% end %>
</div>

<%= render partial: 'shared/select2_ajax_search.js.erb' %> 

<script>
function removeLinks() {
  if('<%= @campaign.closed? %>' == 'true') {
    $('.card :input').prop('disabled', true);

    $('.remove_fields').each(function() {
      this.remove();
    });

    $('.add_fields').each(function(){
      this.remove();
    });
  }
}
 $(document).on('ready page:load', function() {
   $('.select2-field').select2(
     async_select(
       '<%= users_path(limit: 10, format: :json) %>',
       async_select_objects.USERS
     )
    );
  removeLinks();  
 });
</script>
