<div class="content__main">
  <%= simple_form_for @campaign do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <p class="field__hint">Start off by giving your campaign a <strong>name</strong></p>
        <%= f.input :title, label: false %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">Describe what the <strong>goal</strong> of the campaign is. The respondents will see this.</p>
        <%= f.input :description, label: false %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">Choose the campaign's start and end <strong>time</strong></p>
        <%= f.input :start, as: :date_time_picker %>
        <%= f.input :end, as: :date_time_picker %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">Choose the <strong>ERGs</strong> you want to target</p>
        <%= f.association :groups, collection: @campaign.enterprise.groups, input_html: { class: "select2" }, label: false %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">Choose the <strong>segments</strong> you want to target within these ERGs</p>
        <%= f.association :segments, collection: @campaign.enterprise.segments, input_html: { class: "select2" }, label: false %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">How many <strong>invites</strong> do you want to send out?</p>
        <%= f.input :nb_invites, label: false, max: current_user.enterprise.users.count %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">Assign <strong>managers</strong> to the group. They will be allowed access to administrative features related to this group only.</p>
        <%= f.association :managers, collection: @campaign.enterprise.users, input_html: { class: "select2" }, label: false %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">Optionally upload an <strong>image</strong> that represents the campaign's purpose</p>
        <%= f.input :image, as: :attachment_preview, label: false %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">Optionally upload a <strong>banner</strong> that represents the campaign's purpose</p>
        <%= f.input :banner, as: :attachment_preview, label: false %>
      </div>
    </div>

    <% if @campaign.new_record? %>
      <h2>Questions</h2>
      <p>Define the questions you want to ask your audience.</p>
      <div class="card">
        <div id="questions">
          <%= f.simple_fields_for :questions do |question| %>
            <%= render 'question_fields', f: question %>
          <% end %>
        </div>
        <div class="link">
          <div class="card__section">
            <%= link_to_add_association "Add question", f, :questions %>
          </div>
        </div>
      </div>
    <% end %>

    <%= f.button :submit %>
  <% end %>
</div>

<% content_for :page_scripts do %>
  <script>
    $('.select2').select2();
  </script>
<% end %>
