<div class="content__header">
    <h2 class="h1-styling"><%= @campaign.title %></h2>
    <%= link_to "View Stats", campaign_stats_path, class: "btn btn--primary" if CampaignPolicy.new(current_user, Campaign).new? %>
</div>

<div class="row row--equal-height">
    <div class="col sm-12 md-6">
        <div class="card">
            <div class="card__section">
                <h3>Contributions per <%= c_t(:erg) %></h3>
                <div class="card__action">
                    <%= link_to "Export CSV", contributions_per_erg_campaign_path(@campaign, format: :csv), class: "hidden-xs" %>
                </div>
                <div id="contributions_group" class="graph" data-url="<%= contributions_per_erg_campaign_path(@campaign) %>">
                    <svg></svg>
                </div>
            </div>
        </div>
    </div>
    <div class="col sm-12 md-6">
        <div class="card">
            <div class="card__section">
                <h3>Campaign Engagement Per User</h3>
                <div class="card__action">
                    <%= link_to "Export CSV", top_performers_campaign_path(@campaign, format: :csv), class: "hidden-xs" %>
                </div>
                <%= bar_chart @campaign.top_campaign_performers, id: 'top-performers',
                                                            colors: [current_user.enterprise&.theme&.primary_color || '#7B77C9'] %>
            </div>
        </div>
    </div>
    <div class="col sm-12 md-6">
        <div class="card">
            <div class="card__section">
                <h3>Campaign ROI Distribution</h3>
               <%= render 'date_range_selector', id: 'roi' %>
                <%= pie_chart Campaign.roi_distribution(current_user.enterprise_id, @campaign.id, nil), id: 'campaign-roi-distribution', 
                                                                               prefix: '$',
                                                                               thousands: ',',
                                                                               colors: [current_user.enterprise&.theme&.primary_color || '#7B77C9'] %>
            </div>
        </div>
    </div>
    <div class="col sm-12 md-6">
        <div class="card">
            <div class="card__section">
                <h3>Engagement Activity Distribution</h3>
                <%= render 'date_range_selector', id: 'engagement' %>
                <%= pie_chart Campaign.engagement_activity_distribution(current_user.enterprise_id, @campaign.id, nil), id: 'engagement-activity-distribution',
                                                                               colors: [current_user.enterprise&.theme&.primary_color || '#7B77C9'] %>
            </div>
        </div>
    </div>
</div>

 <script>
    $('#engagement > .range-btn').on('click', function(){
      var date_range = this.value;
     
      $.ajax({
        url: '<%= campaigns_engagement_distribution_path %>',
        method: 'get', 
        data: {
          date_range: date_range
        }, 

        success: function(data) {
          Chartkick.charts['engagement-activity-distribution'].updateData(data);
        }
      })
    });

     $('#roi > .range-btn').on('click', function(){
      var date_range = this.value;
     
      $.ajax({
        url: '<%= campaigns_roi_distribution_path %>',
        method: 'get', 
        data: {
          date_range: date_range
        }, 

        success: function(data) {
          Chartkick.charts['campaign-roi-distribution'].updateData(data);
        }
      })
    });
  </script>