<div class="content__header">
  <h1>Innovate Campaigns</h1>
  <%= link_to "New campaign", new_campaign_path, class: "btn btn--primary" if CampaignPolicy.new(current_user, Campaign).new? %>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <% if @campaigns.empty? %>
        <p>There are no campaigns yet. <%= link_to "Create one", new_campaign_path %> and start collaborate with your team's diverse opinions.</p>
      <% else %>
        <table class="table--has-border" id="campaigns-table">
          <thead>
            <th>Title</th>
            <th><%= c_t(:erg).pluralize %></th>
            <th>Start date</th>
            <th># of invitations</th>
            <th>Nb of questions</th>
            <th>Status</th>
            <th>Options</th>
          </thead>
          <tbody>
            <% @campaigns.each do |campaign| %>
              <tr>
                <td><%= link_to campaign.title, campaign_questions_path(campaign) %></td>
                <td><%= campaign.groups.pluck(:name).join(', ') %></td>
                <td><%= campaign.start.to_s :reversed_slashes %></td>
                <td><%= campaign.invitations.count %></td>
                <td><%= campaign.questions.count %></td>
                <td><%= campaign.status.capitalize %></td>
                <td>
                  <% if campaign.published? %>
                    <%= link_to "Link", user_user_campaign_questions_path(campaign), target: '_blank'  %> -
                  <% end %>
                  <%= link_to "Edit", edit_campaign_path(campaign) if CampaignPolicy.new(current_user, campaign).edit? %> -
                  <%= link_to "Delete", campaign_path(campaign), method: :delete, class: "error", data: { confirm: "Are you sure?" } if CampaignPolicy.new(current_user, campaign).destroy? %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#campaigns-table').dataTable(Utility.mergeWithDTDefaults({
      order: [[2, "desc"]]
    }));
  });
</script>
