<div class="content__header">
  <h1>Graphical Representation of Campaign Metrics</h1>
  <%= link_to "View Stats", campaign_stats_path, class: "btn btn--primary" if CampaignPolicy.new(current_user, Campaign).new? %>
</div>

<div class="row row--equal-height">
    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h3>Engagement Activity Distribution</h3>
            <div class="btn-group" id='engagement' role="group" aria-label="Range Selector Buttons">
              <button class="range-btn btn btn--tertiary btn--extra--small" value="1m">1m</button>
              <button class="range-btn btn btn--tertiary btn--extra--small" value="3m">3m</button>
              <button class="range-btn btn btn--tertiary btn--extra--small" value="6m">6m</button>
              <button class="range-btn btn btn--tertiary btn--extra--small" value="1y">1y</button>
              <button class="range-btn btn btn--tertiary btn--extra--small" value="all">All</button>
            </div>
          <br>
          <br>
          <%= pie_chart Campaign.engagement_activity_distribution(current_user.enterprise_id, nil, nil), id: 'engagement-activity-distribution' %>
        </div>
      </div>
    </div>
    <div class="col sm-12 md-6">
      <div class="card">
        <div class="card__section">
          <h3>Campaign ROI Distribution</h3>
          <div class="btn-group" id='roi' role="group" aria-label="Range Selector Buttons">
            <button class="range-btn btn btn--tertiary btn--extra--small" value="1m">1m</button>
            <button class="range-btn btn btn--tertiary btn--extra--small" value="3m">3m</button>
            <button class="range-btn btn btn--tertiary btn--extra--small" value="6m">6m</button>
            <button class="range-btn btn btn--tertiary btn--extra--small" value="1y">1y</button>
            <button class="range-btn btn btn--tertiary btn--extra--small" value="all">All</button>
          </div>
          <%= pie_chart Campaign.roi_distribution(current_user.enterprise_id, nil, nil), id: 'campaign-roi-distribution', 
                                                                               prefix: '$',
                                                                               thousands: ',' %>
        </div>
      </div>
    </div>
  </div>

  <script>
    $('#engagement > .range-btn').on('click', function(){
      var date_range = this.value;
     
      $.ajax({
        url: '<%= campaigns_engagement_distribution_path %>',
        method: 'get', 
        data: {
          date_range: date_range
        }, 

        success: function(data) {
          Chartkick.charts['engagement-activity-distribution'].updateData(data);
        }
      })
    });

     $('#roi > .range-btn').on('click', function(){
      var date_range = this.value;
     
      $.ajax({
        url: '<%= campaigns_roi_distribution_path %>',
        method: 'get', 
        data: {
          date_range: date_range
        }, 

        success: function(data) {
          Chartkick.charts['campaign-roi-distribution'].updateData(data);
        }
      })
    });
  </script>