<div class="col-xs-8">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for @user, url: user_mentorship_path(@user) do |f| %>
        <div class="card__section">
          <div class="row row--spacing-bottom">
            <%= link_to 'Connect with LinkedIn', '/omniauth/linkedin', class: "btn btn--secondary" unless @user.linkedin_profile_url %>
          </div>
          <div class="row row--spacing-bottom">
            <div class="col md-6">
              <p class="field__hint">Are you interested in being a mentor?</p>
              <%= f.hidden_field :mentor, value: 0 %>
              <%= f.input :mentor, label: false %>
            </div>
            
            <div class="col md-6">
              <p class="field__hint">Are you interested in being mentored?</p>
              <%= f.hidden_field :mentee, value: 0 %>
              <%= f.input :mentee, label: false %>
            </div>
          </div>
        </div>
        
        <div class="card__section">
          <div class="row row--spacing-bottom">
            <div class="col-xs-12">
                <%= f.simple_fields_for :availabilities do |availability| %>
                  <%= render "user/mentorship/profile/availability_fields", f: availability %>
                <% end %>
        
                <span><%= link_to_add_association "Add availability", f, :availabilities, partial: "user/mentorship/profile/availability_fields" %></span>
            </div>
          </div>
        </div>
        
        <div class="card__section">
          <div class="row row--spacing-bottom">
            <div class="col md-12">
              <p class="field__hint">In what areas are you interested in providing mentorship or being mentored in?</p>
              <%= f.association :mentoring_interests,
                  collection: @user.enterprise.mentoring_interests,
                  input_html: { class: "select2" },
                  label: false %>
            </div>
          </div>
          <div class="row row--spacing-bottom">
            <div class="col md-12">
              <p class="field__hint">Please describe why</p>
              <%= f.input :mentorship_description, label: false %>
            </div>
          </div>
          <div class="row row--spacing-bottom">
            <div class="col md-12">
              <p class="field__hint">What type of mentoring do you prefer?</p>
              <%= f.association :mentoring_types,
                  collection: @user.enterprise.mentoring_types,
                  input_html: { class: "select2" },
                  label: false %>
            </div>
          </div>
        </div>
        <%= f.button :submit, "Save" %>
      <% end %>
    </div>
  </div>
</div>