<div class="col-xs-8">
  <div class="card">
    <div class="card__section">
      <%= simple_form_for @user, wrapper: :inline_form, html: { class: 'form-inline' }, url: user_mentorship_path(@user) do |f| %>
        <div class="card__section">
          <div class="row row--spacing-bottom">
            <% if @user.linkedin_profile_url.blank? %>
              <%= link_to '/omniauth/linkedin' do %>
                <img class="img-responsive center-block" src="<%= image_path "Connect with LinkedIn.png" %>" alt="Home">
              <% end %>
            <% end %>
          </div>
          <div class="row row--spacing-bottom">
            <div class="col md-6">
              <p class="field__hint">Are you interested in being a mentor?</p>
              <%= f.hidden_field :mentor, value: 0 %>
              <%= f.input :mentor, label: false %>
            </div>
            
            <div class="col md-6">
              <p class="field__hint">Are you interested in being mentored?</p>
              <%= f.hidden_field :mentee, value: 0 %>
              <%= f.input :mentee, label: false %>
            </div>
          </div>
          <div class="row row--spacing-bottom">
            <div class="col md-6">
              <p class="field__hint">Accept requests to be a mentor?</p>
              <%= f.hidden_field :accepting_mentor_requests, value: 0 %>
              <%= f.input :accepting_mentor_requests, label: false %>
            </div>

            <div class="col md-6">
              <p class="field__hint">Accept requests to be a mentee?</p>
              <%= f.hidden_field :accepting_mentee_requests, value: 0 %>
              <%= f.input :accepting_mentee_requests, label: false %>
            </div>
          </div>
          <br>
          <div class="row row--spacing-bottom">
            <div class="col-xs-12">
              <p class="field__hint">Your default time_zone:</p>
              <%= f.input :time_zone %>
            </div>
          </div>
        </div>
        
        <div class="card__section">
          <div class="row row--spacing-bottom">
            <div class="col-xs-12">
              <div class="form-inline">
                <%= f.simple_fields_for :availabilities do |availability| %>
                  <%= render "user/mentorship/profile/availability_fields", f: availability %>
                <% end %>
        
                <span><%= link_to_add_association "Add availability", f, :availabilities, partial: "user/mentorship/profile/availability_fields" %></span>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card__section">
          <div class="row row--spacing-bottom">
            <div class="col md-12">
              <p class="field__hint">In what areas are you interested in providing mentorship or being mentored in?</p>
              <%= f.association :mentoring_interests,
                  collection: @user.enterprise.mentoring_interests.map { |int| int.name.capitalize! ; int}.sort_by { |int| int.name },
                  input_html: { class: "select2" },
                  label: false %>
            </div>
          </div>
          <div class="row row--spacing-bottom">
            <div class="col-xs-12">
              <p class="field__hint">Please describe specifically why you want to be mentored:</p>
              <%= f.input :mentorship_description, label: false, input_html: { class: "full-width" } %>
            </div>
          </div>
          <div class="row row--spacing-bottom">
            <div class="col md-12">
              <p class="field__hint">What type of mentoring do you prefer?</p>
              <%= f.association :mentoring_types,
                  collection: @user.enterprise.mentoring_types,
                  input_html: { class: "select2" },
                  label: false %>
            </div>
          </div>
        </div>
        <%= f.button :submit, "Save" %>
      <% end %>
    </div>
  </div>
</div>