

<p>Welcome to <%= @resource.enterprise.name %>!</p>

<p>
<% if @resource.enterprise.cdo_message_email.present? %>
  <%= @resource.enterprise.cdo_message_email %>
<% else %>
  At <%= @resource.enterprise.name %>, we want to recognize and celebrate our diversity with our users. We believe this is a core strength that leads to greater alignment. Please share with us a little bit about yourself so we can help you make the important connections that make your work with us more fulfilling and allow us all to celebrate what makes us unique.
<% end %>
</p>
<p>Answer only what you are comfortable with:</p>

<p>* Privacy statement.
<% if @resource.enterprise.privacy_statement.present? %>
  <%= @resource.enterprise.privacy_statement %>
<% else %>
  Diverst uses a double factor authentication protocol and regards your data as highly confidential. Only authorized administrators can view this data.. Your data will never be shared with anyone or anything other than these select individuals.
<% end %>
</p>

<p><%= link_to "Set up my profile", accept_invitation_url(@resource, :invitation_token => @token) %></p>