<div class="content__main">
  <div class="row">
    <div class="col sm-12">
      <div class="card">
        <div class="card__section">
          <h2 class="h3-styling">Edit <%= @email.name %></h2>
          <%= simple_form_for @email do |f| %>
            <%= f.input :subject %>
            <%= f.input :content, as: :ckeditor %>
            <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col sm-12">
      <div class="card card--secondary">
        <div class="card__section card__section--border">
          <h2 class="h3-styling">Email Preview</h2>
          <p class="text-center">Here is a preview of what this email will look like when sent out.</p>
        </div>
        <div class="card__section card__section--border">
          <p><strong>Subject:</strong> <%= raw @email.process_example(@email.subject) %></p>
        </div>
        <div class="card__section card__section--border">
          <p><strong>Email Body:</strong> <%= raw @email.process_example(@email.content) %></p>
        </div>
      </div>
    </div>
    <div class="col sm-12">
      <div class="card card--secondary">
        <div class="card__section card__section--border">
          <h3 class="h4-styling">Variables</h3>
          <p>The variables below can be used in your templates.</p>
        </div>
        <% @email.variables.each do |variable| %>
          <div class="card__section card__section--border">
            <h3 class="accent h4-styling">%{ <%= variable.enterprise_email_variable.key %> }</h3>
            <p><%= variable.enterprise_email_variable.description %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>