<div class="content__header">
  <h1><%= @email.name %></h1>
</div>

<div class="content__main">
  <div class="row">

    <div class="col sm-12 md-8">
      <div class="card">
        <div class="card__section">
          <h3>Edit template</h3>
          <%= simple_form_for @email do |f| %>
            <%= f.input :use_custom_templates, label: "Use custom templates" %>
            <%= f.input :custom_html_template, input_html: { style: "min-height: 300px;" }, wrapper_html: { style: "display: #{(f.object.use_custom_templates ? "block" : "none")}" } %>
            <%= f.input :custom_txt_template, input_html: { style: "min-height: 300px;" }, wrapper_html: { style: "display: #{(f.object.use_custom_templates ? "block" : "none")}" } %>
            <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col sm-12 md-4">
      <div class="card card--secondary">
        <div class="card__section card__section--border">
          <h4>Variables</h4>
          <p>The variables below can be used in your templates.</p>
        </div>
        <% @email.variables.each do |variable| %>
          <div class="card__section card__section--border">
            <h4 class="accent">{{ <%= variable.key %> }}</h4>
            <p><%= variable.description %></p>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

<script>
  $(document).on('page:change', function() {
    $(document).off('page:change');

    $('#email_use_custom_templates').change(function() {
      $('.email_custom_html_template, .email_custom_txt_template').css('display', $(this).is(':checked') ? 'block' : 'none');
    });
  });
</script>