<div class="content__header">
  <h1>Emails Settings</h1>
</div>

<div class="content__main">
  <div class="row">
    <div class="col sm-12 md-12">
      <div class="card">
        <div class="card__section">
          <%= simple_form_for @enterprise do |f| %>
            <%= f.input :has_enabled_onboarding_email, label: "Enable onboarding email?" %>
            <%= f.button :submit, value: "Update emails settings" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content__header">
  <h1>Emails Templates</h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <table class="table--has-border" id="emails-table">
        <thead>
          <th>Name</th>
          <th>Custom template?</th>
          <th>Last update</th>
        </thead>
        <tbody>
          <% @emails.each do |email| %>
            <tr>
              <td><%= link_to email.name, edit_email_path(email) %></td>
              <td><%= email.use_custom_templates? ? "Yes" : "No" %></td>
              <td><%= time_ago_in_words(email.updated_at) %> ago</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).on('page:change', function() {
    $(document).off('page:change');

    $('#emails-table').dataTable(Utility.mergeWithDTDefaults({
      order: [[2, "desc"]]
    }));
  });
</script>
