<div class="content__main">
  <%= simple_form_for @expense do |f| %>

    <div class="card">
      <div class="card__section card__section--border">
        <%= f.input :name, label: "Start off by giving your item a <strong>name</strong>".html_safe, placeholder: "Trip to HQ" %>
      </div>

      <div class="card__section card__section--border">
        <%= f.input :price, label: "What is the <strong>cost</strong> of a single unit?".html_safe, placeholder: "4500" %>
      </div>

      <div class="card__section card__section--border">
        <%= f.association :category, label: "Choose a <strong>category</strong> to group this item in".html_safe, include_blank: false %>
      </div>

      <div class="card__section card__section--border">
        <%= f.label :income, label: "What is the <strong>nature</strong> of this item?".html_safe, class: "field__label" %>
        <div class="segmented-control">
          <a class="segmented-control__item<%= " segmented-control__item--is-selected" if f.object.income %>" data-value="true">Income</a>
          <a class="segmented-control__item<%= " segmented-control__item--is-selected" if !f.object.income %>" data-value="false">Expense</a>
          <%= f.input :income, as: :hidden, wrapper_html: { style: "display: none" } %>
        </div>
      </div>
    </div>

    <%= f.button :submit %>
  <% end %>
</div>

<script>
  $('.segmented-control__item').click(function() {
    $(this).parent().find('.segmented-control__item').removeClass('segmented-control__item--is-selected');
    $(this).addClass('segmented-control__item--is-selected');
    $(this).parent().find('input').val($(this).data('value'));
  });
</script>
