<div class="content__header">
  <h1>Logs</h1>
  <div class="flex-row flex-row--middle">
    <div class="flex-row__cell">
      <%= link_to "Export CSV", logs_path(format: :csv), class: "btn btn--secondary hidden-xs", role: "button", 'aria-label': "Export CSV" %>
    </div>
  </div>
</div>

<div class="content__main">
  <%= search_form_for @q, url: logs_path, builder: SimpleForm::FormBuilder do |f| %>
    <div class="card">
      <div class="card__section card__section--border calendar-filters">
        <div class="row">
          <% if GroupPolicy.new(current_user, nil).index? %>
            <div class="col sm-5">
              <%= f.input :trackable_id_in,
                    as: :select,
                    collection: @groups,
                    input_html: { class: "select2-field-groups", multiple: true },
                    label: "Filter by group",
                    required: false
              %>
            </div>
          <% end %>
          <div class="col sm-5">
            <div class="col sm-6">
              <%= f.input :created_at_gteq,
                    as: :date_picker,
                    label: "Logs from",
                    required: false
              %>
            </div>
            <div class="col sm-6">
              <%= f.input :created_at_lteq,
                    as: :date_picker,
                    label: "Logs to",
                    required: false
              %>
            </div>
          </div>
          <div class="col sm-1" style="padding-top: 15px;">
            <%= f.button :submit, value: "Filter" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="card">
    <%= render_activities(@activities_page) %>
    <%= paginate @activities_page %>
  </div>
</div>

<%= render partial: 'shared/select2_ajax_search.js.erb' %>
