<div id="fields" class="card">
  <%= f.simple_fields_for :fields do |field| %>
    <%= render 'shared/fields/creation/field_fields', f: field %>
  <% end %>
  <div class="link">
    <%= link_to_add_association "Add text field", f, :fields, wrap_object: Proc.new { TextField.new(title: "New text field") }, partial: "shared/fields/creation/field_fields" %>
    <%= link_to_add_association "Add select field", f, :fields, wrap_object: Proc.new { SelectField.new(title: "New select field") }, partial: "shared/fields/creation/field_fields" %>
    <%= link_to_add_association "Add checkbox field", f, :fields, wrap_object: Proc.new { CheckboxField.new(title: "New checkbox field") }, partial: "shared/fields/creation/field_fields" %>
    <%= link_to_add_association "Add numeric field", f, :fields, wrap_object: Proc.new { NumericField.new(title: "New numeric field") }, partial: "shared/fields/creation/field_fields" %>
    <%= link_to_add_association "Add date field", f, :fields, wrap_object: Proc.new { DateField.new(title: "New date field") }, partial: "shared/fields/creation/field_fields" %>
  </div>
</div>