<div class="nested-fields">
  <div class="card">
    <div class="card__action">
      <%= link_to_remove_association "Remove", f, class: "error" %>
    </div>
    <div class="card__section">
      <%= render 'shared/fields/creation/text_field', f: f if f.object.type == 'TextField' %>
      <%= render 'shared/fields/creation/select_field', f: f if f.object.type == 'SelectField' %>
      <%= render 'shared/fields/creation/checkbox_field', f: f if f.object.type == 'CheckboxField' %>
      <%= render 'shared/fields/creation/numeric_field', f: f if f.object.type == 'NumericField' %>
      <%= render 'shared/fields/creation/date_field', f: f if f.object.type == 'DateField' %>

      <%= f.input :gamification_value %>
      <%= f.input :show_on_vcard, wrapper: :boolean_checkbox %>
      <%= f.hidden_field :type %>
      <%= f.input :saml_attribute %>
    </div>
  </div>
</div>