<%= f.input :title, label: local_assigns.fetch(:label, "Title") %>
<div class="row">
  <div class="col md-6 sm-12">
    <%= f.input :min %>
  </div>
  <div class="col md-6 sm-12">
    <%= f.input :max %>
  </div>
</div>
<%= f.hidden_field :alternative_layout, value: 0 %>
<%= f.input :alternative_layout, label: "Show slider instead" %>
