<div class="content__main">
  <%= simple_form_for @bias do |f| %>
    <div class="card">
      <div class="card__section">
        <%= f.input :anonymous,
              label: "I want to remain anonymous",
              wrapper: :boolean_toggle,
              input_html: { autofocus: true } %>
        <p>Where have you seen unconscious bias in your organization? (your entries will be kept strictly confidential)</p>

        <div class="row">
          <div class="col sm-6">
            <h3>From</h3>
            <%= f.association :groups_from,
                              collection: current_user.enterprise.groups,
                              input_html: { class: "select2" },
                              label: "Groups"
            %>
            <%= f.association :cities_from,   input_html: { class: "select2" }, label: "Office locations" %>
            <%= f.association :departments_from,
                              collection: current_user.enterprise.departments,
                              input_html: { class: "select2" },
                              label: "Departments"
            %>
          </div>
          <div class="col sm-6">
            <h3>Against</h3>
            <%= f.association :groups_to,
                            collection: current_user.enterprise.groups,
                            input_html: { class: "select2" },
                            label: "Groups"
            %>
            <%= f.association :cities_to,   input_html: { class: "select2" }, label: "Office locations" %>
            <%= f.association :departments_to,
                              collection: current_user.enterprise.departments,
                              input_html: { class: "select2" },
                              label: "Departments"
            %>
          </div>
        </div>

        <%= f.input :description, wrapper_html: { style: "margin-top: 30px;" }, label: "Optionally describe the observed bias" %>
        <div class="row">
          <h3>Type of bias</h3>
          <div class="col md-3">
            <%= f.input :spoken_words %>
            <%= f.input :marginalized_in_meetings %>
          </div>
          <div class="col md-3">
            <%= f.input :called_name %>
            <%= f.input :contributions_ignored %>
          </div>
          <div class="col md-3">
            <%= f.input :in_documents %>
            <%= f.input :unfairly_criticized %>
          </div>
          <div class="col md-3">
            <%= f.input :sexual_harassment %>
            <%= f.input :inequality, label: 'Pay Inequity' %>
          </div>
        </div>

        <p style="margin-top: 20px;">
          <strong style="margin-bottom: 15px; display: inline-block;">Severity of bias: <span class="js-bias-severity"></span></strong>
          <span class="flex-row flex-row--middle">
            <span class="flex-row__cell">
              1
            </span>
            <span class="flex-row__cell flex-row__cell--grow">
              <%= f.input_field :severity, as: :range, min: 1, max: 10, input_html: { class: 'js-bias-severity' } %>
            </span>
            <span class="flex-row__cell">
              10
            </span>
          </span>
        </p>

        <%= f.button :submit, value: "Submit bias", style: "margin-top: 30px;" %>
      </div>
    </div>
  <% end %>
</div>

<script>
  var $slider = $('input[type="range"]').eq(0);
  $slider.rangeslider({
    polyfill: false,
    rangeClass: 'range-slider',
    fillClass: 'range-slider__line',
    handleClass: 'range-slider__handle',
    onInit: function() {
      $('.js-bias-severity').text($slider.val());
    },
    onSlide: function() {
      $('.js-bias-severity').text($slider.val());
    }
  });
</script>
