<div class="content__header">
  <h1>Biases</h1>
</div>

<div class="content__main">
  <div class="row">
    <div class="col sm-6">
      <div class="card">
        <div class="card__section">
          <h3>Bias heatmap</h3>
          <%= image_tag 'heatmap.png', style: 'width: 100%' %>
        </div>
      </div>
    </div>
    <div class="col sm-6">
      <div class="card">
        <div class="card__section">
          <h3>Bias cross-reference</h3>
          <div class="js-cross-graph" style="height: 291px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col sm-6">
      <div class="card">
        <div class="card__section">
          <h3>Highest <%= c_t(:erg) %> biases</h3>
          <table class="table--has-border">
            <thead>
              <th>Groups</th>
              <th>Nb. of claims</th>
            </thead>
            <tbody>
                <tr>
                  <td>Asian vs. African-American</td>
                  <td>34</td>
                </tr>
                <tr>
                  <td>Hispanic vs. Asian</td>
                  <td>28</td>
                </tr>
                <tr>
                  <td>Women vs. Veterans</td>
                  <td>21</td>
                </tr>
                <tr>
                  <td>Aboriginal vs. Women</td>
                  <td>18</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col sm-6">
      <div class="card">
        <div class="card__section">
          <h3>Highest <%= c_t(:segment) %> biases</h3>
          <table class="table--has-border">
            <thead>
              <th>Groups</th>
              <th>Nb. of claims</th>
            </thead>
            <tbody>
                <tr>
                  <td>New hires vs. Experienced workers</td>
                  <td>65</td>
                </tr>
                <tr>
                  <td>Women in tech vs. Interns</td>
                  <td>51</td>
                </tr>
                <tr>
                  <td>Marketing vs. Development</td>
                  <td>40</td>
                </tr>
                <tr>
                  <td>Japan office vs. New hires</td>
                  <td>29</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card__section card__section--border">
      <h3>Latest bias reports</h3>
    </div>
    <% @biases.each do |bias| %>
      <div class="card__section card__section--border">
        <span class="highlight"><%= bias.anonymous ? "Respondent ##{bias.id}" : bias.user.name_with_status %></span><br>
        <small>Reported a bias from <span class="highlight"><%= bias.groups_from.pluck(:name).to_sentence %></span> to <span class="highlight"><%= bias.groups_to.pluck(:name).to_sentence %></span> of severity level <%= bias.severity %></small><br>
        <% if !bias.description.blank? %><small style="font-style: italic;"><%= bias.description %></small><br><% end %>
        <small class="muted"><%= time_ago_in_words bias.created_at %> ago</small>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(function () {
      $('.js-cross-graph').highcharts({

          chart: {
              type: 'bubble',
              plotBorderWidth: 1,
              zoomType: 'xy'
          },

          legend: {
              enabled: false
          },

          title: {
              text: ''
          },

          xAxis: {
              gridLineWidth: 1,
              title: {
                  text: 'Nb. of occurences'
              },
              labels: {
                  format: '{value}'
              }
          },

          yAxis: {
              startOnTick: false,
              endOnTick: false,
              title: {
                  text: 'Severity'
              },
              labels: {
                  format: '{value}'
              },
              maxPadding: 0.2
          },

          tooltip: {
              useHTML: true,
              headerFormat: '<table>',
              pointFormat: '<tr><th colspan="2"><h3>{point.country}</h3></th></tr>' +
                  '<tr><th># of reports:</th><td>{point.x}</td></tr>' +
                  '<tr><th>Average severity:</th><td>{point.y}</td></tr>' +
                  '<tr><th>Bias index:</th><td>{point.z}</td></tr>',
              footerFormat: '</table>',
              followPointer: true
          },

          plotOptions: {
              series: {
                  dataLabels: {
                      enabled: true,
                      format: '{point.name}'
                  }
              }
          },

          credits: {
              enabled: false
          },

          series: [{
              data: [
                  { x: 95, y: 95, z: 13.8, name: 'BE', country: 'Belgium' },
                  { x: 86.5, y: 102.9, z: 14.7, name: 'DE', country: 'Germany' },
                  { x: 80.8, y: 91.5, z: 15.8, name: 'FI', country: 'Finland' },
                  { x: 80.4, y: 102.5, z: 12, name: 'NL', country: 'Netherlands' },
                  { x: 80.3, y: 86.1, z: 11.8, name: 'SE', country: 'Sweden' },
                  { x: 78.4, y: 70.1, z: 16.6, name: 'ES', country: 'Spain' },
                  { x: 74.2, y: 68.5, z: 14.5, name: 'FR', country: 'France' },
                  { x: 73.5, y: 83.1, z: 10, name: 'NO', country: 'Norway' },
                  { x: 71, y: 93.2, z: 24.7, name: 'UK', country: 'United Kingdom' },
                  { x: 69.2, y: 57.6, z: 10.4, name: 'IT', country: 'Italy' },
                  { x: 68.6, y: 20, z: 16, name: 'RU', country: 'Russia' },
                  { x: 65.5, y: 126.4, z: 35.3, name: 'US', country: 'United States' },
                  { x: 65.4, y: 50.8, z: 28.5, name: 'HU', country: 'Hungary' },
                  { x: 63.4, y: 51.8, z: 15.4, name: 'PT', country: 'Portugal' },
                  { x: 64, y: 82.9, z: 31.3, name: 'NZ', country: 'New Zealand' }
              ]
          }]

      });
  });
</script>
