<div class="content__header">
  <h1>
    <%= link_to "Integrations", integrations_path, class: "muted" %> /
    Yammer
  </h1>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <p>This feature allows you to import users from Yammer to Diverst. New users created in Yammer will get imported as they are created.</p>

      <%= simple_form_for current_user.enterprise do |f| %>
        <%= f.input :yammer_import, label: "Enable this feature" %>

        <strong>User fields</strong>
        <p>Map Yammer fields to their corresponding Diverst fields to automatically import them.</p>

        <div id="yammer_field_mappings">
          <%= f.simple_fields_for :yammer_field_mappings do |y| %>
            <%= render 'yammer_field_mapping_fields', f: y %>
          <% end %>
          <div class="links">
            <%= link_to_add_association "Add a mapping", f, :yammer_field_mappings %>
          </div>
        </div>

        <%= f.button :submit, value: "Save changes" %>
      <% end %>
    </div>
  </div>
</div>