<div class="card__section card__section--border">
  <div class="block block-section">
    <div class="flex-row flex-row--middle">
      <% if event.picture.exists? %>
        <%= inline_svg('icons/live-streaming.svg', size: '20px*20px', class: 'live__streaming') %>
        <%= image_tag("Remote meeting icon.png", size: "20x20") if event.virtual? %>
        <div class="flex-row__cell">
          <div style="background-image: url(<%= event.picture.expiring_url(3600) %>); width: 100px; height: 85px; background-size: cover; background-position: center;"></div>
        </div>
      <% end %>
      <div class="flex-row__cell flex-row__cell--grow">
        <span class="highlight"><%= link_to event.name, group_event_path(event.pillar.outcome.group, event) %></span><br>
        <% if event.group != @group %>
          <strong><small>Hosted By: <%= event.group.name %></small></strong><br>
        <% end %>
        <small style="padding-left: 12px;"><%= sanitize event.description %></small><br>
        <small class="muted"><%= event.start.to_s :slashes %></small>
      </div>
      <div class="flex-row__cell">
        <span class="icon icon--chevron-right"></span>
      </div>
    </div>
  </div>
</div>
