<%= simple_form_for [@group, @event] do |f| %>
  <div class="content__main">
    <div class="card">
      <div class="card__section card__section--border">
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :start %>
        <%= f.input :end %>
        <%= f.input :location %>
        <%= f.association :segments, collection: @group.enterprise.segments, input_html: { class: "select2" } %>
        <%= f.input :max_attendees %>
        <%= f.input :picture, as: :file %>
      </div>
      <div class="card__section card__section--border">
        <p>Choose the <strong>external members</strong> you want to invite</p>
        <%= f.association :attendees, collection: @group.enterprise.users, input_html: { class: "select2" }, label: false %>
      </div>
    </div>

    <div class="card">
      <div class="card__section">
        <p>Send out an <strong>appreciation survey</strong> to the attendees when the event is completed.</p>
      </div>

      <div id="fields">
        <%= f.simple_fields_for :fields do |field| %>
          <%= render 'field_fields', f: field %>
        <% end %>
      </div>

      <div class="link">
        <div class="card__section card__section--border">
          <%= link_to_add_association "Add text field", f, :fields, wrap_object: Proc.new { TextField.new } %> |
          <%= link_to_add_association "Add select field", f, :fields, wrap_object: Proc.new { SelectField.new } %> |
          <%= link_to_add_association "Add checkbox field", f, :fields, wrap_object: Proc.new { CheckboxField.new } %> |
          <%= link_to_add_association "Add numeric field", f, :fields, wrap_object: Proc.new { NumericField.new } %> |
          <%= link_to_add_association "Add date field", f, :fields, wrap_object: Proc.new { DateField.new } %>
        </div>
      </div>
    </div>

    <%= f.button :submit %>
  </div>
<% end %>

<script>
  $('.select2').select2();
</script>