<%= simple_form_for [@group, @event] do |f| %>
  <div class="content__main">
    <div class="card">
      <div class="card__section card__section--border">
        <%= f.input :name, input_html: { autofocus: true } %>
        <%= f.input :description %>
        <%= f.input :start %>
        <%= f.input :end %>
        <%= f.input :location %>
        <%= f.association :segments, collection: @group.enterprise.segments, input_html: { class: "select2-field-segments" } %>
        <%= f.input :max_attendees %>
        <%= f.input :picture, as: :attachment_preview %>
      </div>

      <div class="card__section card__section--border">
        <%= f.association :attendees,
            as: :select,
            input_html: { class: "select2-field" },
            selected: [],
            label: "Choose the <strong>external members</strong> you want to invite".html_safe %>
      </div>
    </div>

    <div class="card">
      <div class="card__section">
        <p>Send out an <strong>appreciation survey</strong> to the attendees when the event is completed.</p>
      </div>

      <div id="fields">
        <%= f.simple_fields_for :fields do |field| %>
          <%= render 'field_fields', f: field %>
        <% end %>
      </div>

      <div class="link">
        <div class="card__section card__section--border">
          <%= link_to_add_association "Add text field", f, :fields, wrap_object: Proc.new { TextField.new } %> |
          <%= link_to_add_association "Add select field", f, :fields, wrap_object: Proc.new { SelectField.new } %> |
          <%= link_to_add_association "Add checkbox field", f, :fields, wrap_object: Proc.new { CheckboxField.new } %> |
          <%= link_to_add_association "Add numeric field", f, :fields, wrap_object: Proc.new { NumericField.new } %> |
          <%= link_to_add_association "Add date field", f, :fields, wrap_object: Proc.new { DateField.new } %>
        </div>
      </div>
    </div>

    <%= f.button :submit %>
  </div>
<% end %>

<%= render partial: 'shared/select2_ajax_search.js.erb' %>

<script>
 $(document).on('ready page:load', function(){
   $('.select2-field').select2({
     async_select(users_path(limit: 10, format: json))
   })
 }
</script>
