<div class="content__header">
  <h1>Events</h1>
  <div class="flex-row flex-row--middle">
    <div class="flex-row__cell">
      <%= link_to "New Event", new_group_initiative_path(@group), class: "btn btn--primary" if GroupEventsPolicy.new(current_user, [@group]).create? %>
    </div>
    <div class="flex-row__cell">
      <%= link_to "Calendar view",   calendar_view_group_events_path(@group), class: "btn btn--secondary" %>
    </div>
  </div>
</div>

<div class="content__main">
<% if GroupEventsPolicy.new(current_user, [@group]).view_upcoming_and_ongoing_events? %>
  <% unless @ongoing_events.empty? %>
    <h3>Ongoing events</h3>
    <div class="card">
      <% @ongoing_events.each do |event| %>
        <%= render 'event', event: event %>
      <% end %>
    </div>
  <% end %>

  <% unless @upcoming_events.empty? %>
    <h3>Upcoming Events</h3>
    <div class="card">
      <% @upcoming_events.each do |event| %>
        <%= render 'event', event: event %>
      <% end %>
    </div>
  <% end %>
<% end %>

  <h3>Past events</h3>
  <div class="card">
    <% if @past_events.empty? %>
      <div class="card__section">
        <p>There are no events in this group.</p>
      </div>
    <% else %>
      <% @past_events.each do |event| %>
        <%= render 'event', event: event %>
      <% end %>
    <% end %>
  </div>

</div>
