<div class="content__header">
  <h1>Events</h1>
  <%= link_to "+ Create new event", new_group_event_path, class: "btn btn--primary" %>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section card__section--border">
      <h4>Upcoming events</h4>

        <% @upcoming_events.each do |event| %>
          <a href="#TODO" class="block block-section">
            <div class="flex-row flex-row--middle">
              <div class="flex-row__cell flex-row__cell--grow">
                <span class="highlight"><%= event.title %></span><br>
                <small><%= event.description %></small><br>
                <small class="muted"><%= event.created_at.to_s :slashes %></small>
              </div>
              <div class="flex-row__cell">
                <span class="icon icon--chevron-right"></span>
              </div>
            </div>
          </a>
        <% end %>
    </div>
  </div>
  <div class="card">
    <div class="card__section card__section--border">
      <h4>Past events</h4>
      <ul class="unstyled">
        <% @past_events.each do |event| %>
          <li><%= event.title %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>