<div class="content__header">
  <h1>
    <%= link_to "Events", group_events_path(@group) %> /
    <%= @event.name %>
  </h1>
  <div class="flex-row">
    <div class="flex-row__cell">
      <%= link_to "Delete event", group_initiative_path(@group, @event), method: :delete, class: "btn btn--danger",  data: { confirm: "Are you sure?" } if policy(@event).destroy? %>
    </div>
    <div class="flex-row__cell">
      <%= link_to "Edit event", edit_group_initiative_path(@group, @event), class: "btn btn--primary" if policy(@event).edit? %>
    </div>
    <div class="flex-row__cell">
      <%= link_to "Export attendees", attendees_group_initiative_path(@group, @event, format: :csv), class: "btn btn--primary" if policy(@event).edit? %>
    </div>

    <div class="flex-row__cell">
    <% if policy(@event).join_leave_button_visibility? %>
       <a href="#" class="btn btn--primary js-join-event" data-joined="<%= current_user.initiatives.include? @event %>"><%= current_user.initiatives.include?(@event) ? "Leave event" : "Join event" %></a>
    <% end %>   
    </div>
  </div>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <div class="row">
        <div class="col sm-8">
          <% if @event.picture.exists? %>
            <div style="background-image: url(<%= @event.picture.expiring_url(3600) %>);" class="card__section--image-preview"></div>
          <% end %>
          <h4>Description</h4>
          <p><%= @event.description&.html_safe %></p>
          <h4>Date &amp; time</h4>
          <p>
            <%= @event.time_string %>
            <%= "(#{current_user.default_time_zone} timezone)"%>
          </p>
          <h4>Location</h4>
          <p><%= @event.location %></p>
          <h4>Co-hosted/Participating Groups</h4>
          <p><%= @event.participating_groups.map(&:name).join(", ") %></p>
        </div>
        <div class="col sm-4">
          <h4>Attendees (<%= @event.attendees.count %>)</h4>
          <p>
            <% @event.attendees.limit(10).each do |attendee| %>
              <%= attendee.name_with_status %><br>
            <% end %>
            <%= link_to "View #{@event.attendees.count - 10} more...", group_event_attendance_path(@group, @event) if @event.attendees.count > 10 %>
          </p>
          <% if policy(@event).add_calendar_visibility? %>
            <%= link_to "Add to calendar", export_ics_group_event_path(@group, @event) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<% if current_user.erg_leader? %>
<div class="content__header" style="margin-top: 30px;">
  <h1><%= pluralize(@all_comments.count, "comment") %></h1>
</div>

  <% if @all_comments.any? %>
    <% @all_comments.each do |comment| %>
      <%= render 'event_comment', comment: comment %>
    <% end %>
  <% end %>
<% else %>
<div class="content__header" style="margin-top: 30px;">
  <h1><%= pluralize(@approved_comments.count, "comment") %></h1>
</div>

  <% if @approved_comments.any? %>
    <% @approved_comments.each do |comment| %>
      <%= render 'event_comment', comment: comment %>
    <% end %>
  <% end %>
<% end %>

<% current_user_has_no_comments?(@all_comments) do %>
  <%= render 'event_comment_form', group: @group, event: @event, comment: @comment %>
<% end %>

<% current_user_has_pending_comments?(@all_comments) do %>
<div class="content__section">
  <div class="card">
    <div class="card__section">
      <p>NOTE: You have a comment pending approval.</p>
    </div> 
  </div>
</div>
<% end %>

<script>
  $('.js-join-event').click(function() {
    if ($(this).data('joined')) {
      $.ajax({ url: '<%= group_event_attendance_path(@group, @event) %>', type: 'DELETE' });
      $(this).data('joined', false)
      $(this).text('Join event')
    }
    else {
      $.ajax({ url: '<%= group_event_attendance_path(@group, @event) %>', type: 'POST' });
      $(this).data('joined', true)
      $(this).text('Leave event')
    }
  });
</script>
