<div class="content__header">
  <h1>
    <%= link_to "Events", group_events_path(@group) %> /
    <%= @event.title %>
  </h1>
  <div class="flex-row">
    <div class="flex-row__cell">
      <%= link_to "Delete event", group_event_path(@group, @event), method: :delete, class: "btn btn--secondary" if policy(@group).destroy? %>
    </div>
    <div class="flex-row__cell">
      <%= link_to "Edit event", edit_group_event_path(@group, @event), class: "btn btn--primary" if policy(@group).edit? %>
    </div>
  </div>
</div>

<div class="content__main">
  <div class="card">
    <div class="card__section">
      <% if @event.picture.exists? %>
        <div style="background-image: url(<%= @event.picture.expiring_url(10) %>); height: 300px; background-size: 100%; background-position: center; margin-bottom: 35px;"></div>
      <% end %>
      <h4>Description</h4>
      <p><%= @event.description %></p>
      <h4>Date &amp; time</h4>
      <p><%= @event.time_string %></p>
      <h4>Location</h4>
      <p><%= @event.location %></p>
    </div>
  </div>
</div>