<div class="content__main">
  <div class="card">
    <%= simple_form_for @sub_segment, :url => segment_sub_segments_path, :method => :post do |f| %>
      <div class="card__section card__section--border">
        <%= f.input :name,
              label: "Start off by giving your #{ c_t(:segment) } a name",
              input_html: { autofocus: true } %>
      </div>

      <div class="card__section card__section--border">
        <p class="field__hint">To be a part of this sub-<%= c_t(:segment).downcase %>, a user must meet <strong>all</strong> the following criteria</p>
        <%= f.input :active_users_filter %>
        <div id="rules">
          <%= f.simple_fields_for :rules do |field| %>
            <%= render 'rule_fields', f: field %>
          <% end %>
          <div class="link">
            <%= link_to_add_association "Add a criterion", f, :rules %>
          </div>

          <%= f.button :submit, "Save #{ c_t(:segment) }"%>
        </div>
      </div>
    <% end %>
  </div>
</div>
