<% unless @group.children.empty? %>
    <% if @group.group_category_type.nil? %>
    <div class="card card--secondary">
	    <div class="card__section">
		<%= c_t(:sub_erg).pluralize %>(<%= @group.children.size %>)

		<% if GroupPolicy.new(current_user, @group).manage? %>
		<div class="dropdown">
			<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			<div class="dropdown-content">
				<p>Create Categories for <%= c_t(:sub_erg).pluralize %> <%= link_to "Here", group_categories_url(parent_id: @group.id) %></p>
			</div>
		</div>
		<% end %>
		<br>
			<% @group.children.each do |child| %>
		    <%= link_to child.name, child, 'data-trackable-id': child.id, 'data-trackable-type': "group", class: "trackable-views", "data-trackable-enterprise-id": current_user.enterprise_id, "data-trackable-user-id": current_user.id %><br>
			<% end %>
	    </div>
    </div>
<% else %>
<div class="card card--secondary">
	<div class="card__section">
		Sub-<%= c_t(:erg).titleize.pluralize %>(<%= @group.children.size %>)<br>
		<ol>
			<% @group.group_category_type.group_categories.each do |category| %>
			<% if category.groups.where(parent_id: @group).count > 0  %>
			<li>
				<%= link_to category, "#", class: "nested_show", id: category.id %>
				<%= link_to category, "#", class: "nested_hide", id: category.id, style: "display:none;" %>(<%= category.groups.where(parent_id: @group).count %>)

				<% category.groups.where(parent_id: @group).each do |sub_erg| %>
				<div class="children_<%= category.id %>" style="display:none; position: relative; top: 10px;">
          <ol><%= link_to sub_erg.name, group_url(sub_erg), 'data-trackable-id': sub_erg.id, 'data-trackable-type': "group", class: "trackable-views", "data-trackable-enterprise-id": current_user.enterprise_id, "data-trackable-user-id": current_user.id %></ol>
					<br>
				</div>
				<% end %>
			</li>
			<% end %>
			<% end %>
		</ol>
		<% @group.children.where(group_category_id: nil).each do |sub_erg_with_no_category| %>
		  <%= link_to sub_group_with_no_category.name, group_url(sub_group_with_no_category), 'data-trackable-id': sub_group_with_no_category.id, 'data-trackable-type': "group", class: "trackable-views", "data-trackable-enterprise-id": current_user.enterprise_id, "data-trackable-user-id": current_user.id %><br>
		<% end %>
	</div>
</div>
<% end %>
<% end %>
