<% if GroupPolicy.new(current_user, @group).is_a_member? %>
  <% if GroupPolicy.new(current_user, @group).is_a_pending_member? && @group.pending_users.enabled? %>
    <p class="pending-message">
      * Please wait for group administrators to process your membership request.
    </p>
  <% end %>
  <% if @group.survey_fields.any? %>
    <% if !current_user.has_answered_group_survey?(group: @group) %>
      Take our survey.
       <%= link_to c_t(:member_preference), survey_group_questions_path(@group), class: "btn btn--primary" %>
    <% else %>
      You can always
      edit
      your <%= link_to c_t(:member_preference), survey_group_questions_path(@group), class: "btn btn--primary" %>
    <% end %>
  <% end %>
<% end %>

<% if !GroupPolicy.new(current_user, @group).is_a_member? && @group.active? %>
    <% if @group.is_parent_group? %>
      <%= simple_form_for :user, url: group_group_members_path(@group), method: :post, remote: true do |f| %>
        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.submit "Join this #{ c_t(:parent) }", class: "btn btn--primary", style: 'margin-bottom: 20px;' %>
      <% end %>
    <% elsif @group.is_sub_group? %>
      <%= simple_form_for :user, url: group_group_members_path(@group), method: :post, remote: true do |f| %>
        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.submit "Join this #{ c_t(:sub_erg) }", class: "btn btn--primary", style: 'margin-bottom: 20px;' %>
      <% end %>
    <% elsif @group.is_standard_group? %>
      <%= simple_form_for :user, url: group_group_members_path(@group), method: :post do |f| %>
        <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.submit "Join this #{ c_t(:erg) }", class: "btn btn--primary", style: 'margin-bottom: 20px;' %>
      <% end %>
    <% end %>
<% end %>

<%= render 'groups/group_members/modal' %>
<%= render 'groups/group_members/sub_group_option_modal' %>