<button type="button" class="btn btn--primary btn--small" data-toggle="modal" data-target="#suggestHireToGroup">
  Suggest a Hire
</button>

<div class="modal fade" id="suggestHireToGroup" role="dialog" aria-labelledby="suggestHireToGroup" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="usersToInviteToGroupTitle">Suggest a Hire For <%= @group.name %></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(SuggestedHire.new, url: suggested_hires_path, method: :post) do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :group_id, value: @group.id %>
          <div class="custom-user-select">
            <%= f.association :suggested_hire, as: :select,
                                selected: [],
                                collection: [],
                                input_html: { class: 'select2-field-users', autofocus: true } %> 
          </div>
          <%= f.input :resume, as: :attachment_preview %>
          <%= f.button :submit, 'Suggest a hire' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared/select2_ajax_search.js.erb' %>
