<button type="button" class="btn btn--primary btn--small" data-toggle="modal" data-target="#suggestHireToGroup">
  Suggest a Hire
</button>

<div class="modal fade" id="suggestHireToGroup" role="dialog" aria-labelledby="suggestHireToGroup" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="usersToInviteToGroupTitle">Suggest a Hire For <%= @group.enterprise.name %></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">X</span>
        </button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(SuggestedHire.new, url: suggested_hires_path, method: :post) do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :group_id, value: @group.id %>
          <div class="custom-user-select">
            <%= f.input :candidate_name, label: "candidate's name", required: true %>
            <span id="candidate-email-validation-message" class="error"></span>
            <%= f.input :candidate_email, label: "candidate's email", required: true %> 
            <%= f.input :linkedin_profile_url, label: "candidate's linkedin profile" %>
          </div>
          <%= f.input :resume, as: :attachment_preview %>
          <div class="custom-user-select">
            <span id="manager-email-validation-message" class="error"></span>
            <%= f.input :manager_email, label: "Manager's email", required: true %>
            <%= f.input :message_to_manager, label: 'Comments', required: true %>
          </div>
          <br>
          <%= f.button :submit, 'Suggest a hire' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  function validateForm(){
    var candidateName = $('#suggested_hire_candidate_name').val();
    var candidateEmail = $('#suggested_hire_candidate_email').val();
    var candidateResume = $('#suggested_hire_resume').val();
    var managerEmail = $('#suggested_hire_manager_email').val();
    var messageToManager = $('#suggested_hire_message_to_manager').val();

    if(candidateName == 0 || candidateEmail==0 || candidateResume==0 || managerEmail==0 || messageToManager==0) {
      $('input[type="submit"]').prop('disabled', true);
    } else if(candidateName!= 0 && candidateEmail!= 0 && candidateResume!=0 && managerEmail!=0 && messageToManager!=0) {
      $('input[type="submit"]').prop('disabled', false);
    }
  }

  function emailValidation(email, fieldId) {
    var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/; 
    var candidateEmailValidationMessage = document.getElementById('candidate-email-validation-message');
    var managerEmailValidationMessage = document.getElementById('manager-email-validation-message');

    if(fieldId=="suggested_hire_candidate_email"){
      if(regex.test(email)){
        candidateEmailValidationMessage.innerText = ''
      }else{
        candidateEmailValidationMessage.innerText = 'invalid email input!'
      }
    }else if(fieldId=="suggested_hire_manager_email"){
      if(regex.test(email)){
        managerEmailValidationMessage.innerText = ''
      }else{
        managerEmailValidationMessage.innerText = 'invalid email input!'
      }
    }
  }

  $('#suggestHireToGroup').on('shown.bs.modal', function(){
    validateForm();

    $('#suggested_hire_candidate_name, #suggested_hire_candidate_email, #suggested_hire_resume, #suggested_hire_manager_email, #suggested_hire_message_to_manager').on('keyup change', function() {
      validateForm();
      
      if(this.id=='suggested_hire_candidate_email'){
        emailValidation($(this).val(), this.id);
      }else if(this.id=='suggested_hire_manager_email'){
        emailValidation($(this).val(), this.id)
      }
    });
  });

  $('#suggestHireToGroup').on('hidden.bs.modal', function () {
   setTimeout(function(){$('[data-target="#suggestHireToGroup"]').blur();}, 0);
  });
</script>

<%= render partial: 'shared/select2_ajax_search.js.erb' %>
