<!DOCTYPE html>
<html>
<head>
  <title>Diverst</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<h2>Navigation</h2>
<nav>
  <ul>
    <li><%= link_to "Add an employee", new_employee_invitation_path %></li>
    <li><%= link_to "Enterprise settings", edit_enterprise_path(current_admin.enterprise) %></li>
    <li><%= link_to "Logout", destroy_admin_session_path %></li>
  </ul>
</nav>

<%= yield %>

</body>
</html>
