<!DOCTYPE html>
<html>
  <head>
    <title>Diverst</title>
    <%= stylesheet_link_tag default_enterprise_asset_url, media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="icon" type="image/png" href="/favicon.png">
  </head>
  <body class="auth" data-primary-color="<%= enterprise_primary_color %>">
    <%= render 'partials/flash_messages' %>

    <div class="site-wrap site-wrap--small site-wrap--form">
      <img class="logo logo--large" src="<%= login_logo %>" alt="Company logo">
      <div class="card">
        <div class="card__section">
          <%= yield %>
        </div>
      </div>
      <%= yield :links %>
    </div>
  </body>
</html>
