<% content_for :secondary_nav do %>
<div class="menu menu--mobile">
  <button
    class="m-hamburger"
    aria-label="Menu"
    aria-controls="navigation"
    data-jq-dropdown="#navigation">
    <span>Menu</span>
  </button>
  <nav id="navigation" class="jq-dropdown jq-dropdown-tip">
    <ul class="jq-dropdown-menu">
      <li>
        <%= active_link_to "Campaigns", campaigns_path if CampaignPolicy.new(current_user, Campaign).manage? %>
      </li>
      <li>
        <%= active_link_to "Financials", expenses_path if CampaignPolicy.new(current_user, Campaign).manage? %>
      </li>
      <% if manage_erg_root_path %>
        <li>
          <%= active_link_to "Manage #{c_t(:erg)}", manage_erg_root_path %>
        </li>
      <% end %>
      <% if PollPolicy.new(current_user, Poll).manage? %>
        <li><%= active_link_to "Include", polls_path %></li>
      <% end %>
      <% if global_settings_path %>
        <li><%= active_link_to "Global Settings", global_settings_path %></li>
      <% end %>
    </ul>
  </nav>
</div>

<div class="menu menu--desktop">
  <%= active_link_to "Campaigns", campaigns_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected", active: [['campaigns', 'questions', 'answers'], []] %>
  <%= active_link_to "Financials", expenses_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected", active: [['expenses', 'expense_categories'], []] %>
</div>
<% end %>

<%= render template: "layouts/dashboard" %>
