<!DOCTYPE html>
<html>
<head>
  <title>Diverst</title>
  <%= stylesheet_link_tag (current_user.enterprise.theme.nil? ? "application" : current_user.enterprise.theme.asset_url), media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body class="dashboard">

  <header class="primary-header">
    <div class="flex-row flex-row--middle full-width">
      <div class="flex-row__cell flex-row__cell--grow">
        <%= link_to user_root_path do %><img class="primary-header__logo logo" src="<%= logo_url %>"><% end %>
      </div>
      <div class="flex-row__cell">
        <%= current_user.name %>
      </div>
    </div>
  </header>

  <nav class="nav">
    <ul class="nav__list nav__list--primary">
      <li class="nav__item">
        <%= active_link_to metrics_dashboards_path, class: "nav__link", class_active: "nav__link--is-selected", active: [['enterprises', 'groups', 'segments', 'metrics_dashboards', 'enterprises/resources'], ['index', 'edit', 'show', 'new']] do %>
          <%= inline_svg('icons/manage.svg', class: "icon nav__icon") %>
          <span class="nav__text">Manage ERG</span>
        <% end %>
      </li>
      <li class="nav__item">
        <%= active_link_to campaigns_path, class: "nav__link", class_active: "nav__link--is-selected", active: [['campaigns', 'questions'], []] do %>
          <%= inline_svg('icons/collaborate.svg', class: "icon nav__icon") %>
          <span class="nav__text">Collaborate</span>
        <% end %>
      </li>
      <li class="nav__item">
        <%= active_link_to polls_path, class: "nav__link", class_active: "nav__link--is-selected" do %>
          <%= inline_svg('icons/scope.svg', class: "icon nav__icon") %>
          <span class="nav__text">Scope</span>
        <% end %>
      </li>
      <li class="nav__item">
        <%= active_link_to topics_path, class: "nav__link", class_active: "nav__link--is-selected", active: [['topics', 'enterprises'], ['index', 'edit', 'show', 'new', 'edit_algo', 'edit_mobile_fields']] do %>
          <span class="nav__icon icon icon--handshake"></span>
          <span class="nav__text">Meet</span>
        <% end %>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">
          <span class="nav__icon icon icon--coffee-talk"></span>
          <span class="nav__text">Mentor</span>
        </a>
      </li>
    </ul>
    <ul class="nav__list nav__list--secondary">
      <li class="nav__item">
        <%= active_link_to users_path, class: "nav__link", class_active: "nav__link--is-selected", active: [['users', 'enterprises', 'users', 'integrations'], ['index', 'edit', 'show', 'new', 'edit_auth', 'edit_fields', 'edit_branding']] do %>
          <span class="nav__text">Global Settings</span>
        <% end %>
      </li>
      <li class="nav__item">
        <%= link_to user_session_path, method: :delete, class: "nav__link" do %>
          <span class="nav__text">Logout</span>
        <% end %>
      </li>
    </ul>
  </nav>

  <header class="secondary-header">
    <%= yield :secondary_nav %>
  </header>

  <div class="content">
    <div class="content__inner">
      <% if notice.present? %><p class="notice"><%= notice %></p><% end %>
      <% if alert.present? %><p class="alert"><%= alert %></p><% end %>

      <%= yield %>
    </div>
  </div>

  <%= yield :page_scripts %>

</body>
</html>
