<!DOCTYPE html>
<html>
<head>
  <title>Diverst</title>
  <%= stylesheet_link_tag (current_user.enterprise.theme.nil? ? "application" : current_user.enterprise.theme.asset_url), media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body class="dashboard">
  <%= render 'partials/js_branding_color_variables' %>
  <%= render 'partials/flash_messages' %>

  <header class="primary-header">
    <div class="flex-row flex-row--middle full-width">
      <div class="flex-row__cell flex-row__cell--grow">
        <%= link_to logo_destination do %>
          <img class="primary-header__logo logo" src="<%= logo_url %>" alt="Home">
        <% end %>
      </div>
      <div class="flex-row__cell">
        <%= link_to "Employee dashboard", user_root_path, class: "white" %> &nbsp;|&nbsp;
        <%= link_to current_user.name, user_user_path(current_user), class: "white" %>
      </div>
    </div>
  </header>

  <nav class="nav">
    <ul class="nav__list nav__list--primary">
      <% if manage_erg_root_path %>
        <li class="nav__item">
          <%= active_link_to manage_erg_root_path, class: "nav__link", class_active: "nav__link--is-selected", active: active_manage_erg_link? do %>
            <%= inline_svg('icons/manage.svg', class: "icon nav__icon") %>
            <span class="nav__text">Manage <%= c_t(:erg) %></span>
          <% end %>
        </li>
      <% end %>
      <% if current_user.enterprise.plan_module_enabled %>
        <% if default_group = policy_scope(Group).first %>
          <li class="nav__item">
            <%= active_link_to plan_overview_groups_path, class: "nav__link", class_active: "nav__link--is-selected", active: active_plan_link? do %>
              <%= inline_svg('icons/plan.svg', class: "icon nav__icon") %>
              <span class="nav__text">Plan</span>
            <% end %>
          </li>
        <% end %>
      <% end %>
      <% if policy(Campaign).index? %>
        <li class="nav__item">
          <%= active_link_to campaigns_path, class: "nav__link", class_active: "nav__link--is-selected", active: active_engage_link? do %>
            <%= inline_svg('icons/collaborate.svg', class: "icon nav__icon") %>
            <span class="nav__text">Innovate</span>
          <% end %>
        </li>
      <% end %>
      <% if policy(Poll).index? %>
        <li class="nav__item">
          <%= active_link_to polls_path, class: "nav__link", class_active: "nav__link--is-selected" do %>
            <%= inline_svg('icons/scope.svg', class: "icon nav__icon") %>
            <span class="nav__text">Include</span>
          <% end %>
        </li>
      <% end %>
      <% if current_user.enterprise.bias_module_enabled %>
        <li class="nav__item">
          <%= active_link_to biases_path, class: "nav__link", class_active: "nav__link--is-selected" do %>
            <%= inline_svg('icons/meet.svg', class: "icon nav__icon") %>
            <span class="nav__text">Bias</span>
          <% end %>
        </li>
      <% end %>
    </ul>
    <ul class="nav__list nav__list--secondary">
      <% if GlobalSettingsPolicy.new(current_user).update? %>
        <li class="nav__item">
          <%= active_link_to users_path, class: "nav__link", class_active: "nav__link--is-selected", active: active_global_settings_link? do %>
            <span class="nav__text">Global Settings</span>
          <% end %>
        </li>
      <% end %>
      <li class="nav__item">
        <%= link_to destroy_user_session_path, method: :delete, class: "nav__link" do %>
          <span class="nav__text">Logout</span>
        <% end %>
      </li>
    </ul>
  </nav>

  <header class="secondary-header">
    <%= yield :secondary_nav %>
  </header>

  <div class="content">
    <div class="content__inner">
      <% if notice.present? %><p class="notice"><%= notice %></p><% end %>
      <% if alert.present? %><p class="alert"><%= alert %></p><% end %>

      <%= yield %>
    </div>
    <div class="dv-footer">
       © 2016-2017 Diverst. All right reserved.
    </div>
  </div>
  <%= yield :page_scripts %>

</body>
</html>
