<!DOCTYPE html>
<html>
<head>
  <title>Diverst</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="dashboard">

  <header class="primary-header">
    <a href="#"><img class="primary-header__logo logo" src="<%= image_path "diverst-logo.svg" %>"></a>
  </header>

  <nav class="nav">
    <ul class="nav__list nav__list--primary">
      <!-- <li class="nav__item">
        <%= active_link_to topics_path, class: "nav__link", class_active: "nav__link--is-selected" do %>
          <span class="nav__icon icon icon--handshake"></span>
          <span class="nav__text">Handshake</span>
        <% end %>
      </li> -->
      <li class="nav__item">
        <a class="nav__link nav__link--active" href="#">
          <span class="nav__icon icon icon--coffee-talk"></span>
          <span class="nav__text">Coffee Talk</span>
        </a>
      </li>
      <li class="nav__item">
        <%= active_link_to campaigns_path, class: "nav__link", class_active: "nav__link--is-selected" do %>
          <span class="nav__icon icon icon--unify"></span>
          <span class="nav__text">Unify</span>
        <% end %>
      </li>
      <li class="nav__item">
        <%= active_link_to polls_path, class: "nav__link", class_active: "nav__link--is-selected" do %>
          <span class="nav__icon icon icon--market-scope"></span>
          <span class="nav__text">Market Scope</span>
        <% end %>
      </li>
    </ul>
    <ul class="nav__list nav__list--secondary">
      <li class="nav__item">
        <%= active_link_to groups_path, class: "nav__link", class_active: "nav__link--is-selected", active: [['groups', 'segments', 'enterprises', 'admins', 'employees'], []] do %>
          <span class="nav__text">Global Settings</span>
        <% end %>
      </li>
      <li class="nav__item">
        <%= link_to destroy_admin_session_path, method: :delete, class: "nav__link" do %>
          <span class="nav__text">Logout</span>
        <% end %>
      </li>
    </ul>
  </nav>

  <header class="secondary-header">
    <%= yield :secondary_nav %>
  </header>

  <div class="content">
    <div class="content__inner">
      <% if notice.present? %><p class="notice"><%= notice %></p><% end %>
      <% if alert.present? %><p class="alert"><%= alert %></p><% end %>

      <%= yield %>
    </div>
  </div>

  <%= yield :page_scripts %>

</body>
</html>
