<!DOCTYPE html>
<html>
<head>
  <title>Diverst</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="erg">

  <header class="primary-header">
    <%= link_to employee_root_path do %><img class="primary-header__logo logo" src="<%= image_path "diverst-logo.svg" %>"><% end %>
  </header>

  <header class="secondary-header">
    <%= link_to "Home", employee_root_path, class: "secondary-header__tab" %>
    <%= active_link_to "Campaigns", employee_campaigns_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <%= active_link_to "News", employee_news_links_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <%= active_link_to "Messages", employee_messages_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <%= active_link_to "Events", employee_events_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <%= active_link_to "Groups", employee_groups_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <%= active_link_to "Resources", employee_resources_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <%= link_to "Mentoring", '#', class: "secondary-header__tab" %>
    <%= link_to "Log out", destroy_employee_session_path, method: :delete, class: "secondary-header__tab" %>
  </header>

  <div class="content">
    <div class="content__inner">
      <% if notice.present? %><p class="notice"><%= notice %></p><% end %>
      <% if alert.present? %><p class="alert"><%= alert %></p><% end %>

      <%= yield %>
    </div>
  </div>
</body>
</html>
