<!DOCTYPE html>
<html>
<head>
  <title>Diverst</title>
  <%= stylesheet_link_tag (current_user.enterprise.theme.nil? ? "application" : current_user.enterprise.theme.asset_url), media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body class="erg">
  <%= render 'partials/js_branding_color_variables' %>

  <header class="primary-header">
    <%= link_to user_root_path, class: "primary-header__back" do %>
      Back to your dashboard
    <% end %>
    <h2 class="primary-header__title"><%= @group.name %></h2>
  </header>

  <header class="secondary-header">
    <div class="menu menu--mobile">
      <button
        class="m-hamburger"
        aria-label="Menu"
        aria-controls="navigation"
        data-jq-dropdown="#navigation">
        <span>Menu</span>
      </button>
      <nav id="navigation" class="jq-dropdown jq-dropdown-tip">
        <ul class="jq-dropdown-menu">
          <li>
            <%= active_link_to "Home", group_path(@group), active: :exclusive %>
          </li>
          <% if policy(@group).view_members? %>
            <li>
              <%= active_link_to "Members", group_group_members_path(@group), active: :exact %>
            </li>
          <% end %>
          <% if @group.pending_users.enabled? && policy(@group).manage_members? %>
            <li>
              <%= active_link_to "Pending Members (#{@group.pending_members.count})", pending_group_group_members_path(@group) %>
            </li>
          <% end %>
          <% if policy(@group).view_members? %>
            <li>
              <%= active_link_to "Messages", group_group_messages_path(@group) %>
            </li>
          <% end %>
          <li>
            <%= active_link_to "Events", group_events_path(@group) %>
          </li>
          <li>
            <%= active_link_to "News", group_news_links_path(@group) %>
          </li>
          <li>
            <%= active_link_to "Resources", group_resources_path(@group) %>
          </li>
          <% if policy(@group).update? %>
            <li>
              <%= active_link_to "Leaders", group_leaders_path(@group) %>
            </li>
            <li>
              <%= active_link_to "Questions", group_questions_path(@group) %>
            </li>
            <li>
              <%= active_link_to "Settings", settings_group_path(@group) %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="menu menu--desktop">
      <%= active_link_to "Home", group_path(@group), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected", active: :exclusive %>
      <% if policy(@group).view_members? %>
          <%= active_link_to "Members", group_group_members_path(@group), active: :exact, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
      <% end %>
      <% if @group.pending_users.enabled? && policy(@group).manage_members? %>
        <%= active_link_to "Pending Members (#{@group.pending_members.count})", pending_group_group_members_path(@group), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
      <% end %>
      <% if policy(@group).view_members? %>
        <%= active_link_to "Messages", group_group_messages_path(@group), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
      <% end %>
      <%= active_link_to "Events", group_events_path(@group), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
      <%= active_link_to "News", group_news_links_path(@group), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
      <%= active_link_to "Resources", group_resources_path(@group), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
      <% if policy(@group).update? %>
          <%= active_link_to "Leaders", group_leaders_path(@group), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
          <%= active_link_to "Questions", group_questions_path(@group), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
          <%= active_link_to "Settings", settings_group_path(@group), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
      <% end %>
    </div>
  </header>

  <div class="content">
    <div class="content__inner">
      <%= render 'partials/flash_messages' %>

      <%= yield %>
    </div>
  </div>
</body>
</html>
