<!DOCTYPE html>
<html>
<head>
  <title>Diverst</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="erg">

  <header class="primary-header">
    <%= link_to groups_path, class: "primary-header__back" do %>
      <%= image_tag('diverst-logo-mark.svg', class: 'logo-mark') %>
      Back to Diverst
    <% end %>
    <h2 class="primary-header__title"><%= @group.name %></h2>
  </header>

  <header class="secondary-header">
    <%= active_link_to "Home", group_path(@group), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected", active: :exclusive %>
    <%= active_link_to "Members", group_group_members_path(@group), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <%= active_link_to "Messages", group_group_messages_path(@group), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <%= active_link_to "Events", group_events_path(@group), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <%= active_link_to "News", group_news_links_path(@group), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <%= active_link_to "Settings", '#', class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
  </header>

  <div class="content">
    <div class="content__inner">
      <% if notice.present? %><p class="notice"><%= notice %></p><% end %>
      <% if alert.present? %><p class="alert"><%= alert %></p><% end %>

      <%= yield %>
    </div>
  </div>
</body>
</html>
