<% content_for :secondary_nav do %>
<div class="menu menu--mobile">
  <button
    class="m-hamburger"
    aria-label="Menu"
    aria-controls="navigation"
    data-jq-dropdown="#navigation">
    <span>Menu</span>
  </button>
  <nav id="navigation" class="jq-dropdown jq-dropdown-tip">
    <ul class="jq-dropdown-menu">
      <li>
        <%= active_link_to "Users", users_path if current_user.policy_group.users_index? %>
      </li>
      <li>
        <%= active_link_to "SSO", edit_auth_enterprise_path(current_user.enterprise) if current_user.policy_group.sso_manage? %>
      </li>
      <li>
        <%= active_link_to "Permissions", policy_group_templates_path if current_user.policy_group.permissions_manage? %>
      </li>
      <li>
        <%= active_link_to "Fields", edit_fields_enterprise_path(current_user.enterprise) if policy(current_user.enterprise).edit_fields? %>
      </li>
      <li>
        <%= active_link_to "Texts", edit_custom_text_path(current_user.enterprise.custom_text) if policy(current_user.enterprise).edit_fields? %>
      </li>
      <li>
        <%= active_link_to "Branding", edit_branding_enterprise_path(current_user.enterprise) if policy(current_user.enterprise).edit_fields? %>
      </li>
      <li>
        <%= active_link_to "Integrations", integrations_path, class: "secondary-header__tab" if current_user.policy_group.sso_manage? %>
      </li>
      <li>
        <%= active_link_to c_t(:dci_abbreviation), rewards_path, class: "secondary-header__tab" if current_user.policy_group.diversity_manage? %>
      </li>
      <li>
        <%= active_link_to "Logs", logs_path, class: "secondary-header__tab" if current_user.policy_group.logs_view? %>
      </li>
      <li>
        <%= active_link_to "Pending Comments", edit_pending_comments_enterprise_path(current_user.enterprise) if current_user.policy_group.manage_posts? %>
      </li>
      <% if manage_erg_root_path %>
        <li>
          <%= active_link_to "Manage #{c_t(:erg)}", manage_erg_root_path %>
        </li>
      <% end %>
      <% if current_user.enterprise.plan_module_enabled %>
        <% if default_group = GroupPolicy::Scope.new(current_user, current_user.enterprise.groups, :groups_manage).resolve.first %>
          <li><%= active_link_to "Plan", plan_overview_groups_path %></li>
        <% end %>
      <% end %>
      <% if policy(Campaign).index? %>
        <li><%= active_link_to "Innovate", campaigns_path %></li>
      <% end %>
      <% if policy(Poll).index? %>
        <li><%= active_link_to "Include", polls_path %></li>
      <% end %>
    </ul>
  </nav>
</div>

<div class="menu menu--desktop">
  <%= active_link_to "Users", users_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" if current_user.policy_group.users_index? %>
  <%= active_link_to "SSO", edit_auth_enterprise_path(current_user.enterprise), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" if current_user.policy_group.sso_manage? %>
  <%= active_link_to "Permissions", policy_group_templates_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" if current_user.policy_group.permissions_manage? %>
  <%= active_link_to "Fields", edit_fields_enterprise_path(current_user.enterprise), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" if policy(current_user.enterprise).edit_fields? %>
  <%= active_link_to "Texts", edit_custom_text_path(current_user.enterprise.custom_text), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" if policy(current_user.enterprise).edit_fields? %>
  <%= active_link_to "Branding", edit_branding_enterprise_path(current_user.enterprise), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" if policy(current_user.enterprise).edit_fields? %>
  <%= active_link_to "Integrations", integrations_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" if current_user.policy_group.sso_manage? %>
  <%= active_link_to c_t(:dci_abbreviation), rewards_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" if current_user.policy_group.diversity_manage? %>
  <%= active_link_to "Logs", logs_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" if current_user.policy_group.logs_view? %>
  <%= active_link_to "Posts", edit_pending_comments_enterprise_path(current_user.enterprise), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" if current_user.policy_group.manage_posts? %>
</div>
<% end %>

<%= render template: "layouts/dashboard" %>
