<!DOCTYPE html>
<html>
<head>
  <title>Diverst</title>
  <%= stylesheet_link_tag (current_user.enterprise.theme.nil? ? "application" : current_user.enterprise.theme.asset_url), media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="guest">
  <% if notice.present? %><p class="notice"><%= notice %></p><% end %>
  <% if alert.present? %><p class="alert"><%= alert %></p><% end %>

  <div class="site-wrap site-wrap--medium">
    <%= yield %>
  </div>

</body>
</html>
