<!DOCTYPE html>
<html lang='en'>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <%= stylesheet_link_tag (@enterprise&.theme&.nil? ? "application" : @enterprise&.theme&.asset_url), media: 'all', 'data-turbolinks-track' => true %>
</head>
  <style>
    img {
      margin: 1.1rem;
    }

    a {
      color: <%= @enterprise.theme.primary_color + " !important" || "#00AEEF !important" %>;
      text-decoration: underline;
    }
  </style>
  <body>
    <%= render 'layouts/email_header' %>

    <div class="content" style="overflow-y: hidden;">
      <div class="content__inner">
        <%= yield %>
      </div>  
    </div>  
    <%= render 'layouts/email_footer' %>
  </body>
</html>
