<% content_for :secondary_nav do %>
  
   <div class="menu menu--mobile">
    <button
      class="m-hamburger"
      aria-label="Menu"
      aria-controls="navigation"
      data-jq-dropdown="#navigation">
      <span>Menu</span>
    </button>
    <nav id="navigation" class="jq-dropdown jq-dropdown-tip">
      <ul class="jq-dropdown-menu">
        <li>
          <%= active_link_to "Surveys", polls_path %>
        </li>
        <% if manage_erg_root_path %>
            <li>
              <%= active_link_to "Manage #{c_t(:erg)}", manage_erg_root_path %>
            </li>
        <% end %>
        <% if current_user.enterprise.plan_module_enabled %>
          <% if default_group = policy_scope(Group).first %>
            <li><%= active_link_to "Plan", plan_overview_groups_path %></li>
          <% end %>
        <% end %>
        <% if policy(Campaign).index? %>
          <li><%= active_link_to "Innovate", campaigns_path %></li>
        <% end %>
        <% if GlobalSettingsPolicy.new(current_user).update? %>
          <li><%= active_link_to "Global Settings", users_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>

  <div class="menu menu--desktop">
      <%= active_link_to "Surveys", polls_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
  </div>

<% end %>

<%= render template: "layouts/dashboard" %>