<% content_for :secondary_nav do %>
<div class="menu menu--mobile">
  <button
    class="m-hamburger"
    aria-label="Menu"
    aria-controls="navigation"
    data-jq-dropdown="#navigation">
    <span>Menu</span>
  </button>
  <nav id="navigation" class="jq-dropdown jq-dropdown-tip">
    <ul class="jq-dropdown-menu">
        <% if GroupBudgetPolicy.new(current_user, []).manage_all_budgets? %>
              <li>
          <%= active_link_to "Budgeting", close_budgets_groups_path %>
                </li>
        <% end %>
      <% if manage_erg_root_path %>
        <li>
          <%= active_link_to "Manage #{c_t(:erg)}", manage_erg_root_path %>
        </li>
      <% end %>
      <% if CampaignPolicy.new(current_user, Campaign).index? %>
        <li><%= active_link_to "Innovate", campaigns_path %></li>
      <% end %>
      <% if PollPolicy.new(current_user, Poll).index? %>
        <li><%= active_link_to "Include", polls_path %></li>
      <% end %>
      <% if global_settings_path %>
        <li><%= active_link_to "Global Settings", global_settings_path %></li>
      <% end %>
    </ul>
  </nav>
</div>
<div class="menu menu--desktop">
  <% if GroupBudgetPolicy.new(current_user, []).manage_all_budgets? %>
    <%= active_link_to "Budgeting", close_budgets_groups_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
  <% end %>
</div>
<% end %>
<%= render template: "layouts/dashboard" %>