<% content_for :secondary_nav do %>
<div class="menu menu--mobile">
  <button
    class="m-hamburger"
    aria-label="Menu"
    aria-controls="navigation"
    data-jq-dropdown="#navigation">
    <span>Menu</span>
  </button>
  <nav id="navigation" class="jq-dropdown jq-dropdown-tip">
    <ul class="jq-dropdown-menu">
      <li>
        <%= active_link_to "Overview", plan_overview_groups_path %>
      </li>
      <% if @group || current_user.manageable_groups.present? %>
        <li>
          <%= active_link_to "Events", group_initiatives_path(@group || current_user.manageable_groups.first) %>
        </li>
        <li>
          <%= active_link_to "KPI", metrics_group_path(@group || current_user.manageable_groups.first) %>
        </li>
        <li>
          <%= active_link_to c_t(:structure), group_outcomes_path(@group ||  current_user.manageable_groups.first) %>
        </li>
        <li>
          <%= active_link_to "Updates", group_updates_path(@group ||  current_user.manageable_groups.first) %>
        </li>
      <% end %>
      <li>
        <%= active_link_to "Budgeting", close_budgets_groups_path %>
      </li>
    </ul>
  </nav>
</div>
<div class="menu menu--desktop">
  <%= active_link_to "Overview", plan_overview_groups_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
  <% if @group || current_user.manageable_groups.present? %>
    <%= active_link_to "Events", group_initiatives_path(@group || current_user.manageable_groups.first), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected", active: [['initiatives'], ['index']] %>
    <%= active_link_to "KPI", metrics_group_path(@group || current_user.manageable_groups.first), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <%= active_link_to c_t(:structure), group_outcomes_path(@group ||  current_user.manageable_groups.first), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <%= active_link_to "Updates", group_updates_path(@group ||  current_user.manageable_groups.first), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
  <% end %>
  <%= active_link_to "Budgeting", close_budgets_groups_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
</div>
<% end %>

<%= render template: "layouts/dashboard" %>
