<!DOCTYPE html>
<html>
<head>
  <title>Diverst</title>
  <%= stylesheet_link_tag default_enterprise_asset_url, media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body class="erg">
  <%= render 'partials/js_branding_color_variables' %>

  <header class="primary-header">
    <div class="flex-row flex-row--middle full-width">
      <div class="flex-row__cell flex-row__cell--grow">
        <%= link_to logo_destination do %>
          <img class="primary-header__logo logo" src="<%= logo_url %>" alt="Home">
        <% end %>
      </div>
      <div class="flex-row__cell">
        <% if root_admin_path && current_user.policy_group.admin_pages_view %>
          <%= link_to "Admin Dashboard", root_admin_path, class: "white" %>
        &nbsp;|&nbsp;
        <% end %>

        <%= link_to current_user.name, user_user_path(current_user), class: "white" %>
      </div>
    </div>
  </header>

  <header class="secondary-header">
    <div class="menu menu--mobile">
      <button
        class="m-hamburger"
        aria-label="Menu"
        aria-controls="navigation"
        data-jq-dropdown="#navigation">
        <span>Menu</span>
      </button>
      <nav id="navigation" class="jq-dropdown jq-dropdown-tip">
        <ul class="jq-dropdown-menu">
          <li>
            <%= link_to "Home", user_root_path %>
          </li>
          <% if current_user.enterprise.collaborate_module_enabled %>
            <li>
              <%= active_link_to "Innovate", user_user_campaigns_path %>
            </li>
          <% end %>
          <li>
            <%= active_link_to "News", user_news_links_path %>
          </li>
          <li>
            <%= active_link_to "Messages", user_messages_path %>
          </li>
          <li>
            <%= active_link_to "Events", user_events_path %>
          </li>
          <li>
            <%= active_link_to "Groups", user_groups_path %>
          </li>
          <% if ENV['REWARDS_ENABLED'] %>
            <li>
              <%= active_link_to "DCI Points", user_rewards_path %>
            </li>
          <% end %>
          <% if current_user.enterprise.bias_module_enabled %>
            <li>
              <%= active_link_to "Bias", new_bias_path %>
            </li>
          <% end %>
          <li>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </nav>
    </div>

    <div class="menu menu--desktop">
      <%= link_to "Home", user_root_path, class: "secondary-header__tab" %>
      <% if current_user.enterprise.collaborate_module_enabled %>
        <%= active_link_to "Innovate", user_user_campaigns_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
      <% end %>
      <%= active_link_to "News", user_news_links_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
      <%= active_link_to "Messages", user_messages_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
      <%= active_link_to "Events", user_events_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
      <%= active_link_to "Groups", user_groups_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
      <% if ENV['REWARDS_ENABLED'] %>
        <%= active_link_to "DCI Points", user_rewards_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
      <% end %>
      <% if current_user.enterprise.bias_module_enabled %>
        <%= active_link_to "Bias", new_bias_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
      <% end %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "secondary-header__tab" %>
    </div>
  </header>

  <div class="content">
    <div class="content__inner">
      <%= render 'partials/flash_messages' %>

      <%= yield %>
    </div>
  </div>
</body>
</html>
