<!DOCTYPE html>
<html>
<head>
  <title>Diverst</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <%= stylesheet_link_tag default_enterprise_asset_url, media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://platform.twitter.com/widgets.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'http://www.instagram.com/embed.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//cdn.embedly.com/widgets/platform.js', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <style>
    iframe {
      margin-left: auto;   /* Automatic margin from left */
      margin-right: auto; /* Automatic margin from right */
    }
  </style>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body class="erg">
  <%= render 'partials/js_branding_color_variables' %>

  <header class="primary-header">
    <div class="flex-row flex-row--middle full-width">
      <div class="flex-row__cell flex-row__cell--grow">
        <%= link_to logo_destination do %>
          <img class="primary-header__logo logo hidden-xs" src="<%= logo_url %>" alt="Home">
          <img class="primary-header__logo logo visible-xs" src="<%= small_logo_url %>" alt="Home">
        <% end %>
      </div>
      <div class="flex-row__cell">
        <%= link_to 'Personal Stats', show_usage_user_path(current_user), class: 'title_bar' %>
        &nbsp;|&nbsp;
        <% if root_admin_path %>
          <%= link_to "Admin Dashboard", root_admin_path, class: 'title_bar' %>
          &nbsp;|&nbsp;
        <% end %>

        <%= link_to current_user.name, user_user_path(current_user), class: 'title_bar' %>
      </div>
    </div>
  </header>

  <header class="secondary-header">
    <div class="menu menu--mobile">
      <button
        class="m-hamburger"
        aria-label="Menu"
        aria-controls="navigation"
        data-jq-dropdown="#navigation">
        <span>Menu</span>
      </button>
      <nav id="navigation" class="jq-dropdown jq-dropdown-tip">
        <ul class="jq-dropdown-menu">
          <li>
            <%= link_to "Home", user_root_path %>
          </li>
          <% if current_user.enterprise.collaborate_module_enabled %>
            <li>
              <%= active_link_to "Innovate", user_user_campaigns_path if CampaignPolicy.new(current_user, Campaign).index? %>
            </li>
          <% end %>
          <li>
            <%= active_link_to "News", user_news_links_path if NewsLinkPolicy.new(current_user, NewsLink).index? %>
          </li>
          <li>
            <%= active_link_to "Events", user_events_path if InitiativePolicy.new(current_user, Initiative).index? %>
          </li>
          <li>
            <%= active_link_to "#{c_t(:erg).titleize.pluralize}", user_groups_path if GroupPolicy.new(current_user, Group).index? %>
          </li>
          <% if current_user.enterprise.mentorship_module_enabled %>
            <li>
              <%= active_link_to "Mentorship", edit_user_mentorship_path(:id => current_user.id) %>
            </li>
          <% end %>
          <% if current_user.enterprise.enable_rewards? %>
            <li>
              <%= active_link_to "#{ c_t(:dci_abbreviation) } Points", user_rewards_path %>
            </li>
          <% end %>
          <li>
            <%= active_link_to "Downloads", user_downloads_path %>
          </li>
          <li>
            <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </nav>
    </div>

    <div class="menu menu--desktop">
      <%= active_link_to "Home", user_root_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected", active: :exclusive %>
      <% if current_user.enterprise.collaborate_module_enabled %>
        <%= active_link_to "Innovate", user_user_campaigns_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" if CampaignPolicy.new(current_user, Campaign).index? %>
      <% end %>
      <%= active_link_to "News", user_news_links_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" if NewsLinkPolicy.new(current_user, NewsLink).index? %>
      <%= active_link_to "Events", user_events_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" if InitiativePolicy.new(current_user, Initiative).index? %>
      <%= active_link_to "#{c_t(:erg).titleize.pluralize}", user_groups_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" if GroupPolicy.new(current_user, Group).index? %>
      <% if current_user.enterprise.mentorship_module_enabled %>
        <%= active_link_to "Mentorship", edit_user_mentorship_path(:id => current_user.id), class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
      <% end %>
      <% if current_user.enterprise.enable_rewards? %>
        <%= active_link_to "#{ c_t(:dci_abbreviation) } Points", user_rewards_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
      <% end %>
      <%= active_link_to "Downloads", user_downloads_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "secondary-header__tab" %>
    </div>
  </header>

  <div class="content">
    <div class="content__inner">
      <%= render 'partials/flash_messages' %>

      <%= yield %>
    </div>
    <%= render 'partials/footer' %>
  </div>
</body>
</html>
