<!DOCTYPE html>
<html>
<head>
  <title>Diverst</title>
  <%= stylesheet_link_tag default_enterprise_asset_url, media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body class="erg">
  <%= render 'partials/js_branding_color_variables' %>

  <header class="primary-header">
    <div class="flex-row flex-row--middle full-width">
      <div class="flex-row__cell flex-row__cell--grow">
        <%= link_to user_root_path do %><img class="primary-header__logo logo" src="<%= logo_url %>"><% end %>
      </div>
      <div class="flex-row__cell">
        <% if root_admin_path && current_user.policy_group.admin_pages_view %>
          <%= link_to "Admin Dashboard", root_admin_path, class: "white" %>
        &nbsp;|&nbsp;
        <% end %>

        <%= link_to current_user.name, user_user_path(current_user), class: "white" %>
      </div>
    </div>
  </header>

  <header class="secondary-header">
    <%= link_to "Home", user_root_path, class: "secondary-header__tab" %>
    <% if current_user.enterprise.collaborate_module_enabled %>
      <%= active_link_to "Campaigns", user_campaigns_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <% end %>
    <%= active_link_to "News", user_news_links_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <%= active_link_to "Messages", user_messages_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <%= active_link_to "Events", user_events_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <%= active_link_to "Groups", user_groups_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <% if false %>
      <%= active_link_to "Rewards", user_rewards_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <% end %>
    <% if current_user.enterprise.bias_module_enabled %>
      <%= active_link_to "Bias", new_bias_path, class: "secondary-header__tab", class_active: "secondary-header__tab--is-selected" %>
    <% end %>

    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "secondary-header__tab" %>
  </header>

  <div class="content">
    <div class="content__inner">
      <% if notice.present? %><p class="notice"><%= notice %></p><% end %>
      <% if alert.present? %><p class="alert"><%= alert %></p><% end %>

      <%= yield %>
    </div>
  </div>
</body>
</html>
